<div class="flex-col swim-layout">
    <!-- uncomment this once drag and drop position is maintained in backend -->
    <!--<div cdkDropList cdkDropListOrientation="horizontal" class="flex-col-item" [cdkDropListData]="swimList"
        (cdkDropListDropped)="dropColumn($event)">-->
    <div class="flex-col-item">
        <!--remove the above tag once above tag is uncommented-->
        <div class="swim-nonDrag-columns">
            <!-- uncomment this once drag and drop position is maintained in backend -->
            <!--<div class="flex-row-item swim-nonDrag-column deliverable-swim" *ngFor="let list of swimList" cdkDrag>                
                <div cdkDropList class="grid-list" [cdkDropListData]="list.data"
                    (cdkDropListDropped)="drop($event, list)" [cdkDropListConnectedTo]="getConnectedId(list.id)"
                    id="{{list.id}}" [ngStyle]="{'min-height': taskSwimLaneMinHeight}">-->
            <div class="flex-row-item swim-nonDrag-column deliverable-swim" *ngFor="let list of swimList">
                <!--remove the above tag once above tag is uncommented-->
                <div class="grid-list" id="{{list.id}}" [ngStyle]="{'min-height': taskSwimLaneMinHeight}">
                    <!--remove the above tag once above tag is uncommented-->
                    <div class="card-wrap">
                        <div class="mpm-card">
                            <section class="card-summary">{{list.listDetail.NAME}} ({{list.dataCount}})
                            </section>
                        </div>
                    </div>
                    <span>
                        <!-- uncomment this once drag and drop task update is maintained in backend -->
                        <!-- <div class="swim-data-card" cdkDrag [cdkDragData]="item" *ngFor="let item of list.data">
                            <mpm-task-card-view [isTemplate]="taskConfig.isTemplate" [taskData]="item"
                                [taskConfig]="taskConfig" (refreshTask)="refreshTask($event)"
                                (editTaskHandler)="editTask($event)" (taskDetailsHandler)="openTaskDetails($event)">
                            </mpm-task-card-view>
                        </div> -->

                        <!--remove the following block once above block is uncommented-->
                        <div class="swim-data-card" *ngFor="let item of list.data">
                            <!-- <app-task-card-view [isTemplate]="taskConfig.isTemplate" [taskData]="item"
                                [projectStatusType]="projectStatusType" [taskConfig]="taskConfig"
                                (refreshTask)="refreshTask($event)" [isOnHoldProject]="isOnHoldProject"
                                (editTaskHandler)="editTask($event)" (taskDetailsHandler)="openTaskDetails($event)"
                                (customWorkflowHandler)="openCustomWorkflow($event)">
                            </app-task-card-view> -->
                            <app-npd-task-card-view [isTemplate]="taskConfig.isTemplate" [taskData]="item"
                                [projectStatusType]="projectStatusType" [taskConfig]="taskConfig"
                                (refreshTask)="refreshTask($event)" [isOnHoldProject]="isOnHoldProject"
                                (editTaskHandler)="editTask($event)" (taskDetailsHandler)="openTaskDetails($event)"
                                (customWorkflowHandler)="openCustomWorkflow($event)">
                            </app-npd-task-card-view>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="taskConfig && taskConfig.taskTotalCount==0" class="central-info">
        <button color="primary" disabled mat-flat-button>No Task is available</button>
    </div>
</div>