<div class="flex-row">
  <span class="flex-spacer"></span>
  <button mat-icon-button *ngIf="trackingAvailable" (click)="refresh()" matTooltip="Refresh">
      <mat-icon class="refresh-icon" color="primary">refresh
      </mat-icon>
  </button>
</div>

<div class="timeline-review-content">
  <ng-container *ngFor="let item of timeLineIterations;let i=index" >
    <div  *ngIf="trackingAvailable" [ngClass]="{'mt-0':i==0&&timeLineIterations.length!=1}" id="timeline-wrap">
      <div class="navigation" id="{{'peer-review-container' + peerReviewEventId}}">
          <div *ngFor="let requestPhase of item;let j=index;" class="flex-container">
              <div class="timeline-label" matTooltip="{{requestPhase.ACTIVITY_NAME}}">
                  <div class="request-phase-details">
                      <div>{{requestPhase.ACTIVITY_NAME}}</div>
                      <!-- <div>Status: {{ requestPhase.STATUS | titlecase}}</div>
                      <div>Started On: {{requestPhase.START_TIME | date:'medium' }}</div>
                      <div>Completed On: {{requestPhase.END_TIME | date:'medium'}}</div> -->
                      <div *ngIf="requestPhase.STATUS">Status: {{ requestPhase.STATUS|titlecase}}</div>
                      <div *ngIf="requestPhase.START_TIME &&(requestPhase.STATUS=='COMPLETE'||requestPhase.STATUS=='WAITING')">Started On: {{requestPhase.START_TIME | date:'dd-MM-yyyy'}}</div>
                      <div *ngIf="requestPhase.END_TIME && requestPhase.STATUS=='COMPLETE'">Completed On: {{requestPhase.END_TIME | date:'dd-MM-yyyy'}}</div>
                      <div >User:&nbsp;<span>{{ requestPhase.ACTIVITY_NAME !='Request'? requestPhase.TaskOwnerName :reuestedUserDisplayName}}</span></div>

                  </div>
              </div>
              <div class="marker">
                  <mat-icon *ngIf="requestPhase.STATUS=='COMPLETE'" matTooltip="Completed">done</mat-icon>
                  <mat-icon *ngIf="requestPhase.STATUS=='WAITING'" matTooltip="Inprogress">autorenew</mat-icon>
                  <mat-icon *ngIf="!requestPhase.STATUS" matTooltip="Yet to start">more_horiz</mat-icon>
                  <!-- <mat-icon *ngIf="requestPhase.STATUS=='WAITING'">more_horiz</mat-icon> -->
              </div>
          </div>

          <div *ngIf="requestPhases.length" class="timeline" id="{{'filling-line' + peerReviewEventId}}"></div>
      </div>
  </div>
  </ng-container>
  <div *ngIf="!trackingAvailable" class="central-info">
      <button color="accent" disabled mat-flat-button>Tracking not available currently.</button>
  </div>
</div>


