.container{
    display: grid;
    grid-template-columns: max-content max-content auto;
    // width: calc(100vw - 66px);
    // overflow: auto;
    grid-gap: 12px;
}

.synchronize-task-filter{
  display: grid;
  grid-template-columns: max-content max-content;
  height: max-content;
}

.delete-icon {
  cursor: pointer;
}

.expand-icon {
  cursor: pointer;
}

.rectangle {
  position: absolute;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /*   height: 25px; */
  height: 40px;
  /*  margin: 5px; */
  margin-top: 5px;
  border-radius: 5px;
  //background-color: #2196F3;
  //border: solid 1px #2196f3;
  color: #fff;
  width: 500px;
}


.defined-color {
  background-color: #2196F3;
  border: solid 1px #2196f3;
}
.progress-color {
  background-color: #5869c5;
  border: solid 1px #5869c5;
}
.completed-color {
  background-color: #7fda62;
  border: solid 1px #7fda62;
}
.rectangle div,
.rectangle canvas {
  display: inline;
}

// 3rd container

.sync-task-container{
  display: grid;
  padding: 0 24px;
  border: 1px solid var(--boundary-color);
  border-radius: 8px;
}

/* 
*/
.res-container{
  border-radius: 8px 8px 0 0;
}

.res-btns{
  padding: 0 24px 12px 24px;
}

.exp-btn{
  margin-right: 16px;
}

/* common */
.header-content{
  padding: 12px;
  text-align: center;
}

.btn{
  padding: 6px 24px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  border: 1px solid var(--boundary-color);
  color: var(--main-text-color);
  border-radius: 8px;
}

// 4th quad

.quad4-container{
    display: flex;
  }
  
  .calNum{
    /* margin: 8px; */
  }
  
  .week-day{
    border-bottom: 1px solid var(--boundary-color);
    width: 20px;
    height: 40px;
    display: grid;
    place-content: center center;
    box-sizing: border-box;
    border-right: 1px solid var(--boundary-color)
  }
  .month-no{
    width: 20px;
    height: 40px;
    display: grid;
    place-content: center center;
    box-sizing: border-box;
    border-right: 1px solid var(--boundary-color)
  }
  .pointer{
    cursor: pointer;
  }
  
  .margin{
    margin: 8px;
  }
  
  .week-contianer{
    display: flex;
    border: 1px solid var(--boundary-color);
  }
  .week-contianer-flex{
    display: flex;
  }

  .rm-border{
    border: 0;
  }
  // 

  .r-container{
    display: block;
  }
  .head-row-container{
    display: flex;
  }
  .row-container{
    display: flex;
  }
  .first-header{
    display: grid;
    border-right: 1px solid var(--boundary-color);
    border-bottom: 1px solid var(--boundary-color);
    border-left: 1px solid var(--boundary-color);
    margin-right: 12px;
    box-sizing: border-box;
  }
  
  .top-border{
    border-top: 1px solid var(--boundary-color);
  }
  
  .second-header{
    border-right: 1px solid var(--boundary-color);
    border-bottom: 1px solid var(--boundary-color);
    border-left: 1px solid var(--boundary-color);
    width: calc(100vw - 693px);
    overflow-x: hidden;
  }

  .rows-r-34{
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .users-name-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    height: 50px;
  }

  .brand-color{
    color: var(--brand-color);
  }

  .pagination-flex{
    display: flex;
    justify-content: flex-end;
  }
  
  .empty-project{
    background-color:  var(--main-bg-color);;
}

.painted-proj-container{
  display: flex
}
.painted-proj{
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
}

.calender-paint{
  background-color: #8602fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.default-paint{
  background-color: #9a9a9a;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.in-progress-paint{
  background-color: #2196F3;
 margin: 8px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.completed-calender-paint {
  background-color: #258f03;
 margin: 8px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.cancelled-calender-paint {
  background-color: var(--denied-status-color);
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.painted-area-height{
  height: 50px;
}

.show-scroll{
  overflow-x: auto;
}

.first-scroll-cont{
  height: 0;
  padding: 0;
}

.second-scroll-cont{
  height: 8px;
}

.subgroup-container{
  border-top: 3px solid
}
.subgroup-bottom{
  border-bottom: 3px solid
}

.quad4-border{
  border-bottom: 1px solid var(--boundary-color);
}

.row-container-scroll-region{
  overflow: auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}