<div class="container">
    <!-- 3rd quadrant -->
    <div class="synchronize-task-filter">
        <div class="sync-task-container">
            <div class="header-content">Synchronize Task Filters</div>
            <mat-form-field class="custom-field" appearance="outline">
                <mat-label>Roles</mat-label>
                <mat-select placeholder="Roles" name="roles" [(ngModel)]="roleInitial">
                    <mat-option *ngFor="let role of allRoles" value="{{role.ROLE_NAME || role.NAME}}"
                        (click)="getTeamsAndUser(role)">
                        <span>{{role.ROLE_NAME || role.NAME }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <form>
                <mat-form-field class="custom-field" appearance="outline">
                    <input type="text" matInput (ngModelChange)="onUserChange($event)" [formControl]="userFormControl"
                        [matAutocomplete]="auto" placeholder="Add Resources" class='search-text-input'>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" matAutocompletePosition="below"
                        autoActiveFirstOption="true" (optionSelected)="onUserSelected($event)">
                        <mat-option *ngFor="let user of filterUserListData | async " [value]="user">
                            {{user.name || user.FullName}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon class="search-icon" matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="r-container">
        <div class="head-row-container">
            <div class="first-header top-border res-container" #reAllocation>
                <div class="header-content brand-color">
                    Resource Allocation
                </div>
                <div class="res-btns">
                    <button class="btn exp-btn" (click)="expandAllResources()">Expand All</button>
                    <button class="btn" (click)="collapseAll()">Collapse All</button>
                </div>
            </div>
            <div class="second-header top-border" [scrollLeft]="scrollLeft">
                <div class="quad4-container quad4-border">
                    <div class="week-contianer brand-color">
                        <span class="" *ngFor="let ele of dateArray; let i = index">
                            <ng-container *ngIf="!getWeekNo(i)">
                                <div class="week-day" [ngClass]="{'remove-cal-num': getWeekNo(i) }"
                                    [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                                    {{ ele?.weekNo}}-{{ele?.year}}
                                </div>
                            </ng-container>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows-r-34" [ngStyle]="{'height': userAllocation.length > 13 ? '40vh' : 'initial'}">
            <div *ngFor="let allocation of userAllocation; let i = index">
                <ng-container *ngIf="allocation?.subGroupArray == undefined">
                    <div class="row-container">
                        <div class="first-header users-name-box" [ngStyle]="{'width.px': reAllocation.offsetWidth }"
                            (click)="getProjectTask(i,allocation)">
                            <div>
                                {{allocation.name}}
                            </div>
                            <div>
                                <mat-icon *ngIf="allocation.showDelete" class="delete-icon"
                                    (click)="removeUserAllocation(allocation,i)">delete</mat-icon>
                                <mat-icon *ngIf="allocation.showExpand" class="expand-icon"
                                    (click)="onResourceAllocationExpand(allocation,null,i)">
                                    arrow_drop_down
                                </mat-icon>
                            </div>
                        </div>
                        <div class="second-header" [scrollLeft]="scrollLeft">
                            <div class="quad4-container">
                                <div class="week-contianer brand-color">
                                    <span class="" *ngFor="let ele of dateArray; let k = index">
                                        <ng-container *ngIf="!getWeekNo(k)">
                                            <div class="week-day " [ngClass]="{'remove-cal-num': getWeekNo(k) }"
                                                [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                                                {{getCellPoints(allocation,ele)}}
                                            </div>
                                        </ng-container>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="allocation?.subGroupArray">
                    <div class="row-container">
                        <div class="first-header users-name-box  subgroup-container"
                            [ngStyle]="{'width.px': reAllocation.offsetWidth }"
                            (click)="getProjectTaskForSubGroups(i,allocation)">
                            <div>
                                {{allocation.SubGroupName}}
                            </div>
                            <div>
                                <!-- <mat-icon *ngIf="allocation.showDelete" class="delete-icon"
                                    (click)="removeUserAllocation(allocation,i)">delete</mat-icon> -->
                                <mat-icon *ngIf="allocation.showExpand" class="expand-icon"
                                    (click)="onResourceAllocationExpand(allocation,null,i)">
                                    arrow_drop_down
                                </mat-icon>
                            </div>
                        </div>
                        <div class="second-header  subgroup-container" [scrollLeft]="scrollLeft">
                            <div class="quad4-container">
                                <div class="week-contianer brand-color">
                                    <span class="" *ngFor="let ele of dateArray; let k = index">
                                        <ng-container *ngIf="!getWeekNo(k)">
                                            <div class="week-day " [ngClass]="{'remove-cal-num': getWeekNo(k) }"
                                                [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                                                {{getCellPoints(allocation,ele)}}
                                            </div>
                                        </ng-container>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="allocation.show">
                        <div class="row-container-scroll-region" (scroll)="onContainerScroll($event,allocation,i,null)"
                            [ngStyle]="{'height': allocation?.taskData?.length > 4 ? '200px' : 'initial'}">
                            <ng-container *ngFor="let item of allocation.taskData; let j = index">
                                <div class="row-container">
                                    <div class="first-header" [ngStyle]="{'width.px': reAllocation.offsetWidth }">
                                    </div>
                                    <div class="second-header" [scrollLeft]="scrollLeft">
                                        <div class="painted-proj-container painted-area-height">
                                            <div class="painted-proj-container"
                                                (click)="editTask(userAllocation[i].taskData[j])">
                                                <ng-container *ngFor="let seg of item?.paintedData">
                                                    <ng-container *ngIf="getData(seg) == 1">
                                                        <div class="empty-project"
                                                            [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="getData(seg) == 2">
                                                        <div class="painted-proj"
                                                            [ngStyle]="{'width': getRowLength(seg.rowLength)}"
                                                            [ngClass]="changeTaskBarColor(userAllocation[i].taskData[j].TASK_STATUS_VALUE,userAllocation[i].taskData[j])">
                                                            {{userAllocation[i].taskData[j].TASK_NAME}}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="allocation?.subGroupArray?.length > 0">
                    <ng-container *ngFor="let subAllocation of allocation?.subGroupArray; let u = index">
                        <div class="row-container">
                            <div class="first-header users-name-box"
                                [ngClass]="{'subgroup-bottom': u == (allocation?.subGroupArray?.length - 1)}"
                                [ngStyle]="{'width.px': reAllocation.offsetWidth }"
                                (click)="getProjectTask(i,subAllocation,u)">
                                <div>
                                    {{subAllocation.name}}
                                </div>
                                <div>
                                    <mat-icon *ngIf="subAllocation.showDelete" class="delete-icon"
                                        (click)="removeUserAllocation(subAllocation,i)">delete</mat-icon>
                                    <mat-icon *ngIf="subAllocation.showExpand" class="expand-icon"
                                        (click)="onResourceAllocationExpand(subAllocation,null,i,null,u)">
                                        arrow_drop_down
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="second-header"
                                [ngClass]="{'subgroup-bottom': u == (allocation?.subGroupArray?.length -1) }"
                                [scrollLeft]="scrollLeft">
                                <div class="quad4-container">
                                    <div class="week-contianer brand-color">
                                        <span class="" *ngFor="let ele of dateArray; let k = index">
                                            <ng-container *ngIf="!getWeekNo(k)">
                                                <div class="week-day " [ngClass]="{'remove-cal-num': getWeekNo(k) }"
                                                    [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                                                    {{getCellPoints(subAllocation,ele)}}
                                                </div>
                                            </ng-container>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="subAllocation.show">
                            <div class="row-container-scroll-region"
                                (scroll)="onContainerScroll($event,subAllocation,i,u)"
                                [ngStyle]="{'height': subAllocation.taskData?.length > 4 ? '200px' : 'initial'}">
                                <ng-container *ngFor="let item of subAllocation.taskData; let j = index">
                                    <div class="row-container">
                                        <div class="first-header" [ngStyle]="{'width.px': reAllocation.offsetWidth }">
                                        </div>
                                        <div class="second-header" [scrollLeft]="scrollLeft">
                                            <div class="painted-proj-container painted-area-height">
                                                <div class="painted-proj-container"
                                                    (click)="editTask(userAllocation[i].subGroupArray[u].taskData[j])">
                                                    <ng-container *ngFor="let seg of item?.paintedData">
                                                        <ng-container *ngIf="getData(seg) == 1">
                                                            <div class="empty-project"
                                                                [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="getData(seg) == 2">
                                                            <div class="painted-proj"
                                                                [ngStyle]="{'width': getRowLength(seg.rowLength)}"
                                                                [ngClass]="changeTaskBarColor(userAllocation[i].subGroupArray[u].taskData[j].TASK_STATUS_VALUE,userAllocation[i].subGroupArray[u].taskData[j])">
                                                                {{userAllocation[i].subGroupArray[u].taskData[j].TASK_NAME}}
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="!allocation.SubGroupName">
                    <ng-container *ngIf="allocation.show">
                        <div class="row-container-scroll-region" (scroll)="onContainerScroll($event,allocation,i,null)"
                            [ngStyle]="{'height': allocation?.taskData?.length > 4 ? '200px' : 'initial'}">
                            <ng-container *ngFor="let item of allocation.taskData; let j = index">
                                <div class="row-container">
                                    <div class="first-header" [ngStyle]="{'width.px': reAllocation.offsetWidth }">
                                    </div>
                                    <div class="second-header" [scrollLeft]="scrollLeft">
                                        <div class="painted-proj-container painted-area-height">
                                            <div class="painted-proj-container"
                                                (click)="editTask(userAllocation[i].taskData[j])">
                                                <ng-container *ngFor="let seg of item?.paintedData">
                                                    <ng-container *ngIf="getData(seg) == 1">
                                                        <div class="empty-project"
                                                            [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="getData(seg) == 2">
                                                        <div class="painted-proj"
                                                            [ngStyle]="{'width': getRowLength(seg.rowLength)}"
                                                            [ngClass]="changeTaskBarColor(userAllocation[i].taskData[j].TASK_STATUS_VALUE,userAllocation[i].taskData[j])">
                                                            {{userAllocation[i].taskData[j].TASK_NAME}}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="row-container">
            <div class="first-header users-name-box first-scroll-cont"
                [ngStyle]="{'width.px': reAllocation.offsetWidth }">
                <div>
                </div>
            </div>
            <div class="second-header show-scroll second-scroll-cont" #scrollQuad (scroll)="onScrollQuad()"
                [scrollLeft]="scrollLeft">
                <div class="quad4-container">
                    <div class="week-contianer-flex">
                        <span class="" *ngFor="let ele of dateArray; let k = index">
                            <ng-container *ngIf="!getWeekNo(k)">
                                <div class="week-day rm-border" [ngClass]="{'remove-cal-num': getWeekNo(k) }"
                                    [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                                </div>
                            </ng-container>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>