.container {
    padding: 40px;
    overflow: auto;
    height: calc(100vh - 145px);
}

.btn {
    border: 1px solid black;
    padding: 12px 59px;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--boundary-color);
    color: var(--main-text-color);
}

.month-btn {
    border-radius: 8px 0 0 8px;
}

.week-btn {
    border-radius: 0;
    border: 0px;
    border-top: 1px solid var(--boundary-color);
    border-bottom: 1px solid var(--boundary-color);
}

.day-btn {
    border-radius: 0 8px 8px 0;
}

.month-bar {
    display: flex;
    padding: 6px 24px;
    border: 1px solid var(--boundary-color);
    border-radius: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.forward-btn {
    padding: 0 40px 0 0;
    cursor: pointer;
    color: var(--brand-color);
}

.reverse-btn {
    padding: 0 0 0 40px;
    cursor: pointer;
    color: var(--brand-color);
}

.month-container {
    width: 100px;
    display: grid;
    justify-content: center;
}

.week-picker {
    position: absolute;
    z-index: 999;
    top: 75px;
}

.rows-r-34 {}

.pagination-flex {
    display: flex;
    justify-content: flex-end;
}

.apply-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.vendor-select {
    display: flex;
    margin-top: -10px;
    height: 24px;
}

.mrgn-16 {
    // margin-right: 16px;
    margin-right: 50px;
}

.border-radius-4 {
    border-radius: 4px;
}

.week-select {
    position: relative;
}

.week-picker {
    position: absolute;
    z-index: 999;
    top: 75px;
}

.week-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.mat-week-icon {
    height: 24px;
    display: flex;
    line-height: 0;
}

.btm-mr-40 {
    margin-bottom: 40px;
}

.spacer {
    margin-right: 20px;
}

.action-disabled {
    opacity: 0.55;
}

.mat-err {
    font-size: x-small;
}

.mat-err-week-container {
    display: grid;
}