<div class="container" (click)="getAllBool()">
    <div class="week-container">
        <!--  <h4>Date Range :</h4> -->
        <form [formGroup]="dateRangeFormGroup" class="header-container">
            <!--                 <div>
                    <h4>From</h4>
                    <mat-form-field appearance="outline">
                        <input formControlName="start_date" matInput [matDatepicker]="startDate"
                            placeholder="Choose a date (MM/DD/YYYY)">
                        <mat-datepicker-toggle matSuffix [for]="startDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>  
                    <h4>To</h4>
                    <mat-form-field appearance="outline">
                        <input formControlName="end_date" matInput [matDatepicker]="endDate"
                            placeholder="Choose a date (MM/DD/YYYY)">
                        <mat-datepicker-toggle matSuffix [for]="endDate">
                        </mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                    <button mat-stroked-button class="more-btn" matTooltip="Click to search"
                    (click)="filterByDates()"
                    [disabled]="!dateRangeFormGroup || dateRangeFormGroup.invalid">Apply</button>
                </div> -->

            <div class="flex-row-item week-select mrgn-16" (click)="getStopPropogation($event,'startDate')">
                <mat-form-field appearance="outline">
                    <mat-label>From</mat-label>
                    <div class="vendor-select">
                        <input matInput formControlName="start_date" placeholder="ww/yyyy" name="dp" required />
                        <button class="mat-week-icon" mat-icon-button (click)="getBool('startDate')">
                                <mat-icon>date_range</mat-icon>
                            </button>
                    </div>
                </mat-form-field>
                <app-week-picker class="week-picker" [weekYearValue]="weekYear.startDate" [fromDate]="fromDate.startDate" [toDate]="toDate.startDate" (weekFormat)="changeTargetDP($event,'startDate')" *ngIf="show.startDate">
                </app-week-picker>
            </div>
            <div class="mat-err-week-container flex-row-item week-select mrgn-16" (click)="getStopPropogation($event,'endDate')">
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <div class="vendor-select">
                        <input matInput formControlName="end_date" placeholder="ww/yyyy" name="dp" required />
                        <button class="mat-week-icon" mat-icon-button (click)="getBool('endDate')">
                            <mat-icon>date_range</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                <mat-error class="mat-err" *ngIf="checkDate()">
                    To Date should be greater than From Date
                </mat-error>
                <app-week-picker class="week-picker" [weekYearValue]="weekYear.endDate" [fromDate]="fromDate.endDate" [toDate]="toDate.endDate" (weekFormat)="changeTargetDP($event,'endDate')" *ngIf="show.endDate">
                </app-week-picker>
            </div>

            <div *ngIf="(selectedGroupByFilter == groupByFilterTypes.GROUP_BY_PROJECT)" class="flex-row-item  mrgn-16">
                <mat-form-field appearance="outline">
                    <mat-label>Select Role</mat-label>
                    <mat-select placeholder="Roles" [(ngModel)]="selectedFilters.selectedMultiRoles" formControlName="task_role" multiple required>
                        <mat-option *ngFor="let role of allRoles" [value]="role">
                            <span *ngIf="role.ROLE_NAME=='Secondary AW Specialist' || role.NAME=='Secondary AW Specialist';else secondaryAWManager">Secondary AW Manager</span>
                            <ng-template #secondaryAWManager><span>{{role.ROLE_NAME || role.NAME }}</span></ng-template>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="(selectedGroupByFilter == groupByFilterTypes.GROUP_BY_PROJECT)" class="flex-row-item  mrgn-16">
                <mat-form-field appearance="outline">
                    <mat-label>Select Task</mat-label>
                    <mat-select placeholder="Select Task" [(ngModel)]="selectedFilters.selectedMultiTasks" formControlName="task_name" multiple>
                        <mat-option *ngFor="let task of allTasks" [value]="task.TaskName">
                            <span>{{getTaskName(task)}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>
        <div class="apply-btn mrgn-16">
            <button class="btn border-radius-4" (click)="filterByDates()" [disabled]="!dateRangeFormGroup || dateRangeFormGroup.invalid || checkDate()">Apply</button>
        </div>
        <span class="refresh-btn spacer mrgn-16">
                <button mat-icon-button (click) ="refresh()" matTooltip="Refresh">
                    <mat-icon color="primary" class="dashboard-action-btn">refresh
                    </mat-icon>
                </button>
            </span>
        <button class="spacer mrgn-16" mat-icon-button (click)="assign()" [disabled]="!(selectedDataCounts>0)" matTooltip="Bulk Assign">
               <mat-icon color="primary" [ngClass]="{'action-disabled': !(selectedDataCounts>0)}">assignment_ind
               </mat-icon>
            </button>
        <app-column-chooser class="spacer mrgn-16" [isListView]="true" 
        [columnChooserFields]="columnChooserFields" [isPMView]="true" 
        (columnChooserHandler)="updateDisplayColumns($event)" 
        (resetColumnChooserHandler)="resetView()" 
        [userPreferenceFreezeCount]="userPreferenceFreezeCount"
        [isColumnsFreezable]="isColumnsFreezable">
        </app-column-chooser>
        <span class="spacer"></span>
        <mat-form-field appearance="outline">
            <mat-label>Group</mat-label>
            <mat-select [(ngModel)]="selectedGroupByFilter" (selectionChange)="groupByFilterChange($event)" required>
                <mat-option *ngFor="let filter of groupFilterOptions" [value]="filter.value">
                    {{filter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-project-tasks-layout *ngIf="paginator?.page" #projectTasksLayoutComponent [startDate]="dateRangeFormGroup?.value?.startDate" [endDate]="dateRangeFormGroup?.value?.endDate" (totalDataListHandler)="updatePagination($event)" (selectedProjectsCallBackHandler)="getSelectedProject($event)"
        (refreshData)="refresh()" [mainHeadercolumnsToDisplay]="displayableFields" [subLevelHeadercolumnsToDisplay]="subLevelTaskHeadercolumnsToDisplay" [paginator]="paginator" (resetPagination)="resetPagination()" [selectedGroupByFilter]="selectedGroupByFilter"
        [columnChooserFields]="columnChooserFields" [columnChooserFieldsOfTasks]="columnChooserFieldsOfTasks" (orderedDisplayableFields)="getOrderedDisplayableFields($event)" [searchName]="searchName" [savedSearchName]="savedSearchName" [advSearchData]="advSearchData"
        [facetData]="facetData" [searchConditions]="searchConditions" [facetRestrictionList]="facetRestrictionList" [userPreferenceFreezeCount]="userPreferenceFreezeCount"></app-project-tasks-layout>
    <div class="pagination-flex btm-mr-40" *ngIf="totalListDataCount > 0">
        <!--  <mpm-pagination [length]="totalListDataCount" [pageSize]="paginator.pageSize" [pageIndex]="paginator.page"
        (paginator)="pagination($event)"></mpm-pagination> -->
        <app-npd-pagination [length]="totalListDataCount" [pageSize]="paginator.pageSize" [pageIndex]="paginator.page" (paginator)="pagination($event)"></app-npd-pagination>
    </div>
    <app-resource-task-quad34 #resourceTaskQuad34Component [selectedGroupByFilter]="selectedGroupByFilter" [currentStartDate]="dateRangeFormGroup?.value?.startDate" [currentEndDate]="dateRangeFormGroup?.value?.endDate"></app-resource-task-quad34>

</div>


<!--

<div class="container">
    <div class="header-container">
        <div class="">
            <button class="month-btn btn"> Month </button>
            <button class="week-btn btn"> Week </button>
            <button class="day-btn btn"> Day </button>
        </div>
        <div>
            <mat-checkbox >Details View</mat-checkbox>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field> 
               <input type="date"> 
        </div>
        <div>
            Year: {{resourceTaskQuad34Component.currentYear}}
        </div>
        <div class="month-bar">
            <div class="forward-btn" (click)="getBackwardMonth();getCalenderBackwardDays()" > 
                <mat-icon aria-hidden="false" aria-label="previous">
                    chevron_left
                </mat-icon>
            </div>
                    <div class="month-container"> {{resourceTaskQuad34Component.currentMonth}} </div>
                    <div class="reverse-btn" (click)="getForwardMonth(); getCalenderForwardDays()"> 
                        <mat-icon aria-hidden="false" aria-label="next">
                            chevron_right
                        </mat-icon>
                    </div>
            </div>
        </div>
        
        <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" style="height:50%;" autosize>

            <mat-sidenav class="custom-sidenav" #pmFaceNav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                [opened]="facetExpansionState">
                <div class="facet-sidenav">
                    <app-facet [dataCount]="totalListDataCount"></app-facet>
                </div>
            </mat-sidenav>
        
            <mat-sidenav-content class="mat-content">
                <app-project-tasks-layout ></app-project-tasks-layout>
            </mat-sidenav-content>
        
        </mat-sidenav-container>
        [startDate]="resourceTaskQuad34Component.startDate" [endDate]="resourceTaskQuad34Component.endDate"
        <app-resource-task-quad34 #resourceTaskQuad34Component></app-resource-task-quad34>
</div>-->