// mat-form-field {
//     font-size: 12px !important;
//     margin: 0.3125rem;
// }
// .mat-form-field {
//     width: 13.25rem !important;
// }
mat-checkbox.field-row-action {
    margin-left: 0.4375rem;
}

// mat-form-field.combo {
//     max-width: 25rem !important;
// }
.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.radio-row-gap {
    display: block;
    margin-bottom: 5px;
    margin-top: 4px;
    color: var(--brand-color) !important;
}

.radio-buttons {
    display: inline-block;
    width: 217px;
    padding-left: 7px;
}

.field-action-buttons {
    padding-left: 20px;
}

.bulk-edit-container {
    display: grid;
    float: left;
    // grid-template-columns: 1fr 1fr 0.5fr ;
    grid-template-columns: 1fr 2.8fr 1fr;
    grid-column-gap: 24px;
}

.bulk-pm-container {
    float: left;
    display: flex;
    flex-direction: row;
}

.week-picker-container {
    position: relative;
    display: grid;
}

.week-picker {
    position: absolute;
    z-index: 999;
    top: 74px;
}

.week-select {
    display: flex;
    margin-top: -16px;
    margin-bottom: -7px;
}