<form [formGroup]="bulkEditFieldForm">
    <div class="bulk-edit-container">
        <mat-form-field appearance="outline">
            <mat-label>Field</mat-label>
            <mat-select formControlName="field" (selectionChange)="onFieldSelection($event)">
                <mat-option *ngFor="let field of bulkEditFieldsData.availableBulkEditFields" value="{{field.FieldID}}">
                    {{field.FieldName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="dataType === 'SIMPLE'&& fieldLabel !== 'Trail Volume (24 EQ cases)' && fieldLabel !== '1st production volume (24 EQ cases)'" matTooltip="{{ fieldLabel }}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <input formControlName="fieldValue" matInput placeholder="{{ fieldLabel }}" aria-label="label" type="string" (change)="onFieldValueSelection($event)" />
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="dataType === 'COMBO' && fieldLabel!=='Reporting Project Type' && fieldLabel!=='Country Of Manufacture(Final)'" matTooltip="{{ fieldLabel }}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <mat-select formControlName="fieldValue" [(ngModel)]="selectedValue" (selectionChange)="onFieldValueSelection($event)">
                <mat-option *ngFor="let option of comboValues" [value]="option.name || option.Name||option.value || option.Value||option['MPM_Priority-id']?.Id">
                    <div>
                        {{ option.displayName || option.DisplayName|| option?.DESCRIPTION }}
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="dataType === 'MULTISELECT'" matTooltip="{{ fieldLabel }}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <mat-select formControlName="fieldValue" multiple [(ngModel)]="selectedValue" (selectionChange)="onFieldValueSelection($event)">
                <mat-option *ngFor="let option of comboValues" [value]="option.value || option.Value">
                    <div>
                        {{ option.displayName || option.DisplayName }}
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="dataType === 'NUMBER'" matTooltip="{{ fieldLabel}}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <input formControlName="fieldValue" matInput placeholder="{{ fieldLabel }}" aria-label="label" type="number" (change)="onFieldValueSelection($event)" />
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="dataType === 'TEXTAREA'" matTooltip="{{ fieldLabel }}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <textarea formControlName="fieldValue" matInput placeholder="{{ fieldLabel }}" aria-label="label" (change)="onFieldValueSelection($event)"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="dataType === 'DATETIME'" matTooltip="{{ fieldLabel }}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <input formControlName="fieldValue" matInput placeholder="{{ fieldLabel }}" aria-label="label" [matDatepicker]="date" datePickerFormat="DD-MM-YYYY" (dateChange)="onFieldValueSelection($event)" />
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
        </mat-form-field>

        <div class="week-picker-container" *ngIf="dataType === 'DATE'" matTooltip="{{ fieldLabel }}">
            <mat-form-field appearance="outline">
                <mat-label>{{ fieldLabel }}</mat-label>
                <div class="week-select">
                    <input matInput formControlName="fieldValue" placeholder="ww/yyyy" (change)="onFieldValueSelection($event)" />
                    <button mat-icon-button (click)="getBool('startDate')">
                        <mat-icon>date_range</mat-icon>
                    </button>
                </div>
            </mat-form-field>
            <app-week-picker class="week-picker" [weekYearValue]="weekYear.startDate" [fromDate]="fromDate.startDate" [toDate]="toDate.startDate" (weekFormat)="changeWeek($event)" *ngIf="show?.startDate">
            </app-week-picker>
        </div>

        <div *ngIf="dataType === 'BOOLEAN'" matTooltip="{{ fieldLabel }}">
            <mat-label class="radio-row-gap">{{ fieldLabel }}</mat-label>
            <mat-radio-group formControlName="fieldValue">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" (change)="onFieldValueSelection($event)">{{ option.displayName }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field appearance="outline" *ngIf="fieldLabel == 'Trail Volume (24 EQ cases)' || fieldLabel == '1st production volume (24 EQ cases)'" matTooltip="{{ fieldLabel}}">
            <mat-label>{{ fieldLabel }}</mat-label>
            <input type="string" min="0" (keypress)="numericOnly($event)" formControlName="fieldValue" matInput placeholder="{{ fieldLabel }}" aria-label="label" (change)="onFieldValueSelection($event)" />
        </mat-form-field>

        <div class="field-action-buttons" *ngIf="fieldLabel!=='Reporting Project Type' && fieldLabel!=='Country Of Manufacture(Final)'">

            <!-- <button class="field-row-action" *ngIf="!bulkEditFieldsData.isFieldSelected" mat-icon-button color="primary" matTooltip="Save this Field" (click)="onFieldConfirm(true)">
                <mat-icon>done</mat-icon>
            </button> -->
            <button class="field-row-action" (click)="onRemoveField()" mat-icon-button color="primary" matTooltip="Remove this Field">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="bulk-pm-container" *ngIf="fieldLabel==='Reporting Project Type'">

        <app-bulk-pm-reporting [programmeManagerReporting]="programManagerConfig" [reportingProjectType]="comboValues" (onbulkProgrammeManagerReportingForm)="onbulkProgrammeManagerReportingForm($event)">

        </app-bulk-pm-reporting>
        <div class="field-action-buttons">

            <!-- <button class="field-row-action" *ngIf="!bulkEditFieldsData.isFieldSelected" mat-icon-button color="primary"
                matTooltip="Save this Field" (click)="onFieldConfirm(true)">
                <mat-icon>done</mat-icon>
            </button> -->
            <button class="field-row-action" (click)="onRemoveField()" mat-icon-button color="primary" matTooltip="Remove this Field">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="bulk-pm-container" *ngIf="fieldLabel==='Country Of Manufacture(Final)'">
        <app-bulk-final-classification [request]="allListConfig" (onBulkFinalClassificationFormChange)="onBulkFinalClassificationFormChange($event)" [projectClassificationDataConfig]="projClassificationConfig" [config]="allListConfig">
        </app-bulk-final-classification>
        <div class="field-action-buttons">

            <!-- <button class="field-row-action" *ngIf="!bulkEditFieldsData.isFieldSelected" mat-icon-button color="primary" matTooltip="Save this Field" (click)="onFieldConfirm(true)">
                <mat-icon>done</mat-icon>
            </button> -->
            <button class="field-row-action" (click)="onRemoveField()" mat-icon-button color="primary" matTooltip="Remove this Field">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

</form>