.facet {
    width: 340px;
    // overflow: auto;
}

.facet-header {
    padding: 10px;
}

.facet-title {
    font-size: 14px;
}

.facet-actions {
    display: inline-block;
}

.facet-actions button {
    padding: 0 5px;
    margin: 5px;
    font-size: 12px;
    height: 25px;
    line-height: 1px;
}

.facet-chicklet-area {
    margin-top: 10px;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.facet-list {
    overflow: hidden;
    /* height: 70px!important; */
}

.facet-list li {
    list-style-type: none;
    margin: 10px 0;
    height: 22px;
}

.selection-align {
    margin: 0 10px;
}

.facet-panel {
    border-radius: 0 !important;
    box-shadow: none;
}

.facet-wrapper {
    // margin-bottom: 80px;
    p {
        padding: 30px;
    }
}

.more-btn {
    float: right;
    font-weight: 600;
}

.mat-badge-content {
    top: -3px !important;
}

.mat-badge {
    padding-right: 10px;
}

.facet-count {
    min-height: 15px;
    float: right;
    background-color: transparent !important;
    padding: 8px;
    color: rgb(115, 115, 115) !important;
}

.filter-item .label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
    margin-bottom: -5px;
    display: inline-block;
}

.full-width {
    width: 100%;
}

mat-expansion-panel.facet-panel {
    border: 1px solid #e4e4e4;
    margin: 0 !important;
}

mat-expansion-panel.facet-panel mat-expansion-panel-header {
    height: 50px;
}

mat-form-field {
    width: 249px; // 212px;
}

.mat-radio-inner-circle {
    color: red;
}

::ng-deep mat-radio-button {
    label.mat-radio-label {
        .mat-radio-container {
            .mat-radio-inner-circle {
                .check {
                    background-color: red !important;
                }
            }
        }
    }
}


/* .facet-radio {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .select-facet {
    margin: 5px;
  } */

.week-picker {
    // position: absolute;
    // z-index: 999;
    // top: 75px;
}

.week-select {
    // position: relative;
    display: grid;
}

.vendor-select {
    display: flex;
    margin-top: -10px;
}

mat-icon {
    color: #88c534;
    margin-right: 5px;
    font-weight: 40px;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.facet {
    #facet-list-container {
        overflow: auto;
        height: Calc(100vh - 249px);
    }
}

.facet-header-wrapper {
    position: sticky;
    top: 0;
    z-index: 9999;
}

// .mat-drawer-inner-container {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }
::ng-deep .mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
    position: fixed;
    display: none;
    top: 0;
}