<div class="facet-wrapper">
    <div class="facet">

        <div id="facet-header-wrapper" class="facet-header-wrapper">
            <div class="facet-header">

                <mat-form-field appearance="outline" class="search-bar" id="search">
                    <mat-icon matPrefix>search</mat-icon>


                    <input matInput #searchInput id="searchInput" (input)="scrollToMatch()" [(ngModel)]="removeSearchInput" placeholder="Search">

                </mat-form-field>

                <div class="refine">
                    <span class="facet-title">Refine Your Search</span>
                    <span class="facet-actions" *ngIf="facetFilters.length">
      <button mat-stroked-button class="filter-action-btn"
          matTooltip="{{ allExpandState ? 'Collapse All' : 'Expand All' }}" (click)="toggleExpandState()">{{
          allExpandState ? "Collapse All" : "Expand All" }}</button>
      <button mat-stroked-button *ngIf="selectedFacetFilters.length" class="filter-action-btn"
          matTooltip="Clear all applied facets" (click)="clearAllFacets()">Clear All</button>
  </span>

                </div>

                <div class="facet-chicklet-area">
                    <mpm-chicklet (removed)="chickletRemoved($event)"></mpm-chicklet>
                </div>
            </div>

        </div>

        <mat-accordion *ngIf="dataCount > 0" class="facet-panel-accordion" #facetAccordion="matAccordion" [multi]="true">

            <div id="facet-list-container" class="facetListContainer">


                <ng-container *ngFor="let facet of facetFilters; let i = index">
                    <mat-expansion-panel class="facet-panel" [hideToggle]="true" [expanded]="true" *ngIf="((activeFacetConfiguration && (activeFacetConfiguration.defaultFacetDisplayed > i)) || isShowAll ) && facet.facet_value_list.length > 0 ">
                        <mat-expansion-panel-header>
                            <mat-panel-title id="facet_{{facet.facet_field_request.name.replace(' ', '_')}}">{{facet.facet_field_request.name}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-content">
                            <ul class="facet-list" [style.height]="facet.height">

                                <ng-container *ngIf="facet.facet_field_request.multi_select">

                                    <ng-container *ngIf="facet.isDate">
                                        <ng-container *ngFor="let facetItem of facet.facet_value_list">
                                            <li class="filter-item" *ngIf="facetItem.date_range && !facetItem.date_range.custom_range">
                                                <span class="selection-align">
                                                                <mat-checkbox class="facet-checkbox" class="select-facet"
                                                                    color="primary" [(ngModel)]="facetItem.isSelected"
                                                                    (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.date_range)">
                                                                </mat-checkbox>
                                                            </span>
                                                <span class="label" matTooltip="{{facetItem.date_range.range_label}}">{{facetItem.date_range.range_label}}</span>
                                                <mat-chip class="facet-count" matTooltip="No. of Items for this facet">
                                                    {{facetItem.asset_count}}
                                                </mat-chip>
                                            </li>
                                            <li class="filter-item" *ngIf="facetItem.date_interval && !facetItem.date_interval.custom_range">
                                                <span class="selection-align">
                                                                <mat-checkbox class="facet-checkbox" class="select-facet"
                                                                    color="primary" [(ngModel)]="facetItem.isSelected"
                                                                    (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.date_interval)">
                                                                </mat-checkbox>
                                                            </span>
                                                <span class="label" matTooltip="{{facetItem.displayName}}">{{facetItem.displayName}}</span>
                                                <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                    {{facetItem.asset_count}}
                                                </mat-chip>
                                            </li>
                                        </ng-container>
                                        <div>
                                            <br />
                                            <form [formGroup]="facet.formGroup">
                                                <h4>Date Range</h4>
                                                <div *ngIf="facet.startDateFlag">
                                                    <mat-form-field appearance="outline">
                                                        <input formControlName="start_date" matInput [matDatepicker]="startDate" placeholder="Choose a date (MM/DD/YYYY)">
                                                        <mat-datepicker-toggle matSuffix [for]="startDate">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #startDate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>

                                                <div *ngIf="!facet.startDateFlag">
                                                    <mat-form-field appearance="outline">
                                                        <div class="vendor-select week-select">
                                                            <input class="" matInput formControlName="start_date" placeholder="ww/yyyy" />
                                                            <button mat-icon-button (click)="getBool('startDate')">
                                                                                <mat-icon>date_range</mat-icon>
                                                                            </button>
                                                        </div>
                                                    </mat-form-field>
                                                    <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.startDate" [fromDate]="fromDate.startDate" [toDate]="toDate.startDate" (weekFormat)="changeTargetDP($event,'startDate',facet)" *ngIf="show.startDate && !facet.startDateFlag">
                                                    </app-week-pickerr>
                                                </div>

                                                <h4>To</h4>
                                                <div *ngIf="facet.endDateFlag">
                                                    <mat-form-field appearance="outline">
                                                        <input formControlName="end_date" matInput [matDatepicker]="endDate" placeholder="Choose a date (MM/DD/YYYY)">
                                                        <mat-datepicker-toggle matSuffix [for]="endDate">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #endDate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <div *ngIf="!facet.endDateFlag">
                                                    <mat-form-field appearance="outline">
                                                        <div class="vendor-select">
                                                            <input class="" matInput formControlName="end_date" placeholder="ww/yyyy" />
                                                            <button mat-icon-button (click)="getBool('endDate')">
                                                                                <mat-icon>date_range</mat-icon>
                                                                            </button>
                                                        </div>
                                                    </mat-form-field>
                                                    <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.endDate" [fromDate]="fromDate.endDate" [toDate]="toDate.endDate" (weekFormat)="changeTargetDP($event,'endDate',facet)" *ngIf="show.endDate && !facet.endDateFlag">
                                                    </app-week-pickerr>
                                                </div>

                                                <button mat-stroked-button class="more-btn" matTooltip="Click to search" (click)="filterByCustomFacet(facet)" [disabled]="!facet.formGroup || facet.formGroup.invalid">Apply</button>
                                            </form>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="facet.isNumeric">
                                        <ng-container *ngFor="let facetItem of facet.facet_value_list">
                                            <li class="filter-item" *ngIf="facetItem.numeric_range && !facetItem.numeric_range.custom_range">
                                                <span class="selection-align">
                                                                <mat-checkbox class="facet-checkbox" class="select-facet"
                                                                    color="primary" [(ngModel)]="facetItem.isSelected"
                                                                    (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.numeric_range)">
                                                                </mat-checkbox>
                                                            </span>
                                                <span class="label" matTooltip="{{facetItem.numeric_range.range_label}}">{{facetItem.numeric_range.range_label}}</span>
                                                <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                    {{facetItem.asset_count}}
                                                </mat-chip>
                                            </li>
                                            <li class="filter-item" *ngIf="facetItem.numeric_interval && !facetItem.numeric_interval.custom_range">
                                                <span class="selection-align">
                                                                <mat-checkbox class="facet-checkbox" class="select-facet"
                                                                    color="primary" [(ngModel)]="facetItem.isSelected"
                                                                    (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.numeric_interval)">
                                                                </mat-checkbox>
                                                            </span>
                                                <span class="label" matTooltip="{{facetItem.numeric_interval.interval_label}}">{{facetItem.numeric_interval.interval_label}}</span>
                                                <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                    {{facetItem.asset_count}}
                                                </mat-chip>
                                            </li>
                                        </ng-container>
                                        <div>
                                            <br />
                                            <form [formGroup]="facet.formGroup">
                                                <h4>From</h4>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>From</mat-label>
                                                    <input formControlName="start_value" matInput type="number" placeholder="From">
                                                </mat-form-field>
                                                <h4>To</h4>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>To</mat-label>
                                                    <input formControlName="end_value" matInput type="number" placeholder="From">
                                                </mat-form-field>
                                                <button mat-stroked-button class="more-btn" matTooltip="Click to search" (click)="filterByCustomFacet(facet)" [disabled]="!facet.formGroup || facet.formGroup.invalid">Apply</button>
                                            </form>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="(!facet.isDate && !facet.isNumeric)">
                                        <ng-container *ngFor="let facetItem of facet.facet_value_list">
                                            <li class="filter-item" *ngIf="facetItem.value">
                                                <span class="selection-align">
                                                                <mat-checkbox class="facet-checkbox" class="select-facet"
                                                                    color="primary" [(ngModel)]="facetItem.isSelected"
                                                                    (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.value)">
                                                                </mat-checkbox>
                                                            </span>
                                                <span class="label" matTooltip="{{facetItem.value}}">{{facetItem.value}}</span>
                                                <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                    {{facetItem.asset_count}}
                                                </mat-chip>
                                            </li>
                                        </ng-container>
                                    </ng-container>

                                </ng-container>

                                <ng-container *ngIf="!facet.facet_field_request.multi_select">

                                    <mat-radio-group aria-labelledby="facet-radio-input" class="facet-radio" [(ngModel)]="facet.selectedItem">
                                        <!-- 
                                                    {{facet.selectedItem}} -->
                                        <ng-container *ngIf="facet.isDate">
                                            <ng-container *ngFor="let facetItem of facet.facet_value_list">
                                                <li class="filter-item" *ngIf="facetItem.date_range && !facetItem.date_range.custom_range">
                                                    <span class="selection-align">
                                                                    <mat-radio-button class="select-facet" color="primary"
                                                                        [value]="facetItem.date_range.range_label"
                                                    
                                                                        (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.date_range)">
                                                                    </mat-radio-button>
                                                                </span>
                                                    <span class="label" matTooltip="{{facetItem.date_range.range_label}}">{{facetItem.date_range.range_label}}</span>
                                                    <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                        {{facetItem.asset_count}}
                                                    </mat-chip>
                                                </li>
                                                <li class="filter-item" *ngIf="facetItem.date_interval && !facetItem.date_interval.custom_range">
                                                    <span class="selection-align">
                                                                    
                                                                    <!-- {{facetItem.selectedItem}} -->
                                                                    <mat-radio-button class="select-facet" color="primary"
                                                                        [value]="facetItem.displayName" 
                                                                        [ngClass]="{'mat-radio-checked' : facetItem.selectedItem === facetItem.displayName}"
                                                                        (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.date_interval)">
                                                                    </mat-radio-button><!--    -->
                                                                </span>
                                                    <span class="label" matTooltip="{{facetItem.displayName}}">{{facetItem.displayName}}</span>
                                                    <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                        {{facetItem.asset_count}}
                                                    </mat-chip>
                                                </li>
                                            </ng-container>
                                            <div>
                                                <br />
                                                <form [formGroup]="facet.formGroup">
                                                    <h4>Date Range</h4>
                                                    <div *ngIf="facet.startDateFlag">
                                                        <mat-form-field appearance="outline">
                                                            <input formControlName="start_date" matInput [matDatepicker]="startDate" placeholder="MM-DD-YYYY">
                                                            <mat-datepicker-toggle matSuffix [for]="startDate">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #startDate></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="week-select" *ngIf="!facet.startDateFlag">
                                                        <mat-form-field appearance="outline">
                                                            <div class="vendor-select">
                                                                <input class="" matInput formControlName="start_date" placeholder="ww/yyyy" />
                                                                <button mat-icon-button (click)="getBool('startDate')">
                                                                                    <mat-icon>date_range</mat-icon>
                                                                                </button>
                                                            </div>
                                                        </mat-form-field>
                                                        <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.startDate" [fromDate]="fromDate.startDate" [toDate]="toDate.startDate" (weekFormat)="changeTargetDP($event,'startDate',facet)" *ngIf="show.startDate">
                                                        </app-week-pickerr>
                                                    </div>
                                                    <h4>To</h4>
                                                    <div *ngIf="facet.endDateFlag">
                                                        <mat-form-field appearance="outline">
                                                            <input formControlName="end_date" matInput [matDatepicker]="endDate" placeholder="MM-DD-YYYY">
                                                            <mat-datepicker-toggle matSuffix [for]="endDate">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #endDate></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="week-select" *ngIf="!facet.endDateFlag">
                                                        <mat-form-field appearance="outline">
                                                            <div class="vendor-select">
                                                                <input class="" matInput formControlName="end_date" placeholder="ww/yyyy" />
                                                                <button mat-icon-button (click)="getBool('endDate')">
                                                                                    <mat-icon>date_range</mat-icon>
                                                                                </button>
                                                            </div>
                                                        </mat-form-field>
                                                        <app-week-pickerr class="week-picker" #weekPicker [weekYearValue]="weekYear.endDate" [fromDate]="fromDate.endDate" [toDate]="toDate.endDate" (weekFormat)="changeTargetDP($event,'endDate',facet)" *ngIf="show.endDate">
                                                        </app-week-pickerr>
                                                    </div>
                                                    <button mat-stroked-button class="more-btn" matTooltip="Click to search" (click)="filterByCustomFacet(facet)" [disabled]="!facet.formGroup || facet.formGroup.invalid">Apply</button>
                                                </form>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="facet.isNumeric">
                                            <ng-container *ngFor="let facetItem of facet.facet_value_list">
                                                <li class="filter-item" *ngIf="facetItem.numeric_range && !facetItem.numeric_range.custom_range">
                                                    <span class="selection-align">
                                                                    <mat-radio-button class="select-facet" color="primary"
                                                                        [value]="facetItem.numeric_range.range_label"
                                                                        (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.numeric_range)">
                                                                    </mat-radio-button>
                                                                </span>
                                                    <span class="label" matTooltip="{{facetItem.numeric_range.range_label}}">{{facetItem.numeric_range.range_label}}</span>
                                                    <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                        {{facetItem.asset_count}}
                                                    </mat-chip>
                                                </li>
                                                <li class="filter-item" *ngIf="facetItem.numeric_interval && !facetItem.numeric_interval.custom_range">
                                                    <span class="selection-align">
                                                                    <mat-radio-button class="select-facet" color="primary"
                                                                        [value]="facetItem.numeric_interval.interval_label"
                                                                        (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.numeric_interval)">
                                                                    </mat-radio-button>
                                                                </span>
                                                    <span class="label" matTooltip="{{facetItem.numeric_interval.interval_label}}">{{facetItem.numeric_interval.interval_label}}</span>
                                                    <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                        {{facetItem.asset_count}}
                                                    </mat-chip>
                                                </li>
                                            </ng-container>
                                            <div>
                                                <br />
                                                <form [formGroup]="facet.formGroup">
                                                    <h4>From</h4>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>From</mat-label>
                                                        <input formControlName="start_value" matInput type="number" placeholder="From">
                                                    </mat-form-field>
                                                    <h4>To</h4>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>To</mat-label>
                                                        <input formControlName="end_value" matInput type="number" placeholder="From">
                                                    </mat-form-field>
                                                    <button mat-stroked-button class="more-btn" matTooltip="Click to search" (click)="filterByCustomFacet(facet)" [disabled]="!facet.formGroup || facet.formGroup.invalid">Apply</button>
                                                </form>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="(!facet.isDate && !facet.isNumeric)">
                                            <ng-container *ngFor="let facetItem of facet.facet_value_list">
                                                <li class="filter-item" *ngIf="facetItem.value">
                                                    <span class="selection-align">
                                                                    <mat-radio-button class="select-facet" color="primary"
                                                                        [value]="facetItem.value"
                                                                        (change)="filterByFacets(facet.facet_field_request.field_id, facetItem.value)">
                                                                    </mat-radio-button>
                                                                </span>
                                                    <span class="label" matTooltip="{{facetItem.value}}">{{facetItem.value}}</span>
                                                    <mat-chip class="facet-count" matTooltip="No. of Items for this facet ">
                                                        {{facetItem.asset_count}}
                                                    </mat-chip>
                                                </li>
                                            </ng-container>
                                        </ng-container>

                                    </mat-radio-group>
                                </ng-container>
                            </ul>
                            <button class="more-btn" mat-button *ngIf="activeFacetConfiguration && 
                              (facet.facet_value_list.length > activeFacetConfiguration.defaultFacetValueDisplayed)" matTooltip="{{facet.isShowAll ? 'Show less filters' : 'Show more filters'}}" (click)="toggleShowMore(facet)">{{facet.isShowAll ? 'Show less' : 'Show more...'}}</button>
                        </div>
                    </mat-expansion-panel>
                </ng-container>


            </div>


            <button class="more-btn full-width" mat-stroked-button *ngIf="(activeFacetConfiguration && 
                  (facetFilters.length > activeFacetConfiguration.defaultFacetDisplayed) && !isShowAll)" matTooltip="{{isShowAll ? 'Show less facets' : 'Show more facets'}}" (click)="toggleShowAll()">{{isShowAll ? 'Show less facets' : 'Show more facets'}}</button>
        </mat-accordion>

        <p *ngIf="(!facetFilters || !facetFilters.length || dataCount ==0)">No Facets available for the current view !
        </p>
    </div>
</div>