<div class="task-layout">
    <span>
        <app-npd-task-toolbar [taskConfig]="taskConfig" [columnChooserFields]="columnChooserFields"
            (createNewTaskHandler)="createNewTask($event)" (taskConfigChange)="toolBarConfigChange($event)"
            (createNewTaskByTypeHandler)="createNewTaskByType($event)" (viewChange)="handleViewChange($event)"
            (customWorkflowHandler)="openCustomWorkflow()" (columnChooserHandler)="updateDisplayColumns($event)"
            (saveColumnChooserHandler)="saveDisplayColumns($event)" (resetColumnChooserHandler)="resetView()">
        </app-npd-task-toolbar>
    </span>
    <app-task-grid [taskConfig]="taskConfig" [displayableFields]="displayableFields"
        (refreshTaskGrid)="refreshTaskGrid($event)" (editTaskHandler)="editTask($event)"
        (sortChange)="onSortChange($event)" (customWorkflowHandler)="openCustomWorkflow($event)"
        (orderedDisplayableFields)="getOrderedDisplayableFields($event)"
        (resizeDisplayableFields)="resizeDisplayableFields()">
    </app-task-grid>
</div>