.task-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

app-task-grid {
    max-height: 90%;
    overflow: auto;
}