<div>
    <form [formGroup]="advancedSearchFieldForm">
        <mat-form-field appearance="outline">
            <mat-label>Field</mat-label>
            <mat-select formControlName="field" (selectionChange)="onFieldValueChange($event)">
                <mat-option *ngFor="let field of filterRowData.availableSearchFields"
                    value="{{field.MPM_FIELD_CONFIG_ID}}">
                    {{field.DISPLAY_NAME}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="!comboType && !isDropDown ">
            <mat-label>Select</mat-label>
            <mat-select formControlName="fieldType">
                <mat-option *ngFor="let operator of availableFieldOperators" value="{{operator.OPERATOR_ID}}">
                    {{operator.NAME}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="requireFieldValue && !dateDataType && !comboType && !isDropDown">
            <input *ngIf="charDataType" formControlName="fieldValue" matInput placeholder="Value to be searched">
            <input *ngIf="numberDataType" formControlName="fieldValue" matInput placeholder="Value to be searched">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="isDropDown">
            <input formControlName="fieldValue" matInput placeholder="Value to be searched" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeAutoComplete($event)">
                <!--   <mat-option>{{filteredOptions}}</mat-option> -->
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    <!--  | async -->
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="combo" appearance="outline" *ngIf="requireFieldValue && comboType">
            <mat-label>Select</mat-label>
            <mat-select formControlName="fieldValue" multiple>
                <mat-option *ngFor="let item of comboValues" [value]="item">{{item.display_value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="requireFieldValue && dateDataType">
            <input formControlName="fieldValue" matInput [matDatepicker]="fieldDate"
                placeholder="Choose a date (MM/DD/YYYY)">
            <mat-datepicker-toggle matSuffix [for]="fieldDate"></mat-datepicker-toggle>
            <mat-datepicker #fieldDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="requireFieldValue && filterRowData.hasTwoValues && numberDataType">
            <input formControlName="fieldSecondValue" matInput placeholder="Value to be searched">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="requireFieldValue && filterRowData.hasTwoValues && dateDataType">
            <input formControlName="fieldSecondValue" matInput [matDatepicker]="fieldSecondDate"
                placeholder="Choose a date (MM/DD/YYYY)">
            <mat-datepicker-toggle matSuffix [for]="fieldSecondDate"></mat-datepicker-toggle>
            <mat-datepicker #fieldSecondDate></mat-datepicker>
        </mat-form-field>

        <button type="button" class="field-row-action" *ngIf="!filterRowData.isFilterSelected" mat-icon-button
            color="primary" matTooltip="Save this Condition" (click)="filterSelection(true)">
            <mat-icon>done</mat-icon>
        </button>
        <button type="button" class="field-row-action" (click)="removeFilter()" mat-icon-button color="primary"
            matTooltip="Remove this Condition">
            <mat-icon>close</mat-icon>
        </button>
    </form>
</div>