mat-form-field {
    font-size: 12px !important;
    margin: 5px;
}

.mat-form-field {
    width: 212px !important;
}

mat-checkbox.field-row-action {
    margin-left: 7px;
}

mat-form-field.combo {
    max-width: 400px !important;
}
