<h2 mat-dialog-title>
  <span matTooltip="Bulk Project Creation">Bulk Project Creation</span>
  <mat-icon class="close-action" (click)="closeDialog()" matTooltip="Close">close</mat-icon>
</h2>

<mat-dialog-content>
  <div class="flex-row" *ngIf="templateform">
    <div class="full-width">
      <form [formGroup]="templateform">
        <mpm-mpm-auto-complete class="flex-row" [searchFieldConfig]="templateAutocompleteField" [required]="true">
        </mpm-mpm-auto-complete>
        <mpm-mpm-auto-complete class="flex-row" [searchFieldConfig]="categoryAutocompleteField" [required]="true">
        </mpm-mpm-auto-complete>
        <div class="flex-row">
          <div class="flex-row-item">
            <button type="button" class="upload-action" mat-stroked-button (click)="fileUploadClick($event)">
              Select Input File</button>
            <mat-form-field class="template-full-width" appearance="outline">
              <mat-label>Input File </mat-label>
              <input matInput formControlName="fileControl">
            </mat-form-field>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-row-item">
            <mat-form-field appearance="fill">
              <mat-label>Input File Template</mat-label>
              <mat-select>
                <span *ngFor="let option of allCategoriesList">
                  <button mat-menu-item (click)="fileTemplateClick()">
                    <mat-option value="{{option.displayName}}">
                      {{option.displayName}}
                    </mat-option>
                  </button>
                </span>
              </mat-select>
            </mat-form-field>
            <input #file type="file" id="file" name="fileUpload" multiple="multiple" style="display:none;" />
          </div>

          <span class="form-actions">
            <button type="button" mat-stroked-button (click)="closeDialog()">Cancel</button>
            <button mat-flat-button type="button" class="create-action" color="primary" matTooltip="Create"
              (click)="createProject()" [disabled]="templateform.invalid">Create</button>
          </span>

        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>