.close-action {
    float: right;
    cursor: pointer;
}

.create-action {
    margin-left:12px;
}

.template-full-width{
    width: 80% ;
}

.full-width {
    width: 100%;
}

.form-actions {
    margin-top: 3%;
}
.upload-action{
    width: 20%;
    margin-top: 2px;
    height: 70%;
    margin-right: 16px;
}