.full-width {
    width: 100%;
    padding: 0px 8px;
}

.share-asset-container {
    padding: 8px;
    font-size: 14px;


    .share-asset-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .sharing-method-radio-group {
            align-items: center;
            padding-bottom: 16px;

            .sharing-method-radio-btn {
                padding: 0px 8px;
            }
        }

        .form-actions {
            padding: 0 16px 0 16px;
            margin-left: auto;

            button {
                margin-left: 16px;
            }
        }

        :ng-deep mpm-custom-email-field .mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }

    }
}

.visible {
    visibility: visible;
}

.hidden  {
    visibility: hidden;
}