<div class="share-asset-container">
    <form class="share-asset-form" *ngIf="shareAssetForm" [formGroup]="shareAssetForm">
        <div class="flex-row">
            <div class="flex-row-item sharing-method-radio-group full-width">
                <label id="sharing-option-label">Sharing method: </label>
                <mat-radio-group aria-labelledby="sharing-option-label" formControlName="sharingMethod">
                    <mat-radio-button class="sharing-method-radio-btn" color="primary"
                        *ngFor="let sharingOption of sharingOptions" [value]="sharingOption"
                        [checked]="sharingOption.isDefault">
                        {{sharingOption.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>


        <mpm-custom-email-field class="full-width" [label]="'To'" [emailFieldFormControl]="shareAssetForm.get('to')"
            (valueChanges)="onFieldChange($event)" [required]="required">
        </mpm-custom-email-field>

        <mpm-custom-email-field class="full-width" [label]="'From'" [emailFieldFormControl]="shareAssetForm.get('from')"
            (valueChanges)="onFieldChange($event)" [required]="required">
        </mpm-custom-email-field>

        <mpm-custom-email-field class="full-width" [label]="'CC'" [emailFieldFormControl]="shareAssetForm.get('cc')"
            (valueChanges)="onFieldChange($event)">
        </mpm-custom-email-field>

        <mpm-custom-email-field class="full-width" [label]="'Reply To'"
            [emailFieldFormControl]="shareAssetForm.get('replyTo')" (valueChanges)="onFieldChange($event)">
        </mpm-custom-email-field>


        <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" required>
                    <mat-error
                        *ngIf="shareAssetForm.get('subject').errors && shareAssetForm.get('subject').errors.required">
                        Email subject is required.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message" rows="3"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-row-item">
                <mat-checkbox color="primary" formControlName="compressFiles" class="full-width"
                    [ngClass]="shareAssetForm.get('sharingMethod').value.value === 'SEND_FILES' ? 'visible' : 'hidden'">
                    <span>Compress the assets into one file?</span>
                </mat-checkbox>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-row-item">
                <span class="form-actions">
                    <button type="button" mat-stroked-button (click)="closeDialog()">Cancel</button>
                    <button color='primary' mat-flat-button type="button" (click)="shareAsset()"
                        [disabled]="(shareAssetForm && shareAssetForm.invalid) || (shareAssetForm && shareAssetForm.pristine) ">Share</button>
                </span>
            </div>
        </div>

    </form>
</div>