<ng-container *ngIf="showOperationsRequestForm">
    <app-status-header [request]="requestObject" [taskConfig]="requestFieldHandler.other"></app-status-header>
    <div class="flex-row task-operations" *ngIf="showInboxControls">
        <app-task-operations [showInboxControls]="showInboxControls" #taskOperations (refreshHandler)="refreshTaskConfig($event)"></app-task-operations>
    </div>
    <app-project-name-header [request]="requestObject" [actionButtonsConfig]="requestFieldHandler.actionButtons" [taskConfig]="requestFieldHandler.other" (preview)="previewForm()" (submit)="onSubmit()" (discard)="cancelRequestCreation($event)" (back)="cancelRequestCreation($event)"
        (approve)="onApprove()" (stop)="onRejected()" (recycle)="onResubmit()" (complete)="completeTask()" (convertProject)="convertToProject()" #projectNameHeaderComponent (deleteReq)="deleteRequestUpdate()" (copyReq)="copyRequestButton()">
    </app-project-name-header>

    <div class="container" (mouseenter)="storePanelHTML($event)" (mouseleave)="handlePanelLeaveEvent($event)" (click)="getAllBool()">
        <app-project-core-data #projectCoreComponent [isNewRequest]="isNewRequest" [projectCoreDataConfig]="requestFieldHandler.projectCoreData" [requestDetails]="requestObject" [config]="allListConfig" (projectClassification)="projectClassification($event)"
            (updateProjectName)="updateProjectName()" [ccopiedRequestDetails]="pcopiedRequestDetails"></app-project-core-data>

        <app-governance-milestones *ngIf="requestFieldHandler.governanceMilestone.model.ngIf" [isRequest]="true" [governanceMilestoneConfig]="requestFieldHandler.governanceMilestone" [technicalRequestId]="requestObject.requestItemId" #governancemilestone></app-governance-milestones>

        <app-market-scope #marketScopeComponent [marketScopeDataConfig]="requestFieldHandler.marketScope" [requestDetails]="requestObject" [marketsCopy]="allListConfig.marketsCopy" [markets]="allListConfig.markets" [showMarketScopeForm]="showMarketScopeForm"
            [properties]="marketProperties" [isNewRequest]="isNewRequest" [businessUnits]="allListConfig.businessUnits" [selectedBusinessUnit]="selectedBusinessUnit" [selectedMarket]="selectedMarket" [businessUnitInitialCount]="businessUnitInitialCount" [marketScopeData]="marketScopeData"
            (updateProjectName)="updateProjectNameEvent($event)" (updateBusinessUnitEvent)="updateBusinessUnit($event)" (onLeadMarketChange)="setRegulatoryTimeLineLocations($event)" (marketSelected)="getRegulatoryTimeLineLocations($event)" (deleteMarketScopeGroupEvent)="deleteMarketScopeGroup()" (updateNoOfLinkedMarkets)="linkedMarkets($event)">
        </app-market-scope>

        <app-programme-manager-reporting [programmeManagerReporting]="requestFieldHandler.programmeManagerReporting" [reportingProjectType]="allListConfig.reportingProjectType" [requestDetails]="requestObject" #programmeManagerReportingComponent></app-programme-manager-reporting>
        <app-request-rationale-field-config *ngIf="requestFieldHandler.requestRationaleConfig.model.ngIf" [requestDetails]="operationsReq" [request]="requestObject" [rationaleConfig]="requestFieldHandler.requestRationaleConfig" #requestRationaleFieldComponent
            [ccopiedRequestDetails]="pcopiedRequestDetails">
        </app-request-rationale-field-config>
        <div *ngIf="requestFieldHandler.projectClassificationData.model.ngIf">
            <app-project-classification [requestDetails]="requestObject" (getLeadMArketRegion)="getLeadMArketRegion()" [LeadMarketRegion]="leadMarket" [request]="operationsReq" [projectClassificationDataConfig]="requestFieldHandler.projectClassificationData" [config]="allListConfig" #projectClassificationComponent [isNewRequest]="isNewRequest"
                [ccopiedRequestDetails]="pcopiedRequestDetails"></app-project-classification>
        </div>
        <!--[projectType]="requestFieldHandler.projectCoreData && requestFieldHandler.projectCoreData.projectType"-->
        <app-manager-field-config *ngIf="showManagers && requestFieldHandler.managerConfig.model.ngIf" [requestDetails]="operationsReq" [request]="requestObject" [managerConfig]="requestFieldHandler.managerConfig" [listConfig]="allListConfig" #managerFieldComponent>
        </app-manager-field-config>
    </div>
</ng-container>
