.container {
  margin-bottom: 28px;
  height: calc(100vh - 297px);
  overflow: auto;
  padding: 28px 40px 0 40px;//padding: 0 40px 100px 40px;
}


.task-operations {
    margin-bottom: 2px;
    padding: 20px 20px 0px 40px;
    justify-content: flex-end;
}
::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    color: #A9A9A9 !important;
  } 
  ::ng-deep .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: #A9A9A9 !important;
  } 
  ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: #A9A9A9 !important;
  }
  ::ng-deep .mat-select.mat-select-disabled .mat-select-value{
    color: #A9A9A9 !important;
  } 
  ::ng-deep .mat-select.mat-select-disabled .mat-select-arrow{
    color: #A9A9A9 !important;
  } 

  ::ng-deep .mat-form-field {
    min-width: 50px;
  }