<div>
    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [showWeekNumbers]="true" [dayTemplate]="t" [minDate]="minDate">
    </ngb-datepicker>
    <ng-template #t let-date let-focused="focused">
        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)">
            {{ date.day }}
        </span>
    </ng-template>
</div>
