.custom-day {
    text-align: center;
    display: inline-block;
    padding: 6px 0px;
    width: 2rem;
  }
  .custom-day.range {
    //background-color: rgb(2, 117, 216);
    background-color: #a9a9a9;//disabled-color or grey
    color: white;
  }
ngb-datepicker {
  background: #312d2a;//main-bg-color
  color: white;
}
::ng-deep .ngb-dp-arrow-btn {//button.btn.btn-link.ngb-dp-arrow-btn
  color: var(--brand-color) !important;
      /* padding: 0 .25rem; */
    /* margin: 0 .5rem; */
    /* border: none; */
    /* background-color: transparent; */
    /* z-index: 1;*/
}

::ng-deep .ngb-dp-week-number{
  color: var(--brand-color) !important;
}
// ::ng-deep btn btn-link ngb-dp-arrow-btn{

// }
/* //ngb-datepicker-navigation.ngb-dp-arrow.button.ngb-dp-navigation-chevron
ngb-dp-navigation-chevron {//.span.ngb-dp-navigation-chevron 
  color: white !important;
} */