<div>
    <div class="flex-row">
        <h2 mat-dialog-title class="flex-row-item">{{modalLabel}}</h2>
        <mat-icon class="flex-row-item modal-close" matTooltip="Close" (click)="closeDialog()">
            close
        </mat-icon>
    </div>

    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Select Task(s)</mat-label>
            <mat-select placeholder="Select Task(s)" [(ngModel)]="selectedTasks" multiple>
                <mat-option *ngFor="let task of notCreatedTask" [value]="task">
                    <span>{{getTaskName(task)}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="close-action">
        <button class="close-button" mat-stroked-button (click)="closeDialog()">Cancel</button>
        <button id="assign-button" color='primary' mat-flat-button (click)="addTasks()">Add</button>
    </mat-dialog-actions>
</div>