confirmation-modal-title {
    font-weight: bold;
}

.comment-field {
    margin-top: 20px;
}

button {
    margin: 10px;
}

.task-info {
    max-height: 300px;
    overflow: auto;
    padding: 3px;
}

.error {
    font-size: 10px;
    color: red;
  }