<h1 mat-dialog-title class="confirmation-modal-title">{{confirmationHeading}}</h1>
<mat-dialog-content>
    <br />
    <span *ngIf="message">
        <p [innerHTML]="message"></p>
    </span>
    <form [formGroup]="confirmationForm" >
        <mat-form-field *ngIf="data.hasConfirmationComment" class="comment-field" appearance="outline"
        style="width: 100%!important;">
        <mat-label>{{data.commentText}}</mat-label>
        <textarea formControlName="confirmationComment" required="{{data.isCommentRequired}}" matInput id="confirmationComment" name="" cols="" rows=""
            [(ngModel)]="confirmationComment"></textarea>
        <mat-error *ngIf="formControl.confirmationComment.hasError('maxlength')">
            Exceeding more than {{data.maxLength}} characters
        </mat-error>
    </mat-form-field>
    </form>
</mat-dialog-content>
<div align="end">
    <button mat-stroked-button (click)="closeDialog()">{{data.cancelButton}}</button>
    <button color="primary" mat-flat-button (click)="onYesClick()" cdkFocusInitial>{{data.submitButton}}</button>
</div>


<!-- <div *ngIf="taskName && taskName.length > 0" class="task-info">
         class="task-info" 
        <fieldset>
            <legend>The following task will also be deleted,along with deliverable:</legend>
            <mat-list *ngFor="let task of taskName" style="padding-bottom:4px;">
                <mat-list-item>
                    <mat-icon class="brand">keyboard_arrow_right</mat-icon> <span matTooltip="{{task}}">{{task}}</span>
                </mat-list-item>
            </mat-list>
        </fieldset>
</div>  <mat-error>test</mat-error>
        <p>{{checkMaxLength()}}</p> 
        <span *ngIf="checkMaxLength()"
            class="error">My error message
        </span>
        <mat-error *ngIf="checkMaxLength()">
            Exceeding more than {{data.maxLength}} characters
        </mat-error>-->