// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$acheron-mpm-accent: mat-palette($mat-grey, 50);
$acheron-mpm-primary: mat-palette($mat-lime, 600);

// The warn palette is optional (defaults to red).
$acheron-mpm-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$acheron-mpm-theme: mat-light-theme(
  $acheron-mpm-primary,
  $acheron-mpm-accent,
  $acheron-mpm-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($acheron-mpm-theme);

.comment-dialog-modal mat-dialog-container {
  padding: 0;
  padding-top: 5px;
}

.mpm-notification {
  padding: 10px 16px !important;
}

.mpm-notification .data {
  margin: 0 0 0 5px;
}

$notification-bg-color: #000000;
$notification-info-color: #ffffff;
$notification-success-color: #008000;
$notification-warn-color: #ffa500;
$notification-error-color: #f44336;
$notification-text-color: #ffffff;

.info-notification {
  background-color: $notification-bg-color !important;
  // border-bottom: 2px solid $notification-info-color;
}

.info-notification .notification-container .icon > mat-icon {
  color: $notification-info-color !important;
}

.success-notification {
  background-color: $notification-bg-color !important;
  // border-bottom: 2px solid $notification-success-color;
}

.success-notification .notification-container .icon > mat-icon {
  color: $notification-success-color !important;
}

.warn-notification {
  background-color: $notification-bg-color !important;
  // border-bottom: 2px solid $notification-warn-color;
}

.warn-notification .notification-container .icon > mat-icon {
  color: $notification-warn-color !important;
}

.error-notification {
  background-color: $notification-bg-color !important;
  // border-bottom: 2px solid $notification-error-color;
}

.error-notification .notification-container .icon > mat-icon {
  color: $notification-error-color !important;
}

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';
