$app-font: Roboto,
"Helvetica Neue",
sans-serif;

* {
    padding: 0;
    margin: 0;
    font-family: $app-font;
}

html {
    overflow: hidden;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.rounded {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 8px;
    /* for vertical scrollbars */
    height: 8px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
     /* background: #dcdcdc; */
    background: #767676;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
     /* background: #767676; */
    background: #dcdcdc;
    border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-col-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-row-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.align-flex-items-base-line {
    align-items: baseline;
}

.align-flex-items-center {
    align-items: center;
}

.align-flex-items-end {
    align-items: flex-end;
}

.justify-flex-content-end {
    justify-content: flex-end;
}

.justify-flex-content-center {
    justify-content: center;
}

.card-text-title {
    font-weight: 600;
    font-size: 12px
}

.card-text-value {
    font-weight: 500;
    font-size: 12px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

.copy-icon {
    mat-icon {
        visibility: hidden;
        font-size: 16px;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        z-index: 100;
        margin: -8px -8px -8px 0px;
        display: inline-block;
        height: 16px;
        width: 16px;
        padding-left: 4px;
        cursor: pointer;
    }
}

.copy-icon:hover {
    mat-icon {
        visibility: visible;
    }
}

button:disabled>mat-icon {
    color: #dddddd !important;
}

textarea {
    cursor: auto;
}