<!-- cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="tableDrop($event)"  -->
<table class="project-list" [ngClass]="{ 'project-table-list': facetExpansionState }" mat-table [dataSource]="projectDataDataSource.data" matSort  multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)">
    <ng-container matColumnDef="Expand" *ngIf="projectConfig.IS_PROJECT_TYPE" sticky>
        <!-- <ng-container matColumnDef="Expand" *ngIf="projectConfig.IS_PROJECT_TYPE"> -->
        <th class="exp" mat-header-cell *matHeaderCellDef></th>
        <td class="exp" mat-cell *matCellDef="let row" (click)="expandRow($event, row)">
            <mat-icon *ngIf="
              !row.isExpanded &&
              (!isCampaignDashboard || !projectConfig.IS_CAMPAIGN_TYPE)
            " matSuffix color="primary">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="
              row.isExpanded &&
              (!isCampaignDashboard || !projectConfig.IS_CAMPAIGN_TYPE)
            " matSuffix color="primary">keyboard_arrow_down</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="Select" *ngIf="isSelect" sticky>
        <!-- <ng-container matColumnDef="Select" *ngIf="isSelect"> -->
        <th class="select" mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary" [(ngModel)]="selectAllProjectChecked" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                <!-- [(ngModel)]="selectAllProjectChecked" -->
            </mat-checkbox>
        </th>
        <td class="select" mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" [(ngModel)]="row.selected" [disabled]="row?.NPD_PROJECT_IS_BULK_EDIT" (click)="$event.stopPropagation()" (change)="$event ? checkProject(row, $event) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="{{ column.INDEXER_FIELD_ID }}" *ngFor="let column of displayableMetadataFields ; index as i" [sticky]="i<userPreferenceFreezeCount">
        <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true">
                <span cdkDrag>{{column.DISPLAY_NAME}}</span>
            </th> -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [style.max-width.px]="column.width">
            <span cdkDragHandle>{{ column.DISPLAY_NAME }}</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
          <mat-icon cdkDragHandle>more_vert</mat-icon>
        </span>
        </th>

        <td mat-cell *matCellDef="let row" [ngClass]="{ 'wrap-text-custom': column.DATA_TYPE === 'string'}" [style.max-width.px]="column.width">
            <span>
          <div #divposition [matTooltip]="getProperty(column, row)" *ngIf="
                column.MAPPER_NAME !==
                  mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS &&
                column.MAPPER_NAME !==
                  mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS &&
                column.MAPPER_NAME !==
                  mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY &&
                column.MAPPER_NAME !==
                  mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY &&
                column.MAPPER_NAME !==
                  mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS &&
                column.MAPPER_NAME !==
                  mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS &&
                  column.MAPPER_NAME !==
                  'NPD_PROJECT_COM_TECH_OPS_AGREED_DP_WEEK' &&
                !checkDateType(column)
              " class="flex-card" (click)="
                openProjectDetails(
                  row,
                  column.MAPPER_NAME,
                  enableCampaign,
                  isCampaignManager,
                  !IsPMView
                )
              ">
            <a [ngClass]="{
                  campaignLink:
                    getProperty(column, row) != 'NA' &&
                    column.MAPPER_NAME ===
                      mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_ID &&
                    enableCampaign &&
                    isCampaignManager &&
                    !IsPMView
                }">
              <span #spanposition>{{
                getProperty(column, row) || "NA"
                }}</span></a>
            </div>
            <div #divposition [matTooltip]="getWeek(column, row)" *ngIf="checkDateType(column)" class="flex-card" (click)="
                openProjectDetails(
                  row,
                  column.MAPPER_NAME,
                  enableCampaign,
                  isCampaignManager,
                  !IsPMView
                )
              ">
                <a [ngClass]="{
                  campaignLink:
                    getProperty(column, row) != 'NA' &&
                    column.MAPPER_NAME ===
                      mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_ID &&
                    enableCampaign &&
                    isCampaignManager &&
                    !IsPMView
                }">
                    <span #spanposition>
                {{ getWeek(column, row) || "NA" }}</span></a>
            </div>
            <div *ngIf="
                column.MAPPER_NAME ===
                  mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY ||
                column.MAPPER_NAME ===
                  mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY
              ">
                <mat-icon matTooltip="{{ getPriority(row, column).tooltip }}" [style.color]="getPriority(row, column).color">
                    {{ getPriority(row, column).icon }}
                </mat-icon>
            </div>

            <div *ngIf="column.MAPPER_NAME ==='NPD_PROJECT_COM_TECH_OPS_AGREED_DP_WEEK'">
              <a>
                <span matTooltip="{{ getProperty(column, row) || 'NA' }}" [ngClass]="{'background-color':(getCurrentTimelineCondition(row,column) == 'red'), 'background-color1':(getCurrentTimelineCondition(row,column) == 'green'),'background-color2':(getCurrentTimelineCondition(row,column) == 'amber')}">
                  {{  getProperty(column, row) || 'NA' }}
                 </span>
              </a>
            </div>

            <div *ngIf="
                column.MAPPER_NAME ===
                  mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS ||
                column.MAPPER_NAME ===
                  mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS
              ">
                <span matTooltip="{{ getProperty(column, row) || 'NA' }}%">{{ getProperty(column, row) || "NA" }}%
              <mat-progress-bar color="primary" mode="determinate" value="{{ getProperty(column, row) || 'NA' }}"
                class="">
              </mat-progress-bar>
            </span>
            </div>
            <div *ngIf="
                column.MAPPER_NAME ===
                  mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS ||
                column.MAPPER_NAME ===
                  mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS
              ">
                <mat-chip-list>
                    <mat-chip class="status-chip" [ngClass]="changeStatusColor(column,row,getProperty(column, row))">{{ getProperty(column, row) || "NA" }}</mat-chip>
                </mat-chip-list>
            </div>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
            <div class="min-width-action flex-card">
                <!-- <button *ngIf="
                showCopyProject &&
                !isCampaignDashboard &&
                !projectConfig.IS_CAMPAIGN_TYPE
              " mat-icon-button matTooltip="{{
                projectConfig.IS_PROJECT_TYPE
                  ? 'Copy Project'
                  : 'Project from template'
              }}" (click)="editProject($event, row, false)">
              <mat-icon>insert_drive_file</mat-icon>
            </button> -->

                <!--Copy Template
                    (!isCampaignDashboard || !projectConfig.IS_CAMPAIGN_TYPE) && !this.projectConfig.IS_PROJECT_TYPE
                    -->
                <button *ngIf="isTemplate" mat-icon-button matTooltip="Copy Template" (click)="editProject($event, row, true)">
            <mat-icon>insert_drive_file</mat-icon>
            <!--<mat-icon>file_copy</mat-icon>-->
          </button>

                <button [ngClass]="{'color-white':!row?.NPD_PROJECT_COMMENT_EXIST,'purple-color':row?.NPD_PROJECT_COMMENT_EXIST}" mat-icon-button matTooltip="Comments" *ngIf="
                projectConfig.IS_PROJECT_TYPE ||
                isCampaignDashboard ||
                projectConfig.IS_CAMPAIGN_TYPE
              " (click)="openComment($event, row)">
            <mat-icon>comment</mat-icon>
          </button>
                <button *ngIf="
                projectConfig.IS_PROJECT_TYPE &&
                !isCampaignDashboard &&
                !projectConfig.IS_CAMPAIGN_TYPE
              " mat-icon-button matTooltip="Milestone" (click)="openMilestone($event, row)">
            <mat-icon>star</mat-icon>
          </button>
                <!-- <button mat-icon-button matTooltip="{{ isTemplate ? 'Delete Template' : 'Delete Project' }}" (click)="deleteProject($event, row)" *ngIf="projectConfig.IS_PROJECT_TYPE || isTemplate" [disabled]="
                row.PROJECT_OWNER_ID !== loggedInUserId ||
                row.PROJECT_STATUS_TYPE === finalCompleted
              ">
              <mat-icon>delete</mat-icon>
            </button> -->
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td class="project-detail" mat-cell *matCellDef="let row" [attr.colspan]="displayColumns.length">
            <div class="project-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
                <div class="task-info data" *ngIf="
                row.taskTotalCount !== 0 &&
                !projectCancelledStatus && !isOnHoldProject
              ">
                    <div class="task-heading">Current Active Tasks:</div>
                </div>
                <ng-container *ngIf="!projectCancelledStatus && !isOnHoldProject">
                    <div class="project-element-diagram" *ngFor="let task of row.taskList">
                        <app-npd-task-card-view [isTemplate]="!projectConfig.IS_PROJECT_TYPE" [taskData]="task" [projectStatusType]="projectStatusType" [taskConfig]="projectConfig" [isOnHoldProject]="isOnHoldProject" (refreshTask)="refreshTask($event)" (taskDetailsHandler)="openTaskDetails($event)"
                            (editTaskHandler)="editTask($event)" [projectOwner]="
                    getPropertyByMapper(
                      row,
                      mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_OWNER_ID
                    )
                  ">
                        </app-npd-task-card-view>
                    </div>
                </ng-container>
                <div class="task-info no-data" *ngIf="
                row.taskTotalCount === 0 ||
                projectCancelledStatus ||
                isOnHoldProject
              ">
                    <div class="task-heading">No Active Task</div>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr id="{{ row }}" mat-row *matRowDef="let row; columns: displayColumns" class="project-element-row">
        <!--  (click)="openProjectDetails(row,'')" -->
    </tr>
    <!-- columns === 'CAMPAIGN_ID' &&  isCampaignManager && enableCampaign ? openProjectDetails(row,isCampaignManager) : openProjectDetails(row,false)-->

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
</table>

<div *ngIf="projectConfig.totalProjectCount == 0" class="central-info">
    <button color="accent" disabled mat-flat-button>
      No project is available.
    </button>
</div>