<table *ngIf="displayableMetadataFields.length > 0 && assetDataDataSource.data.length > 0" class="project-list" mat-table [dataSource]="assetDataDataSource.data" matSort multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal">
    <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary" [(ngModel)]="selectAllAssetChecked" (change)="$event ? masterToggle() : null" [checked]="isSelectedAll()" [indeterminate]="isSelectedPartial()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" [(ngModel)]="row.selected" (click)="$event.stopPropagation()" (change)="checkDeliverable(row,$event)" [checked]="selectedAssets.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef>
            <span>Image</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()">
                <mat-icon cdkDragHandle>more_vert</mat-icon>
            </span>
        </th>
        <td mat-cell *matCellDef="let row">
            <div *ngIf="row.rendition_content && row.rendition_content.thumbnail_content && row.rendition_content.thumbnail_content.url">
                <div class="asset-holder">
                    <img src="{{row.rendition_content.thumbnail_content.url}}" alt="asset" style="height: 50px;">
                </div>
            </div>
            <div *ngIf="!row.rendition_content || !row.rendition_content.thumbnail_content">
                <div class="asset-holder">
                    <mat-icon style="height: 50px;" matTooltip="{{row.name}}">
                        {{findDocType(row.name)}}
                    </mat-icon>
                </div>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="{{column.INDEXER_FIELD_ID}}" *ngFor="let column of displayableMetadataFields;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [style.min-width.px]="column.width">
            <span>{{column.DISPLAY_NAME}}</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
                <mat-icon cdkDragHandle>more_vert</mat-icon>
            </span>
        </th>

        <td mat-cell *matCellDef="let row" [style.max-width.px]="column.width">
            <span>
            <div >
                <span *ngIf="column.DATA_TYPE ==='dateTime' && getColumnProperty(column,row.allMetadata,row) != 'NA'" matTooltip="{{getColumnProperty(column,row.allMetadata,row) | date:'yyyy/MM/dd' || 'NA'}}" matTooltipPosition="below">{{getColumnProperty(column,row.allMetadata,row) | date:'yyyy/MM/dd'}}</span>
            <span *ngIf="column.DATA_TYPE ==='dateTime' && getColumnProperty(column,row.allMetadata,row) === 'NA'" matTooltip="{{getColumnProperty(column,row.allMetadata,row) || 'NA'}}" matTooltipPosition="below">{{getColumnProperty(column,row.allMetadata,row)}}</span>
            <span *ngIf="column.MAPPER_NAME !='DESCRIPTION' && column.DATA_TYPE !='dateTime' " matTooltip="{{getColumnProperty(column,row.allMetadata,row) || 'NA'}}" matTooltipPosition="below">{{getColumnProperty(column,row.allMetadata,row)}}</span>
            <span *ngIf="column.MAPPER_NAME==='DESCRIPTION'" class="asset-description" matTooltip="{{getColumnProperty(column,row.allMetadata,row) || 'NA'}}" matTooltipPosition="below">{{getColumnProperty(column,row.allMetadata,row)}}</span>
            <button *ngIf="column.MAPPER_NAME==='DESCRIPTION'" mat-icon-button (click)="onClickEdit(row)" [matMenuTriggerFor]="DescriptionEditor">
                    <mat-icon matTooltip="Edit Asset Description">edit</mat-icon>
                </button>
            </div>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions </th>
        <td mat-cell *matCellDef="let row">
            <div class="min-width-action flex-card">
                <!-- <button mat-icon-button matTooltip="open creative review" (click)="openCR(row)">
                    <mat-icon>rate_review</mat-icon>
                </button> -->
                <button mat-icon-button matTooltip="download asset" (click)="download(row)">
                    <mat-icon>get_app</mat-icon>
                </button>

                <button mat-icon-button matTooltip="share asset" (click)="shareAsset(row)">
                    <mat-icon>share</mat-icon>
                </button>
                <button *ngIf="showDeleteIcon" (click)="deleteAsset(row)" mat-icon-button matTooltip="Delete asset" >
                  <mat-icon>delete</mat-icon>
              </button>
                <button mat-icon-button color="primary" matTooltip="More Actions" (click)="onClickMoreActions(row)" [matMenuTriggerFor]="AssetMenu">
                    <mat-icon matSuffix>more_vert</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayColumns;"></tr>

</table>

<div class="pagination">
    <button color="primary" *ngIf="displayableMetadataFields.length === 0" disabled mat-flat-button>No Columns Configured</button>
</div>

<mat-menu #DescriptionEditor="matMenu">
    <div>
        <mat-form-field class="description-edit-field" appearance="fill">
            <mat-label>Asset Description</mat-label>
            <input matInput type="text" placeholder="Enter Asset Description" style="border: 2px;" (click)="$event.stopPropagation()" [(ngModel)]="assetDescription">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="updateDescription($event)">
                <mat-icon>save</mat-icon>
            </button>
        </mat-form-field>
    </div>
</mat-menu>

<mat-menu #AssetMenu="matMenu">
    <!-- <button mat-menu-item (click)="getAssetDetails()">
        <mat-icon>info</mat-icon>
        <span>View Details</span>
    </button> -->
    <button mat-menu-item (click)="getAssetVersions()">
        <mat-icon>collections</mat-icon>
        <span>View Versions</span>
    </button>
    <button mat-menu-item *ngIf="((selectedAsset && selectedAsset.rendition_content && selectedAsset.rendition_content.preview_content !==undefined && selectedAsset.rendition_content.preview_content.mime_type !='audio/mpeg')||
       (selectedAsset && selectedAsset.rendition_content && selectedAsset.rendition_content.pdf_preview_content !==undefined && !selectedAsset.rendition_content.pdf_preview_content))" (click)="getAssetPreview()">
        <mat-icon>remove_red_eye</mat-icon>
        <span>Preview</span>
    </button>
</mat-menu>
