<h2 mat-dialog-title>Milestone Details
    <mat-icon class="close-action" (click)="close()">close</mat-icon>
</h2>

<mat-dialog-content>
    <div class="task">
            <mat-list role="list">
                <mat-list-item class="asset-detail" role="listitem" *ngFor="let element of tasks">
                    <mat-label class="property-name asset-detail-title card-text-title version-info">
                        {{element}}
                    </mat-label>&nbsp;
                </mat-list-item>
            </mat-list>
        </div>
        <div *ngIf="isMilestoneEmpty">
            Milestones are not available or not completed!
        </div>
</mat-dialog-content>

<mat-dialog-actions class="close-action">
    <button class="close-button" mat-flat-button (click)="close()">Close</button>
</mat-dialog-actions>