
    .task {
        font-weight: bold;
   

    mat-list {
        display: flex;
        flex-wrap: wrap;

        mat-list-item {
            flex: 0 50%;
        }
    }
}

.asset-detail {
    height: auto !important;
}

.close-action {
    float: right;
    cursor: pointer;
}

.close-button {
    background-color: lightgray;
 }

 .version-info {
    text-overflow: ellipsis;
    font-size: 11pt;
    float: right;
    margin: 8px;
  }