<div class="flex-container" *ngIf="bulkActions && delCount > 1">
    <div class="flex-container-item">
        <mat-checkbox class="mat-checkbox-color" [checked]='true' (change)="$event ? masterToogle($event) : null">
        </mat-checkbox>
        <span>{{delCount}} Items Selected </span>
    </div>
    <div>
        <span>
            <!-- *ngIf="!enableAction" -->
            <button class="new-project-btn" [disabled]="!enableAction" mat-raised-button matTooltip="Actions"
                [matMenuTriggerFor]="actionTypeMenu">
                <span> Actions</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </span>
        <mat-menu #actionTypeMenu="matMenu">
            <button mat-menu-item matTooltip="Approved" (click)="bulkAction('Approved','Approve')">
                <span>Approved</span>
            </button>
            <button mat-menu-item matTooltip="Requested Changes" (click)="bulkAction('Requested Changes','Reject')">
                <span>Requested Changes</span>
            </button>
        </mat-menu>

        <!--  <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" placeholder="Status" name="projectStatus"
                (selectionChange)="validateTaskStatusUpdate(selectedStatus)" [required]="true"
                [disabled]="projectOverviewForm.get('status').status === 'DISABLED' ? true : false">
                <span *ngFor="let status of overViewConfig.statusOptions">
                    <mat-option value="{{status['MPM_Status-id'].Id}}">
                        {{status.NAME}}
                    </mat-option>
                </span>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" placeholder="Priority" name="priority" [required]="true"
                [disabled]="projectOverviewForm.get('priority').status === 'DISABLED' ? true : false">
                <mat-option *ngFor="let priority of overViewConfig.priorityOptions"
                    value="{{priority['MPM_Priority-id'].Id}}">
                    {{priority.DESCRIPTION}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="overViewConfig.isProject">
            <mat-label>Start Date</mat-label>
            <input formControlName="startDate" matInput [matDatepicker]="startDate"
                placeholder="Start Date (MM/DD/YYYY)" required
                [min]="this.overViewConfig && this.overViewConfig.selectedProject && this.overViewConfig.selectedProject.START_DATE ? this.overViewConfig.selectedProject.START_DATE : minStartDate"
                [(value)]="selectedStartDate" (dateChange)="validateProjectStartDate($event)"
                [max]="overViewConfig.dateValidation && overViewConfig.dateValidation.startMaxDate ? overViewConfig.dateValidation.startMaxDate : null">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate [disabled]="disableStartDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="overViewConfig.isProject">
            <mat-label>End Date</mat-label>
            <input formControlName="endDate"
                [min]="overViewConfig.dateValidation && overViewConfig.dateValidation.endMinDate ? overViewConfig.dateValidation.endMinDate : (projectOverviewForm.value.startDate ? projectOverviewForm.value.startDate : selectedStartDate)"
                matInput [matDatepicker]="endDate" placeholder="End Date (MM/DD/YYYY)" required
                [(value)]="selectedEndDate" (dateChange)="validateProjectEndDate($event)">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate [disabled]="disableEndDate"></mat-datepicker>
        </mat-form-field>-->
    </div>

</div>