.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 10px;
    padding: 10px;
}

.flex-container-item {
    padding: 18px !important;
}

.mat-checkbox-color {
    background-color: white;
}