mat-dialog-content{
    // height: fit-content;
    overflow: visible;
    // padding: 24px 24px 63px 24px;
    padding: 0px 24px 48px 24px;
    

}
.dialog-content{
overflow: visible;
}

mat-dialog-container{
    height: max-content;
    padding: 24px 24px 63px 24px;
}


.header-row{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0px 10px 10px 10px;
}


.week-picker {
    position: absolute;
    z-index: 999;
    top: 75px;
    left: 0px;
}

.vendor-select {
    display: flex;
    margin-top: -10px;
}

.week-select {
    position: relative;
}

// .first-row{
//     display: flex;
//     justify-content: space-around;
// }

.flex-row-item {
    margin: 0 15px;
    font-size: 14px;
    margin-top: 0.666667em;
    div.approval-section-holder {
        padding-bottom: 1.34375em;
    }
    section.approval-task-check {
        // margin-right: 90px;
    }
}

.duration-container {
    position: relative;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.duration-type-container {
    position: absolute;
    right: 0;
    width: 25%;
}

.buttons-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #8dc63f;
    margin: 5px 15px;
    // color: black;
}

.note {
    color: red;
    margin: 0rem 0rem 1rem 1rem;
}

mat-form-field {
    width: 100%;
}

.form-group-panel {
    background: transparent;
     ::ng-deep mpm-custom-metadata-field {
        width: 100%;
    }
     ::ng-deep .mat-expansion-panel-header {
        padding: 0 4px;
    }
     ::ng-deep .mat-expansion-panel-body {
        padding: 0 16px 16px 0;
    }
}

.modal-close {
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
    // margin-top: 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: black;
}





// .modal-dialog {
//     height: 80%; /* = 90% of the .modal-backdrop block = %90 of the screen */
//   }
//   .modal-content {
//     height: 100%; /* = 100% of the .modal-dialog block */
//   }