<div class="header-row">
    <h3 class="header">Bulk Edit Tasks</h3>
    <mat-icon mat-button [mat-dialog-close]="data.reload" class="modal-close" matTooltip="Close">
        close
    </mat-icon>
</div>
<mat-dialog-content class="mat-typography dialog-content">
    <div class="modal-content">
        <form [formGroup]="bulkEditTaskForm">
            <div class="flex-row" (click)="closeWeekPicker()">
                <div class="flex-row-item max-width week-select" (click)="getStopPropogation($event,'actualStartDate')">
                    <mat-form-field appearance="outline">
                        <mat-label>Actual Start Date</mat-label>
                        <div class="vendor-select">
                            <input matInput placeholder="ww/yyyy" formControlName="actualStartDate" (ngModelChange)="validateForm('actualStartDate')">
                            <button mat-icon-button type="button"(click)="show.actualStartDate?getBool('actualStartDate'):openWeekPicker('actualStartDate')" [disabled]="disable.actualStartDate">
                            <mat-icon>date_range</mat-icon>
                        </button>
                        </div>
                    </mat-form-field>
                    <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.actualStartDate" [fromDate]="fromDate.actualStartDate" [toDate]="toDate.actualStartDate" (weekFormat)="changeTargetDP($event,'actualStartDate')" *ngIf="show.actualStartDate">
                    </app-week-pickerr>
                </div>
                <!-- <div class="flex-row-item max-width"> -->
                <div class="flex-row-item max-width">
                    <mat-form-field appearance="outline">
                        <mat-label>Duration in weeks</mat-label>
                        <input type="number" (keypress)="numericOnly($event)" (ngModelChange)="validateForm('duration')" matInput min="1" [max]="maxDuration" matInput placeholder="Duration in weeks" formControlName="duration">
                    </mat-form-field>
                </div>
                <!-- </div> -->
            </div>
            <!-- (focusout)="onFocusOut($event)" -->
        <div class="flex-row-item max-width">
            <mat-form-field appearance="outline">
                <mat-label>Task Owner</mat-label>
                <input (ngModelChange)="validateForm('taskOwner')" type="text" placeholder="Task Owner" matInput formControlName="taskOwner" [matAutocomplete]="auto" (focusout)="onFocusOut($event)">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let taskOwner of filteredOptions | async" [value]="taskOwner.DisplayName">
                        {{taskOwner.DisplayName}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="bulkEditTaskForm.get('taskOwner')?.hasError('incorrect')">No Matches!</mat-error>
            </mat-form-field>
        </div>
        <div>
        <p class="note">*Updates all fields per selection. If you want to update only one field, leave the other blank</p>
        </div>
        <div class="buttons-container">
            <button [disabled]="!isFormValid"
            *ngIf="!bulkEditTaskForm.get('taskOwner')?.hasError('incorrect')" 
                    (click)="onClickSubmit(bulkEditTaskForm.value)" 
                    type="button" class="button" mat-button>Save</button>
            <button class="button" mat-button [mat-dialog-close]="data.reload">Cancel</button>
        </div>
    </form>
</div>
</mat-dialog-content>

<!-- *ngIf="!bulkEditTaskForm.get('taskOwner')?.hasError('incorrect')" 
[disabled]='!(bulkEditTaskForm.value.duration!=null || 
bulkEditTaskForm.value.actualStartDate!=null || 
bulkEditTaskForm.value.taskOwner!=null)'  -->