.container{
    margin: auto;
  }
  
  .head{
    display: flex;
    justify-content: space-between;
  }
  
  .rows-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

  .grid-container{
      display: grid;
  }

  .button-alignment{
    text-align: center;
  }

  .overflow-container{
    height: 60vh;
    overflow: auto;
    padding-right: 24px;
  }