<form [formGroup]="projectTaskForm" action="">
  <div class="container">
      <div class="head">
        <h2 mat-dialog-title>{{'Project Classification'}}</h2>
        <mat-icon matTooltip="Close" (click)="closeDialog()">
            close
        </mat-icon>
      </div>
  
      <div class="overflow-container">
        <div class="date-container">
          <div class="rows-container">
            <div class="">
              <div>
                Planned Start Date
              </div>
              <mat-form-field class="head-content" appearance="outline" floatLabel="never">
                <input matInput formControlName="plannedStartDate" [matDatepicker]="picker4" required>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
                <mat-error *ngIf="formControls.plannedStartDate.hasError('required')">
                  Please Select Planned Start Date
                </mat-error>
              </mat-form-field>
            </div>
            <div class="">
              <div>
                Planned End Date
              </div>
              <mat-form-field class="head-content" appearance="outline" floatLabel="never">
                <input matInput formControlName="plannedEndDate" [matDatepicker]="picker1" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="formControls.plannedEndDate.hasError('required')">
                  Please Select Planned End Date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="rows-container">
            <div class="">
              <div>
                Actual Start Date
              </div>
              <mat-form-field class="head-content" appearance="outline" floatLabel="never">
                <input matInput formControlName="actualStartDate" [matDatepicker]="picker2" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="formControls.actualStartDate.hasError('required')">
                  Please Select Actual Start Date
                </mat-error>
              </mat-form-field>
            </div>
            <div class="">
              <div>
                Actual Comp Date
              </div>
              <mat-form-field class="head-content" appearance="outline" floatLabel="never">
                <input matInput formControlName="actualEndDate" [matDatepicker]="picker3" required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="formControls.actualEndDate.hasError('required')">
                  Please Select Actual Comp Date
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
    
        <div class="rows-container">
          <ng-container class="">
            <mat-form-field class="head-content" appearance="outline" floatLabel="never">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role"
                required>
                <mat-option class="options"
                  [value]="">
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.role.hasError('required')">
                Please Select Role
              </mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container class="">
            <mat-form-field class="head-content" appearance="outline" floatLabel="never">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status"
                required>
                <mat-option class="options"
                  [value]="">
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.status.hasError('required')">
                Please Select Status
              </mat-error>
            </mat-form-field>
          </ng-container>
        </div>
  
        <div class="grid-container">
          <ng-container class="">
            <mat-form-field class="head-content" appearance="outline" floatLabel="never">
              <mat-label>Task Owner</mat-label>
              <mat-select formControlName="taskOwner"
                required>
                <mat-option class="options"
                  [value]="">
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.taskOwner.hasError('required')">
                Please Select Task Owner
              </mat-error>
            </mat-form-field>
          </ng-container>
        </div>
  
        <div class="grid-container">
            <mat-form-field class="example-chip-list" appearance="outline" floatLabel="never">
              <mat-label>Task Dependency</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let fruit of fruits"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
  
        <div>
          <mat-checkbox
          >Dependent On Project
          </mat-checkbox>
        </div>
  
        <div class="grid-container">
          <ng-container class="">
            <mat-form-field class="head-content" appearance="outline" floatLabel="never">
              <mat-label></mat-label>
              <mat-select formControlName="annonymous1"
                required>
                <mat-option class="options"
                  [value]="">
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formControls.annonymous1.hasError('required')">
              </mat-error>
            </mat-form-field>
          </ng-container>
        </div>
  
        <div class="grid-container">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="formControls.description.hasError('maxlength')">
            </mat-error>
        </mat-form-field>
        </div>
  
        <div class="button-alignment">
          <button type="button" id="save-btn" mat-stroked-button
                             >Save And Complete The Task</button>
        </div>
      </div>
  </div>
</form>