<h2 mat-dialog-title>Custom Workflow
    <mat-icon class="close-action" (click)="close()">close</mat-icon>


</h2>
<div>
    <div class="field-action">

        <button (click)="addRule()" mat-stroked-button matTooltip="Add Rule" [disabled]="taskData && taskData.length === 0">
        <mat-icon>add</mat-icon>
        Add Rule
    </button>
    </div>
    <div *ngIf="ruleListGroup.length" class="heading">

        <h2>Predecessor Project Number </h2>
        <h2> When these tasks are completed</h2>
        <h2>Start this task</h2>



    </div>
    <div>

    </div>
    <div class="field-options">

        <span *ngFor="let rule of ruleListGroup">

            <app-npd-custom-workflow-field  (isRuleChangedValue)="onIsRuleChangedValueChange($event)"[projectBussinessId]="projectBussinessId" [ruleData]="rule" [ruleList]="ruleList" [ruleListGroup]="ruleListGroup" [projectRuleList]="projectRuleList"
                [sourceTaskData]="sourceTaskData"
                [taskData]="taskData" [isRulesInitiated]="isRulesInitiated" [isCurrentTaskRule]="isCurrentTaskRule"
                (closeCallbackHandler)="close()"  (ruleDependencyErrorHandler)="checkRuleDependencies($event)" (removeWorkflowRuleHandler)="removeRule($event)" (ruleGroupHandler)="groupRulesOnSave()"
                (enableInitiateWorkflowHandler)="enableInitiateWorkflow($event)">
            </app-npd-custom-workflow-field>
        </span>
    </div>
</div>

<mat-dialog-actions align="end" *ngIf="!isTemplate">

    <button class="cancel-btn" mat-stroked-button (click)="close()">
        <span>Cancel</span>
    </button>
    <button color="primary" mat-flat-button class="save-button" [disabled]="!enableInitiate " (click)="triggerWorkflow()">
        <span>Initiate</span>
    </button>
</mat-dialog-actions>