.close-action {
    float: right;
    cursor: pointer;
}

.save-button {
    margin-left: 8px;
}

.cancel-btn {
    margin-left: 30px;
}

.field-action {
    margin: 0px 0px 16px 8px;
}

.field-options {
    max-height: 65vh;
    overflow-y: auto;
}

.heading {
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 2fr 1fr 1fr !important;
    h2 {
        font-size: 17px;
        color: var(--brand-color);
        margin-left: 1rem;
    }
}