
#reset-btn {
    width: 100%;
}

.column-chooser-container {
    max-height: 450px;
    overflow: auto;
    width: 100%;

    .columnChooserField {
        padding: 8px;
        ::ng-deep .mat-checkbox-label {
            //max-width: 38em;
            white-space: nowrap;
            overflow: hidden;
            // text-overflow: ellipsis;
        }
    }
}

.section-name{
    color: #9fdf46;
}


.column-chooser-actions {
    float: right; 
    padding: 4px 4px 8px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    #save-option {
        margin: 0px;
        padding: 0px;
        min-width: 32px;
        border-radius: 0 4px 4px 0;
    }
    
    #save-btn {
        margin-right: 0px;
        border-radius: 4px 0 0 4px;
        margin-left: 8px;
    }
    #freeze{
        margin: 0px;
        margin-left: 15px;
        width: 30%;
        position: relative;
    }
}

// .freeze-container{
//     display: flex;
//     flex-direction: row;
// }
