<!-- <div class="columnChooserHeader">Configure Table Header</div> -->
<button mat-flat-button color="primary" id="reset-btn" (click)="resetData()">
    <span>Reset to Default</span>
</button>
<div class="column-chooser-container">
    <div class="columnChooserField" *ngFor="let field of columnChooserFields" (click)="$event.stopPropagation()">
        <mat-checkbox (change)="checkboxFunction(field)" color="primary" [(ngModel)]="field.selected" [checked]="enableIndexerFieldRestriction && onChecked(field)" [disabled]="field.disabled">
            <span matTooltip="{{field.DISPLAY_NAME}}" style="text-overflow: ellipsis; max-width: 14em;" class="section-name">{{field.DISPLAY_NAME}}</span><span *ngIf="field.SECTION_NAME && field.SECTION_NAME != ''" >  ({{field.SECTION_NAME}}<span  *ngIf="field.SUB_SECTION_NAME && field.SUB_SECTION_NAME != ''"> - {{field.SUB_SECTION_NAME}}</span>)</span>
        </mat-checkbox>
    </div>
</div>

<div class="column-chooser-actions">
    <button mat-stroked-button (click)="resetting()">
        <span>Cancel</span>
    </button>
    <button mat-flat-button color="primary" id="save-btn" (click)="updateColumnChooser(false)">
        <span>Save</span>
    </button>
    <button  mat-flat-button color="primary" id="save-option" (click)="$event.stopPropagation()" [matMenuTriggerFor]="saveOptionsMenu">
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #saveOptionsMenu="matMenu">
        <button mat-menu-item (click)="updateColumnChooser(true)">
            <span>Save as Preference</span>
        </button>
    </mat-menu>

    <!-- Drop down For the Freeze Column-->

        <mat-form-field  id="freeze" *ngIf="isColumnsFreezable" (click)="$event.stopPropagation()">
            <mat-label>Freeze No. Column</mat-label>
            <input min="0" [max]="maxFreezeColumnCount" (keypress)="numericOnly($event)" [(ngModel)]="freezeColumnCountNumber" [formControl]="myControl" type="text" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <!-- <mat-option [value]="0">None</mat-option> -->
                <mat-option  *ngFor="let i of maxFreezeColumnCount | async" [value]="i">
                {{i}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>













<!-- 
    <mat-select [(value)]="freezeColumnCountNumber" [compareWith]="compareObjects">
        <mat-option [value]="0">None</mat-option>
        <mat-option *ngFor="let i of maxFreezeCount;" [value]="i">{{i}}</mat-option>
    </mat-select>
    <input [(value)]="freezeColumnCountNumber" matInput > -->