<span>
    <ng-container *ngIf="showInboxControls">
        <button mat-icon-button matTooltip="Claim" (click)="claim()" [disabled]="!enableClaim">
            <mat-icon color="primary" class="claim-icon"
                [ngClass]="{'task-operation-disabled': !enableClaim}">thumb_up</mat-icon><!--check_circle-->
            </button>

            <button mat-icon-button matTooltip="Revoke" (click)="revoke()"
                [disabled]="!enableRevoke">
                <mat-icon color="primary" class="revoke-icon"
                    [ngClass]="{'task-operation-disabled': !enableRevoke}">thumb_down</mat-icon><!--remove_circle-->
            </button>
    
            <button mat-icon-button matTooltip="Assign" (click)="userAssignment('Assign')"
                [disabled]="!enableAssign">
                <mat-icon color="primary" class="assign-icon"
                    [ngClass]="{'task-operation-disabled': !enableAssign}">assignment</mat-icon>
            </button>
    
            <button mat-icon-button matTooltip="Delegate" (click)="userAssignment('Delegate')"
                [disabled]="!enableDelegate">
                <mat-icon color="primary" class="delegate-icon"
                    [ngClass]="{'task-operation-disabled': !enableDelegate}">assignment_ind</mat-icon>
            </button>
        </ng-container>
</span>