<div>
    <span class="btn">
          <button 
            mat-icon-button (click)="refreshStatus()"
            class="ang-btn"> <mat-icon>refresh</mat-icon></button><!--color='primary'-->
        </span>
</div>
<div *ngIf="isDataCollected">
    <div class="timeline-review-content">
        <ng-container *ngFor="let job of mpmJobList;let i=index">
            <div class="label">
                <div [ngStyle]="{'color':(job?.IS_ARTWORK==false&&job.PACK_FORMAT=='PACK FORMAT')?'red':'null'}">{{job?.IS_ARTWORK === true ? 'PRIMARY' : job.PACK_FORMAT}} </div>
                <div [ngStyle]="{'color':(job?.JOB_ID=='JOB NO')?'red':'null'}"> {{job?.JOB_ID}} </div>
                <div> - </div>
                <div [ngStyle]="{'color':(job?.GROUP_NAME=='GROUP NAME')?'red':'null'}"> {{job?.GROUP_NAME}}</div>
            </div>
            <!-- <pre ng-class=" { 'color-red': job?.JOB_ID!='JOB NO' } "> </pre> </span> -->
            <div [ngClass]="{'mt-0':i==0&&mpmJobList.length!=1}" id="timeline-wrap">
                <div class="navigation">
                    <div *ngFor="let status of job.jobStatuses;let j=index;" class="flex-container">

                        {{mpmJobStatusArray[i][j]}}
                        <div class="marker">
                            <mat-icon *ngIf="status[mpmJobStatusArray[i][j]]=='COMPLETED'" [ngClass]="'circle-icon'" matTooltip="Completed">done</mat-icon>
                            <mat-icon *ngIf="status[mpmJobStatusArray[i][j]]=='INPROGRESS'" [ngClass]="'circle-icon'" matTooltip="In Progress">autorenew</mat-icon>
                            <mat-icon *ngIf="status[mpmJobStatusArray[i][j]]=='TODO'" [ngClass]="'circle-icon-to-do'" matTooltip="To Do">trending_flat</mat-icon>
                            <mat-icon *ngIf="status[mpmJobStatusArray[i][j]]=='INDEFINITE'" [ngClass]="'unavailable'">more_horiz</mat-icon>
                            <mat-icon *ngIf="status[mpmJobStatusArray[i][j]]=='CANCELLED'" [ngClass]="'unavailable'" matTooltip="Cancelled">more_horiz</mat-icon>
                        </div>
                    </div>

                    <div *ngIf="mpmJobList.length" class="timeline"></div>
                    <div class="btn ">
                        <button mat-raised-button color="primary" [disabled]="!job?.PROJECT_ID" (click)="openMPMSystem(job?.PROJECT_ID)">View in MPM</button>
                    </div>
                </div>

            </div>

        </ng-container>

    </div>
</div>
<div class="secondary-packaging-info" *ngIf="!isDataCollected && mpmJobList.length!=0">
    Loading
</div>

<div class="secondary-packaging-info" *ngIf="isDataCollected && mpmJobList.length==0">No Artwork Status Available</div>