.label {
    color: var(--brand-color) !important;
    margin-right: 70px;
    vertical-align: 100%;
    display: flex;
    position: relative;
    white-space: pre;
    padding-bottom: 20px;
}

.btn {
    position: absolute;
    right: 0;
    text-align: right!important;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.timeline {
    height: 1px;
    width: 100%;
    position: absolute;
    // background: #aabbc4;
    background: var(--brand-color);
}

.timeline:before {
    background: none;
}

.timeline-label {
    // text-align: center;
    position: absolute;
    width: 15%;
    // bottom: 55px;
    top: 75px;
    color: var(--brand-color);
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold;
}

@media all and (max-width: 500px) {
    .navigation {
        flex-direction: row;
        justify-content: initial;
    }
    .timeline {
        height: 0px;
    }
    .marker {
        margin-top: 25px;
    }
    .timeline-title {
        position: relative;
        bottom: -14px;
    }
}

#timeline-wrap {
    // margin: 10% 5%;
    position: relative;
}

.marker {
    z-index: 1;
    color: #fff;
    width: 50px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: relative;
    // background-color: #85c240;
    .circle-icon {
        background-color: #23d838;
        z-index: 1;
        color: #fff;
        width: 50px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: relative;
        border-radius: 50%;
    }
    .circle-icon-to-do {
        background-color: #FF7E00;
        z-index: 1;
        color: #fff;
        width: 50px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: relative;
        border-radius: 50%;
    }
    .unavailable {
        background-color: grey;
        z-index: 1;
        color: #fff;
        width: 50px;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: relative;
        border-radius: 50%;
    }
    border-radius: 50%;
}

.timeline-icon {
    background-color: #7e8aaf;
}

.mat-icon {
    // vertical-align: sub;
    bottom: 8px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container>div {
    margin: 11px;
    padding: 5px;
}

.request-phase-details {
    display: flex;
    flex-direction: column;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-spacer {
    display: flex;
    flex-grow: 5;
}

.timeline-review-content {
    /*  height: calc(100vh - 426px);
overflow: auto; */
    // height: calc(100vh - 130px);
    overflow: auto
}

.mt-0 {
    margin-top: 0 !important;
}

.secondary-packaging-info {
    text-align: center;
    font-size: 13px;
    margin-bottom: 41px;
}

.mat-icon-refresh-btn {
    cursor: pointer;
}

.color-red {
    color: red
}