<form class="rationale-form" [formGroup]="rationaleForm">
    <mat-form-field *ngIf="rationaleConfig.requestRationale.ngIf" appearance="outline" floatLabel="never">
        <mat-label>Request Rationale</mat-label>
        <textarea 
             matInput formControlName="requestRationale" required (ngModelChange)="updateRequestInfo('requestRationale','requestForm')"></textarea>
        <mat-error *ngIf="formControls.requestRationale.hasError('required')">
            Please Fill Request Rationale
        </mat-error>
        <mat-error *ngIf="formControls.requestRationale.hasError('maxlength')">
            Exceeding more than 2000 characters
        </mat-error>
    </mat-form-field>
</form>