<div class="container" #containerHeight>
  <div class="request-form-change" #headerHeight>
    <span>
      <mat-checkbox color="primary" [(ngModel)]="isEditMode" (change)="onEditModeChange($event)">Edit Mode
      </mat-checkbox>
    </span>
    <span class="spacing">
      <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
        <mat-icon color="primary" class="dashboard-action-btn">refresh
        </mat-icon>
      </button>
    </span>
    <span class="spacing">
      <button mat-flat-button color="primary" (click)="export('excel')" matTooltip="Export As Excel">
        Excel Export
      </button>
    </span>
    <!-- <span class="spacing">
          <button mat-flat-button color="primary" (click) ="export('csv')" matTooltip="Export As CSV">
              CSV Export
          </button>
      </span> -->
    <span
      class="spacing"><!--*ngIf="taskConfig.selectedProject && taskConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'true'" [disabled]="isFinalTask || taskConfig.isReadOnly || isOnHoldProject"-->
      <button mat-flat-button color="primary" [disabled]='!isActiveProject' (click)="openCustomWorkflow('')"
        matTooltip="Configure Rule">
        <mat-icon>add</mat-icon>
        <span>Configure Rule</span>
      </button>
    </span>

    <span class="spacing"> <button [disabled]="zoomNum>=100" mat-flat-button color="primary"
        (click)="zoomIn()">Zoom-In</button></span>
    <span class="spacing"> <button [disabled]="zoomNum<=30" mat-flat-button color="primary"
        (click)="zoomOut()">Zoom-Out</button></span>
    <span class="spacing"> <button mat-flat-button color="primary" (click)="reset()">Reset</button></span>
  </div>
  <!--search *ngIf="showGantt"-->

  <!--search *ngIf="showGantt"-->
  <div [ngStyle]="{zoom:zoomLevel}"  class="control-section" id="control-section">
    <ejs-gantt id="contextMenu"  (dataBound)="dataBound($event)" class="ejs-container" [ngStyle]="{'height':tableHeight}" #gantt [dataSource]="data"
      [taskFields]="taskSettings" [splitterSettings]="splitterSettings" [labelSettings]="labelSettings"
      [allowFiltering]="true" [filterSettings]="filterSettings" [editSettings]="editSettings" [gridLines]="gridLines"
      height="" [rowHeight]="65" dateFormat="MMM dd, y" [allowResizing]="enableResizing" [toolbar]="toolbar"
      (onTaskbarClick)="editTask($event)" (taskbarEdited)="resizeTask($event)"
      (queryTaskbarInfo)="changeTaskBarColor($event)" (rowDataBound)="changeTaskRowColor($event)"
      (queryCellInfo)="changeTaskCellColor($event)" taskMode="Manual" [timelineSettings]="timelineSettings"
      [tooltipSettings]="tooltipSettings" allowExcelExport="true"
      [allowRowDragAndDrop]="isActiveProject && hasTaskReorderAccess && isEditModeChecked" (rowDrop)="rowDrop($event)">


      <e-columns>

        <e-column clipMode="EllipsisWithTooltip" *ngFor="let item of columns;" [field]="item.field"
          [headerText]="item.headerText" [textAlign]="item.field=='comments'? 'center':'left'" width="150">
          <ng-template *ngIf="item.field=='comments'" #template let-templateData>
            <div>
              <button *ngIf="templateData.taskData?.showCommentsIcon"
                [ngClass]="{'color-white':!templateData.taskData?.CommentsExist,'purple-color':templateData.taskData?.CommentsExist}"
                mat-icon-button matTooltip="Comments">
                <mat-icon>comment</mat-icon>
              </button>
            </div>

          </ng-template>

        </e-column>
      </e-columns>
      <ng-template #tooltipSettingsTaskbar let-data>
        <div>
          <table>
            <ng-container *ngIf="data.TaskName">
              <tr>
                <td style="padding: 3px">Name:</td>
                <td style="padding: 3px">{{ data?.TaskName }}</td>
              </tr>
            </ng-container>
            <ng-container>
              <tr>
                <td style="padding: 3px">Start Week:</td>
                <td style="padding: 3px">{{ data?.taskData?.StartWeek }}</td>
              </tr>
              <tr>
                <td style="padding: 3px">End Week:</td>
                <td style="padding: 3px">{{ data?.taskData?.EndWeek }}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.taskData">
              <tr>
                <td style="padding: 3px">Duration:</td>
                <td style="padding: 3px">
                  {{ data.taskData.weekDuration }} week(s)
                </td>
                <!--{{getNoOfWeeksDiff(data)}}-->
              </tr>
            </ng-container>

            <ng-container *ngIf="data.TaskDescription">
              <tr>
                <td style="padding: 3px">Description:</td>
                <td style="padding: 3px">{{ data.TaskDescription }}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </ng-template>
    </ejs-gantt>

  </div>

  <!-- <pre>{{ containerHeight.offsetHeight}} {{headerHeight.offsetHeight}} </pre> -->

  <!--  <ng-container *ngIf="data.TaskDescription">
                  <tr>
                      <td rowspan="3" style="padding:3px"></td>
                      <td style="padding:3px">Task Description:</td>
                      <td style="padding:3px">{{data.TaskDescription}}</td>
                  </tr>
</ng-container> -->

  <!--height="calc(100vh - 200px)" -->
  <!-- (rowDragStartHelper)="rowDragStartHelper($event)" (rowDrop)="rowDrop($event)" *ngIf="listData && listData.length > 0 && data && data.length > 0" [eventMarkers]="eventMarkers"-->
  <!--  <ejs-gantt id="contextMenu" #gantt [dataSource]="data" [allowSorting]="true"  [taskFields]="taskSettings" [columns]="columns" [enableContextMenu]="true"
      [timelineSettings]="timelineSettings" [labelSettings]="labelSettings" [treeColumnIndex]="1"  [toolbar]="toolbar"
      [contextMenuItems]='contextMenuItems' (contextMenuOpen)="contextMenuOpen($event)" (contextMenuClick)="contextMenuClick($event)"
      height="100%" [rowHeight]=65 [allowSelection]="true" dateFormat="MMM dd, y" [projectStartDate]="projectStartDate" [projectEndDate]="projectEndDate"
      [editSettings]="editSettings" [allowResizing]="enableResizing" [allowSorting]="true"
      [resourceFields] = "resourceFields"
      [resources]="resources" [splitterSettings]="splitterSettings" (rowSelected)="rowSelected($event)"
      (queryTaskbarInfo)="queryTaskbarInfo($event)">     </ejs-gantt>-->

  <!-- [gridLines]="gridLines"  [highlightWeekends]="true" [eventMarkers]="eventMarkers"-->
  <!--  <e-column field='TaskName' headerText='Name' width='250'></e-column>
      <e-column field='StartDate' headerText='Start Date' width='120'></e-column>
      <e-column field='EndDate' headerText='End Date' width='120'></e-column> -->
