.container {
  display: block;
  height: 100%;
}

::ng-deep .e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div {
  background-color: #7fda62;
  border: 1px solid #8dc63f;
}

::ng-deep .e-gantt {
  padding: 15px;
}

::ng-deep .e-grid .e-rowdragheader {
  background-color: #303030;
}

::ng-deep .e-grid .e-row .e-icon-rowdragicon::before {
  color: #7fda62;
}

::ng-deep .e-grid .e-table {
  background-color: #303030 !important;
  color: #aee672 !important;
}

::ng-deep [aria-colindex="8"] span.e-headertext {
  background-color: #191818c9 !important;
  color: #f9f9f8 !important;
}

::ng-deep [aria-colindex="9"] span.e-headertext {
  background-color: #191818c9 !important;
  color: #f78f69 !important;
}

::ng-deep [aria-colindex="10"] span.e-headertext {
  background-color: #191818c9 !important;
  color: #f78f69 !important;
}

::ng-deep [aria-colindex="11"] span.e-headertext {
  background-color: #191818c9 !important;
  color: #f78f69 !important;
}

::ng-deep .e-grid .e-content {
  background-color: #191818c9 !important;
  color: #aee672 !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-chart-root-container {
  background-color: #8785850d !important;
}

::ng-deep .e-gantt .e-gantt-tree-grid-pane .e-headercell {
  background-color: #2c2a2aa3 !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-timeline-header-container {
  background-color: #2c2a2aa3 !important;
}

::ng-deep .e-toolbar .e-toolbar-items {
  background: #191818c9 !important;
}

::ng-deep #GanttSample_searchbar {
  color: white !important;
  border-color: white !important;
}

::ng-deep #GanttSample_searchbutton {
  color: white !important;
}

::ng-deep .e-input-group.e-search {
  color: white !important;
  border-color: white !important;
}

::ng-deep td.e-rowcell.e-ellipsistooltip {
  color: white !important;
}

::ng-deep td.e-rowsell {
  color: white !important;
}

::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover {
  background: #aee672 !important;
}

::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active {
  background: #aee672 !important;
}

::ng-deep
  .e-splitter
  .e-split-bar.e-split-bar-horizontal.e-split-bar-hover
  .e-resize-handler {
  color: black !important;
}

::ng-deep
  .e-splitter
  .e-split-bar.e-split-bar-horizontal.e-split-bar-active
  .e-resize-handler {
  color: black !important;
}

::ng-deep th.e-timeline-top-header-cell {
  color: #aee672 !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-weekend-header-cell {
  color: black !important;
}

::ng-deep
  .e-gantt
  .e-grid
  .e-icons:not(.e-stop):not(.e-check):not(.e-icon-left):not(.e-date-icon) {
  color: white !important;
}

::ng-deep .e-toolbar-item.e-search-wrapper.e-template {
  width: 270px !important;
}

::ng-deep .e-emptyrow {
  color: white !important;
}

.mrm-promotion-events-calendar-no-events {
  margin-left: 48% !important;
}

::ng-deep .e-grid .e-rowcell:not(.e-editedbatchcell),
.e-grid .e-detailrowcollapse:not(.e-editedbatchcell),
.e-grid .e-detailrowexpand:not(.e-editedbatchcell),
.e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell),
.e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell),
.e-grid .e-emptyrow:not(.e-editedbatchcell) {
  color: white !important;
}

/*custom..*/

::ng-deep .e-gantt .e-gantt-chart .e-weekend-header-cell {
  color: #aee672 !important;
  background: #9e9e9e;
}

::ng-deep .e-gantt .e-gantt-chart .e-label {
  font-size: 13px;
  color: white;
}

::ng-deep .e-gantt .e-gantt-chart .e-gantt-parent-taskbar-inner-div {
  background-color: #bdbdbd;
}

::ng-deep .e-gantt .e-icons {
  color: white;
}

::ng-deep .e-gantt .e-gantt-chart .e-label {
  font-size: 15px;
  color: #aee672 !important;
}

//task linking line
::ng-deep .e-gantt .e-gantt-chart .e-line {
  border-color: #3f51b5;
}

.spacing {
  margin-left: 15px;
}

.request-form-change {
  /*  display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 24px; */
  padding-left: 16px;
  padding-top: 20px;
}

//dropdown
::ng-deep
  span.e-input-group.e-control-wrapper.e-popup-flmenu.e-ddl.e-lib.e-keyboard.e-valid-input {
  border-color: white !important;
}

//date picker
::ng-deep
  .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(
    .e-float-icon-left
  ),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(
    .e-error
  ):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(
    .e-warning
  ):not(.e-error)
  .e-input-in-wrap {
  border-color: #fafafa;
}

::ng-deep .e-input-group .e-input-group-icon,
.e-input-group.e-control-wrapper .e-input-group-icon {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.42);
  color: white !important;
}

::ng-deep .e-btn.e-flat,
.e-css.e-btn.e-flat {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: white;
}

::ng-deep .e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  background-color: transparent;
  border-color: transparent;
  color: #aee672;
}

::ng-deep .e-dialog .e-footer-content {
  box-sizing: border-box;
  background: var(--main-bg-color);
}

::ng-deep .e-dialog .e-dlg-content {
  padding: 18px;
  background: var(--main-bg-color);
}

::ng-deep .e-popup.e-popup-open.e-dialog {
  background: var(--main-bg-color);
}

::ng-deep .e-gantt .e-gantt-chart .e-line {
  border-color: #16dae3;
}

::ng-deep .e-gantt .e-gantt-chart .e-connector-line-right-arrow {
  border-left-color: #16dae3;
}

::ng-deep .e-control input.e-input,
.e-control .e-input-group input,
.e-control .e-input-group input.e-input,
.e-control .e-input-group.e-control-wrapper input,
.e-control .e-input-group.e-control-wrapper input.e-input {
  color: white !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-timeline-top-header-cell,
.e-gantt .e-gantt-chart .e-timeline-single-header-cell {
  border-color: #e0e0e0;
  color: #aee672 !important;
}

::ng-deep .e-header-cell-label.e-gantt-top-cell-text {
  color: #aee672 !important;
}

/* th.e-timeline-single-header-cell {
    border-color: #e0e0e0;
    color: #aee672 !important;
} */

/* ::ng-deep select .e-input::placeholder {
    font-size: 15px;
    color: blue;
  }
::ng-deep select .e-input::-webkit-input-placeholder  {
    font-size: 15px;
    color: blue;
  }
::ng-deep select .e-input::-ms-input-placeholder {
    font-size: 15px;
    color: blue;
} */

/* display: inline-flex;
}
// .e-gantt .e-gantt-chart .e-event-markers {
//     border-left-color: none;
// }

//
// .e-gantt .e-gantt-chart .e-chart-row .e-chart-row-border {
//     /* border-collapse: separate; */

//     /* border-style: solid; */
//     border-width: 1px 0 0;
// }
// .ejs-container {
  // width: calc(100vw - 275px) !important;
  //height: 80vh !important;
// }
.container{
  width: calc(100vw - 278px) !important;
}
::ng-deep .side-barContainer{
  .container{
    width: calc(100vw - 68px) !important;
  }
}


// .e-grid .e-content {
//     height: 72vh !important;
// }
// .e-gantt .e-gantt-chart .e-chart-root-container .e-content {
//     height: 71vh !important;
// }
//date picker css
::ng-deep span.e-day {
  background: var(--main-bg-color) !important;
}

::ng-deep .e-datepicker .e-calendar,
.e-bigger.e-small .e-datepicker .e-calendar {
  background-color: #fafafa;
  border: none;
}

::ng-deep .e-calendar .e-footer-container,
.e-bigger.e-small .e-calendar .e-footer-container {
  background-color: var(--main-bg-color);
  /*border-top: none;
    cursor: default;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 10px 10px 10px;
    text-align: center;
    width: 100%;*/
}

::ng-deep .e-calendar th,
.e-bigger.e-small .e-calendar th {
  border-bottom: 0;
  /* color: rgba(0,0,0,0.54); */
  color: white;
}

::ng-deep .e-calendar .e-content span,
.e-bigger.e-small .e-calendar .e-content span {
  //color: rgba(0,0,0,0.87);
  color: white;
}

::ng-deep .e-calendar .e-header .e-title,
.e-bigger.e-small .e-calendar .e-header .e-title {
  color: rgba(0, 0, 0, 0.75);
  color: white;
}

::ng-deep .e-calendar .e-date-icon-prev,
.e-calendar .e-date-icon-next,
.e-bigger.e-small .e-calendar .e-date-icon-prev,
.e-bigger.e-small .e-calendar .e-date-icon-next {
  //color: rgba(0,0,0,0.54);
  color: white;
}

::ng-deep .e-date-icon-next.e-icons {
  color: white;
}

::ng-deep .e-calendar .e-header.e-month,
.e-bigger.e-small .e-calendar .e-header.e-month {
  //padding: 10px 10px 0 10px;
  background: var(--main-bg-color);
}

::ng-deep .e-calendar .e-content table,
.e-bigger.e-small .e-calendar .e-content table {
  /*border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
    float: left;
    margin: 0;
    outline: 0;
    padding: 0 10px 10px;
    table-layout: fixed;
    width: 100%;*/
  background: var(--main-bg-color);
}

::ng-deep .e-calendar .e-content td.e-focused-date.e-today span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background: var(--main-bg-color);
  /*border: 1px solid #e3165b;
    color: #e3165b;*/
}

::ng-deep .e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  //background-color: transparent;
  //border-color: transparent;
  /* color: #e3165b; */
  color: #aee672 !important;
}

::ng-deep .e-calendar .e-content td.e-focused-date span.e-day,
.e-calendar .e-content td.e-focused-date:hover span.e-day,
.e-calendar .e-content td.e-focused-date:focus span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date:hover span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-focused-date:focus span.e-day {
  background: var(--main-bg-color);
  //border: none;
  //border-radius: 50%;
}

::ng-deep .e-header.e-year {
  background: var(--main-bg-color);
}

::ng-deep .e-calendar .e-header.e-decade .e-title,
.e-bigger.e-small .e-calendar .e-header.e-decade .e-title {
  color: white; //cursor: default;
}

::ng-deep .e-header.e-decade {
  background: var(--main-bg-color);
}
::ng-deep .e-toolbar .e-tbar-btn {
  background: var(--brand-color);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
}

.chart-containerHeight{
  height:'calc(100vh - 151px)'
}

.mat-input-element:disabled, button[disabled]{
  background-color: var(--disabled-color)!important;
}
