<mat-toolbar>
    <mat-toolbar-row>
        <div class="flex-container">
            <div>
                <span>
                    <mat-button-toggle-group name="viewType" aria-label="View Type" [value]="displayType">
                        <mat-button-toggle value="month" matTooltip="Display Month View">

                            <span class="toogleView">Month</span>
                        </mat-button-toggle>
                        <mat-button-toggle value="week" [disabled]="true" aria-disabled="true"
                            matTooltip="Display Week View">

                            <span class="toogleView">Week</span>
                        </mat-button-toggle>

                    </mat-button-toggle-group>
                </span>
                <span>
                    <button mat-icon-button (click)=refresh() matTooltip="Refresh">
                        <mat-icon color="primary" class="dashboard-action-btn">refresh
                        </mat-icon>
                    </button>
                </span>
            </div>
            <div style="font-size: 20px;">
                <span>
                    {{ currentDate | date}}
                </span>
            </div>

            <div class="calendar-container">
                <div>
                    <button mat-stroked-button color="primary" (click)="calendarPrevious()" class="calendar-nav-button"
                        matTooltip="Previous {{displayType == 'month' ? 'Month' : 'Week'}}">
                        <mat-icon aria-hidden="false" aria-label="previous" class="calendar-nav-button-icon">
                            chevron_left
                        </mat-icon>
                    </button>
                </div>
                <div class="month-alignment">
                    <span>{{selectedMonth}} - {{year}}</span>
                </div>
                <div>
                    <button mat-stroked-button color="primary" (click)="calendarNext()" class="calendar-nav-button"
                        matTooltip="Next {{displayType == 'month' ? 'Month' : 'Week'}}">
                        <mat-icon aria-hidden="false" aria-label="next" class="calendar-nav-button-icon" ÍÍ>
                            chevron_right
                        </mat-icon>
                    </button>
                </div>
            </div>
            <span class="action-item">
                <mpm-custom-select controlLabel="{{'Group By: '}}" [options]="groupByFilters"
                    (selectionChange)="groupByFilterChange($event)" [selected]="selectedGroupByFilter"
                    [bulkEdit]='true'>
                </mpm-custom-select>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" style="height:50%;" autosize>

    <mat-sidenav class="custom-sidenav" #pmFaceNav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="facetExpansionState">
        <div class="facet-sidenav">
            <app-facet [dataCount]="totalListDataCount"></app-facet>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="mat-content">

        <div style="width:100%;">
            <div class="sidenav-container chart-section dateFlex-container" fxFlex fxLayout="row">
                <div class="border-design" [ngStyle]="sidebarStyle" fxLayout="column">

                    <div class="sidenav-header text-center">
                        <span style="float:left;">
                            <mpm-facet-button [initalState]="facetExpansionState" (facetToggled)="facetToggled($event)"
                                [isRMView]="true">
                            </mpm-facet-button>
                        </span>

                    </div>

                </div>

                <div class="sidenav-content calendar border-design" fxLayout="column" #calendarView>
                    <div fxLayout="row" id="datesHolder" class="sticky-dates scroll-margin dates-container"
                        (scroll)="scrolling($event)" [ngClass]="{'scrolled-div': scrolled}">
                        <div *ngFor="let date of dates" class="calendar-header"
                            [ngStyle]="{width: viewTypeCellSize + 'px'}"
                            [ngClass]="{'highlightWeekEnd':date.format('dd') === 'Sa' ||date.format('dd') === 'Su'}"
                            #dateHeader>

                            {{date.format('dd DD')}}
                        </div>
                    </div>

                    <div fxLayout="row"><!--  style="    height: 100%;
                        overflow: auto;" 2336 -->
                        <mat-accordion class="fill-layout" multi="true">
                            <mat-expansion-panel hideToggle [expanded]="false"
                                *ngFor="let resource of projectListData;">

                                <mat-expansion-panel-header class="scroll-margin" style="padding: 0px;"
                                    (click)="expandRow($event,resource)">

                                    <mat-panel-title fxFlex="100">

                                        <span class="resource-text-color">
                                            {{resource.TASK_NAME || resource.PROJECT_NAME|| resource.CAMPAIGN_NAME
                                            }}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <div class="panel-container task-content" #panelContainer
                                        [ngStyle]="{height: resource.height}">
                                        <div *ngFor="let date of dates;" [ngStyle]="{width: viewTypeCellSize + 'px'}"
                                            class="calendar-cell" [attr.date-filled]="" #calendarCell>
                                            <div *ngIf="resource.deliverableData && resource.deliverableData.length>0">
                                                <ng-container
                                                    *ngFor="let event of resource.deliverableData; let idx=index">

                                                    <div *ngIf="date.isSame(event.data.DELIVERABLE_START_DATE, 'day') ? true :(date.isSame(currentViewStartDate, 'day') && date.isAfter(event.data.DELIVERABLE_START_DATE, 'day'))"
                                                        [id]="event.data.ID" [ngStyle]="
                                                        { width: 
                                                        date.isSame(event.data.DELIVERABLE_START_DATE, 'day') 
                                                        ? ((momentPtr(event.data.DELIVERABLE_DUE_DATE).isSame(momentPtr(currentViewEndDate), 'day')
                                                        || momentPtr(event.data.DELIVERABLE_DUE_DATE).isBefore( momentPtr(currentViewEndDate) ,'day') )
                                                        ? (getDateDifference(event.data.DELIVERABLE_START_DATE,event.data.DELIVERABLE_DUE_DATE)* Math.floor(calendarCell.getBoundingClientRect().width)) + 'px' 
                                                        : (getDateDifference(event.data.DELIVERABLE_START_DATE,currentViewEndDate) * Math.floor(calendarCell.getBoundingClientRect().width)) + 'px')
                                                        : (date.isAfter(event.data.DELIVERABLE_START_DATE, 'day') && date.isSame(currentViewStartDate, 'day') 
                                                        ? ((momentPtr(event.data.DELIVERABLE_DUE_DATE).isSame(momentPtr(currentViewEndDate), 'day')
                                                        || momentPtr(event.data.DELIVERABLE_DUE_DATE).isBefore(momentPtr(currentViewEndDate), 'day'))
                                                        ? (getDateDifference(currentViewStartDate,event.data.DELIVERABLE_DUE_DATE)* Math.floor(calendarCell.getBoundingClientRect().width))+ 'px' 
                                                        : (getDateDifference(currentViewStartDate,currentViewEndDate)* Math.floor(calendarCell.getBoundingClientRect().width))+ 'px' )	
                                                        : '3px' ),top:event.style.top}" class="rectangle" mwlResizable
                                                        matTooltip="{{event.data.DELIVERABLE_NAME}}">

                                                        <span (click)="getUsers(resource,event.data)"
                                                            [matMenuTriggerFor]="projectMenu" class="event-title">
                                                            <mat-icon style="margin-top:12px;">{{event.icon}}</mat-icon>
                                                            {{event.data.DELIVERABLE_NAME}}
                                                        </span>
                                                        <mat-menu #projectMenu="matMenu">
                                                            <mat-option *ngFor="let roleName of teamRoleUserOptions">
                                                                <div class="check"
                                                                    (click)="update(event.data,roleName.value)">
                                                                    {{roleName.displayName}}</div>
                                                            </mat-option>
                                                        </mat-menu>

                                                    </div>


                                                </ng-container>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <div *ngIf="totalListDataCount === 0" class="central-info">
                                <button color="accent" disabled mat-flat-button>No data is available.</button>
                            </div>
                        </mat-accordion>
                    </div>

                </div>
            </div>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>


<div #id>
    <!-- class="flex-row" -->
    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
        [style.height.px]="Math.floor(id.getBoundingClientRect().height)">

        <mat-sidenav class="custom-sidenav" #pmFaceNav [disableClose]="true"
            [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="facetExpansionState">
            <hr />
            <div class="sync " #calendarCell>
                <!-- flex-row-item -->
                <app-synchronize-task-filters [groupBy]="selectedGroupByFilter" [selectedMonth]="selectedMonth"
                    [currentViewStartDates]="currentViewStartDate" [currentViewEndDates]="currentViewEndDate"
                    [levels]="level" [viewConfigs]="viewConfig" (deliverableData)="deliverableDataHandler($event)"
                    (selectedUser)="selectedUserr($event)" (selectedFilters)="selectedFilter($event)"
                    [removedFilter]="removedFilter" [datess]="dates" [datee]="dates">
                </app-synchronize-task-filters>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="mat-content">

            <div style="width:100%;">
                <!-- class="flex-row-item" -->

                <div style="height: 14rem;">
                    <!-- class="flex-row-item" -->
                    <app-resource-management-resource-allocation [selectedMonth]="selectedMonth"
                        [data]="deliverableDatas" [users]="selectedUsers" [selectedItems]="selectedItems"
                        (removed)="onChickletRemoveFilter($event)" [allocation]="allocation" [selectedYear]="year">
                    </app-resource-management-resource-allocation>
                </div>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>