// variables
$toolbarHeight: 64px;
//$nodeWidth: 75px;
$nodeWidth: 35px;
//$nodeHeight: 50px;
$nodeHeight: 50px;
$completeColor: #2196f3;
$incompleteColor: #9e9e9e;
$borderColor: #e4e2e2;
$highlightBorderColor: #ff9800;
$matExpansionPanelHeight: 300px;

.main-side-content {
    height: calc(100vh - 75px);
    //height: calc(100vh - 156px);
    //height: 100vh;
    //height: calc(100vh - 140px);
}

.skills-content {
    margin-top: 0.5rem;
}

// sidenav
.sidenav {
    width: 400px;
    height: fit-content;
}

// table content
.sidenav-content {
    /*  height: fit-content; */ //191
    // overflow: hidden; //191
    width: 100%; //191
    height: 100%; //2336
    overflow: scroll; //2336
}

// resizable border
[mwlResizable] {
    border-right: 3px solid $borderColor;
    box-sizing: border-box;
}

// sidenav header(not calendar)
.sidenav-header {
    text-align: center;
    line-height: $nodeHeight - 2px;
    /*  height: $nodeHeight + 10px; */
    min-height: $nodeHeight - 2px;
    border-width: 1px 3px 1px 0;
    border-color: $borderColor;
    border-style: solid;
}

// tree node height for sidebar
::ng-deep mat-tree-node {
    height: $nodeHeight;
    min-height: $nodeHeight;
}

/** names */

.sidenav.names {
    flex: 0 0 200px;

    mat-tree.tree {
        padding-top: 14px; // align the lines of input and table
    }
}

// .border-design {
//     border: 1px solid #bdbdbd;
//     border-width: 1px 0px 1px 1px;
// }

/** calendar */

// header
.calendar-header {
    text-align: center;
    line-height: $nodeHeight - 30px;
    width: $nodeWidth;
    /*  height: $nodeHeight + 10px; */
    min-width: $nodeWidth;
    /*  min-height: $nodeHeight; */
    border-width: 0.5px 1px;
    border-color: $borderColor;
    border-style: solid;
    font-size: 13px;
    /* word-break: break-word;
    overflow-wrap: break-word;
    white-space: break-spaces; */
    word-spacing: 100px; // 14px; //191
}

.calendar-resource-header {
    text-align: center;
    line-height: $nodeHeight + 10px;
    width: $nodeWidth;
    height: $nodeHeight + 14px;
    min-width: $nodeWidth;
    min-height: $nodeHeight;
    border-width: 0.5px 1px;
    border-color: $borderColor;
    border-style: solid;
    font-size: 13px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: break-spaces;
    word-spacing: 5px;
}

// row
/* .calendar-row {
    height: $matExpansionPanelHeight;
}
 */

.resource-panel-container {
    height: 238px;
}

.panel-container {
    /* height: $matExpansionPanelHeight; */
    display: flex;
    position: relative;
}

.wrapper-parent-container {
    position: relative;
}

// cell
.calendar-cell {
    text-align: center;
    line-height: $nodeHeight - 1px;
    /* width: $nodeWidth; */
    height: 100%;
    /* min-width: $nodeWidth; */
    min-height: 100%;
    border-width: 0.5px 1px;
    border-color: $borderColor;
    border-style: solid;
    /* display: grid; */
}

.task-content {
    /* overflow-y: auto !important;
    overflow-x: hidden !important; */
}

::ng-deep .mat-expansion-panel-body {
    /*     display: flex; */
    padding: 0px !important;
}

/* ::ng-deep .mat-expansion-panel-content, ::ng-deep .mat-expansion-panel-body {
    height: 100%;
} */

::ng-deep .mat-expansion-panel-spacing {
    margin: 0px !important;
}

.no-padding {
    padding: 0px;
}

.fill-layout {
    width: 100%;
}

.calendar-cell.today {
    border-color: $highlightBorderColor;
    border-width: 0.5px 5px;
}

.mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
}

// completed cell
::ng-deep .calendar-cell[date-filled="true"][date-inside="true"] {
    background-color: $completeColor;
}

// incompleted cell
::ng-deep .calendar-cell[date-filled="false"][date-inside="true"] {
    background-color: $incompleteColor;
}

.chart-section {
    padding: 10px 0px;
}

// #canvas{
//     background: pink;
// }

.rectangle {
    position: absolute;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /*   height: 25px; */
    height: 40px;
    /*  margin: 5px; */
    margin-top: 5px;
    border-radius: 5px;
    background-color: #673ab7;
    border: solid 1px #121621;
    color: #fff;
}

.rectangle div,
.rectangle canvas {
    display: inline;
}

.resize-handle-top,
.resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
}

.resize-handle-top {
    top: 0;
}

.resize-handle-bottom {
    bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
}

.resize-handle-left {
    left: 0;
}

.resize-handle-right {
    right: 0;
}

canvas {
    right: 0;
    position: absolute;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content,
.mat-stroked-button {
    line-height: 30px !important;
}

::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: #c0ca33;
    color: #fff;
}

::ng-deep .mat-expansion-panel-header,
.mat-expansion-panel-header:hover {
    background-color: #c0ca33 !important;
}

::ng-deep .mat-expansion-panel-header-title {
    color: #fff !important;
}

.calendar-toolbar {
    height: 30px;
    justify-content: center;
}

.view-type {
    padding-left: 40px;
}

.calendar-nav-button {
    margin-right: 10px;
    /* background-color: #0895CE; */
}

.calendar-nav-button-icon {
    color: white;
}

.event-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.event-title:hover {
    text-decoration-line: underline;
}

.event-container {
    position: relative;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.rectangle.cdk-drop-list-dragging .calendar-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-handle {
    position: absolute;
    left: 10px;
    right: 10px;
    width: 100%;
    height: 100%;
    cursor: move;
}

.right-toggle-btn {
    float: right;
}

.scrolled-div {
    /* background: transparent;
    z-index: 100; */
    transition: 0.8s all ease;
    background-color: #fff;
}

.sticky-dates {
    position: sticky;
    top: 0px;
    z-index: 100;
    /*  background-color: #4A4A4A; */
    /* background-color: #fff; */
}

.scroll-margin {
    margin-right: 8px;
    height: 30px !important;
}

.weekends-checkbox {
    margin-right: 10px;
}

.calendar-toolbar {
    height: 30px;
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
}

.flex-container > div {
    margin: 10px;
    font-size: 30px;
}

.calendar-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.calendar-container > div {
    margin: 10px;
    font-size: 20px;
}

.month-alignment {
    width: 150px !important;
    text-align: center;
}

.toogleView {
    font-size: 15px;
}

.dateFlex-container {
    flex-direction: row;
    /* box-sizing: border-box; */ // 191
    display: flex;
    flex: 1 1 1e-9px;
    /*  height: 52% !important; */ //RM required for now commenting
    overflow: auto;
    height: 100%; // 191
    width: 100%; //191
}

.dates-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    min-height: 48px;
    height: 0%;
}

// commenting so that scroll will not happen from calendar header
/* .mat-content {
    height: 88%;
    overflow: auto;
}
 */
.mat-button-toggle-disabled.mat-button-toggle-appearance-standard {
    background: none !important;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* .check {
    position: relative;
    display: inline-block;
  } */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.event-title:hover .dropdown-content {
    display: block;
}

.event-title:hover .dropbtn {
    background-color: #3e8e41;
}

mat-option:hover {
    background-color: #a9a9a9 !important;
}

.facet-sidenav {
    /*  max-height: 49%;  */ // 191//RM required for now commenting
    /*  overflow: auto; */ // 191
    
}

.mat-drawer.custom-sidenav {
    overflow-y: hidden !important;
    /*  height: 39rem; */
    /* made the component to sync in same line*/
    /*  height: 50rem; */ // 191
    width: 19rem;
}
