<footer> 
    <span class="copy-right">Copyright &copy; {{ currentYear }} Acheron Software Consultany Pvt. Ltd. All Rights Reserved.</span>
    <span class="version-info">Version: {{version.version}}</span>
</footer>