footer {
    position: fixed;
    padding: 5px 5px;
    right: 0;
    bottom: 0px;
    font-size: 12px;
    text-align: right;
    z-index: 6;
    width: 100%;
    color: #b3b3b3;
    border-top: 1px solid #e4e4e4;
}

footer .copy-right {
    position: absolute;
    left: 15px;
}