<div class="search-box" [style.background-color]="backgroundColor" *ngIf="searchIdentifier"
    (click)="openSimpleSearchPopup(null)">
    <!--  -->
    <button mat-icon-button color="primary" matTooltip="Search">
        <mat-icon>search</mat-icon>
    </button>

    <span class="placeholder" *ngIf="!searchValue && !isAdvancedSearch">Search for content..</span>

    <mat-chip-list #chipList aria-label="Current Search" *ngIf="searchValue && !isAdvancedSearch" class="">
        <mat-chip *ngIf="!isAdvancedSearch" [removable]="true" (removed)="clearSearchValue(true)">
            Keyword: <span class="wrap-text-custom" matTooltip="{{searchValue}}"> {{searchValue}} </span>
            <mat-icon matTooltip="Clear" matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>

    <mat-chip-list #chipList aria-label="Current Search" *ngIf="isAdvancedSearch && advancedSearchConfig">
        <mat-chip class="cursor-pointer" (click)="openSimpleSearchPopup(advancedSearchConfig)" [removable]="true"
            (removed)="clearSearchValue(true)">
            <span class="wrap-text-custom"
                matTooltip="{{advancedSearchConfig.NAME ? advancedSearchConfig.NAME : (advancedSearchConfig[0] && advancedSearchConfig[0].NAME ? advancedSearchConfig[0].NAME : 'Advanced Search Criteria')}}">
                {{advancedSearchConfig.NAME ? advancedSearchConfig.NAME : (advancedSearchConfig[0] &&
                advancedSearchConfig[0].NAME ? advancedSearchConfig[0].NAME : 'Advanced Search Criteria')}}
            </span>
            <mat-icon matTooltip="Clear" matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>