.search-box {
    display: flex;
    flex-direction: row;
    width: 450px;
    padding: 12px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .placeholder {
        font-size: 14px;
        font-weight: 300;
    }

    mat-chip-list {
        overflow: hidden;

        mat-chip {
            max-width: 98%
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.wrap-text-custom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}