mat-dialog-content {
    padding: 0px;
    min-height: 200px;

    .flex-row-item {
        margin: 0px 5px;
        font-size: 24px;

        div.approval-section-holder {
            // padding-bottom: 1.34375em;
        }

        section.approval-task-check {
            margin-right: 90px;
        }
    }

    .help-doc-icon {
        cursor: pointer;
        margin-right: 65px;
    }

    .max-width {
        max-width: 47%;
    }
}

.modal-close {
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
    // font-size: 14px;

}

mat-dialog-actions button {
    margin: 10px;
}

.task-owner-task-count {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    margin-top: -16px;

    mat-label {
        color: green
    }
}

#task-save-option {
    margin: 0px;
    padding: 0px;
    min-width: 32px;
    border-radius: 0 4px 4px 0;
}

#task-save-btn {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
}

mat-form-field {
    width: 100%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    color: #8dc63f;
    padding-bottom: 15px;
}
.header-id{
    padding: 10px 0px 10px 0px ;
}
.header-tag{
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
}

.header-data{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
}
.flex-row-end{
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-end;
}