<div>

    <div *ngIf="taskDetail" class="header-tag">
        <h2>{{ modalLabel+" "+taskName+" " +"-"}} {{taskDetail.TASK_DESCRIPTION}}</h2>
        <div class="flex-row-end">
            <mat-icon class="flex-row-item modal-close" matTooltip="Close" (click)="closeDialog()">
                close
            </mat-icon>
        </div>
    </div>
    <div *ngIf="taskHeaderData" class="header">
        <h4 style="padding:10px 0px 10px 0px ;">
            <span style="cursor: pointer;" (click)="onRowClick(taskHeaderData.ID)" matTooltip={{taskHeaderData.NPD_PROJECT_BUSINESS_ID}}> {{taskHeaderData.NPD_PROJECT_BUSINESS_ID}}</span></h4>
        <div class="header-data">
            <p>{{taskHeaderData.PR_MARKET}}&nbsp;</p>
            <p>{{taskHeaderData.PR_BRAND || taskHeaderData.PR_BRAND_string}}&nbsp;</p>
            <p>{{taskHeaderData.PR_PLATFORM}}&nbsp;</p>
            <p>{{taskHeaderData.PR_VARIANT}}&nbsp;</p>
            <p>{{" - "+taskHeaderData.PR_SKU_DETAILS}}&nbsp;</p>
            <p>{{"- "+taskHeaderData.PR_PRIMARY_PACKAGING_TYPE+","}}&nbsp;</p>
            <p>{{taskHeaderData.PR_CONSUMER_UNIT_SIZE+" x"}}</p>
            <p>{{taskHeaderData.PR_CASE_PACK_SIZE+ " -"}}&nbsp;</p>
            <p>{{manufacturingSite}}</p>
        </div>
    </div>

    <mat-dialog-content *ngIf="modalLabel != 'Edit Task' || taskConfig.isTemplate">
        <!-- <app-task-creation [taskConfig]="taskConfig" (closeCallbackHandler)="afterCloseProject($event)"
            (saveCallBackHandler)="afterSaveProject($event)" (notificationHandler)="notificationHandler($event)"
            (loadingHandler)="loadingHandler($event)"></app-task-creation> -->
        <app-npd-task-creation [taskConfig]="taskConfig" (closeCallbackHandler)="afterCloseProject($event)" (saveCallBackHandler)="afterSaveProject($event)" (notificationHandler)="notificationHandler($event)" (loadingHandler)="loadingHandler($event)"></app-npd-task-creation>
    </mat-dialog-content>
    <mat-dialog-content *ngIf="modalLabel == 'Edit Task' && !taskConfig.isTemplate">
        <app-npd-task-edit [selectedTask]="taskData" (editTaskHeaderData)=editTaskHeaderData($event) [taskConfig]="taskConfig" (closeCallbackHandler)="afterCloseProject($event)" (saveCallBackHandler)="afterSaveProject($event)" (notificationHandler)="notificationHandler($event)" (loadingHandler)="loadingHandler($event)"></app-npd-task-edit>
    </mat-dialog-content>
</div>
