.flex-10 {
  flex: 10;
}

form {
  margin: 10px 0px 0px 0px;
}

.switch-label {
  margin: 4px;
  font-size: larger;
}

/* .active-icon {
  color: #c0ca33;
} */

.parent-comment {
  width: 100%;
}

.text-comment-area {
  width: 100%;

  textarea {
      resize: none;
  }

  .text-comment-area-btn {
      right: 6px;
     /*  top: -2px;
      top: 16px; */
      top: -10px;



  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin-top: 0 !important;
      padding: 0;
  }

}

.disableComment:disabled {
  background: #e4e4e4 !important;
}

mat-form-field.mat-form-field.text-comment-area.ng-tns-c85-57.mat-primary.disableComment.mat-form-field-type-mat-input.mat-form-field-appearance-outline.mat-form-field-can-float.ng-valid.mat-form-field-should-float.ng-dirty.ng-touched{
  background: red !important;
}

.text-container{
  display: grid;
  grid-template-columns: 1fr 0 max-content 0;
  align-items: center;
  width: 100%;
}
.color-white{
  color: white !important ;
  }
.purple-color{
  color: #ff00ff !important;
}
