<form [formGroup]="commentFormGroup">
  <div class="flex-row" *ngIf="parentComment">
      <div class="flex-row-item flex-10">
          <div class="parent-comment">
              <npd-comments-message [commentData]="parentComment" [isReply]="false"
                  (replyToComment)="removeParentComment($event)" [userListData]="userListData">
              </npd-comments-message>
          </div>
      </div>
  </div>
  <div class="flex-row">
      <div class="flex-row-item flex-10">
          <mat-form-field appearance="outline" class="text-comment-area">
            <mat-label>Task Comments</mat-label>

              <div class="text-container">
                  <textarea matInput  aria-label="label" (ngModelChange)="onCommentChange($event)"
                      (keydown.shift.@)="tagUserForComment($event)" formControlName="commentText" rows="3"
                      [matAutocomplete]="userList">
                  </textarea>
                  <mat-autocomplete #userList="matAutocomplete" matAutocompletePosition="above"
                      autoActiveFirstOption="true" (optionSelected)="onOptionSelected($event)"
                      [displayWith]="displayFunction">
                      <mat-option *ngFor="let userData of filterUserListData | async" [value]="userData">
                          <span>{{userData.displayName}}</span>
                      </mat-option>
                  </mat-autocomplete>
                  <button color="primary" [disabled]="disableComment||this.taskDetails?.selectedtask?.IS_MILESTONE=='true'" [ngClass]="{'color-white':!taskDetails?.selectedtask?.NPD_TASK_COMMENT_EXIST,'purple-color':taskDetails?.selectedtask?.NPD_TASK_COMMENT_EXIST}" (click)="openCommentDialog()" mat-icon-button matSuffix class="text-comment-area-btn" >
                      <mat-icon matTooltip="Comments">comment</mat-icon>
                  </button>
              </div>
              <mat-hint align="start" *ngIf="commentFormGroup.get('commentText').hasError('maxlength')">Comment
                  can be maximum 2000 characters long. </mat-hint>
          </mat-form-field>
      </div>
  </div>
</form>
