<h2 mat-dialog-title> Share
    <mat-icon class="close-action" (click)="close()">close</mat-icon>
</h2>

<mat-dialog-content class="dialog-content">
    <app-share-assets [assets]="assets" (closeModalHandler)="closeModal()"></app-share-assets>
</mat-dialog-content>