.max-width {
    /* height: 70px; */
    /*  height: 30px;
    border: 1px solid;
    width: 50%;
    padding: 4px;
    margin-bottom: 5px;
} */
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.custom-input {
    border: none;
}

.search-text-input {
    border-top: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
    border-bottom: 0;
    border-left: thin solid #e5e5e5;
    box-shadow: 0px 1px 1px 1px #e5e5e5;
    float: left;
    height: 17px;
    /*  margin: .8em 0 0 .5em; */
    // adjusted for input box
    margin: 0.8em -7px 0px -0.5em;
    outline: 0;
    padding: .4em 0 .4em .6em;
    width: 80%; // 183px;
}

.button-holder {
    background-color: #f1f1f1;
    border-top: thin solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 13px 0 0 0;
    text-align: center;
    //width: 50px;
}

.button-holder mat-icon {
    margin: 4px;
    width: 20px;
}

::ng-deep mat-form-field.custom-field {
    height: 20% !important;
    margin-bottom: -23px !important; // -28px
    width: 85% !important;
}

.custom-search {
    margin-top: -8px;
}

.custom-checkbox {
    margin-left: 50px;
}