<div class="synchronize-task-filter">
    <mat-checkbox color="primary" class="custom-checkbox" (click)="$event.stopPropagation()" [disabled]="true"
        aria-disabled="true">
        <span>Synchronize Task Filters</span>
    </mat-checkbox>
    <div class="flex-row-item max-width">
        <mat-form-field class="custom-field" appearance="outline">
            <mat-label>Teams</mat-label>
            <mat-select placeholder="Teams" name="teams" [(ngModel)]="teamInitial">
                <mat-option *ngFor="let team of allTeams" value="{{team.NAME}}" #team (click)="getRolesAndUser(team)">
                    <span>{{team.NAME}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="flex-row-item max-width">
        <mat-form-field class="custom-field" appearance="outline">
            <mat-label>Roles</mat-label>
            <mat-select placeholder="Roles" name="roles" [(ngModel)]="roleInitial">
                <mat-option *ngFor="let role of allRoles" value="{{role.ROLE_NAME || role.NAME}}"
                    (click)="getTeamsAndUser(role)">
                    <span>{{role.ROLE_NAME || role.NAME }}</span>
                    <!-- <span>{{role.ROLE_NAME | titlecase || role.NAME }}</span> -->
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!--  <div class="flex-row-item max-width custom-search">
        <input type="text" matInput [matAutocomplete]="auto" #name placeholder="Users" class='search-text-input'>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of users" value="{{user.FullName || user.name}}">
                <span (click)="getDeliverable(user,false)">{{user.FullName || user.name}}</span>
            </mat-option>
        </mat-autocomplete>
    </div> -->
    <div class="flex-row-item max-width">
        <mat-form-field class="custom-field" appearance="outline">
            <mat-label>Users</mat-label>
            <mat-select placeholder="Users" name="users" [(ngModel)]="userInitial">
                <mat-option *ngFor="let user of users" value="{{user.FullName || user.name}}"
                    (click)="getDeliverable(user,false)">
                    <span>{{user.FullName || user.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>