<div>
    <div class="flex-row">
        <h1 mat-dialog-title class="upload-modal-title">{{data.modalName}}</h1>
        <mat-icon class="modal-close" matTooltip="Close" (click)="closeDialog()">
            close
        </mat-icon>
    </div>
    <div class="flex-row" *ngIf="data.needReference">
        <div class="referenceContainer">
            <div>Reference To</div>&nbsp;&nbsp;&nbsp;
            <div>
                <button class="sort-btn" [disabled]="true" mat-stroked-button matTooltip="Select delivery format"
                    [matMenuTriggerFor]="referenceType">
                    <span> {{referenceTypeObj.selected.name}}</span>
                    <mat-icon color="accent">arrow_drop_down</mat-icon>
                </button>

            </div>
        </div>
    </div>
    <!-- duplicate code -->
    <!-- <div class="flex-row" *ngIf="data.needReference">
        <h1 mat-dialog-title class="upload-modal-title">{{data.modalName}}</h1>
        <mat-icon class="modal-close" matTooltip="Close" (click)="closeDialog()">
            close
        </mat-icon>
    </div> -->
    <mat-dialog-content>
        <app-file-upload (queuedFiles)="udploadFileEvent($event)" [isRevisionUpload]="data.isRevisionUpload"
            [fileToRevision]="data.fileToRevision" [maxFiles]="data.maxFiles" [maxFileSize]="data.maxFileSize">
        </app-file-upload>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button (click)="closeDialog()">
            <span>Close</span>
        </button>
        <button color="primary" mat-flat-button (click)="uploadFiles()" [disabled]="uploadProcessing">
            <span>Finish</span>
        </button>
    </mat-dialog-actions>
</div>

<mat-menu #referenceType="matMenu">
    <span *ngFor="let option of referenceTypeObj.options">
        <button *ngIf="option.name != referenceTypeObj.selected" mat-menu-item (click)="changeReferenceType(option)">
            <span>{{option.name}}</span>
        </button>
    </span>
</mat-menu>