<div class="main-child-header">
    Portfolio Strategy
</div>
<form [formGroup]="portfolioStrategyForm" class="strategy-container">
    <ng-container *ngIf="portfolioStrategyDataConfig.incrementalReplacementSku.ngIf">
        <div class="field-width">
            <span class="text-color">
                Incremental Or Replacement SKU?
                <span class="astric"
                    *ngIf="portfolioStrategyDataConfig.incrementalReplacementSku.validators && portfolioStrategyDataConfig.incrementalReplacementSku.validators.required" >*</span>
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <!-- <mat-label>Incremental Or Replacement SKU?</mat-label> -->
                <mat-select formControlName="incrementalReplacementSku"
                         (ngModelChange)="updateRequestInfo('incrementalReplacementSku','portfolioStrategyForm')"
                         [disabled]="portfolioStrategyDataConfig.incrementalReplacementSku.disabled"
                         required = "{{portfolioStrategyDataConfig.incrementalReplacementSku.validators && portfolioStrategyDataConfig.incrementalReplacementSku.validators.required}}">
                    <mat-option class="options" *ngFor="let sku of incrementalReplacementSKUList" value="{{sku.value}}">
                        {{sku.displayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="portfolioStrategyDataConfig.portfolioDelistStrategy.ngIf">
        <div class="field-width">
            <span class="text-color">
                <span>
                    Detail: What Is The Portfolio Delist Strategy?
                    <span class="astric"
                        *ngIf="portfolioStrategyDataConfig.portfolioDelistStrategy.validators && portfolioStrategyDataConfig.portfolioDelistStrategy.validators.required" >*</span>
                </span>
            </span>
            <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">
                <!-- <mat-label>Detail: What Is The Portfolio Delist Strategy?</mat-label> -->
    <!--             <input matInput type="text" formControlName="portfolioStrategy"
                      > -->
               <textarea matInput formControlName="portfolioDelistStrategy" (ngModelChange)="updateRequestInfo('portfolioDelistStrategy','portfolioStrategyForm')"
                    required = "portfolioStrategyDataConfig.portfolioDelistStrategy.validators && portfolioStrategyDataConfig.portfolioDelistStrategy.validators.required"></textarea>
                <mat-error *ngIf="formControls.portfolioDelistStrategy.hasError('required')">
                        Please Fill in Portfolio Delist Strategy
                </mat-error>
                <mat-error *ngIf="formControls.portfolioDelistStrategy.hasError('maxlength')">
                    Exceeding more than 2000 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="portfolioStrategyDataConfig.specificCutOffDate.ngIf">
        <div class="field-width">
            <span class="text-color">
                Specific Cut Off Date For Introduction Of New SKU?
                <span class="astric"
                 *ngIf="portfolioStrategyDataConfig.specificCutOffDate.validators && portfolioStrategyDataConfig.specificCutOffDate.validators.required" >*</span>
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <!-- <mat-label>Specific Cut Off Date For Introduction Of New SKU?</mat-label> -->
                <mat-select formControlName="specificCutOffDate"
                     (ngModelChange)="updateRequestInfo('specificCutOffDate','portfolioStrategyForm')"
                     [disabled]="portfolioStrategyDataConfig.specificCutOffDate.disabled"
                     required = "{{portfolioStrategyDataConfig.specificCutOffDate.validators && portfolioStrategyDataConfig.specificCutOffDate.validators.required}}">
                    <mat-option class="options" *ngFor="let specificCutOff of specificCutOffSKUList" value="{{specificCutOff.value}}">
                        {{specificCutOff.displayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="portfolioStrategyDataConfig.switchDateAndDrivingDateReason.ngIf">
        <div class="field-width">
            <span class="text-color">
                <span>
<!--                     Detail: What Is The Date Of Switch And What is Driving That Date(Eg.,Range Review) -->
                    What is driving your launch date? (eg - marketing activation,  range review, time for display pallet creation)
                    <span class="astric"
                     *ngIf="portfolioStrategyDataConfig.switchDateAndDrivingDateReason.validators && portfolioStrategyDataConfig.switchDateAndDrivingDateReason.validators.required" >*</span>
                </span>
            </span>
            <mat-form-field class="tech-desc text-area-margin" appearance="outline" floatLabel="never">
                <textarea matInput formControlName="switchDateAndDrivingDateReason" required (ngModelChange)="updateRequestInfo('switchDateAndDrivingDateReason','portfolioStrategyForm')"
                required = "{{portfolioStrategyDataConfig.switchDateAndDrivingDateReason.validators && portfolioStrategyDataConfig.switchDateAndDrivingDateReason.validators.required}}"></textarea>
                <mat-error *ngIf="formControls.switchDateAndDrivingDateReason.hasError('required')">
                    Please Fill in Switch Date And Driving DateReason
                </mat-error>
                <mat-error *ngIf="formControls.switchDateAndDrivingDateReason.hasError('maxlength')">
                    Exceeding more than 2000 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="portfolioStrategyDataConfig.commercialStrategy.ngIf">
        <div class="field-width">
            <span class="text-color">
                <span>
                    Commercial Strategy(Consumer Price Proposal)
                    <span class="astric"
                        *ngIf="portfolioStrategyDataConfig.commercialStrategy.validators && portfolioStrategyDataConfig.commercialStrategy.validators.required" >*
                    </span>
                </span>
            </span>
            <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">
                <!-- <mat-label>Commercial Strategy(Consumer Price Proposal)</mat-label> -->
                <textarea matInput formControlName="commercialStrategy" (ngModelChange)="updateRequestInfo('commercialStrategy','portfolioStrategyForm')"
                    required = "{{portfolioStrategyDataConfig.commercialStrategy.validators && portfolioStrategyDataConfig.commercialStrategy.validators.required}}"></textarea>
                <mat-error *ngIf="formControls.commercialStrategy.hasError('required')">
                        Please Fill in Commercial Strategy
                </mat-error>
                <mat-error *ngIf="formControls.commercialStrategy.hasError('maxlength')">
                    Exceeding more than 2000 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
</form>