<div class="project-classification-data-header">
  Project Classification Data
</div>

<form [formGroup]="projectClassificationDataForm">
  <div class="container">
    <div class="column-1" *ngIf="projectClassificationDataConfig.earlyProjectClassification.ngIf ||
     projectClassificationDataConfig.earlyProjectClassificationDesc.ngIf || 
     projectClassificationDataConfig.registrationClassificationAvailable.ngIf ||
     projectClassificationDataConfig.registrationRequirement.ngIf">
    <mat-form-field class="form-field" *ngIf="projectClassificationDataConfig.earlyProjectClassification.ngIf" appearance="outline"
      floatLabel="never">
      <mat-label>Early Project Classification</mat-label>
      <input type="text" placeholder="" formControlName="earlyProjectClassification" value="Awaiting Classification"
        matInput [disabled]="projectClassificationDataConfig.earlyProjectClassification.disabled"
        required="{{projectClassificationDataConfig.earlyProjectClassification.validators && projectClassificationDataConfig.earlyProjectClassification.validators.required }}">
      <mat-error *ngIf="classificationDataForm.earlyProjectClassification?.hasError('required')">
        Please Fill Early Project Classification
      </mat-error>
    </mat-form-field>

    <mat-form-field class="class-desc"  appearance="outline" floatLabel="never"
      *ngIf="projectClassificationDataConfig.earlyProjectClassificationDesc.ngIf">
      <mat-label>Early Project Classification Description</mat-label>
      <input type="text" placeholder="" formControlName="earlyProjectClassificationDesc" value="Awaiting Classification"
        [disabled]="projectClassificationDataConfig.earlyProjectClassificationDesc.disabled" matInput
        required="{{projectClassificationDataConfig.earlyProjectClassificationDesc.validators && projectClassificationDataConfig.earlyProjectClassificationDesc.validators.required }}">
      <mat-error *ngIf="classificationDataForm.earlyProjectClassificationDesc?.hasError('required')">
        Please Fill Early Project Classification Description
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" *ngIf="projectClassificationDataConfig.registrationClassificationAvailable.ngIf"
      appearance="outline" floatLabel="never">
      <mat-label>CoS / CoO combo exists</mat-label>
      <input type="text" placeholder=""  formControlName="registrationClassificationAvailable"   matInput [disabled]="projectClassificationDataConfig.registrationClassificationAvailable.disabled">
      <mat-error *ngIf="classificationDataForm.registrationClassificationAvailable?.hasError('required')">
        Please Fill CoS / CoO combo
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" *ngIf="projectClassificationDataConfig.registrationRequirement.ngIf" appearance="outline"
      floatLabel="never">
      <mat-label>Registration Requirement</mat-label>
      <input formControlName="registrationRequirement"  type="text" placeholder="" value="Yes"
        matInput [disabled]="projectClassificationDataConfig.registrationRequirement.disabled"
        required="{{projectClassificationDataConfig.registrationRequirement.validators && projectClassificationDataConfig.registrationRequirement.validators.required }}">
     <mat-error *ngIf="classificationDataForm.registrationRequirement?.hasError('required')">
        Please Fill Registration Requirement
      </mat-error>
    </mat-form-field>
  </div>

    <div class="column-2" *ngIf="projectClassificationDataConfig.draftManufacturingLocation.ngIf ||
    projectClassificationDataConfig.earlyManufacturingSite.ngIf ||
    projectClassificationDataConfig.projectType.ngIf ">
    <mat-form-field class="form-field" *ngIf="projectClassificationDataConfig.draftManufacturingLocation.ngIf" appearance="outline"
      floatLabel="never">
      <mat-label>Draft Manufacturing Location</mat-label>
      <mat-select formControlName="draftManufacturingLocation" (ngModelChange)="updateRequestRelationsInfo('draftManufacturingLocation','projectClassificationDataForm');
            onDraftManufactureLocationChange($event,'projectClassificationDataForm','draftManufacturingLocation')"
        [disabled]="projectClassificationDataConfig.draftManufacturingLocation.disabled"
        required="{{projectClassificationDataConfig.draftManufacturingLocation.validators && projectClassificationDataConfig.draftManufacturingLocation.validators.required }}">
        <mat-option class="options" *ngFor="let location of draftManufacturingLocations" [value]="location.ItemId">
          {{location.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.draftManufacturingLocation?.hasError('required')">
        Please Select Draft Manufacturing Location
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" *ngIf="projectClassificationDataConfig.earlyManufacturingSite.ngIf" appearance="outline"
      floatLabel="never">
      <mat-label>Early Manufacturing Site</mat-label>
      <mat-select formControlName="earlyManufacturingSite"
        (ngModelChange)="updateRequestRelationsInfo('earlyManufacturingSite','projectClassificationDataForm')"
        [disabled]="projectClassificationDataConfig.earlyManufacturingSite.disabled"
        required="{{projectClassificationDataConfig.earlyManufacturingSite.validators && projectClassificationDataConfig.earlyManufacturingSite.validators.required }}">
        <mat-option class="options" *ngFor="let site of earlyManufacturingSites" [value]="site.ItemId">
          {{site.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.earlyManufacturingSite?.hasError('required')">
        Please Select Early Manufacturing Site
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" *ngIf="projectClassificationDataConfig.projectType.ngIf" appearance="outline" floatLabel="never">
      <mat-label>Project Type (EC)</mat-label>
      <mat-select formControlName="projectType"
        (ngModelChange)="updateRequestRelationsInfo('projectType','projectClassificationDataForm');setProjectClassification('projectType',$event)"
        required="{{projectClassificationDataConfig.projectType.validators && projectClassificationDataConfig.projectType.validators.required }}">
        <mat-option class="options" *ngFor="let type of config.projectTypes" value="{{type.ItemId}}">
          {{type.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="column-3" *ngIf="projectClassificationDataConfig.newFg.ngIf || 
    projectClassificationDataConfig.newRnDFormula.ngIf || 
    projectClassificationDataConfig.newHBCFormula.ngIf || 
    projectClassificationDataConfig.newPrimaryPackaging.ngIf || 
    projectClassificationDataConfig.secondaryPackaging.ngIf" >
    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newFg.ngIf">
      <mat-label class="radio-row-gap" id="new-fg">New FG (SAP?) (EC)
        <span
          *ngIf="projectClassificationDataConfig.newFg.validators && projectClassificationDataConfig.newFg.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newFg" aria-labelledby="new-fg"
        (change)="updateRequestInfo('newFg','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newFg.errors">
        <div class="error-field error-font error-position" *ngIf="classificationDataForm?.newFg?.errors.required">
          Please Select New FG (SAP?) (EC)
        </div>
      </ng-container>
    </div>
    

   
    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newRnDFormula.ngIf">
      <mat-label class="radio-row-gap" id="new-rnd">New R&D Formula (EC)
        <span
          *ngIf="projectClassificationDataConfig.newRnDFormula.validators && projectClassificationDataConfig.newRnDFormula.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newRnDFormula" aria-labelledby="new-rnd"
        (change)="updateRequestInfo('newRnDFormula','projectClassificationDataForm');disableLeadFormulaField()">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newRnDFormula.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.newRnDFormula?.errors.required">
          Please Select New R&D Formula (EC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newHBCFormula.ngIf">
      <mat-label class="radio-row-gap" id="new-hbc">New HBC Formula (EC)
        <span
          *ngIf="projectClassificationDataConfig.newHBCFormula.validators && projectClassificationDataConfig.newHBCFormula.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newHBCFormula" aria-labelledby="new-hbc"
        (change)="updateRequestInfo('newHBCFormula','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newHBCFormula.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.newHBCFormula?.errors.required">
          Please Select New HBC Formula (EC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newPrimaryPackaging.ngIf">
      <mat-label class="radio-row-gap" id="new-primary-packaging">New Primary Packaging (EC)
        <span
          *ngIf="projectClassificationDataConfig.newPrimaryPackaging.validators && projectClassificationDataConfig.newPrimaryPackaging.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newPrimaryPackaging" aria-labelledby="new-primary-packaging"
        (change)="updateRequestInfo('newPrimaryPackaging','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
        <!-- <mat-radio-button value="true" color="primary">Yes</mat-radio-button>
              <mat-radio-button value="false" color="primary">No</mat-radio-button> -->
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newPrimaryPackaging.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.newPrimaryPackaging?.errors.required">
          Please Select New HBC Formula (EC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.secondaryPackaging.ngIf">
      <mat-label class="radio-row-gap" id="secondary-packaging"> 2ndary Packaging (EC)
        <span
          *ngIf="projectClassificationDataConfig.secondaryPackaging.validators && projectClassificationDataConfig.secondaryPackaging.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="secondaryPackaging" aria-labelledby="secondary-packaging"
        (change)="updateRequestInfo('secondaryPackaging','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.secondaryPackaging.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.secondaryPackaging?.errors.required">
          Please Select 2ndary Packaging (EC)
        </div>
      </ng-container>
    </div>
  </div>
 

    
    <!-- <ng-container class="d-none">
              <div class="radio-buttons" *ngIf="projectClassificationDataConfig.registrationDossier.ngIf">
                  <mat-label class="radio-row-gap" id="reg-dossier"> Registration Dossier
                      <span
                          *ngIf="projectClassificationDataConfig.registrationDossier.validators && projectClassificationDataConfig.registrationDossier.validators.required"
                          class="error-field">*</span>
                  </mat-label>
                  <mat-radio-group formControlName="registrationDossier" aria-labelledby="reg-dossier"
                      (change)="updateRequestInfo('registrationDossier','projectClassificationDataForm');getClassificationChange()">
                      <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
                          option.displayName}}</mat-radio-button>
                  </mat-radio-group>
                  <ng-container *ngIf="this.classificationDataForm?.registrationDossier.errors">
                      <div class="error-field error-font error-position"
                          *ngIf="classificationDataForm?.registrationDossier?.errors.required">
                          Please Select Registration Dossier
                      </div>
                  </ng-container>
              </div>

              <div class="radio-buttons" *ngIf="projectClassificationDataConfig.preProdReg.ngIf">
                  <mat-label class="radio-row-gap" id="pre-prod-reg"> Pre Production Registration
                      <span
                          *ngIf="projectClassificationDataConfig.preProdReg.validators && projectClassificationDataConfig.preProdReg.validators.required"
                          class="error-field">*</span>
                  </mat-label>
                  <mat-radio-group formControlName="preProdReg" aria-labelledby="pre-prod-reg"
                      (change)="updateRequestInfo('preProdReg','projectClassificationDataForm');getClassificationChange()">
                      <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
                          option.displayName}}</mat-radio-button>
                  </mat-radio-group>
                  <ng-container *ngIf="this.classificationDataForm?.preProdReg.errors">
                      <div class="error-field error-font error-position"
                          *ngIf="classificationDataForm?.preProdReg?.errors.required">
                          Please Select Pre Production Registration
                      </div>
                  </ng-container>
              </div>

              <div class="radio-buttons" *ngIf="projectClassificationDataConfig.postProdReg.ngIf">
                  <mat-label class="radio-row-gap" id="post-prod"> Post Production Registration
                      <span
                          *ngIf="projectClassificationDataConfig.postProdReg.validators && projectClassificationDataConfig.postProdReg.validators.required"
                          class="error-field">*</span>
                  </mat-label>
                  <mat-radio-group formControlName="postProdReg" aria-labelledby="post-prod"
                      (change)="updateRequestInfo('postProdReg','projectClassificationDataForm');getClassificationChange()">
                      <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
                          option.displayName}}</mat-radio-button>
                  </mat-radio-group>
                  <ng-container *ngIf="this.classificationDataForm?.postProdReg.errors">
                      <div class="error-field error-font error-position"
                          *ngIf="classificationDataForm?.postProdReg?.errors.required">
                          Please Select Post Production Registration
                      </div>
                  </ng-container>
              </div>
              </ng-container> -->
    <!-- <mat-form-field *ngIf="projectClassificationDataConfig.registrationClassificationAvailable.ngIf"
      appearance="outline" floatLabel="never">
      <mat-label>Registration Classification Available </mat-label>
      <input type="text" placeholder=""
        value="No" matInput [disabled]="true">
      <mat-error *ngIf="classificationDataForm.registrationClassificationAvailable?.hasError('required')">
        Please Select Registration Classification
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="projectClassificationDataConfig.registrationRequirement.ngIf"
      appearance="outline" floatLabel="never">
      <mat-label>Registration Requirement </mat-label>
      <input type="text" placeholder=""
        value="Yes" matInput [disabled]="true">
      <mat-error *ngIf="classificationDataForm.registrationRequirement?.hasError('required')">
        Please Select Registration Requirement
      </mat-error>
    </mat-form-field> -->

    <!-- <div  class="radio-buttons"
      *ngIf="projectClassificationDataConfig.registrationClassificationAvailable.ngIf">

      <mat-slide-toggle formControlName="registrationClassificationAvailable">Registration Classification
        Available</mat-slide-toggle>


    </div>
    <div  class="radio-buttons"
      *ngIf="projectClassificationDataConfig.registrationClassificationAvailable.ngIf">

      <mat-slide-toggle formControlName="registrationClassificationAvailable">Registration Requirement</mat-slide-toggle>


    </div> -->

    <div class="column-4" *ngIf="projectClassificationDataConfig.techDesc.ngIf || 
    projectClassificationDataConfig.programTag.ngIf || 
    projectClassificationDataConfig.leadFormula.ngIf">
     <div class="left-fields">
    <mat-form-field class="class-desc" appearance="outline" floatLabel="never"
      *ngIf="projectClassificationDataConfig.techDesc.ngIf">
      <mat-label>Technical Description</mat-label>
      <textarea matInput formControlName="techDesc"
        required="{{projectClassificationDataConfig.techDesc.validators && projectClassificationDataConfig.techDesc.validators.required }}"
        (ngModelChange)="updateRequestInfo('techDesc','projectClassificationDataForm')"></textarea>
      <mat-error *ngIf="classificationDataForm.techDesc?.hasError('required')">
        Please Fill Technical Description
      </mat-error>
      <mat-error *ngIf="classificationDataForm.techDesc?.hasError('maxlength')">
        Exceeding more than 2000 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.programTag.ngIf">
      <mat-label>Program Tag</mat-label>
      <mat-select formControlName="programTag" [(ngModel)]="selectedProgramTag"
        (ngModelChange)="updateRequestRelationsIn('programTag','projectClassificationDataForm')">
        <mat-option *ngFor="let tags of programTags" [value]="tags" class="options">
          {{tags.DisplayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="right-fields">
    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.leadFormula.ngIf" >
      <mat-label class="radio-row-gap" id="lead-formula"> Lead Formula (EC)
        <span
          *ngIf="projectClassificationDataConfig.leadFormula.validators && projectClassificationDataConfig.leadFormula.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="leadFormula" aria-labelledby="leadFormula"
        (change)="updateRequestInfo('leadFormula','projectClassificationDataForm');getClassificationChange(true)"
        >
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.leadFormula.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.leadFormula?.required">
          Please Select Lead Formula (EC)
        </div>
      </ng-container>
    </div>
  </div>

    </div>

    <div class="column-5" *ngIf="projectClassificationDataConfig.corpPm.ngIf || 
    projectClassificationDataConfig.opsPm.ngIf || 
    projectClassificationDataConfig.rtmUser.ngIf || 
    projectClassificationDataConfig.secondaryAWUser.ngIf">
    <mat-form-field class="form-field" appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.e2ePm.ngIf">
      <mat-label>E2E PM</mat-label>
      <input type="text" matInput [value]="selectedE2EPM" *ngIf="requestStatus === 'Completed'" disabled>
      <mat-select formControlName="e2ePm" *ngIf="requestStatus != 'Completed'" [(ngModel)]="selectedE2EPM"
        [disabled]="true"
        required="{{projectClassificationDataConfig.e2ePm.validators && projectClassificationDataConfig.e2ePm.validators.required }}">
        <mat-option *ngFor="let user of e2ePmUsers" [value]="user" class="options">
          {{user.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.e2ePm?.hasError('required')">
        Please Select E2E PM
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.corpPm.ngIf">
      <mat-label>Corp PM</mat-label>
      <input type="text" matInput [value]="selectedCorp" *ngIf="requestStatus === 'Completed'" disabled>
      <mat-select formControlName="corpPm" *ngIf="requestStatus != 'Completed'" [(ngModel)]="selectedCorpPM"
        (ngModelChange)="corpPMSelection('corpPm','projectClassificationDataForm')"
        [disabled]="projectClassificationDataConfig.corpPm.disabled"
        required="{{projectClassificationDataConfig.corpPm.validators && projectClassificationDataConfig.corpPm.validators.required }}">
        <mat-option *ngFor="let user of corpPMUsers" [value]="user" class="options">
          {{user.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.corpPm?.hasError('required')">
        Please Select Corp PM
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.opsPm.ngIf">
      <mat-label>OPS PM</mat-label>
      <input type="text" matInput [value]="selectedOps" *ngIf="requestStatus === 'Completed'" disabled>
      <mat-select formControlName="opsPm" *ngIf="requestStatus != 'Completed'" [(ngModel)]="selectedOpsPM"
        (ngModelChange)="opsPMSelection('opsPm','projectClassificationDataForm')"
        [disabled]="projectClassificationDataConfig.opsPm.disabled"
        required="{{projectClassificationDataConfig.opsPm.validators && projectClassificationDataConfig.opsPm.validators.required }}">
        <mat-option *ngFor="let user of opsPMUsers" [value]="user" class="options">
          {{user.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.opsPm?.hasError('required')">
        Please Select OPS PM
      </mat-error>
    </mat-form-field>
    <!-- RTM and Secondary AW changes -->
    <mat-form-field class="form-field" appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.rtmUser.ngIf">
      <mat-label>RTM</mat-label>
      <mat-select formControlName="rtmUser" [(ngModel)]="selectedRTMUser"
        (ngModelChange)="rtmUserSelection('rtmUser','projectClassificationDataForm')"
        [disabled]="projectClassificationDataConfig.rtmUser.disabled"
        [required]="selectionBasedProjectTypes.includes(selectedProjectType.value)?getConditionValidators('rtmUser',false):getConditionValidators('rtmUser',true)">
        <mat-option *ngFor="let user of rtmUsers" [value]="user" class="options">
          {{user.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.rtmUser?.hasError('required')">
        Please Select RTM
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline" floatLabel="never"
      *ngIf="projectClassificationDataConfig.secondaryAWUser.ngIf">
      <mat-label>Secondary AW Manager</mat-label>
      <mat-select formControlName="secondaryAWUser" [(ngModel)]="selectedSecondaryAWUser"
        (ngModelChange)="secondaryAWUserSelection('secondaryAWUser','projectClassificationDataForm')"
        [disabled]="projectClassificationDataConfig.secondaryAWUser.disabled"
        [required]="(selectionBasedProjectTypes.includes(selectedProjectType.value)===true?(projectClassificationDataForm?.controls?.secondaryPackaging?.value?getConditionValidators('secondaryAWUser',true):getConditionValidators('secondaryAWUser',false)):getConditionValidators('secondaryAWUser',true))">
        <mat-option *ngFor="let user of secondaryAWUsers" [value]="user" class="options">
          {{user.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.secondaryAWUser?.hasError('required')">
        Please Select Secondary AW Manager
      </mat-error>
    </mat-form-field>
  </div>
   
  </div>
</form>
