:host {
  padding-bottom: 28px;
  display: block;
}

.project-classification-data-header {
  font-size: 18px;
  padding-bottom: 24px;
  //margin-bottom: 16px;
}

// .container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//   grid-row-gap: 16px;
//   grid-column-gap: 24px;
// }

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.radio-buttons {
  // display: block;
  // position: relative;
  height: 75px;
  flex: 1;
}

.error-field {
  color: #f44336;
}

.error-font {
  font-size: 75%;
}

// .error-position {
//   position: absolute;
//   top: 68px;
// }

// .tech-desc {
//   display: grid;
//   grid-area: 2/4/2/6;
// }

.radio-row-gap {
  display: block;
  margin-bottom: 16px;
}

// @media only screen and (max-width: 1300px) {
//   .container {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }

//   .tech-desc {
//     grid-area:auto;
//   }
// }

// @media only screen and (max-width: 992px) {
//   .container {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// @media only screen and (max-width: 768px) {
//   .container {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media only screen and (max-width: 576px) {
//   .container {
//     grid-template-columns: 1fr;
//   }
// }

.mat-slide-toggle-thumb {
  background-color: #bc9f35 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #298c38 !important;
}
.mat-slide-toggle.mat-disabled {
  opacity: 1 !important;
}
// .classification-desc{
//   display: grid;
//   grid-area: 1/2/1/4;
//   width: 60px;
// }
.column-1,.column-2,.column-3,.column-4,.column-5{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: space-between;
  gap: 1rem;
}
.column-2{
  width: 60%;
}
.form-field{
  flex: 1;
}
.class-desc{
  flex: 2;
}
.right-fields,.left-fields{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  gap: 1rem;
}
.right-fields{
  width: 20%;
}
.left-fields{
  width: 60%;
}
.right-fields .radio-buttons{
  margin-inline-start: 15px;
}
.column-1.hidden,.column-2.hidden,.column-3.hidden,.column-4.hidden,.column-5.hidden{
  padding-bottom: 0px;
}