<mat-card [ngClass]="{'comment-message-item': true, 'highlightParentComment' : commentData.hover,'comment-parent-item': !isReply, 'mat-card-container': !isReply }"  *ngIf="commentData" 
 (mouseover)="toggleEvent(true)" (mouseleave)="toggleEvent(false)" id="message_{{commentData.commentId}}">
    <mat-card-header class="comment-header">
        <div mat-card-avatar class="comment-header-image">
            <span>{{commentData.userInfo.displayName | uppercase | slice:0:1 }}</span>
        </div>
        <mat-card-title class="comment-header-title">
            <span class="comment-user">{{currUserId != commentData.userInfo.id ? commentData.userInfo.displayName : 'Me'}}</span>
            <span class="comment-date" *ngIf="isReply === true"
                matTooltip="{{commentData.timeStamp | date:'MMM d, y, h:mm a'}}">{{handleDateManipulation(commentData.timeStamp)}}</span>
           <!--  <span>
                <mat-chip class="status-chip" *ngIf="commentData.projectStatus">{{commentData.projectStatus}}
                </mat-chip>
            </span> -->
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="reply-comment-item" *ngIf="commentData.refComment">
        <p (click)="onParentCommentNavigation(commentData.refComment.refCommentId)">
            {{commentData.refComment.refCommentText}}
        </p>
    </mat-card-content>
    <mat-card-content class="original-comment-item">
        <p class="original-comment-item-p">
            <!-- *ngIf="commentTextTemp" -->
            <span *ngFor="let text of arrayInfo"
                [ngClass]="{'user-info-container': text.isUser}">{{text.isUser?'@'+text.text:text.text}}</span>
        </p>
    </mat-card-content>

    <mat-card-content class="original-comment-item">

        <mat-label style="font-weight: bold;" *ngIf="restartReasonInfo.length > 0">Reasons</mat-label>
            <mat-option class="matOption" *ngFor="let reason of restartReasonInfo" value="{{reason}}">
                <span matTooltip="{{reason}}">{{reason}}</span>
            </mat-option>
    </mat-card-content>

    <mat-card-content class="original-comment-item">

            <mat-label style="font-weight: bold;" *ngIf="reasonInfo.length > 0">Reasons</mat-label>
                <mat-option class="matOption" *ngFor="let reason of reasonInfo" value="{{reason}}">
                    <span matTooltip="{{reason}}">{{reason}}</span>
                </mat-option>
    </mat-card-content>

    <div *ngIf="hover === true" class="comment-message-item-action">
        <mat-icon (click)="onclickToReply(commentData)"
            matTooltip="{{isReply === true ? 'Reply to this message' : 'Remove this message'}}" class="active-icon">
            {{isReply === true ? 'reply' : 'highlight_off'}}</mat-icon>
    </div>
</mat-card>


<!-- <span mat-card-avatar class="profileImage">{{getFirstLetterFromUserName(commentData.userInfo.displayName)}}</span> --> 
