.comment-message-item {
    padding: 5px 15px 5px 10px;
    margin: 10px 10px 0px 1px;
    position: relative;
    max-width: 90%;

    mat-card-title {
        margin-bottom: 5px;
        font-size: 14px;
        margin-top: 10px;

        .comment-date {
            color: rgba(0, 0, 0, .54);
            font-size: 12px;
            padding: 8px 10px;
            font-weight: 400;
            cursor: default;
        }
    }

    .active-icon {
        /*    color: #c0ca33; */
        padding: 0;
        cursor: pointer;
    }

    .comment-message-item-action {
        position: absolute;
        right: 1%;
        padding: 5px;
        margin: 0;
        z-index: 999;
        top: 0%;
        cursor: pointer;
    }

    mat-card-content {
        margin-left: 18px;
        margin-top: 5px;
    }

    .original-comment-item {
        margin-bottom: 5px;
        overflow-wrap: anywhere;
        margin-left: 50px;

        p {
            white-space: pre-wrap;
            line-height: 20px;

            span.user-info-container {
                //background-color: #c0ca33;
                color: rgba(0, 0, 0, .87);
                padding: 2px 8px 3px 8px;
                border-radius: 16px;
                align-items: center;
                cursor: default;
                position: relative;
                font-weight: 500;
            }
        }
    }

    .comment-header {
        position: relative;
        margin-bottom: 10px;
    }

    .comment-header-image {
        background-size: cover;
        /* background-color: #c0ca33; */
        display: grid;
        place-content: center;
        span {
            font-size: 20px;
        }
    }
}

.comment-parent-item {
    position: relative;
    border-radius: 5px 5px 0px 0px;
    margin-right: 1px !important;
    background-color: rgb(239, 239, 239);
    max-width: 100% !important;
    padding-right: 0px;

    /* .comment-user {
        color: #c0ca33;
    } */

    .reply-comment-item {
        background-color: #FFF;
    }
}

.comment-user {
    cursor: default;
    margin-left: 10px;
}

.reply-comment-item {
    margin-bottom: 5px;
    background-color: #efefef70;
    padding: 2px 10px;
    margin-left: 50px !important;
    border-radius: 10px;
    /* color: #c0ca33; */
    min-height: 28px;
    max-height: 28px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    width: 92%;

    p {
        font-size: 13.2px;
        overflow: hidden;
        flex-grow: 1;
        width: 200px;
        max-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.matOption {
    height: 25px !important;
    cursor: auto;
}

.status-chip {
    /* padding: 4px 8px;
    border-radius: 4px;
    font-weight: normal; */

    display: inline-block;
    padding: 6px;
    border-radius: 10px 10px 10px 10px;

}

.highlightParentComment {
    border : 1px solid;
    transform : translate3d(10px, 10px, 10px);
    //transform: rotateY(360deg)
    //animation-name: example;
    //animation-duration: 4s;
    //transition: all 0.5s ease-in-out;
}

  @keyframes example {
   /*  from {background-color: red;}
    to {background-color: yellow;} */
  }

.comment-header-title {
    margin-left: -10px;
}

/*
.comment-header  {
    mat-card-header-text {
        margin-left: 2px !important;
    }
}

.mat-card-header-text {
    margin-left: 2px !important;

}

.comment-header  {
    .mat-card-header-text {
        margin-left: 2px !important;
    }
}

.comment-header .mat-card-header-text {
    margin-left: 2px !important;
}
.profileImage {
   
    background: var(--brand-color);
    font-size: 22px;
    //line-height: 150px;
    //margin: 20px 0;
     width: 30px;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
  }*/


  .mat-card-container {
    border: solid 2px !important;
    border-color: var(--highlight-hover-color) !important;
}