<div class="overview-content">
    <form class="project-overview-form" *ngIf="projectOverviewForm" [formGroup]="projectOverviewForm">
        <div class="flex-col">
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <mat-form-field appearance="outline">
                            <mat-label>{{overViewConfig.formType}} Name</mat-label>
                            <input [appAutoFocus]="true" formControlName="name" matInput
                                placeholder="{{overViewConfig.formType}} Name" required>
                            <mat-hint align="end"
                                *ngIf="projectOverviewForm.get('name').errors && projectOverviewForm.get('name').errors.maxlength">
                                {{projectOverviewForm.get('name').errors.maxlength.actualLength}}/{{projectOverviewForm.get('name').errors.maxlength.requiredLength}}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="flex-col-item" *ngIf="projectOverviewForm && projectOverviewForm.get('categoryMetadata')">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <mpm-custom-search-field [searchFieldConfig]="overViewConfig.categoryMetadataConfig">
                        </mpm-custom-search-field>
                    </div>
                </div>
            </div>
            <!-- <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item" *ngIf="overViewConfig.showRequesterField">
                        <mat-form-field appearance="outline">
                            <mat-label>Requester</mat-label>
                            <input formControlName="requester" matInput placeholder="Requester">
                        </mat-form-field>
                    </div>
                </div>
            </div> -->
            <div class="flex-col-item">
                <div class="flex-row" *ngIf="enableCampaign && overViewConfig.isProject">
                    <div class="flex-row-item">
                        <mat-form-field appearance="outline" *ngIf="!campaignIds">
                            <mat-label>Campaign Name</mat-label>
                            <input matInput placeholder="Campaign Name" aria-label="Campaign Name"
                                (keyup)="getCampaigns($event)" formControlName="campaign" [matAutocomplete]="userAuto"  [required]="isCampaignManager && !hasTeams ? true : false">
                            <mat-autocomplete #userAuto="matAutocomplete" (optionSelected)="changeAutoComplete($event)">
                                <mat-option *ngFor="let option of overViewConfig.campaignDataConfig.filterOptions"
                                    [value]=" option.displayName">
                                    <div #optionposition
                                        [matTooltip]="spanposition.getBoundingClientRect().width > optionposition.getBoundingClientRect().width ? option.displayName : null">
                                        <span #spanposition
                                            [matTooltip]="spanposition.getBoundingClientRect().width <= optionposition.getBoundingClientRect().width ? option.displayName : null">
                                            {{option.displayName}}
                                        </span>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mpm-custom-search-field *ngIf="campaignIds"
                            [searchFieldConfig]="overViewConfig.campaignDataConfig"><!-- (details)="getCampaigns($event)" || campaignId -->
                        </mpm-custom-search-field>
                    </div>
                    <div class="flex-row-item">
                        <mpm-custom-search-field [searchFieldConfig]="overViewConfig.campaignOwnerFieldConfig">
                        </mpm-custom-search-field>
                    </div>
                </div>
            </div>
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item max-width" *ngIf="overViewConfig.isProject || overViewConfig.isTemplate">
                        <mat-form-field appearance="outline">
                            <mat-label>Teams</mat-label>
                            <mat-select formControlName="teams" placeholder="Teams" name="projectTeam"
                                [required]="true">
                                <span *ngFor="let team of overViewConfig.teamsOptions">
                                    <mat-option value="{{team['MPM_Teams-id'] .Id}}">
                                        {{team.NAME}}
                                    </mat-option>
                                </span>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex-row-item">
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" placeholder="Category" name="projectCategory"
                                [required]="true">
                                <span *ngFor="let category of overViewConfig.categoryOptions">
                                    <mat-option value="{{category['MPM_Category-id'] .Id}}">
                                        {{category.CATEGORY_NAME}}
                                    </mat-option>
                                </span>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item"> -->
                        <mpm-custom-search-field [searchFieldConfig]="overViewConfig.ownerFieldConfig"
                            [required]="true">
                        </mpm-custom-search-field>
                    </div>
                </div>
            </div>
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item max-width">
                        <mat-form-field appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" placeholder="Status" name="projectStatus"
                                (selectionChange)="validateTaskStatusUpdate($event)" [required]="true"
                                [disabled]="projectOverviewForm.get('status').status === 'DISABLED' ? true : false">
                                <span *ngFor="let status of overViewConfig.statusOptions">
                                    <!-- selectedStatus -->
                                    <mat-option value="{{status['MPM_Status-id'].Id}}">
                                        {{status.NAME}}
                                    </mat-option>
                                </span>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex-row-item max-width">
                        <mat-form-field appearance="outline">
                            <mat-label>Priority</mat-label>
                            <mat-select formControlName="priority" placeholder="Priority" name="priority"
                                [required]="true"
                                [disabled]="projectOverviewForm.get('priority').status === 'DISABLED' ? true : false">
                                <mat-option *ngFor="let priority of overViewConfig.priorityOptions"
                                    value="{{priority['MPM_Priority-id'].Id}}">
                                    {{priority.DESCRIPTION}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <mat-form-field appearance="outline"
                            *ngIf="overViewConfig.isProject || overViewConfig.isCampaign">
                            <mat-label>Start Date</mat-label>
                            <input formControlName="startDate" matInput [matDatepicker]="startDate"
                                [matDatepickerFilter]="dateFilter" placeholder="Start Date (MM/DD/YYYY)" required
                                [min]="(this.overViewConfig && this.overViewConfig.selectedProject && this.overViewConfig.selectedProject.START_DATE ? this.overViewConfig.selectedProject.START_DATE : (this.overViewConfig && overViewConfig.selectedCampaign && this.overViewConfig.selectedCampaign.CAMPAIGN_START_DATE) ? this.overViewConfig.selectedCampaign.CAMPAIGN_START_DATE : minStartDate)"
                                [(value)]="selectedStartDate" (dateChange)="validateProjectStartDate($event)"
                                [max]="selectedCampaign && selectedCampaign.CAMPAIGN_END_DATE ? selectedCampaign.CAMPAIGN_END_DATE : null">
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate [disabled]="disableStartDate"></mat-datepicker>
                            <mat-error
                                *ngIf="projectOverviewForm.get('startDate') && (projectOverviewForm.get('startDate').hasError('matDatepickerMax') || projectOverviewForm.get('startDate').hasError('matDatepickerMin'))">
                                {{startDateErrorMessage}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex-row-item">
                        <mat-form-field appearance="outline"
                            *ngIf="overViewConfig.isProject || overViewConfig.isCampaign">
                            <mat-label>End Date</mat-label>
                            <input formControlName="endDate"
                                [min]="projectOverviewForm.value.startDate ? projectOverviewForm.value.startDate : selectedStartDate"
                                matInput [matDatepicker]="endDate" placeholder="End Date (MM/DD/YYYY)" required
                                [matDatepickerFilter]="dateFilter" s [(value)]="selectedEndDate"
                                (dateChange)="validateProjectEndDate($event)"
                                [max]="selectedCampaign && selectedCampaign.CAMPAIGN_END_DATE ? selectedCampaign.CAMPAIGN_END_DATE : null">
                            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                            <mat-datepicker #endDate [disabled]="disableEndDate"></mat-datepicker>
                            <mat-error
                                *ngIf="projectOverviewForm.get('endDate') && (projectOverviewForm.get('endDate').hasError('matDatepickerMax') || projectOverviewForm.get('endDate').hasError('matDatepickerMin'))">
                                {{endDateErrorMessage}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <mat-form-field appearance="outline" *ngIf="overViewConfig.isProject">
                            <mat-label>Expected Duration (Days)</mat-label>
                            <input matInput placeholder="Expected Duration (Days)" formControlName="expectedDuration"
                                (keydown)="restrictKeysOnType($event, 'NUMBER')" type="number">
                            <mat-hint align="end" *ngIf="projectOverviewForm.get('expectedDuration').errors">
                                Please enter the number lesser than 99999
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea formControlName="description" matInput placeholder="Description"
                                rows="3"></textarea>
                            <mat-hint align="end"
                                *ngIf="projectOverviewForm.get('description').errors && projectOverviewForm.get('description').errors.maxlength">
                                {{projectOverviewForm.get('description').errors.maxlength.actualLength}}/{{projectOverviewForm.get('description').errors.maxlength.requiredLength}}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-col-item" *ngIf="projectOverviewForm.controls.CustomFieldGroup"
            formGroupName="CustomFieldGroup">
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <mat-expansion-panel class="mat-elevation-z0 form-group-panel" [expanded]="true"
                    *ngFor="let formGroup of projectOverviewForm.get('CustomFieldGroup')['controls']">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="flex-row" *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                        <div class="flex-row-item">
                            <mpm-custom-metadata-field [metadataFieldFormControl]="formControl"
                                (valueChanges)="onCustomMetadataFieldChange($event)" required>
                            </mpm-custom-metadata-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="flex-col-item">
            <div class="flex-row">
                <div class="flex-row-item" *ngIf="!overViewConfig.isCampaign">
                    <mat-slide-toggle class="flex-row-item" color="primary" formControlName="isCustomWorkflow"
                        [disabled]="(overViewConfig && overViewConfig.isTemplate) && (overViewConfig && 
                    overViewConfig.selectedProject && overViewConfig.currentUserItemId && 
                    overViewConfig.selectedProject.R_PO_PROJECT_OWNER && 
                    overViewConfig.selectedProject.R_PO_PROJECT_OWNER['Identity-id'] && 
                    overViewConfig.selectedProject.R_PO_PROJECT_OWNER['Identity-id'].Id &&
                    overViewConfig.currentUserItemId != overViewConfig.selectedProject.R_PO_PROJECT_OWNER['Identity-id'].Id)">
                        Custom Workflow
                    </mat-slide-toggle>
                </div>
                <div class="flex-row-item">
                    <span class="form-actions">
                        <button color='primary'
                            *ngIf="enableRestartProject && overViewConfig.isProject 
                        && overViewConfig.currentUserItemId === overViewConfig.selectedProject.R_PO_PROJECT_OWNER['Identity-id'].Id"
                            mat-flat-button (click)="restartProject()" style="float: left;" type="button"
                            class="ang-btn">Restart</button>
                        <button mat-stroked-button type="button" [disabled]="(projectOverviewForm && !projectOverviewForm.dirty) 
                        && ((customFieldsGroup && !customFieldsGroup.dirty) || !customFieldsGroup)"
                            (click)="cancelProjectCreation()">Discard Changes</button>
                        <button color='primary' mat-flat-button (click)="updateProject()" type="button" class="ang-btn"
                            [disabled]="(projectOverviewForm && projectOverviewForm.invalid) || 
                            ((projectOverviewForm && projectOverviewForm.pristine) && 
                            ((customFieldsGroup && customFieldsGroup.pristine) || !customFieldsGroup)) ||
                            (customFieldsGroup && customFieldsGroup.invalid) || disableProjectSave">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>