<mat-toolbar class="app-task-toolbar">
    <mat-toolbar-row>
        <div class="flex-row-item task-info-holder">
            <mpm-item-count *ngIf="taskConfig" [name]="'Tasks'" [count]="taskConfig.taskTotalCount"></mpm-item-count>
            <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <div class="flex-row-item task-info-holder" *ngIf="taskConfig.selectedProject && taskConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'true'">
            <button mat-stroked-button (click)="openCustomWorkflow()" matTooltip="Configure Rule" [disabled]="(taskConfig.taskList && taskConfig.taskList.length === 0) || (taskConfig.isReadOnly || !taskConfig.isProjectOwner || isProjectCompleted || isOnHoldProject)">
                <mat-icon>add</mat-icon>
                <span>Configure Rule</span>
            </button>
        </div>

        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>

        <div class="flex-row-item right flex-grow-0" *ngIf="!taskConfig.isTaskListView">
            <mpm-item-sort [sortOptions]="taskConfig.taskCardSortOptions" [selectedOption]="taskConfig.selectedTaskCardSortOption" (onSortChange)="onSortChange($event)">
            </mpm-item-sort>
        </div>

        <div class="flex-row-item right flex-grow-0">
            <mat-form-field appearance="outline" class="resource-select">
                <mat-label>View by resource</mat-label>
                <mat-select #resourceSelect [formControl]="viewByResources" multiple [disabled]="!taskConfig.taskOwnerResources.length">
                    <mat-select-trigger>
                        {{viewByResources.value ? viewByResources.value[0] : ''}}
                        <span *ngIf="viewByResources.value?.length > 1" class="example-additional-selection">
                            (+{{viewByResources.value.length - 1}}
                            {{viewByResources.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let resource of taskConfig.taskOwnerResources" [value]="resource">{{resource}}
                    </mat-option>
                    <button class="resource-apply-btn" (click)="onResourceSelect(); resourceSelect.close()" mat-button>Apply</button>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-row-item right flex-grow-0">
            <button [matMenuTriggerFor]="addnewMenu" mat-raised-button color="accent" matTooltip="Click to view more options" [disabled]="taskConfig.isReadOnly || !taskConfig.isProjectOwner || isProjectCompleted || isOnHoldProject">
                <mat-icon>add</mat-icon>
                <span> New</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #addnewMenu="matMenu">
                <button mat-menu-item (click)="createNewTaskByType(taskConstants.TASK_TYPE.TASK_WITHOUT_DELIVERABLE)">
                    <mat-icon>{{taskTypeIcon.TASK_WITHOUT_DELIVERABLE}}</mat-icon>
                    <span>Action Task</span>
                </button>
                <!-- <button mat-menu-item (click)="createNewTaskByType(taskConstants.TASK_TYPE.NORMAL_TASK)">
                    <mat-icon>{{taskTypeIcon.NORMAL_TASK}}</mat-icon>
                    <span>Upload Task</span>
                </button>
                <button mat-menu-item (click)="createNewTaskByType(taskConstants.TASK_TYPE.APPROVAL_TASK)">
                    <mat-icon>{{taskTypeIcon.APPROVAL_TASK}}</mat-icon>
                    <span>Approval Task</span>
                </button> -->
            </mat-menu>
        </div>
        <div class="flex-row-item right flex-grow-0" *ngIf="!disableGridView">
            <button matTooltip="Switch to {{taskConfig.isTaskListView ? 'Card' : 'List'}} View" mat-button (click)="changeView()" *ngIf="showTaskViewButton">
                <mat-icon *ngIf="taskConfig.isTaskListView" class="task-action-btn">view_module
                </mat-icon>
                <mat-icon *ngIf="!taskConfig.isTaskListView" class="task-action-btn">
                    format_list_bulleted
                </mat-icon>
            </button>
        </div>
        <span class="flex-row-item right flex-grow-0">
            <!-- <button mat-icon-button>
                <mat-icon class="dashboard-action-btn">settings
                </mat-icon>
            </button> -->
            <mpm-column-chooser [isListView]="taskConfig.isTaskListView" [isPMView]="true"
                [columnChooserFields]="columnChooserFields" (columnChooserHandler)="updateDisplayColumns($event)"
                (resetColumnChooserHandler)="resetDisplayColumns()"
                [isColumnsFreezable]="isColumnsFreezable"
                ></mpm-column-chooser>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="taskConfig.selectedResources && taskConfig.selectedResources.length > 0">
        <span class="flex-row">
            <span class="resources-heading">Resources: </span>
        <mat-chip-list aria-label="resource selection">
            <mat-chip [removable]="true" (removed)="onResourceRemoved(resource)" *ngFor="let resource of taskConfig.selectedResources">{{resource}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        </span>
    </mat-toolbar-row>
</mat-toolbar>