<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
  <mat-sidenav #pmFaceNav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="facetExpansionState">
    <app-facet [dataCount]="totalListDataCount"></app-facet>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="deliverable-work-view-control flex-row align-flex-items-center">
      <div class="flex-row-item align-flex-items-center flex-start">
        <span class="flex-row-item">
          <mpm-facet-button [initalState]="facetExpansionState" (facetToggled)="facetToggled($event)"
            [isRMView]="false">
          </mpm-facet-button>
          <mpm-list-filter *ngIf="!componentRendering" #deliverableTaskListFilter [filters]="deliverableTaskFilters"
            (fitlerChanged)="deliverableTaskFilterChanged($event)" (clicked)="calculateListFilterCounts()"
            [selected]="selectedListFilter">
          </mpm-list-filter>
          <mpm-refresh-button (clicked)="reload(false, 'refresh')"></mpm-refresh-button>
          <button *ngIf="emailSearchCondition.length" mat-stroked-button (click)="clearEmailFiters()"
            matTooltip="Exit Email Link View">
            <mat-icon>exit_to_app</mat-icon>Exit Email View
          </button>
          <button mat-icon-button (click)="exportData()" matTooltip="Export Data" [disabled]="listData.length == 0">
            <mat-icon color="primary" class="dashboard-action-btn">import_export</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Bulk complete of tasks" (click)="bulkEditSelectedTasks('COMPLETE')"
          *ngIf="(selectedListFilter?.value=='MY_TASKS' && selectedGroupByFilter?.value=='GROUP_BY_TASK' && selectedListDependentFilter.value=='TO_DO_FILTER')">
            <mat-icon color="primary" class="dashboard-action-btn">done_all</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Bulk edit of tasks" (click)="bulkEditSelectedTasks('EDIT')"
            *ngIf="(selectedListFilter?.value=='MY_TASKS' && selectedGroupByFilter?.value=='GROUP_BY_TASK'  && selectedListDependentFilter.value=='TO_DO_FILTER')">
            <mat-icon color="primary" class="dashboard-action-btn">edit</mat-icon>
          </button>
          <button color="primary" *ngIf="isDefaultFiltersPresent" mat-icon-button
            matTooltip="Make current view as default view" (click)="setDefaultView()">
            <mat-icon>beenhere</mat-icon>
          </button>
          <button color="primary" *ngIf="(selectedListFilter?.value=='MY_TASKS' && selectedGroupByFilter?.value=='GROUP_BY_TASK'  && selectedListDependentFilter.value=='TO_DO_FILTER')" mat-icon-button matTooltip="View in Dashboard"
            (click)="routeToProjectDashboardView()">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </span>
      </div>
      <span class="flex-spacer"></span>

      <div class="flex-row-item flex-end">
        <mat-checkbox class="mat-checkbox-color" *ngIf="enableBulkEdit && count > 1" [checked]="bulkActions"
          (change)="$event ? masterToogle($event) : null"></mat-checkbox>
        <span *ngIf="enableBulkEdit && count > 1 && bulkActions" style="padding-top: 8px">{{ count }} Items
          Selected</span>
        <span class="action-item">
          <button *ngIf="enableBulkEdit && bulkActions && count > 1" [disabled]="!selectedDeliverableCount"
            class="new-project-btn" mat-raised-button matTooltip="Actions" [matMenuTriggerFor]="actionTypeMenu">
            <span> Actions</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </span>
        <span class="action-item">
          <mpm-custom-select *ngIf="!componentRendering" #taskStatusFilter controlLabel=""
            [options]="listDependentFilters" (selectionChange)="listDependentFilterChange($event)"
            [selected]="selectedListDependentFilter" [bulkEdit]="true"></mpm-custom-select>
        </span>
        <span class="action-item">
          <mpm-custom-select *ngIf="!componentRendering" #groupByFilter controlLabel="{{ 'Group By: ' }}"
            [options]="groupByFilters" (selectionChange)="groupByFilterChange($event)"
            [selected]="selectedGroupByFilter" [bulkEdit]="true"></mpm-custom-select>
        </span>
        <span class="action-item">
          <app-column-chooser [isListView]="true" [isPMView]="false" [columnChooserFields]="columnChooserFields"
            [userPreferenceFreezeCount]="userPreferenceFreezeCount"
            (columnChooserHandler)="updateDisplayColumns($event)" (resetColumnChooserHandler)="resetDisplayColumns()"
            (saveColumnChooserHandler)="saveDisplayColumns($event)" [isColumnsFreezable]="isColumnsFreezable">
          </app-column-chooser>
        </span>
        <mat-menu #actionTypeMenu="matMenu">
          <button mat-menu-item matTooltip="Approved" (click)="bulkAction('Approved', 'Approve')">
            <span>Approved</span>
          </button>
          <button mat-menu-item matTooltip="Requested Changes" (click)="bulkAction('Requested Changes', 'Reject')">
            <span>Requested Changes</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="flex-row deliverables-task-grid">
      <div class="list-area" *ngIf="listData.length > 0">
        <app-npd-deliverable-task-list #deliverableListView [dataSource]="listData"
          [bulkResponseData]="bulkResponseData" [assetDetailData]="assetDetailDatas"
          (sortChange)="sortChangeHandler($event)" [displayColumns]="displayColumns"
          [displayableMetadataFields]="displayableMetadataFields" [sort]="selectedSort" [level]="level"
          [selectedFilter]="selectedListFilter.value" [selectedListDependentFilter]="selectedListDependentFilter.value"
          (refresh)="reload(false, 'reload')" (rowExpanded)="rowExpanded($event)"
          (assetDetailsCallBackHandler)="retrieveAssetData($event)" [selectedGroupByFilter]="selectedGroupByFilter"
          (deliverableBulkCheckCount)="deliverableBulkCheckCount($event)"
          (selectedDeliverableDatas)="selectedDeliverableDatas($event)"
          (selectedDeliverableData)="selectedDeliverableData($event)"
          (selectedDeliverableCounts)="selectedDeliverableCounts($event)"
          (orderedDisplayableFields)="getOrderedDisplayableFields($event)"
          (resizeDisplayableFields)="resizeDisplayableFields()" (deliverableDetailsHandler)="deliverableDetails($event)"
          (versionsHandler)="viewVersions($event)" (shareAssetHandler)="shareAsset($event)" (crHandler)="openCR($event)"
          [bulkActions]="bulkActions" [unselectDeliverable]="unselectDeliverable"
          (editDeliverableHandler)="editDeliverable($event)" [userPreferenceFreezeCount]="userPreferenceFreezeCount"
          [myTasksFilter]="myTasksFilter"
          (refreshPage)="reload(false,'refresh')">
        </app-npd-deliverable-task-list>
      </div>
      <div class="list-area-info text-center" *ngIf="listData.length == 0">
        <button color="primary" disabled mat-flat-button>
          {{
          level === mpmLevel.PROJECT
          ? "No project is
          available"
          : level === mpmLevel.TASK
          ? "No task is available"
          : "No campaign is
          available"
          }}
        </button>
      </div>
    </div>
    <!--  <div class="bulk-actions">jkjkjk
          <mpm-bulk-actions>kkkkkk</mpm-bulk-actions>
      </div> -->
    <div class="flex-row">
      <div class="flex-row-item flex-end">
        <mpm-pagination [length]="totalListDataCount" [pageSize]="pageSize" [pageIndex]="page"
          (paginator)="pagination($event)"></mpm-pagination>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>