div.deliverables-task-grid {
    height: calc(100vh - 220px);
   // height: calc(100vh - 270px);
    overflow: auto;
    padding: 0px;
}

.deliverable-work-view-control {

    margin: 10px;

    .action-item {
        margin: 0 10px 0 10px;
    }
}

.list-area, .list-area-info {
    width: 100%;
}

div.deliverables-task-grid {
    width: 100%;
    height: calc(100vh - 210px);
    overflow: auto;
}

.mat-checkbox-color{
    padding: 7px;
}
