.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-container img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.app-is-mobile .app-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

mat-toolbar .spacer {
    flex: 1 1 auto;
}

.app-nav-bar {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.app-content {
    margin-top: 65px;
    height: calc(100vh - 20px);
}

::ng-deep .mat-menu-panel {
    min-height: 56px !important;

    .mat-menu-content {
        min-width: 200px;

        button.mat-menu-item {
            height: 40px;
            line-height: 40px;
        }
    }
}