<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <div class="app-nav-bar">
        <mat-toolbar class="app-toolbar mat-elevation-z6">
            <mat-toolbar-row>
                <div class="app-logo" *ngIf="branding.logoPath">
                    <!--  <img src="assets/images/logo.png" /> -->
                    <img src="{{branding.logoPath}}" />
                </div>
                <app-menu [menus]="menus" (menuClicked)="onMenuClick($event)"></app-menu>

                <span class="spacer"></span>

                <app-search-icon [backgroundColor]="'#eeeeee'" class="searchColor"
                    (search)="getSearchConditionList($event)">
                </app-search-icon>

                <span class="spacer"></span>

                <mpm-notification-tray *ngIf="enableSystemNotification"></mpm-notification-tray>
                <button mat-button color="primary" *ngIf="(canDownload || showQDSTray) && !resourceManagementPanel"
                    matTooltip="Downloads" [matMenuTriggerFor]="downloads">
                    <mat-icon>assignment_returned</mat-icon>
                </button>
                <mat-menu #downloads="matMenu">
                    <button mat-menu-item *ngIf="canDownload" (click)="openMyDownloadsModal()">
                        <mat-icon>account_box</mat-icon>
                        <span>My Downloads</span>
                    </button>
                    <button mat-menu-item *ngIf="showQDSTray" (click)="openQDSTransferTrayModal()">
                        <mat-icon>import_export</mat-icon>
                        <span>QDS File Transfers</span>
                    </button>
                    <button mat-menu-item *ngIf="canDownload" (click)="openExportDataModal()">
                        <mat-icon>open_in_browser</mat-icon>
                        <span>Export Data Tray</span>
                    </button>
                </mat-menu>

                <button mat-icon-button color="primary" class="my-application" *ngIf="showMyApplication"
                    matTooltip="My Applications" [matMenuTriggerFor]="myApps">
                    <mat-icon>apps</mat-icon>
                </button>
                   <mat-menu #myApps="matMenu">
                    <button mat-menu-item>
                        <span>TBD</span>
                    </button>
                </mat-menu>
                <button mat-button color="primary" matTooltip="User Profile" [matMenuTriggerFor]="accountMenu">
                    <span> {{loggedInUserName}} </span>
                    <span>&nbsp;</span>
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button color="primary" *ngIf="!resourceManagementPanel" mat-menu-item
                        [matMenuTriggerFor]="preferenceMenu">
                        <span>User Preference</span>
                    </button>
                    <button color="primary" mat-menu-item (click)="logout()">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
                <mat-menu #preferenceMenu="matMenu">
                    <button color="primary" mat-menu-item (click)="emailPreference()">
                        <span> Email Preference</span>
                    </button>
                    <button color="primary" mat-menu-item (click)="savePagePreference()">
                        <span>Update Page Preference</span>
                    </button>
                    <button *ngIf="currentMenuName=='ProjectManagement'" color="primary" mat-menu-item (click)="managePagePrefernce()">
                        <span>Manage Page Preference</span>
                    </button>
                    <button color="primary" mat-menu-item (click)="resetPagePreference()">
                        <span>Reset Page Preference</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="app-content" *ngIf="!showExternalApp">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="showExternalApp">
    <mpm-iframe [iframeObj]="iframeObj"></mpm-iframe>
</div>