mat-form-field,
mat-checkbox {
    margin-left: 8px;
    font-size: 12px;
    min-width: 50px;
}

.hidden-column {
    display: none;
}

// .display-column {
//     background-color: yellow;
// }
//  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//     // background-color: rgb(243, 77, 77);
//     // color: white;
// }
.dependency-error {
    background-color: rgb(253, 81, 81);
    border-radius: 6px;
    padding-top: 8px;
    margin: 2px;
}

.dependecy-task-text-color {
    color: white !important;
}

.custome-rule-row {
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 2fr 1fr 1fr !important;
}

.grouping-icons {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 2000px) {
    .custome-rule-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1600px) {
    .custome-rule-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1300px) {
    .custome-rule-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 676px) {
    .custome-rule-row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.differentRequest {
    color: #06d4da !important;
}