<div class="pagination">
    <mat-form-field (keydown.enter)="onpageValueChange($event)" (focusout)="onpageValueChange($event)">
        <input min="1" (keypress)="numberOnly($event)" matInput type="number" [(value)]="pageIndex" [formControl]="manualPageChangeControl">
    </mat-form-field>
    <span class="total-page-section-info"> of {{totalPageNumber}} page{{(totalPageNumber !== 1) ? 's': ''}}</span>
    <mat-paginator class="paginator" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true">
    </mat-paginator>
</div>