.pagination {
    display: flex;
    margin-bottom: 0;

    mat-form-field {
        width: 42px;
        font-size: 12px;
        margin: 4px 4px 0 0;
    }

    .total-page-section-info {
        font-size: 12px;
        margin-top: 20px;
    }
}

.mat-paginator {
    background-color: transparent !important;
}

.mat-paginator-page-size-select {
    width: 45px !important;
}

.mat-paginator-page-size {
    font-size: 10px !important;
    margin: 0px !important;
}

.mat-paginator-range-actions {
    .mat-icon-button {
        width: 30px !important;

        .mat-button-wrapper {
            line-height: 30px !important;
        }
    }
}

.mat-paginator-range-label {
    margin: 0px !important;
}