table{
    width: 100%;
    tr {
        cursor: pointer;
        .mat-checkbox {
            padding: 0 8px;
        }

        th:last-child {
            padding-left: 12px;
            width: 30%;
        }
        th{
            // padding:0px 10px 0px 10px ;
        }
        td:first-child{
            // background-color: red;
            //  min-width: 1em;
            width: 2em;
           }
        td:nth-child(2){
             width: 50%;
           }
        td:nth-child(3){
            width: 2em;
          }
        td {
            // a.mat-button {
            //     padding: 0px;
            //     text-align: left;
            // }
            // mat-icon {
            //     font-size: 16px;
            //     height: 16px;
            //     width: 16px;
            // }
            // max-width: 7em;
            // min-width: 7em;
            // padding:0px 10px 0px 10px ;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
    }
    ::ng-deep.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color:rgb(250, 3, 3) !important;
      }
}
  
  .mat-mdc-form-field {
    font-size: 16px;
    width: 100%;
  }
  
//   td, th {
//     width: 25%;
//   }

  .mat-paginator{
    background-color: rgb(49 47 47);
  }
  .min-width-action {
    min-width: max-content;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}

.header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 0px 10px 10px 10px;
    }

.icon-centering{

}

.buttons-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #8dc63f;
    margin: 5px 15px;
    // color: black;
}

.mat-dialog-container {
    display: block;
    padding: 49px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

.mat-form-field{
    width: 80%;
}

.make-active{
    // background-color: #c4f57f;
    color: #8dc63f;
    // background-color: red;
}