<div class="header-row">
    <h3 class="header">Manage Page Preferences</h3>
    <button mat-icon-button [mat-dialog-close]="data.reload" matTooltip="Close">    
      <mat-icon   class="modal-close" >
         close
      </mat-icon>
    </button>
</div>
<div> 
  <button mat-raised-button [disabled]="disableAction" (click)="addNewUserPreference()">
      Add New Preference
    <span class="icon-centering"><button mat-icon-button><mat-icon>add</mat-icon></button></span>
  </button>
  </div>
<div>
    <table mat-table [dataSource]="(totalListDataCount==1)?dataSource.data: dataSource">
      <ng-container  matColumnDef="Select">
        <th class="column-width-checkbox" mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" 
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    >
          </mat-checkbox>
        </th>
        <td class="column-width-checkbox" mat-cell *matCellDef="let row">
          <mat-checkbox color="primary"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    *ngIf="row['MPM_User_Preference-id']?.Id">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="USER_PREFERENCE_NAME">
        <th mat-header-cell *matHeaderCellDef > Preference Name</th>
        <td mat-cell *matCellDef="let row">  
          <mat-form-field  floatLabel="never" >
            <input required maxlength="100" (keyup)="captureEnteredPrefName($event.target.value)" [readonly]="!row.isEditable" matInput placeholder="Enter Preference Name" [ngClass]="{'make-active': (row.isActive==true)}"  [value]="row.USER_PREFERENCE_NAME? row.USER_PREFERENCE_NAME :''" (dblclick)="cardDoubleClick(row)">
          </mat-form-field>
          <!-- {{row.USER_PREFERENCE_NAME}} -->
        </td>
      </ng-container>
      <ng-container matColumnDef="Default">
        <th class="column-width-checkbox" mat-header-cell *matHeaderCellDef>Default</th>
        <td  class="column-width-checkbox" mat-cell *matCellDef="let row" >
          <mat-radio-group *ngIf="row['MPM_User_Preference-id']?.Id" (change)="changeDefaultUserPreference(row)">
            <mat-radio-button [checked]="row.IS_ACTIVE_USER_PREFERENCE=='true'" [value]="row" color="primary"></mat-radio-button>
        </mat-radio-group>
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
         <td mat-cell *matCellDef="let row">
         <div class="min-width-action flex-card">
          <button  *ngIf="row['MPM_User_Preference-id']?.Id" mat-icon-button matTooltip="Delete Preference" (click)="deleteUserPreference(row)">
            <mat-icon>delete</mat-icon> 
          </button>
          <button *ngIf="(!row['MPM_User_Preference-id']?.Id)" mat-icon-button matTooltip="Create New Preference" [disabled]='!row.isEditable' (click)="UpdatePreference(row,'create')">
            <mat-icon>check</mat-icon>
          </button>
          <button *ngIf="row['MPM_User_Preference-id']?.Id" mat-icon-button matTooltip="Rename Preference" [disabled]='!row.isEditable' (click)="UpdatePreference(row,'rename')">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="row['MPM_User_Preference-id']?.Id" mat-icon-button matTooltip="Apply Preference" (click)="applyPreference(row,true)">
            <mat-icon>launch</mat-icon>
          </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]" [hidePageSize]="true" aria-label="Select page of users" (page)="pageEvents($event)"></mat-paginator>
  </div>
<div class="buttons-container">
    <button class="button" mat-button  (click)="deleteMultipleUserPreference()" >Delete Multiple</button>
    <button class="button" mat-button [mat-dialog-close]>Close</button>
</div>