<div class="governance-milestone-scope-table-header">
    <div class="governance-milestone-scope-controls">
        <p class="governance-milestone-scope-header">Governance Milestone</p>
    </div>
</div>
<div class="governance-milestone-scope-table-container" (click)="getAllBool()">
    <form *ngIf="showGovernanceMilestoneForm" class="request-form governance-milestone-scope-data-grid"
        [formGroup]="dynamicGovernanceMilestoneForm">
        <ng-container formArrayName="stagesScope">
            <mat-table #stagesScopeTable [dataSource]="stagesScopeFormArray.controls">
                <ng-container matColumnDef="stages" *ngIf="governanceMilestoneConfig.stage.ngIf">
                    <mat-header-cell class="change-cell-size" *matHeaderCellDef matTooltip="Governance Stages">
                        Governance Stages </mat-header-cell>
                    <mat-cell class="change-cell-size" *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-label *ngIf="stagesScopeFormArray.controls[i].value.Stage == 'CP0'">{{stagesScopeFormArray
                            && stagesScopeFormArray.controls[i] &&
                            stagesScopeFormArray.controls[i].value.Stage}}</mat-label>
                        <mat-label *ngIf="stagesScopeFormArray.controls[i].value.Stage == 'CP1'"
                            [ngClass]="{'stage': governanceApproach=='No Governance'}">{{stagesScopeFormArray &&
                            stagesScopeFormArray.controls[i] &&
                            stagesScopeFormArray.controls[i].value.Stage}}</mat-label>
                        <mat-label
                            *ngIf="stagesScopeFormArray.controls[i].value.Stage != 'CP0' && stagesScopeFormArray.controls[i].value.Stage != 'CP1'"
                            [ngClass]="{'stage': governanceApproach=='CP1 Only' || governanceApproach=='No Governance'}">{{stagesScopeFormArray
                            && stagesScopeFormArray.controls[i] &&
                            stagesScopeFormArray.controls[i].value.Stage}}</mat-label>
                    </mat-cell>
                </ng-container>

                <!--                 <ng-container matColumnDef="targetStartDate"  *ngIf="governanceMilestoneConfig.targetStartDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Target Start Date">
                        Target Start Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <input autocomplete="off" matInput [matDatepicker]="targetStartDate" datePickerFormat="DD-MM-YYYY"
                            [disabled]="governanceMilestoneConfig.targetStartDate.disabled"  formControlName="targetStartDate">
                            <mat-datepicker-toggle matSuffix [for]="targetStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #targetStartDate></mat-datepicker>
                          </mat-form-field>
                    </mat-cell>
                </ng-container>
               
                <ng-container matColumnDef="decisionDate" *ngIf="governanceMilestoneConfig.decisionDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Decision Date">
                        Decision Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                         class="due-date-cell">
                     <mat-form-field class="field-width" appearance="outline">
                        <input autocomplete="off" matInput [matDatepicker]="decisionDate" datePickerFormat="DD-MM-YYYY"
                            formControlName="decisionDate" [disabled]="governanceMilestoneConfig.decisionDate.disabled">
                        <mat-datepicker-toggle matSuffix [for]="decisionDate"></mat-datepicker-toggle>
                        <mat-datepicker #decisionDate></mat-datepicker>
                      </mat-form-field> 
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="targetStartDate" *ngIf="governanceMilestoneConfig.targetStartDate.ngIf">
                    <!-- <mat-header-cell class="date-picker-width" *matHeaderCellDef matTooltip="Target DP 'IN WAREHOUSE' Week / Year:(00/0000)">
                        <span>
                            Target DP 'IN WAREHOUSE' Week / Year:(00/0000)
                            <span class="astric">*</span>
                        </span>
                    </mat-header-cell> -->
                    <mat-header-cell *matHeaderCellDef matTooltip="Governance Target Start Date">
                        Governance Target Start Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                        class="due-date-cell flex-form-field date-picker-width content-to-centre">
                        <div class="targetStartDate">
                            <!--targetDP-->
                            <span *ngIf="stagesScopeFormArray.controls[i].value.Stage=='CP0'; else targetDate"
                                class="field-date-width"></span>

                            <!--targetDP-->
                            <ng-template #targetDate>
                                <mat-form-field appearance="outline" class="vendor-select field-date-width">
                                    <input class="form-control" matInput formControlName="targetStartDate"
                                        placeholder="ww/yyyy" name="dp" required />
                                    <button mat-icon-button
                                        [disabled]="governanceMilestoneConfig.targetStartDate.disabled">
                                        <mat-icon>date_range</mat-icon>
                                    </button>
                                </mat-form-field>
                            </ng-template>

                            <!--  <mat-error *ngIf="isDateValid(i)">
                                Please Select date
                            </mat-error>
                            <mat-error *ngIf="checkDatePattern(i)">
                                Enter valid date in MM/YYYY format
                            </mat-error> -->
                        </div>
                        <!--[ngStyle]="{'top': getPickerStyles(i)}"-->
                        <app-week-picker class="week-picker"
                            [weekYearValue]="dynamicGovernanceMilestoneForm.controls[i]?.value.targetStartDate"
                            [fromDate]="fromTargetDate[i]" [toDate]="toTargetDate[i]"
                            (weekFormat)="changeTargetStartDate($event,i)" *ngIf="false">
                        </app-week-picker>
                    </mat-cell>
                </ng-container>
                <!-- *******************Revised Target Date*********************************** -->
                <ng-container matColumnDef="revisedDate" *ngIf="governanceMilestoneConfig?.revisedDate?.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Governance Revised Target Date">
                        Governance Revised Target Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                        class="due-date-cell flex-form-field date-picker-width content-to-centre">
                        <div class="targetStartDate" (click)="getStopPropogation($event,i)">
                            <span *ngIf="stagesScopeFormArray.controls[i].value.Stage!='CP2'; else revisedDate"
                                class="field-date-width"></span>

                            <!--targetDP-->
                            <ng-template #revisedDate>
                                <mat-form-field appearance="outline" class="vendor-select field-date-width">
                                    <input class="form-control" matInput formControlName="revisedDate"
                                        placeholder="ww/yyyy" name="dp" />
                                    <button mat-icon-button (click)="show[i]?getBoolRevisedDate[i]:openWeekPicker(i)"
                                        [disabled]="disableRevisedButton[i] ">
                                        <mat-icon>date_range</mat-icon>
                                    </button>
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <!--[ngStyle]="{'top': getPickerStyles(i)}"-->
                        <app-week-picker class="revised-week-picker" (click)="$event.stopPropagation()"
                            [weekYearValue]="dynamicGovernanceMilestoneForm.controls[i]?.value.revisedDate"
                            [fromDate]="fromDecisionDate[i]" [toDate]="revisedTargetToDecisionDate"
                            (weekFormat)="changeRevisedTargetDate($event,i)" *ngIf="show[i]">
                        </app-week-picker>
                    </mat-cell>
                </ng-container>

                <!-- ****************************Live Date****************************** -->
                <ng-container matColumnDef="liveDate" *ngIf="governanceMilestoneConfig?.liveDate?.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Governance Live Date">
                        Governance Live Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                        class="due-date-cell flex-form-field date-picker-width content-to-centre">
                        <div class="targetStartDate">
                            <!--targetDP-->
                            <span *ngIf="stagesScopeFormArray.controls[i].value.Stage=='CP0'; else liveDate"
                                class="field-date-width"></span>
                            <ng-template #liveDate>
                                <mat-form-field appearance="outline" class="vendor-select field-date-width">
                                    <input class="form-control" matInput formControlName="liveDate"
                                        placeholder="ww/yyyy" name="dp" required />
                                    <button mat-icon-button [disabled]="governanceMilestoneConfig.liveDate.disabled">
                                        <mat-icon>date_range</mat-icon>
                                    </button>
                                </mat-form-field>
                            </ng-template>
                        </div>
                        <!--[ngStyle]="{'top': getPickerStyles(i)}"-->
                        <app-week-picker class="week-picker"
                            [weekYearValue]="dynamicGovernanceMilestoneForm.controls[i]?.value.liveDate"
                            [fromDate]="fromDecisionDate[i]" [toDate]="toDecisionDate[i]"
                            (weekFormat)="changeDecisionDate($event,i)" *ngIf="false">
                        </app-week-picker>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="decisionDate" *ngIf="governanceMilestoneConfig.decisionDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Governance Decision Date">
                        Governance Decision Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                        class="due-date-cell flex-form-field date-picker-width content-to-centre">
                        <div class="targetStartDate" (click)="getStopPropogation($event,i)">
                            <!--targetDP-->
                            <mat-form-field appearance="outline" class="vendor-select field-date-width">
                                <input class="form-control" matInput formControlName="decisionDate"
                                    placeholder="ww/yyyy" name="dp" required />
                                <button mat-icon-button
                                    (click)="showDecisionDate[i]?getBool[i]:openDecisionWeekPicker($event,i)"
                                    [disabled]="disableButtons[i]">
                                    <mat-icon>date_range</mat-icon>
                                </button>
                            </mat-form-field>
                            <!--  <mat-error *ngIf="isDateValid(i)">
                                    Please Select date
                                </mat-error>
                                <mat-error *ngIf="checkDatePattern(i)">
                                    Enter valid date in MM/YYYY format
                                </mat-error> -->
                        </div>
                        <!--[ngStyle]="{'top': getPickerStyles(i)}"-->
                        <app-week-picker class="week-picker" (click)="$event.stopPropagation()"
                            [weekYearValue]="dynamicGovernanceMilestoneForm.controls[i]?.value.decisionDate"
                            [fromDate]="fromDecisionDate[i]" [toDate]="toDecisionDate[i]"
                            (weekFormat)="changeDecisionDate($event,i)" *ngIf="showDecisionDate[i]">
                        </app-week-picker>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="decision" *ngIf="governanceMilestoneConfig.decision.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Governance Decision">
                        <!--Dropdown-->
                        Governance Decision
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="due-date-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-select formControlName="decision"
                                [disabled]="governanceMilestoneConfig.decision.disabled ">
                                <mat-option *ngFor="let decision of decisions" value="{{decision.value}}">
                                    {{ decision.displayName }}
                                </mat-option>
                                <!-- [(ngModel)]="selectedVendors[i]"
                                            (selectionChange)="onVendorSelection(i)"-->
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="comments" *ngIf="governanceMilestoneConfig.comments.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef
                        matTooltip="Governance Comments/Feedback">
                        Governance Comments/Feedback
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                        class="due-date-cell change-feedback-cell-size">
                        <mat-form-field class="field-width" appearance="outline">
                            <textarea matInput formControlName="comments"
                                (ngModelChange)="updateGMInfo('comments',i,'Comments')"></textarea>
                            <!--  <input autocomplete="off" matInput
                                formControlName="comments">  *ngIf="stagesScopeFormArray &&stagesScopeFormArray.controls[i] && stagesScopeFormArray.controls[i].value && stagesScopeFormArray.controls[i].value.comments.hasError('maxlength')"-->

                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                        <button mat-icon-button class="save-button-width" matTooltip="save"
                            (click)="saveGovernanceMileStone(element.value,i)"
                            [disabled]="!dynamicGovernanceMilestoneForm.controls.stagesScope['controls'][i].touched">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="gmGridColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: gmGridColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </form>
    <!-- Governance Milestone data table -->
    <p class="governance-milestone-scope-info"
        *ngIf="showGovernanceMilestoneForm && stagesScopeFormArray.controls.length === 0">No Governance Milestone(s)
        available</p>
    <p class="governance-milestone-scope-info" *ngIf="!showGovernanceMilestoneForm && loadingGovernanceMilestone">
        Loading....</p>
</div>