<div class="container">
    <div class="company-info">
        <img class="mpm-logo" src="assets/images/logo.png" alt="MPM">
        <h1>Acheron Software Consultancy Pvt. Ltd.</h1>
        <br>
        <h2>Media Project Management</h2>
        <br>
        <span>Please sign in to access the MPM portal.</span>
    </div>
    <div class="login">
        <mpm-login (authenticated)="onAuthenticated($event)"></mpm-login>
    </div>
</div>