.container {
    display: flex;
    height: 100vh;
    margin-top: 7%;

    .company-info {
        text-align: center;
        flex-grow: 2;

        .mpm-logo {
            height: 200px;
        }
    }

    .login {
        flex-grow: 1;
    }
}