<form *ngIf="managerConfig.e2ePM.ngIf" [formGroup]="managerForm" class="request-form-change">
    <ng-container>
        <mat-form-field appearance="outline" floatLabel="never">
            <mat-label>E2EPM</mat-label>
            <input type="text" matInput [value]="selectedValue" *ngIf="requestStatus === 'Completed'" disabled>
            <mat-select formControlName="e2ePM" *ngIf="requestStatus!='Completed'" [(ngModel)]="selectede2EPM" [disabled]="managerConfig.e2ePM.disabled" (ngModelChange)="one2EPMSelection('e2ePM','requestForm')" required>
                <mat-option class="options" *ngFor="let user of listConfig.e2ePMUsers" [value]="user">
                    {{user.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formControls.e2ePM.hasError('required')">
                Please Select E2EPM
            </mat-error>
        </mat-form-field>
    </ng-container>
</form>