<mat-card class="deliverable-card" *ngIf="deliverableData">
    <!-- {{masterSelectedDeliverable}} by keerthana
    {{bulkActions}} by bulkActions
    {{unselectDeliverable}} by unselectDeliverable{{events}} -->
    <div class="flex-col">

        <div class="flex-col-item" *ngIf="isUploaded && deliverableData.asset && deliverableData.asset.rendition_content && (deliverableData.asset.rendition_content.thumbnail_content ?deliverableData.asset.rendition_content.thumbnail_content && deliverableData.asset.rendition_content.thumbnail_content.url : deliverableData.asset.rendition_content.preview_content && deliverableData.asset.rendition_content.preview_content.url)">
            <!--  *ngIf="isUploaded && deliverableData.asset && deliverableData.asset.rendition_content && deliverableData.asset.rendition_content.thumbnail_content && deliverableData.asset.rendition_content.thumbnail_content.url" -->
            <div class="flex-row image-holder">
                <div class="asset-content-area">
                    <div class="asset-holder">
                        <mat-checkbox *ngIf="((bulkEdit && bulkEdit.bulkEdit) ||deliverableData.bulkEdit) && (!isPMView && isDeliverableApprover )" color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()" (change)="isSelected(deliverableData,$event)"
                            [checked]="unselectDeliverable">
                            <!-- [checked]="(masterSelectedDeliverable)" -->
                        </mat-checkbox>
                        <mat-checkbox *ngIf="((bulkEdit && bulkEdit.bulkEdit) ||deliverableData.bulkEdit) && (isPMView && isProjectOwner) && deliverableData.IS_ACTIVE_DELIVERABLE " color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()" (change)="isSelected(deliverableData,$event)"
                            [checked]="unselectDeliverable">
                            <!-- [checked]="(masterSelectedDeliverable)" -->
                            <!-- && otmmAssetLinkId !='NA' -->
                        </mat-checkbox>
                        <img *ngIf="deliverableData.asset && deliverableData.asset.rendition_content && (deliverableData.asset.rendition_content.thumbnail_content !== undefined)" matTooltip="{{deliverableData.asset.name}}" src="{{otmmBaseUrl + deliverableData.asset.rendition_content.thumbnail_content.url.slice(1)}}"
                            alt="asset">
                        <mat-icon class="preview-file-icon" *ngIf="deliverableData.asset && deliverableData.asset.rendition_content && !(deliverableData.asset.rendition_content.thumbnail_content)" matTooltip="{{deliverableData.asset.name}}">
                            {{findDocType(this.deliverableData.asset.name)}}
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-col-item" *ngIf="isUploaded && deliverableData.asset && !deliverableData.asset.rendition_content">
            <div class="flex-row image-holder">
                <div class="asset-content-area">
                    <div class="asset-holder">
                        <mat-checkbox *ngIf="((bulkEdit && bulkEdit.bulkEdit) ||deliverableData.bulkEdit) && (!isPMView && isDeliverableApprover )" color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()" (change)="isSelected(deliverableData,$event)"
                            [checked]="unselectDeliverable">
                            <!-- [checked]="(masterSelectedDeliverable)" -->
                        </mat-checkbox>
                        <mat-checkbox *ngIf="((bulkEdit && bulkEdit.bulkEdit) ||deliverableData.bulkEdit) && (isPMView && isProjectOwner) && deliverableData.IS_ACTIVE_DELIVERABLE " color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()" (change)="isSelected(deliverableData,$event)"
                            [checked]="unselectDeliverable">
                            <!-- [checked]="(masterSelectedDeliverable)" -->
                            <!-- && otmmAssetLinkId !='NA' -->
                        </mat-checkbox>
                        <mat-icon class="preview-file-icon" matTooltip="{{deliverableData.asset.name}}">
                            {{findDocType(deliverableData.asset.NAME)}}
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="flex-col-item action-card"
            *ngIf="deliverableData.deliverableType === 'REVIEW' && parentDeliverableData && parentDeliverableData.DELIVERABLE_TYPE === 'COMPLETE'">
            <mat-checkbox
                *ngIf="((bulkEdit && bulkEdit.bulkEdit) ||deliverableData.bulkEdit) && (!isPMView && isDeliverableApprover )"
                color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()"
                (change)="isSelected(deliverableData,$event)" [checked]="unselectDeliverable">
            </mat-checkbox>
            <mat-checkbox
                *ngIf="((bulkEdit && bulkEdit.bulkEdit) ||deliverableData.bulkEdit) && (isPMView && isProjectOwner) && deliverableData.IS_ACTIVE_DELIVERABLE "
                color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()"
                (change)="isSelected(deliverableData,$event)" [checked]="unselectDeliverable">
            </mat-checkbox>
        </div> -->

        <!-- <div class="flex-row"
            *ngIf="deliverableData.asset && deliverableData.asset.THUMBNAIL_CONTENT_URL === '' && deliverableData.asset.ERROR_OCCURRED === 'false' && deliverableData.asset.IS_UPLOADED === 'true'"
            style="margin: auto;">
            <div class="asset-content-area">
                <mat-icon class="preview-file-icon">
                    {{findDocType(deliverableData.asset.NAME)}}
                </mat-icon>
            </div>
        </div> -->

        <div class="flex-row image-holder" *ngIf="!isUploaded && deliverableData.deliverableType !== 'COMPLETE' && !(parentDeliverableData && parentDeliverableData.DELIVERABLE_TYPE === 'COMPLETE')">
            <div class="asset-content-area" *ngIf="canUpload">
                <button mat-icon-button [disabled]="projectCompletedStatus || (isPMView && !isProjectOwner) || isTemplate || (!isPMView && ((getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_NAME) === 'NA' || !isActive) || (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_ID) !== loggedInUserId))) || isOnHoldProject  || !isActive"
                    (click)="upload()">
                    <mat-icon class="mat-icon-img preview-file-icon">publish</mat-icon>
                </button>
            </div>
            <div class="asset-content-area" *ngIf="!canUpload">
                <mat-icon class="mat-icon-img uploadIcon uploadPreviewIcon">crop_3_2
                </mat-icon>
            </div>
        </div>
        <div class="flex-row image-holder" *ngIf="isUploaded && otmmAssetLinkId === 'NA'">
            <div class="asset-content-area" *ngIf="deliverableData.deliverableType === 'UPLOAD'">
                <button mat-icon-button disabled>
                    <mat-icon class="mat-icon-img preview-file-icon">publish</mat-icon>
                </button>
            </div>
            <div class="asset-content-area" *ngIf="deliverableData.deliverableType === 'REVIEW'">
                <mat-icon class="mat-icon-img uploadIcon uploadPreviewIcon">crop_3_2
                </mat-icon>
            </div>
        </div>

        <div class="flex-row image-holder" *ngIf="thumbnailLoading">
            <div class="upload-loading-icon asset-content-area">
                <div class="preview-icon-area">
                    <mat-spinner strokeWidth="6" [diameter]="70" class="upload-spin"></mat-spinner>
                </div>
            </div>
        </div>
        <div class="deliverable-actions">
            <!--  <button mat-icon-button matTooltip="Claim"
                *ngIf="!isPMView && (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_ID) === 0 || getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_ID) === '0')"
                [disabled]="!isActive || !canClaim || deliverableData.deliverableReviewId || isOnHoldProject"
                (click)="claim()">
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Revoke"
                *ngIf="isRevokeEnabled && canRevoke && !isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_NAME) !== 'NA'"
                [disabled]="!isActive || loggedInUserId !== getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_ID) || isOnHoldProject"
                (click)="revoke()">
                <mat-icon>thumb_down_alt</mat-icon>
            </button> -->
            <button mat-icon-button color="primary" class="defaultCursor" matTooltip="Deliverable is assigned by project manager" *ngIf="!canRevoke && !isPMView">
                <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Open Creative Review" (click)="openCR()" *ngIf="!isTemplate && deliverableData.deliverableType !== 'COMPLETE'" [disabled]="isPMView ? false || isOnHoldProject || projectCompletedStatus || (!deliverableData.asset) : (isPMView && !isProjectOwner) || (!deliverableData.asset) || 
                (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_TYPE) === 'REVIEW' && (deliverableData.deliverableReviewId ? deliverableData.deliverableReviewId !== loggedInUserId : (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_APPROVER_ID) !== loggedInUserId && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_NAME) === 'NA'))) || projectCompletedStatus || isOnHoldProject">
                <mat-icon>rate_review</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Download Asset" (click)="download()" *ngIf="!isTemplate && deliverableData.deliverableType !== 'COMPLETE' && canDownload" [disabled]="isPMView ? false || isOnHoldProject || projectCompletedStatus || (!deliverableData.asset) : (isPMView && !isProjectOwner) || (!deliverableData.asset) || 
                (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_TYPE) === 'REVIEW' && (deliverableData.deliverableReviewId ? deliverableData.deliverableReviewId !== loggedInUserId : (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_APPROVER_ID) !== loggedInUserId && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_NAME) === 'NA'))) || projectCompletedStatus || isOnHoldProject">
                <mat-icon>get_app</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Share Asset" (click)="shareAsset()" *ngIf="!isTemplate && deliverableData.deliverableType !== 'COMPLETE'" [disabled]="isPMView ? false || isOnHoldProject || projectCompletedStatus || (!deliverableData.asset) : (isPMView && !isProjectOwner) || (!deliverableData.asset) || 
                (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_TYPE) === 'REVIEW' && (deliverableData.deliverableReviewId ? deliverableData.deliverableReviewId !== loggedInUserId : (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_APPROVER_ID) !== loggedInUserId && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_NAME) === 'NA'))) || projectCompletedStatus || isOnHoldProject">
                <mat-icon>share</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Comments" (click)="openCommentDialog($event)" *ngIf="(!isTemplate && !isPMView && currProjectId && currDeliverableId  && (level =='PROJECT' || level=='TASK' || level =='CAMPAIGN'))" [disabled]="isOnHoldProject || (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_ID) !== loggedInUserId)">
                <!-- && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) !== assetStatusConstants.COMPLETED  -->
                <mat-icon>chat</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="More Actions" [matMenuTriggerFor]="deliverableMenu" style="float: right;">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <div class="deliverable-details">
            <div class="flex-col-item deliverable-info">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <span>
                            <mat-icon matTooltipClass="test"
                                matTooltip="Task Type: {{getDeliverableTypeIcon(getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_TYPE)).DESCRIPTION + '\n'}} Status: {{getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS)}}"
                                class="info-icon"
                                [ngClass]="{'active-icon':isActive && !isTemplate && !(isOnHoldProject) && 
                                getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.DEFINED, 
                                'gray': (!isActive || isOnHoldProject) && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.DEFINED,
                                'green' : getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.APPROVED || getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.COMPLETED, 
                                'red':  getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.REJECTED,
                                'orange': getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.IN_PROGRESS}">
                                {{getDeliverableTypeIcon(getProperty(deliverableData,
                                MPMFeildConstantMapper.DELIVERABLE_TYPE)).ICON}}
                            </mat-icon>
                        </span>
                        <span class="card-title" matTooltip="{{getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_NAME) || 'NA'}}">
                            {{getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_NAME) || 'NA'}}
                        </span>
                        <span class="priority-icon">
                            <mat-icon
                                matTooltip="Priority: {{getPriority(deliverableData, MPMFeildConstantMapper.DELIVERABLE_PRIORITY).tooltip}}"
                                [style.color]="getPriority(deliverableData, MPMFeildConstantMapper.DELIVERABLE_PRIORITY).color">
                                {{getPriority(deliverableData, MPMFeildConstantMapper.DELIVERABLE_PRIORITY).icon}}
                            </mat-icon>
                        </span>

                    </div>
                </div>
            </div>
            <div class="flex-col-item deliverable-info">
                <div class="flex-row">
                    <!--  <div class="flex-row-item card-item"
                        *ngIf="getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_DUE_DATE)"
                        matTooltip="Due Date: {{getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_DUE_DATE)}}">
                        <mat-icon>event</mat-icon>
                        <span class="item-value">{{getProperty(deliverableData,
                            MPMFeildConstantMapper.DELIVERABLE_DUE_DATE)}}</span>
                    </div> -->
                    <div class="flex-row-item card-item" *ngIf="getProperty(taskDueDate, mapper)" matTooltip="Due Date: {{getWeekValue(taskDueDate,mapper) || 'NA'}}">
                        <mat-icon>event</mat-icon>
                        <span class="item-value">{{getWeekValue(taskDueDate, mapper) || 'NA'}}</span>
                    </div>
                    <div class="flex-row-item card-item" *ngIf="!isTemplate">
                        <mat-icon class="gray " [ngClass]="{'green' : getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.COMPLETED, 'red':  getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.REJECTED}">
                            call_merge</mat-icon>
                        <span *ngIf="deliverableData.asset" matTooltip="Version: {{deliverableData.asset.version}}">
                            V{{deliverableData.asset.version}}
                        </span>
                        <span *ngIf="!deliverableData.asset" matTooltip="To be uploaded">
                            V0
                        </span>

                    </div>
                    <div class="flex-row-item">
                        <mat-icon *ngIf="reviewPerformed" matTooltip="Reviewed">check_circle_outline</mat-icon>
                        <mat-icon *ngIf="reviewPerformed === false" matTooltip="To be reviewed">supervisor_account
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="displayableMPMFields && displayableMPMFields.length > 0">
                <div class="flex-col-item deliverable-info" *ngFor="let metadata of displayableMPMFields">
                    <div class="flex-row">
                        <div class="flex-row-item card-item" matTooltip="{{metadata.DISPLAY_NAME}}: {{metadata.VALUE}}">
                            <span class="item-title ">{{metadata.DISPLAY_NAME}}:</span>
                            <span class="item-value text-wrap">
                                {{metadata.VALUE === 'NA' ? metadata.VALUE : metadata.VALUE | titlecase}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-menu #deliverableMenu="matMenu">
    <!-- <button mat-menu-item aria-label="Actions" [matMenuTriggerFor]="deliverableActionsMenu" *ngIf="deliverableData.deliverableReviewId ? !isReviewed : ((isActive && !isTemplate && (isPMView || (isDeliverableOwner && deliverableData.deliverableType === 'COMPLETE') || isDeliverableApprover) && (deliverableData.deliverableType != 'UPLOAD' )) || (!canUpload && otmmAssetLinkId !== 'NA' && deliverableData.deliverableType === 'REVIEW' && !isCompleted && deliverableData.IS_ACTIVE_DELIVERABLE && hasCRRole && enableCRAction)) && !(deliverableConfig && deliverableConfig.isReadOnly) &&  !(projectCompletedStatus) && !(isOnHoldProject)"
        [disabled]="!enableCRAction && deliverableData.deliverableType !== 'COMPLETE'">
        <mat-icon>done</mat-icon>
        <span>Actions</span>
    </button> -->
    <button mat-menu-item aria-label="Edit Deliverable" (click)="editTask(deliverableData)">
    <mat-icon>edit</mat-icon>
    <span>Edit Task</span>
    </button>
    <!-- <button mat-menu-item aria-label="Edit Deliverable" *ngIf="(isDelieverableEditable) " (click)="editDeliverable()" [disabled]="!(getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.DEFINED || getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.IN_PROGRESS) || isOnHoldProject || projectCompletedStatus || (isUploaded && otmmAssetLinkId === 'NA')">
        <mat-icon>edit</mat-icon>
        <span *ngIf="canUpload">Edit Deliverable</span>
        <span *ngIf="!canUpload">View/Edit Reviewers</span>
    </button>
    <button mat-menu-item aria-label="Upload" *ngIf="canUpload && isActive && !isTemplate" [disabled]="projectCompletedStatus || (isPMView && !isProjectOwner) || (!isPMView && (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_NAME) === 'NA' || (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_ID) !== loggedInUserId))) || (isUploaded && otmmAssetLinkId === 'NA') ||   isOnHoldProject"
        (click)="upload()">
        <mat-icon>publish</mat-icon>
        <span>Upload</span>
    </button> -->
    <!--  <button mat-menu-item aria-label="View Details" (click)="viewDeliverableReferenceAsset($event)">
        <mat-icon>info</mat-icon>
        <span>Show Reference</span>
    </button> -->
    <!-- <button mat-menu-item aria-label="View Details" (click)="viewDeliverableDetails(isTemplate,$event)">
        <mat-icon>info</mat-icon>
        <span>View Details</span>
    </button> -->
    <!-- <button mat-menu-item aria-label="View Versions" *ngIf="deliverableData.asset" (click)="viewVersions()">
        <mat-icon>collections</mat-icon>
        <span>View Versions</span>
    </button>
    canUpload && !isTemplate || - disabled and isUploaded in ngif-->
    <!--<button mat-menu-item aria-label="Delete Deliverable" *ngIf="canUpload && isTemplate || canUpload && isActive" [disabled]=" projectCompletedStatus || (isPMView && !isProjectOwner) || (!isPMView && (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_NAME) === 'NA' || (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_ID) !== loggedInUserId))) || (isUploaded && otmmAssetLinkId === 'NA') ||   isOnHoldProject"
        (click)="deleteDeliverable(false)">
        <mat-icon>delete</mat-icon>
        <span>Delete Deliverable</span>
    </button>
    <button mat-menu-item aria-label="Delete Deliverable" *ngIf="canUpload && isTemplate || canUpload && isActive" [disabled]="projectCompletedStatus || (isPMView && !isProjectOwner) || (!isPMView && (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_NAME) === 'NA' || (getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_OWNER_ID) !== loggedInUserId))) || (isUploaded && otmmAssetLinkId === 'NA') ||   isOnHoldProject"
        (click)="deleteDeliverable(true)">
        <mat-icon>delete</mat-icon>
        <span>Permanent Delete Deliverable</span>
    </button>

    <button mat-menu-item aria-label="Move To Inprogress" *ngIf="(deliverableData.deliverableType === 'COMPLETE' || deliverableData.deliverableType === 'REVIEW' || (deliverableData.deliverableType === 'UPLOAD' && !isPMView)) && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_STATUS) === assetStatusConstants.DEFINED
    && !isOnHoldProject && isActive && !isTemplate" [disabled]="(isPMView && !isProjectOwner) || (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_ID) !== loggedInUserId)" (click)="moveToInprogress()">
        <mat-icon>pending</mat-icon>
        <span>Move To Inprogress</span>
    </button> 
</mat-menu> -->

    <!-- <mat-menu #deliverableActionsMenu="matMenu">
    <button mat-menu-item aria-label="Complete" *ngIf="(deliverableData.deliverableType === 'COMPLETE') || (deliverableData.deliverableType === 'REVIEW' && parentDeliverableData && parentDeliverableData.DELIVERABLE_TYPE === 'COMPLETE')" [disabled]="(isPMView && !isProjectOwner) || (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_ACTIVE_USER_ID) !== loggedInUserId)"
        (click)="performAction('Complete')">-->
    <!-- || (!canUpload && otmmAssetLinkId === 'NA' && deliverableData.deliverableType === 'REVIEW' && !isCompleted)
<span>Complete</span>
</button> -->
    <!-- && otmmAssetLinkId !== 'NA' -->
    <!--<span *ngIf="deliverableData.deliverableType === 'REVIEW' && !(parentDeliverableData && parentDeliverableData.DELIVERABLE_TYPE === 'COMPLETE') && (deliverableData.deliverableReviewId ? enableReviewApproval : (isApprover || isPMView))">
        <span *ngFor="let action of currentUserActionData">
            <button mat-menu-item *ngIf="action.ALLOW_ONE_CLICK_APPROVAL === 'true'"
                [disabled]="(isPMView && !isProjectOwner) || (!isPMView && getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_TYPE) === 'REVIEW' && (deliverableData.deliverableReviewId ? deliverableData.deliverableReviewId !== loggedInUserId : getProperty(deliverableData, MPMFeildConstantMapper.DELIVERABLE_APPROVER_ID) !== loggedInUserId))                "
                (click)="performAction(action)">
                <span>{{action.STATUS_NAME}}</span> ,
</button>
</span>
</span>
<span *ngIf="deliverableData.deliverableType === 'REVIEW' && deliverableData.deliverableReviewId && isReviewer && !enableReviewApproval">
        <button mat-menu-item aria-label="Mark As Completed" (click)="performAction('FINAL-REVIEW-COMPLETED')">
            <span>Mark As Completed</span>
</button>
</span>
</mat-menu> -->