:root {
    --main-bg-color: #303030;
    --main-bg-contrast-color: #d4d4d4;
    --main-bg-color-header: #4a4a4a;
    --brand-color: #88c534;
    --brand-color-accent: #4a4a4a;
    --main-text-color: #ffffff;
    /* #181818 */
    --boundary-color: #73736f;
    /*#ffffff;*/
    --disabled-color: #A9A9A9;
    --notification-bg-color: #424242;
    --notification-info-color: #cec64d;
    --notification-success-color: #008000;
    --notification-warn-color: #ffa500;
    --notification-error-color: #f44336;
    --notification-text-color: #ffffff;
    --header-menu-alignment: 0%;
    /* To center align the header menu, change the value to around 35%. */
    --highlight-hover-color: #ffffff;
    --header-color: #A9A9A9;
    --chip-text-color: #181818;
    --chip-bg-color: #d4d4d4;
    --active-checkbox-color: #28a745;
    --active-task-color: #579e07;
    --inactive-task-color: #e4e4e4;
    --task-duedate-extend-color: #ce3737;
    --task-duedate-current-color: #8dc63f;
    --more-action-color: #fffcfcc4;
    --dasboard-header-color: #303030;
    --search-box-color: #303030;
    --side-nav-pannel-color: #303030;
    --expansion-pannel-header-color: #494949;
    --progress-bar-color: #579e07;
    --facet-header: #4a4a4a;
    --mat-card-color: #303030;
    --circled-name-letter-color: #ffffff;
    --project-name-color: #ffffff;
    --highLight-weekEnd: pink;
    --rejection-task-color: red;
    --date-overlap-color: red;
    --notification-group-color: #BEBEBE;
    --notification-group-data-color: #404040;
    --notification-date-color: #D3D3D3;
    --denied-status-color: #bb0a12;
    --main-bg-image: url(https://www.pexels.com/photo/black-smartphone-3520429/) !important;
}

html,
body {
    height: 100%;
    background-color: var(--main-bg-image);
}

.bulk-actions {
    background-color: var(--main-bg-contrast-color);
}

.mat-menu-panel,
.mat-datepicker-content,
.mat-select-panel,
.mat-dialog-container,
.mat-autocomplete-panel,
.app-groupby-expansion-panel,
.mat-card,
.mat-expansion-panel,
.mat-option,
.mat-select-value {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

.mat-list-item,
.mat-drawer-container,
.mat-paginator,
.mat-drawer,
.mat-expansion-panel-header-title,
.mat-icon-button,
::placeholder,
.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-select-arrow,
.mat-calendar-table-header,
.mat-calendar-body-label,
.mat-calendar-body-cell-content,
.mat-toolbar {
    color: var(--main-text-color) !important;
}

.mat-expansion-panel .facet-panel .mat-expansion-panel-body {
    color: var(--main-text-color) !important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: var(--main-text-color) !important;
}
.mat-input-element:disabled,
button[disabled],
.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    color: var(--disabled-color) !important;
}

.mat-calendar-body-selected {
    background-color: var(--brand-color) !important;
}

.mat-form-field-disabled {
    color: var(--main-text-color) !important;
}

.mat-button.mat-accent {
    background-color: var(--boundary-color) !important;
    color: var(--main-text-color) !important;
}

.mat-calendar-body-today {
    background-color: var(--brand-color);
}

.my-application {
    color: var(--brand-color) !important;
}

.mat-list-item.active {
    color: var(--main-text-color) !important;
    background-color: var(--brand-color) !important;
}

mat-nav-list a.active {
    background: var(--brand-color) !important;
    color: var(--main-text-color) !important;
}

.mat-chip {
    color: var(--chip-text-color) !important;
    background-color: var(--chip-bg-color) !important;
}

mat-dialog-content {
    /* border-top: 1px solid var(--boundary-color);
    border-bottom: 1px solid var(--boundary-color); */
}

/* app-confirmation-modal mat-dialog-content,
app-add-status mat-dialog-content {
    padding: 20px !important;
} */

.app-nav-bar .app-toolbar {
    background-color: var(--main-bg-color-header) !important;
}

.app-nav-bar .app-toolbar {
    min-height: 65px !important;
}

.app-nav-bar .app-toolbar .menu-list {
    margin-left: var(--header-menu-alignment);
}

.app-nav-bar .app-toolbar .app-logo img {
    height: 60px !important;
    width: 120px !important;
}

.app-nav-bar .app-toolbar .menu-link.active {
    color: var(--brand-color) !important;
}

.app-nav-bar .app-toolbar .menu-link {
    color: #ffffff !important;
}

.search-box {
    background-color: var(--search-box-color) !important;
}

mat-sidenav,
mat-sidenav-container {
    background-color: var(--main-bg-color) !important;
}

mat-nav-list.project-overview-side-menu a {
    background-color: var(--side-nav-pannel-color);
}

mat-nav-list.project-overview-side-menu a.active {
    background-color: var(--brand-color) !important;
    color: var(--main-bg-color);
}

mat-sidenav-content {
    background-color: var(--main-bg-color) !important;
}

mat-sidenav {
    border-right: 0.5px solid #4a4a4a !important;
}

.mat-drawer-inner-container {
    background-color: var(--side-nav-pannel-color);
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: var(--disabled-color) !important;
}

.app-content {
    color: var(--main-bg-contrast-color);
    background-color: var(--main-bg-color);
}

.project-overview-side-menu a.menu-item:hover {
    background-color: var(--boundary-color);
}

mat-form-field-outline,
.mat-stroked-button {
    border-color: var(--boundary-color) !important;
}

.mat-form-field-label,
.mat-flat-button.mat-primary[disabled] {
    color: var(--main-text-color) !important;
}

.mat-icon-button {
    color: var(--brand-color) !important;
}

.dashboard-control {
    color: var(--main-text-color);
}

.circled-name-letters,
.project-short-letter-logo {
    color: var(--circled-name-letter-color) !important;
    background-color: var(--brand-color) !important;
}

.comments-group .comment-search .search-btn,
.comment-send .comment-send-controls .send-btn {
    color: var(--brand-color) !important;
    background-color: var(--main-bg-color) !important;
}

.comments-group .comments-icon {
    color: var(--boundary-color);
}

.comments-group mat-card {
    color: var(--brand-color) !important;
    background-color: var(--main-bg-color) !important;
}

.comments-group mat-card {
    border: 1px solid var(--main-bg-contrast-color) !important;
}

.comments-messages .arrow-right {
    color: var(--brand-color) !important;
    border-left: 14px solid var(--main-bg-contrast-color) !important;
}

.comments-messages .arrow-left {
    color: var(--brand-color) !important;
    border-right: 14px solid var(--main-bg-contrast-color) !important;
}

.comment-message-item .original-comment-item .user-info-container {
    background-color: var(--brand-color) !important;
}

.loading-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
}

.loading-holder mat-spinner circle {
    stroke: var(--brand-color) !important;
}

span.item-title {
    color: var(--main-text-color);
}

.breadcrumb-holder .breadcrumb .breadcum-name:hover,
.breadcrumb-holder .breadcrumb .breadcum-name:last-child {
    color: var(--brand-color) !important;
}

mat-chip.mat-standard-chip.has-reviewed {
    background-color: var(--brand-color) !important;
}

/*task list view due date extended*/

.task-list .duedate-extended {
    background-color: var(--task-duedate-extend-color);
}

.task-list .duedate-current {
    background-color: var(--task-duedate-current-color);
}

.project-card,
.mat-table,
.mat-cell,
.task-card,
.asset-card,
.search-card,
.app-card {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

.mat-progress-bar-buffer {
    background-color: var(--progress-bar-color) !important;
}

.mat-menu-item,
.mat-menu-item .mat-icon {
    color: var(--main-text-color) !important;
}

app-assets-card-view .asset-card .image-action-buttons a {
    color: var(--brand-color) !important;
    background-color: var(--main-bg-color) !important;
}

.qds-transfer-actions .action-button {
    border-left: 1px solid var(--boundary-color);
    border-right: 1px solid var(--boundary-color);
}

.no-asset-found {
    color: var(--disabled-color);
}

.acron-file-upload-wrapper {
    border: 2px dashed var(--boundary-color);
}

table.task-list,
table.projects-list,
table.projects-list .mat-cell {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

.swim-column,
.swim-nonDrag-column {
    border: 1px solid var(--boundary-color);
}

.my-deliverables-content mat-expansion-panel {
    border: 1px solid var(--boundary-color);
}

footer {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-top: 1px solid var(--boundary-color);
}

/* button:disabled>mat-icon {
    color: var(--boundary-color) !important;
} */

.asset-detail-title {
    color: var(--main-text-color) !important;
}

.mat-header-cell {
    color: var(--brand-color) !important;
}

.mat-snack-bar-container {
    color: var(--notification-text-color) !important;
}

.info-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-info-color);
}

.info-notification .notification-container .icon>mat-icon {
    color: var(--notification-info-color) !important;
}

.success-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-success-color);
}

.success-notification .notification-container .icon>mat-icon {
    color: var(--notification-success-color) !important;
}

.warn-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-warn-color);
}

.warn-notification .notification-container .icon>mat-icon {
    color: var(--notification-warn-color) !important;
}

.error-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-error-color);
}

.error-notification .notification-container .icon>mat-icon {
    color: var(--notification-error-color) !important;
}

.active-task-icon {
    color: var(--active-task-color) !important;
}

.inactive-task-icon {
    color: var(--inactive-task-color) !important;
}

.rejection-task-icon {
    color: var(--rejection-task-color) !important;
}

.task-active {
    background-color: var(--brand-color) !important;
    color: var(--main-bg-color) !important;
}

.image-content .action-icon {
    background-color: var(--more-action-color) !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: var(--active-checkbox-color) !important;
}

.mat-checkbox-layout {
    /* border: solid 2px none !important; */
    /* border-color: var(--highlight-hover-color) !important; */
}


.mat-pseudo-checkbox {
    border-color: var(--highlight-hover-color) !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background: var(--active-checkbox-color) !important;
}

.mat-radio-outer-circle {
    border: solid 2px !important;
    border-color: var(--highlight-hover-color) !important;
}

.mat-card:hover {
    border: solid 2px !important;
    border-color: var(--highlight-hover-color) !important;
}

/* .mat-row:hover {
    background-color: var(--highlight-hover-color) !important;
} */

/* .searchColor {
    border: var(--brand-color) 1px solid;
} */

.facet-panel .mat-expansion-panel-header

/* , .mat-expansion-panel-header:hover  */
    {
    background-color: var(--expansion-pannel-header-color) !important;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: var(--brand-color) !important;
}

.facet-header {
    background-color: var(--facet-header) !important;
}

.mat-hint {
    color: var(--notification-error-color) !important;
}

.skipReview {
    color: var(--main-text-color) !important;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary,
.menu-list a.active,
.active-icon,
.comment-user,
.reply-comment-item {
    color: var(--brand-color) !important;
}


/* 
mat-icon, .mat-icon.mat-primary {
    color: var(--brand-color);
}
 */

.mat-icon-close-btn,
.bulk-comments-modal-title {
    color: var(--brand-color) !important;
}

.text-comment-area {
    border: var(--brand-color) !important;
}

mat-nav-list.comments-overview-side-menu a.active {
    background: var(--brand-color) !important;
}

.comment-header-image,
a.menu-item:hover,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
    background-color: var(--brand-color) !important;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
    background-color: var(--active-checkbox-color) !important;
}

.mat-radio-button {
    color: #d4d4d4;
}
.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    color: #A9A9A9 !important;
} 
.mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: #A9A9A9 !important;
  } 
.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: #A9A9A9 !important;
}

.mat-input-element {
    caret-color: var(--brand-color) !important;
}

.mat-focused .mat-form-field-outline,
.mat-form-field-label {
    color: var(--brand-color) !important;
}
/* span.mat-placeholder-required.mat-form-field-required-marker  */

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background: var(--brand-color) !important;
}

.mat-icon.mat-primary {
    color: var(--brand-color) !important;
}

.comment-message-item mat-card-title .comment-date {
    color: var(--main-text-color) !important;
}

.mat-card {
    background-color: var(--mat-card-color) !important;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
    background-color: var(--brand-color) !important;
}

.project-name {
    color: var(--project-name-color) !important;
}

.campaignLink:hover {
    text-decoration-color: var(--brand-color);
}

.reference-asset {
    color: var(--brand-color);
}

.ui-column-resizer {
    color: white;
}

::ng-deep mat-card.mat-card.mat-focus-indicator.deliverable-card div.flex-col div.flex-col-item div.flex-row.image-holder div.asset-content-area div.asset-holder mat-checkbox.mat-checkbox.flex-row-item.select-asset.mat-primary.ng-star-inserted label.mat-checkbox-layout div.mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin div.mat-checkbox-background {
    border: 3px solid var(--brand-color) !important;
}

.mat-checkbox-inner-container {
    border: solid 2px !important;
}

.custom-tooltip {
    max-width: 100rem !important;
    ;
    max-height: 20px;
    text-overflow: unset !important;
    white-space: nowrap;
}

.notification-action,
.notification-group {
    color: var(--notification-group-color);
}

.notification-group-data:hover {
    background-color: var(--notification-group-data-color);
}

.notification-group-data:hover .notification-clear-icon,
.notification-group-data:hover .notification-read-icon {
    color: var(--notification-group-color) !important;
}

.notification-group-data a {
    color: var(--brand-color);
}

.notification-date {
    color: var(--notification-date-color);
}

.notification-unread-icon {
    color: var(--brand-color);
}

.brand {
    color: var(--brand-color) !important;
}

.resource-text-color {
    color: var(--main-text-color) !important;
    padding-left: 10px;
}

.highlightWeekEnd {
    background-color: var(--highLight-weekEnd);
}

.highlightOverloaded {
    background-color: var(--date-overlap-color) !important;
}

::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted {
    color: var(--circled-name-letter-color) !important;
}

::ng-deep div.mat-checkbox-inner-container {
    border: solid 0.5px !important;
    border-color: var(--highlight-hover-color) !important;
}

::ng-deep .mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
    border: solid 0.5px !important;
    border-color: var(--highlight-hover-color) !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: rgb(248 245 245 / 12%);
    padding-right: 8px !important;
}

div.central-info  button {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color-header) !important;
}

.mat-form-field-invalid .mat-form-field-outline
{
    color: var(--notification-error-color) !important;
}

.default-status {
    background-color: #b0b0b0 !important;
}

.denied-status {
    background-color: var(--denied-status-color) !important;/*ff0000cf */
}

.progress-status {
    background-color: #ff8944  !important;
}
.delete-status{
    background-color: #f10f0f  !important;
    
}
.completed-status {
    background-color: #4caf50 !important;
}

.draft-status {
    background-color: #ffcf44 !important;
}

.active-status {
    background-color: #ff8944  !important;
}

.cancelled-status{
    background-color: #7e7d7c  !important;
}

.task-progress-status {
    /* background-color: #8602fa !important; */
    background-color: #8602fa !important;

}

.task-completed-status {
    /* background-color: #8602fa !important; */
    background-color: #258f03 !important;

}
.mat-form-field-required-marker { color: red !important}

app-project-request-details {
    width: 100%;
}

.filter-item .label{
    width: 60% !important;
}

/**.mat-checkbox-checked.mat-accent .mat-checkbox-background**/
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: var(--main-bg-color) !important;
}

.mat-checkbox-disabled .mat-checkbox-label {
    color: var(--disabled-color) !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
   color: var(--brand-color) !important;
}

app-project-comments {
    width: 100%;
}
.astric-required-symbol {
    color: #ff0e19;
}

app-npd-assets {
    width: 100%;
}

.completed-calender-paint {
    background-color: #258f03;
   margin: 8px 0;
    /* border-radius: 4px; */
    display: flex;
    align-items: center;
  }

  .task-cancelled-paint{
    background-color: #7e7d7c;
    display: flex;
    /* border-radius: 4px; */
    align-items: center;
    margin: 8px 0;
  }

  .overdue-paint{
    background-color:red;
    display: flex;
    /* border-radius: 4px; */
    align-items: center;
    margin: 8px 0;
  }