:root {
    --main-bg-color: #ffffff;
    /*#303030*/
    /*    --main-content-bg-color: #e4e4e4b8; */
    --main-bg-contrast-color: #d4d4d4;
    --brand-color: #c0ca33;
    --main-text-color: #181818;
    --boundary-color: #ffffff;
    /* #73736f;*/
    --disabled-color: #e4e4e4;
    --notification-bg-color: #424242;
    --notification-info-color: #cec64d;
    --notification-success-color: #008000;
    --notification-warn-color: #ffa500;
    --notification-error-color: #f44336;
    --notification-text-color: #ffffff;
    --header-menu-alignment: 0%;
    /* To center align the header menu, change the value to around 35%. */
    --highlight-hover-color: #ffffff
        /*  rgba(0, 0, 0, 0.04); */
        --header-color: #A9A9A9;
    --chip-text-color: #181818;
    --chip-bg-color: #d4d4d4;
    --active-checkbox-color: #c0ca33;
    --active-task-color: #cbc32d;
    --inactive-task-color: #e4e4e4;
    --task-duedate-extend-color: #ce3737;
    --task-duedate-current-color: #FFA500;
    --more-action-color: #fffcfcc4;
    --dasboard-header-color: #ffffff;
    --search-box-color: #d4d4d4;
    --side-nav-pannel-color: #ffffff;
    --expansion-pannel-header-color: #d4d4d4;
    --progress-bar-color: #c0ca33;
    --facet-header: #c0ca33;
    --mat-card-color: #ffffff;
    --circled-name-letter-color: #181818;
    --project-name-color: #181818;
    --highLight-weekEnd : pink;
}

html,
body {
    height: 100%;
    background-color: var(--main-bg-color);
}

.selected-deliverable-card {
    border: solid var(--brand-color);
}

.bulk-actions {
    background-color: var(--main-bg-contrast-color);
}

.mat-menu-panel,
.mat-datepicker-content,
.mat-select-panel,
.mat-dialog-container,
.mat-autocomplete-panel,
.app-groupby-expansion-panel {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

.mat-menu-panel,
.mat-datepicker-content,
.mat-select-panel,
.mat-dialog-container,
.mat-autocomplete-panel,
.app-groupby-expansion-panel,
.mat-card,
.mat-expansion-panel,
.mat-option

/* , .mat-select-value */
    {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

/* .mat-select-disabled .mat-select-value {
    color: var(--disabled-color) !important;
}
 */
/* .mat-list-item, .mat-paginator, .mat-drawer, .mat-expansion-panel-header-title, .mat-icon-button, ::placeholder,  .mat-select-arrow, .mat-calendar-table-header, .mat-calendar-body-label, .mat-calendar-body-cell-content, .mat-toolbar ,.mat-drawer-container,.mat-form-field-appearance-outline .mat-form-field-outline { 
    color: var(--main-text-color) !important;
}
.mat-input-element:disabled, button[disabled], .mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    color: var(--disabled-color) !important;
}
.mat-calendar-body-selected {
    background-color: var(--brand-color) !important;
} */

.mat-button.mat-accent {
    background-color: var(--boundary-color) !important;
    color: var(--main-text-color) !important;
}

.mat-chip {
    color: var(--chip-text-color) !important;
    background-color: var(--chip-bg-color) !important;
}

mat-dialog-content {
    border-top: 1px solid var(--boundary-color);
    border-bottom: 1px solid var(--boundary-color);
}

/* app-confirmation-modal mat-dialog-content,
app-add-status mat-dialog-content {
    padding: 20px !important;
} */

.app-nav-bar .app-toolbar {
    background-color: var(--dasboard-header-color);
}

.app-nav-bar .app-toolbar .menu-list {
    margin-left: var(--header-menu-alignment);
}

.menu-list a.active {
    color: var(--brand-color) !important;
}

.app-nav-bar .app-toolbar .app-logo img {
    height: 60px !important;
    width: 60px !important;
}

.app-nav-bar .app-toolbar .menu-link.active {
    color: var(--brand-color);
}

.search-box {
    background-color: var(--search-box-color) !important;
}

mat-sidenav,
mat-sidenav-container {
    background-color: var(--main-bg-color) !important;
}

/* mat-nav-list.project-overview-side-menu a {
    background-color: var(--main-bg-color);
}
 */
mat-nav-list.project-overview-side-menu a.active {
    background-color: var(--brand-color);
    /*  color: var(--main-bg-color); */
}

mat-sidenav-content {
    background-color: var(--main-content-bg-color) !important;
}

/* .mat-drawer-inner-container {
    background-color: var(--side-nav-pannel-color);
}
 */

.app-content {
    color: var(--main-bg-contrast-color);
    background-color: var(--main-bg-color);
}

.project-overview-side-menu a.menu-item:hover {
    background-color: var(--boundary-color);
}

.dashboard-control {
    color: var(--main-text-color);
}

.circled-name-letters,
.project-short-letter-logo {
    color: var(--circled-name-letter-color) !important;
    background-color: var(--brand-color) !important;
}

.comments-group .comment-search .search-btn,
.comment-send .comment-send-controls .send-btn {
    color: var(--brand-color) !important;
    background-color: var(--main-bg-color) !important;
}

.comments-group .comments-icon {
    color: var(--boundary-color);
}

.comments-group mat-card {
    color: var(--brand-color) !important;
    background-color: var(--main-bg-color) !important;
}

.comments-group mat-card {
    border: 1px solid var(--main-bg-contrast-color) !important;
}

.comments-messages .arrow-right {
    color: var(--brand-color) !important;
    border-left: 14px solid var(--main-bg-contrast-color) !important;
}

.comments-messages .arrow-left {
    color: var(--brand-color) !important;
    border-right: 14px solid var(--main-bg-contrast-color) !important;
}

.comment-message-item .original-comment-item .user-info-container {
    background-color: var(--brand-color) !important;
}

.loading-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
}

.loading-holder mat-spinner circle {
    stroke: var(--brand-color) !important;
}

span.item-title {
    color: var(--main-text-color);
}

.breadcrumb-holder .breadcrumb .breadcum-name:hover,
.breadcrumb-holder .breadcrumb .breadcum-name:last-child {
    color: var(--brand-color) !important;
}

mat-chip.mat-standard-chip.has-reviewed {
    background-color: var(--brand-color) !important;
}

/*task list view due date extended*/

.task-list .duedate-extended {
    background-color: var(--task-duedate-extend-color);
}

.task-list .duedate-current {
    background-color: var(--task-duedate-current-color);
}

.project-card,
.task-card,
.asset-card,
.search-card,
.app-card {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

/* .mat-progress-bar-buffer {
    background-color: var(--progress-bar-color) !important;
}
 */

app-assets-card-view .asset-card .image-action-buttons a {
    color: var(--brand-color) !important;
    background-color: var(--main-bg-color) !important;
}

.qds-transfer-actions .action-button {
    border-left: 1px solid var(--boundary-color);
    border-right: 1px solid var(--boundary-color);
}

.no-asset-found {
    color: var(--disabled-color);
}

.acron-file-upload-wrapper {
    border: 2px dashed var(--boundary-color);
}

table.task-list,
table.projects-list,
table.projects-list .mat-cell {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

.swim-column,
.swim-nonDrag-column {
    border: 1px solid var(--boundary-color);
}

.my-deliverables-content mat-expansion-panel {
    border: 1px solid var(--boundary-color);
}

footer {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border-top: 1px solid var(--boundary-color);
}

/* button:disabled>mat-icon {
    color: var(--boundary-color) !important;
} */

.asset-detail-title {
    color: var(--main-text-color) !important;
}

.mat-header-cell {
    color: var(--header-color) !important;
    /* font-weight: bold; */
}

.mat-snack-bar-container {
    color: var(--notification-text-color) !important;
}

.info-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-info-color);
}

.info-notification .notification-container .icon>mat-icon {
    color: var(--notification-info-color) !important;
}

.success-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-success-color);
}

.success-notification .notification-container .icon>mat-icon {
    color: var(--notification-success-color) !important;
}

.warn-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-warn-color);
}

.warn-notification .notification-container .icon>mat-icon {
    color: var(--notification-warn-color) !important;
}

.error-notification {
    background-color: var(--notification-bg-color) !important;
    border-bottom: 2px solid var(--notification-error-color);
}

.error-notification .notification-container .icon>mat-icon {
    color: var(--notification-error-color) !important;
}

.active-task-icon {
    color: var(--active-task-color) !important;
}

.inactive-task-icon {
    color: var(--inactive-task-color) !important;
}

.task-active {
    background-color: var(--brand-color) !important;
    color: var(--main-bg-color) !important;
}

.image-content .action-icon {
    background-color: var(--more-action-color) !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: var(--active-checkbox-color) !important;
}

.mat-checkbox-layout {
    border: solid 2px none !important;
    /*border-color: var(--highlight-hover-color) !important;*/
}

.mat-radio-outer-circle {
    border: solid 2px !important;
    border-color: var(--chip-text-color) !important;
}

/* .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: var(--active-checkbox-color) !important;
} */

/* .mat-card:hover {
    border:solid 1px !important;
    border-color: var(--highlight-hover-color)1px solid !important;
} */

.mat-row:hover {
    background-color: var(--highlight-hover-color) !important;
}

.facet-panel .mat-expansion-panel-header

/* , .mat-expansion-panel-header:hover */
    {
    background-color: var(--main-bg-contrast-color) !important;
}

.facet-header
/* , .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb, .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary  */

    {
    background-color: var(--facet-header) !important;
}

.mat-card {
    background-color: var(--mat-card-color) !important;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
    background-color: var(--brand-color) !important;
}

.project-name {
    color: var(--project-name-color) !important;
}

.mat-hint {
    color: var(--notification-error-color) !important;
}

.mat-mini-fab.mat-accent {
    background-color: var(--brand-color) !important;
}

app-manager-dashboard {
    width: 100% !important;
}

.email-chip-completed {
    background-color: var(--brand-color) !important;
}

.campaignLink:hover {
    text-decoration-color: var(--brand-color);
}

.reference-asset {
    color: var(--brand-color);
}

.email-value {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 290px;
    white-space: nowrap;
}


.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border-radius: 21px !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 0px !important;
}

mat-sidenav-container {
    flex: 1;
    height: calc(100vh - 90px);
    margin-top: 15px;
}

mat-side-nav.expanded {
    width: 250px;
}

mat-side-nav.collapsed {
    width: 100px;
}

.comment-user {
    color: var(--brand-color) !important;
}

.calendar-nav-button {
    background-color: var(--brand-color) !important;
}

::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background-color: var(--brand-color) !important;
}
.columnChooserHeader {
    border-bottom: 1px solid lightgray;
}

.ui-column-resizer {
    color: lightgray;
}

::ng-deep .mat-expansion-panel-header,
.mat-expansion-panel-header:hover {
    background-color: var(--brand-color) !important;
}

.resource-text-color {
    color: var(--main-text-color) !important;
    padding-left: 10px;
}

.highlightWeekEnd {
    background-color: var(--highLight-weekEnd);
}
/*.skipReview {
    color: var( --main-text-color) !important;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary, .menu-list a.active, .active-icon, .comment-user, .reply-comment-item {
    color: var(--brand-color) !important;
}
mat-icon, .mat-icon.mat-primary {
    color: var(--brand-color);
}
.mat-icon-close-btn, .bulk-comments-modal-title {
    color: var(--brand-color) !important;
}
.text-comment-area {
    border: var(--brand-color) !important;
}
mat-nav-list.comments-overview-side-menu a.active {
    background: var(--brand-color) !important;
}
.comment-header-image, a.menu-item:hover, .mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
    background-color: var(--brand-color) !important;
}
.mat-input-element {
    caret-color: var(--brand-color) !important;
}
.mat-focused .mat-form-field-outline, .mat-form-field-label, span.mat-placeholder-required.mat-form-field-required-marker {
    color: var(--brand-color) !important;
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background: var(--brand-color) !important;
}
.form-actions .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
    background-color: var(--brand-color) !important;
}
 */