<div class="sp-header">

    <button mat-stroked-button matTooltip="Add Artwork Primary(s)" (click)="bulkCreateSP()"
        [disabled]="secondaryPackagingConfig?.addBtn?.disabled" color="primary">
        <mat-icon>add</mat-icon>Add
    </button>
    <button mat-stroked-button color="primary" matTooltip="Delete Artwork Primary(s)" class="sp-controls-button"
        (click)="bulkDeleteSP()"
        [disabled]="secondaryPackagingConfig?.deleteBtn?.disabled"><!--*ngIf="marketScopeDataConfig.actions.ngIf" color="primary"-->
        <mat-icon>delete_outline</mat-icon>Delete
    </button>

</div>

<div class="governance-milestone-scope-table-container">
    <form *ngIf="showSecondaryPackagingForm" class="secondary-packaging-data-grid"
        [formGroup]="dynamicSecondaryPackagingForm">
        <ng-container formArrayName="secondaryPackaging">
            <mat-table #artworkPrimaryTable [dataSource]="secondaryPackagingFormArray.controls">
                <ng-container matColumnDef="select">
                    <!--*ngIf="marketScopeDataConfig.harmonisedMarket.ngIf"-->
                    <mat-header-cell class="mrm-table-checkbox" *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()" [aria-label]="checkboxLabel()">
                            <!--[disabled]="marketScopeDataConfig.harmonisedMarket.disabled"-->
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let row;let i = index;">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                            <!--[disabled]="marketScopeDataConfig.harmonisedMarket.disabled"-->
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="required" *ngIf="secondaryPackagingConfig.required.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Required?">
                        Required?
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="required" (ngModelChange)="updateSPInfo('required',i,'')" [disabled]="secondaryPackagingConfig.required.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->
                <!-- <ng-container matColumnDef="required" *ngIf="secondaryPackagingConfig.required.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Required?">
                        Required?
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="required" (ngModelChange)="updateSPInfo('required',i,'')" />
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                    class="table-cell"
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="required" (ngModelChange)="updateSPInfo('required',i,'')" [disabled]="secondaryPackagingConfig.required.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->
                <!-- <ng-container matColumnDef="regsNeeded" *ngIf="secondaryPackagingConfig.regsNeeded.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Regs Needed?">
                        Regs Needed?
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="regsNeeded" (ngModelChange)="updateSPInfo('regsNeeded',i,'')" [disabled]="secondaryPackagingConfig.regsNeeded.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->
                <!-- <ng-container matColumnDef="packFormat" *ngIf="secondaryPackagingConfig.packFormat.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Pack Format">
                        Pack Format
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-select formControlName="packFormat" (ngModelChange)="updateSPRelationInfo('packFormat',i)" [disabled]="secondaryPackagingConfig.packFormat.disabled">
                                <mat-option *ngFor="let packFormat of packFormats" value="{{packFormat.value}}">
                                    {{ packFormat.displayName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container> -->



                <ng-container class="table-cell" matColumnDef="mpmJobNo" *ngIf="secondaryPackagingConfig.mpmJobNo.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef
                        matTooltip="Artwork MPM Job No.">
                        MPM Job No
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="mpmJobNo" pattern="^[0-9]*$"
                                (ngModelChange)="updateSPInfo('mpmJobNo',i,'')" />
                            <!--  <input autocomplete="off" matInput
                                formControlName="comments">  *ngIf="secondaryPackagingFormArray &&secondaryPackagingFormArray.controls[i] && secondaryPackagingFormArray.controls[i].value && secondaryPackagingFormArray.controls[i].value.comments.hasError('maxlength')"-->
                            <mat-error>
                                Enter only numbers
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container class="table-cell" matColumnDef="mpmGroup" *ngIf="secondaryPackagingConfig.mpmGroup.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Artwork MPM Group">
                        MPM Group
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="mpmGroup"
                                (ngModelChange)="updateSPInfo('mpmGroup',i,'')" />
                            <mat-error>
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <!-- *ngIf="marketScopeDataConfig.actions.ngIf"-->
                    <mat-header-cell *matHeaderCellDef matTooltip=" MPM Artwork Actions"> MPM Artwork Actions
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [formGroup]="element">
                        <button mat-icon-button matTooltip="Delete" class="market-scope-controls-button"
                            (click)="deleteSecondaryPackagingGroup(i)"
                            [disabled]="secondaryPackagingConfig?.deleteBtn?.disabled"><!-- [disabled]="marketScopeDataConfig.actions.disabled"-->
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="spGridColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: spGridColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </form>
    <!-- Governance Milestone data table -->
    <p class="secondary-packaging-info"
        *ngIf="showSecondaryPackagingForm && secondaryPackagingFormArray.controls.length === 0">No Artwork Primary
        available</p>
    <p class="secondary-packaging-info" *ngIf="!showSecondaryPackagingForm && loadingSecondaryPackaging">
        Loading....</p>
</div>