/* $background-color: #c0ca33; */

mat-sidenav-container {
    flex: 1;
    height: calc(100vh - 90px);
    margin-top: 15px;
}

mat-side-nav.expanded {
    width: 250px;
}

mat-side-nav.collapsed {
    width: 100px;
}


/* mat-nav-list a.active {
    background: $mpm-active-color ;
    color: rgba(0, 0, 0, 0.87) !important;
} */

a.menu-item {
    cursor: pointer;
    display: block;
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-col-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-row-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

mat-nav-list {
    padding: 0;
}

a.menu-item:hover {
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    /*   background-color: #c0ca33; */
}

.menu-toggler-holder {
    flex-grow: 0;
    text-align: right;
}

.menu-toggler-holder.closed {
    text-align: center;
}

.menu-toggler {
    width: 35px;
    height: 35px;
    margin: 15px 2px;
    border-radius: 100%;
    line-height: 0;
}

.menu-toggler mat-icon.expanded {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
}

.project-logo-holder {
    text-align: center;
    height: 100px;
    margin: 16px 0;
}

mat-sidenav {
    .menu-item {
        .align-center {
            justify-content: center;
            align-items: center;
        }
        .mat-icon {
            vertical-align: middle;
        }
        .menu-text {
            margin: 0 24px;
        }
        &.mat-list-item-disabled {
            background: transparent;
            color: rgba(0, 0, 0, 0.38);
        }
    }
    .project-short-letter-logo {
        height: 100px;
        width: 100px;
        font-size: 40px;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
    }
}

::ng-deep app-assets {
    position: absolute;
    width: 100%;
}

.toggle-sidenav {
    margin-left: 10px;
    bottom: 36px;
    position: fixed;
}

.back-holder {
    // text-align: center;
    height: 42px;
}

.default-cursor {
    .mat-icon {
        cursor: pointer;
    }
}

.project-name {
    padding: 8px 12px;
    text-align: center;
    width: 172px;
    max-height: 48px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    display: inline-block;
}

.flex-row-height {
    height: 100%;
}

.project-data-container{
    // display: flex;
    // flex-wrap: wrap;
    border: solid 1px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    border: solid #9dff00ab;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    // font-weight: 500;
}
.project-data{
    color: black;
}