<div [ngClass]="{ 'side-barContainer':!isExpanded}" >

<mat-sidenav-container  [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
    <mat-sidenav #appNav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true">
        <div>
            <!-- <div class="project-logo-holder"> -->
                <!-- <img class="project-logo" [ngClass]="{'collapsed': isExpanded !== true}" src="assets/images/logo.png" /> -->

            <!-- </div> -->
            <div class="menu-item">
                <div class="menu-item" *ngIf="isExpanded">
                    <span class="project-name" *ngIf="!(projectId || campaignId)">{{isTemplate ? 'New Template' : isCampaign ? 'New Campaign' :'New Project'}}</span>
                    <!-- <span class="project-name" *ngIf="projectId && !selectedProject">Loading...</span> -->
                    <!-- <span class="project-name" matTooltip="{{selectedProject.PROJECT_NAME}}" *ngIf="projectId && selectedProject && selectedProject.PROJECT_NAME">{{selectedProject.PROJECT_NAME}}</span> -->
                    <span class="project-name" matTooltip="{{selectedCampaign.CAMPAIGN_NAME}}" *ngIf="campaignId && selectedCampaign && selectedCampaign.CAMPAIGN_NAME">{{selectedCampaign.CAMPAIGN_NAME}}</span>
                    <div *ngIf="projectDetails" style="width:250px" class="project-data-container">
                        <!-- <mpm-asset-preview [assetURL]="assetUrl" [isCollapsed]="!isExpanded" [rectangleWidth]="!isExpanded? '60px': '100px'" [rectangleHeight]="!isExpanded? '60px': '100px'"></mpm-asset-preview> -->
                        <p class="project-data"><b>{{projectDetails.NPD_PROJECT_BUSINESS_ID}}</b></p>
                        <p class="project-data"><b>{{projectDetails.PR_MARKET}}</b></p>
                        <p class="project-data"><b>{{projectDetails.PR_BRAND || projectDetails.PR_BRAND_string +"  "}} {{projectDetails.PR_PLATFORM}}</b></p>
                        <p class="project-data"><b>{{projectDetails.PR_VARIANT}}</b></p>
                        <p class="project-data">{{projectDetails.PR_SKU_DETAILS +" - "}}{{projectDetails.PR_PRIMARY_PACKAGING_TYPE+","}}</p>
                        <p class="project-data">{{projectDetails.PR_CONSUMER_UNIT_SIZE+" x "}}{{" "+projectDetails.PR_CASE_PACK_SIZE+","}}</p>
                        <p class="project-data"><b>{{manufacturingSite}}</b></p>
                    </div>
                </div>
                <div class="flex-row" *ngIf="isExpanded">
                    <div class="flex-row-item align-center default-cursor" *ngIf="selectedCampaignId" (click)="backToDashboard(false)">
                        <mat-icon matTooltip="Back to Dashboard" aria-label="Back to Dashboard">home</mat-icon>
                    </div>
                    <div class="flex-row-item back-holder" [ngStyle]="{'justify-content': selectedCampaignId ? 'normal' : 'center'}" *ngIf="isExpanded">
                        <button mat-raised-button (click)="backToDashboard(true)" matTooltip="Back">
                            <mat-icon aria-label="Back to Projects">arrow_back</mat-icon>
                            <span>Back</span>
                        </button>
                    </div>
                </div>
                <div class="flex-row back-holder default-cursor" *ngIf="!isExpanded && selectedCampaignId" (click)="backToDashboard(false)" style="justify-content: center;">
                    <mat-icon matTooltip="Back to Dashboard" aria-label="Back to Dashboard">home</mat-icon>
                </div>
                <div class="flex-row back-holder" *ngIf="!isExpanded" style="justify-content: center;">
                    <button mat-mini-fab (click)="backToDashboard(true)" matTooltip="Back">
                        <mat-icon> {{!isExpanded?'arrow_back':'arrow_front'}}</mat-icon>
                    </button>
                </div>
            </div>
            <br />
            <div>
                <mat-nav-list class="project-overview-side-menu">
                    <a *ngFor="let menu of menus" mat-list-item class="menu-item" [class.active]="menu.ACTIVE" (click)="routeToSelectedMenu(menu.LOCATION)" [disabled]="menu.LOCATION === 'Overview'? false : !(projectId || campaignId)" matTooltip="{{!isExpanded ? menu.DISPLAY_NAME : ''}}">
                        <mat-icon [ngClass]="{'purple-color':(projectDetails?.NPD_PROJECT_COMMENT_EXIST && menu.DISPLAY_NAME =='Comments') || (totalAssetsCount>0 && menu.DISPLAY_NAME==='Assets')}" >{{menu.ICON}}</mat-icon>
                        <span *ngIf="isExpanded" class="menu-text">{{menu.DISPLAY_NAME}}</span>
                    </a>
                </mat-nav-list>
                
            </div>
        </div>
        <div class="toggle-sidenav">
            <div [ngClass]="{'closed' : isExpanded !== true}">
                <button mat-mini-fab (click)="isExpanded = !isExpanded" matTooltip="{{isExpanded ? 'Hide side menu' : 'Show side menu'}}" (click)="rotate()">
                    <mat-icon [@rotatedState]='state'>chevron_left</mat-icon>
                </button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="flex-row flex-row-height">
            <div class="flex-row-item menu-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
