<div class="flex-row  main-title-header">
    <div>
        <span class="flex-form-field-label">{{request && request.requestType}} -</span> 
        <span>#{{request && request.requestId}}</span>
    </div>
    <div *ngIf="taskConfig.taskHeader.ngIf" class="flex-form-field">
        <span class="task-header">{{taskConfig.taskHeader.value}}</span>
    </div>
    <div *ngIf="taskConfig.requestedDate.ngIf" class="flex-form-field">
        <span class="flex-form-field-label">Requested Date : </span> 
        <span>{{taskConfig.requestedDate.value | date}}</span>
    </div>
    <div>
        <span class="flex-form-field-label">Status : </span> 
        <span>{{getStatusDisplayName(request && request.status)}}</span>
    </div>
</div>
