<div class="project-classification-data-header">
    Project Classification Data
</div>
<form [formGroup]="projectClassificationDataForm">
    <div class="container">
        <mat-form-field *ngIf="projectClassificationDataConfig.earlyProjectClassification.ngIf" appearance="outline" floatLabel="never">
            <mat-label>Early Project Classification</mat-label>
            <input type="text" placeholder="" formControlName="earlyProjectClassification" value="Awaiting Classification"
                (ngModelChange)="updateRequestInfo('earlyProjectClassification','projectClassificationDataForm')"  matInput [disabled]="projectClassificationDataConfig.earlyProjectClassification.disabled">
        </mat-form-field>

        <mat-form-field *ngIf="projectClassificationDataConfig.earlyManufacturingSite.ngIf" appearance="outline" floatLabel="never">
            <mat-label>Early Manufacturing Site</mat-label>
            <mat-select formControlName="earlyManufacturingSite" required (ngModelChange)="updateRequestRelationsInfo('earlyManufacturingSite','projectClassificationDataForm')" [disabled]="projectClassificationDataConfig.earlyManufacturingSite.disabled">
                <mat-option class="options" *ngFor="let site of earlyManufacturingSites" [value]="site.ItemId">
                    {{site.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classificationDataForm.earlyManufacturingSite?.hasError('required')">
                Please Select Early Manufacturing Site
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="projectClassificationDataConfig.draftManufacturingLocation.ngIf" appearance="outline" floatLabel="never">
            <mat-label>Draft Manufacturing Location</mat-label>
            <mat-select formControlName="draftManufacturingLocation" required (ngModelChange)="updateRequestRelationsInfo('draftManufacturingLocation','projectClassificationDataForm')" [disabled]="projectClassificationDataConfig.draftManufacturingLocation.disabled">
                <mat-option class="options" *ngFor="let location of draftManufacturingLocations"
                    [value]="location.ItemId">
                    {{location.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classificationDataForm.draftManufacturingLocation?.hasError('required')">
                Please Select Draft Manufacturing Location
            </mat-error>
        </mat-form-field>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newFg.ngIf">
            <mat-label id="new-fg">New FG(SAP?)
                <span class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="newFg" aria-labelledby="new-fg" (change)="updateRequestInfo('newFg','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.newFg.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.newFg?.errors.required">
                    Please Select New FG(SAP?)
                </div>
            </ng-container>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newRnDFormula.ngIf">
            <mat-label id="new-rnd">New R&D Formula
                <span class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="newRnDFormula" aria-labelledby="new-rnd" (change)="updateRequestInfo('newRnDFormula','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.newRnDFormula.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.newRnDFormula?.errors.required">
                    Please Select New R&D Formula
                </div>
            </ng-container>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newHBCFormula.ngIf">
            <mat-label id="new-hbc">New HBC Formula
                <span class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="newHBCFormula" aria-labelledby="new-hbc" (change)="updateRequestInfo('newHBCFormula','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.newHBCFormula.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.newHBCFormula?.errors.required">
                    Please Select New HBC Formula
                </div>
            </ng-container>
        </div>

        <mat-form-field appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.earlyProjectClassificationDesc.ngIf">
            <mat-label>Early Project Classification Description</mat-label>
            <input type="text" placeholder="" formControlName="earlyProjectClassificationDesc" value="Awaiting Classification"
            (ngModelChange)="updateRequestInfo('earlyProjectClassificationDesc','projectClassificationDataForm')"
            [disabled]="projectClassificationDataConfig.earlyProjectClassificationDesc.disabled" matInput>
        </mat-form-field>
        
        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newPrimaryPackaging.ngIf">
            <mat-label id="new-primary-packaging">New Primary Packaging
                <span class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="newPrimaryPackaging" aria-labelledby="new-primary-packaging" (change)="updateRequestInfo('newPrimaryPackaging','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
                <!-- <mat-radio-button value="true" color="primary">Yes</mat-radio-button>
                <mat-radio-button value="false" color="primary">No</mat-radio-button> -->
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.newPrimaryPackaging.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.newPrimaryPackaging?.errors.required">
                    Please Select New HBC Formula
                </div>
            </ng-container>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.secondaryPackaging.ngIf">
            <mat-label id="secondary-packaging"> 2ndary Packaging
                <span class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="secondaryPackaging" aria-labelledby="secondary-packaging" (change)="updateRequestInfo('secondaryPackaging','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.secondaryPackaging.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.secondaryPackaging?.errors.required">
                    Please Select 2ndary Packaging
                </div>
            </ng-container>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.registrationDossier.ngIf">
            <mat-label id="reg-dossier"> Registration Dossier
            </mat-label>
            <mat-radio-group formControlName="registrationDossier" aria-labelledby="reg-dossier" (change)="updateRequestInfo('registrationDossier','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.preProdReg.ngIf">
            <mat-label id="pre-prod-reg"> Pre Production Registration
            </mat-label>
            <mat-radio-group formControlName="preProdReg" aria-labelledby="pre-prod-reg" (change)="updateRequestInfo('preProdReg','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.postProdReg.ngIf">
            <mat-label id="post-prod"> Post Production Registration
            </mat-label>
            <mat-radio-group formControlName="postProdReg" aria-labelledby="post-prod" (change)="updateRequestInfo('postProdReg','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value" >{{ option.displayName}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field class="tech-desc" appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.techDesc.ngIf">
            <mat-label>Technical Description</mat-label>
            <textarea matInput formControlName="techDesc"
                (ngModelChange)="updateRequestInfo('techDesc','projectClassificationDataForm')"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.corpPm.ngIf">
            <mat-label>Corp PM</mat-label>
            <mat-select formControlName="corpPm" [(ngModel)]="selectedCorpPM" (ngModelChange)="corpPMSelection('corpPm','projectClassificationDataForm')" required [disabled]="projectClassificationDataConfig.corpPm.disabled">
                <mat-option *ngFor="let user of corpPMUsers" [value]="user" class="options">
                    {{user.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classificationDataForm.corpPm?.hasError('required')">
                Please Select Corp PM
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="never" *ngIf="projectClassificationDataConfig.opsPm.ngIf">
            <mat-label>OPS PM</mat-label>
            <mat-select formControlName="opsPm" required  [(ngModel)]="selectedOpsPM" (ngModelChange)="opsPMSelection('opsPm','projectClassificationDataForm')" [disabled]="projectClassificationDataConfig.opsPm.disabled">
                <mat-option *ngFor="let user of opsPMUsers" [value]="user" class="options">
                    {{user.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classificationDataForm.opsPm?.hasError('required')">
                Please Select OPS PM
            </mat-error>
        </mat-form-field>
    </div>
</form>
