.project-classification-data-header{
    font-size: 18px;
    margin-bottom: 16px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 24px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.radio-buttons{
    display: grid;
    position: relative;
}

.error-field{
    color: #f44336;
}

.error-font{
    font-size: 75%;
}

.error-position{
    position: absolute;
    top: 68px;
}

.tech-desc{
    display: grid;
    grid-area: 3/1/3/3;
}

@media only screen and (max-width: 1300px) {
    .container{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .tech-desc{
        grid-area: auto;
    }
  }
  @media only screen and (max-width: 992px) {
    .container{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (max-width: 768px) {
    .container{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 576px) {
    .container{
      grid-template-columns: 1fr;
    }
  }