/* :host{
    display: block;
    margin: 28px;
} */

.form-view {
    display: block;
    margin: 28px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 24px));
    ;
    grid-row-gap: 48px;
    margin-bottom: 24px;
    /* padding-bottom: 24px; */
    grid-column-gap: 24px;
}

// .container {
//     display: flex;
//     justify-content: space-between;
//     margin-right: 0.8rem;
//     flex-wrap: wrap;
// }
.base-spacing {
    margin-top: 10px;
}

.spacer {
    margin-left: 24px;
}

.non-group-spacing {
    padding-bottom: 16px;
}

.tasks-selection-spacing {
    //margin-left: 24px;
    margin-top: 15px;
}

.panel-container {
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 24px));
    ;
    grid-row-gap: 48px;
    //margin-bottom: 0px;
    //padding-bottom: 0px;
    grid-column-gap: 24px;
}

.panel-container-ops{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 24px));
    grid-row-gap: 48px;
    grid-column-gap: 24px;
    //margin-bottom: 0px;
    //padding-bottom: 0px;
}
.project-team-container {
    display: flex;
    flex-direction: column;
}
.gap-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-top: 12px;
}

// .panel-container {
//     display: flex;
//     justify-content: space-between;
// }
.head,
.spacing {
    margin-bottom: 24px;
}

.display-name {
    color: var(--brand-color) !important;
    margin-bottom: 16px;
}

.full-width {
    width: 100%;
}

.over-due {
    background-color: rgb(106, 22, 22);
}

.head-content {
    min-width: 50px;
}

.head-content-gap {
    min-width: 50px;
    min-height: 85px;
}

.head-content-ops{
    min-width: 65px;

}

// .head-content-project-name {
//     width: max-content;
// }
.display-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.hide-ellipses {
    white-space: initial; //break-spaces;
}

.border-bottom {
    border-bottom: 1px solid #b0b0b0 !important;
}

::ng-deep .mat-form-field {
    min-width: 50px;
}

.form-group-panel {
    background: transparent;
    overflow: inherit;
    /*   ::ng-deep mpm-custom-metadata-field {
      width: 100%;
  }
 */
     ::ng-deep .mat-expansion-panel-header {
        padding: 0 4px;
    }
     ::ng-deep .mat-expansion-panel-body {
        padding: 0 16px 16px 0;
    }
}

.project-view-container {

    margin-bottom: 28px;
    margin-top: 10px;
    height: calc(100vh - 231px);
    overflow: auto;
    // padding: 0 40px 0 40px;
    width: calc(100vw - 333px);
}
::ng-deep .side-barContainer{
  .project-view-container {
    margin-bottom: 28px;
    margin-top: 10px;
    height: calc(100vh - 231px);
    overflow: auto;
    // padding: 0 40px 0 40px;
    width: calc(100vw - 116px) ;
}
}

.week-picker {
    position: absolute;
    z-index: 999;
    top: 75px;
}

.week-select {
    position: relative;
}

.wp-select {
    display: flex;
    margin-top: -10px;
    width: 100%;
    margin-bottom: -10px;
}

.form-btns {
    justify-content: flex-end;
    /* margin-bottom: 5px; */
    padding: 0 10px 0 0px;
}

.main-title-header {
    background: #289438eb;
    padding: 0 40px 0 65px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}


/* .early-classification {
  display: grid;
  grid-area: 4/1/4/3;
}

.early-desc {
  display: grid;
  grid-area: 4/6/4/3;
}
 */

.project-desc {
    display: grid;
    grid-area: 2/4/2/6;
}

.risk-summary {
    display: grid;
    grid-area: 5/1/5/3;
}

.status-criticalItems {
    display: grid;
    grid-area: 5/6/5/3;
}

@media only screen and (max-width: 1300px) {
    .panel-container,
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .project-desc,
    .risk-summary,
    .status-criticalItems {
        grid-area: auto;
    }
    /*  .early-classification,.early-desc {
        grid-area: auto;
    } */
}

@media only screen and (max-width: 992px) {
    .panel-container,
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project-desc,
    .risk-summary,
    .status-criticalItems {
        grid-area: auto;
    }
    /*  .early-classification,.early-desc {
    grid-area: auto;
  } */
}

@media only screen and (max-width: 768px) {
    .panel-container,
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .project-desc,
    .risk-summary,
    .status-criticalItems {
        grid-area: auto;
    }
}

@media only screen and (max-width: 576px) {
    .panel-container,
    .container {
        grid-template-columns: 1fr;
    }
}

@keyframes blinking {
    100% {
        background-color: red;
    }
}

.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.red{
    background-color: red;
}


/* .visibility {
  //visibility: visible !important;
  display: inherit;
}

.hide-visibility {
  //visibility: hidden !important;
  display: none;
} */
