<ng-container *ngIf="projectOverviewForm">
    <div class="flex-row main-title-header" (click)="closeAllWeekPicker({ flag: false })">
        <div>
            <span class="flex-form-field-label">#{{request?.requestBusinessId.replace("R","")}}</span>
        </div>
        <div *ngIf="isBulkEdit">

            <span class="blink flex-form-field-label">Project Bulk Editing is in Progress</span>

        </div>
        <div>
            <span class="flex-form-field-label">
                <button mat-icon-button (click)="refreshProject()" class="ang-btn">
                    <mat-icon>refresh</mat-icon></button><!--color='primary'-->
            </span>
        </div>
    </div>
    <div class="project-view-container form-view" (mouseenter)="storePanelHTML($event)"
        (mouseleave)="handlePanelLeaveEvent($event)" (click)="getAllBool()"
        (click)="closeAllWeekPicker({ flag: false })">
        <!-- (mouseleave)="handlePanelLeaveEvent($event)" -->
        <div class="head border-bottom">
            <!-- <mat-progress-spinner mode="indeterminate" value=queryMode></mat-progress-spinner> -->
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (opened)="changeVisibilityState('reqOverviewPanel')"
                    (closed)="hideVisibilityState('reqOverviewPanel')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.RequestOverview.GroupName}}
                            <ng-container>
                                #{{request.requestBusinessId.replace("R","")}}
                                <!--  {{request.requestType}} -->
                            </ng-container>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomProjectOverviewFieldGroup">
                        <!--head-->
                        <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                            <form *ngIf="projectOverviewForm" [formGroup]="projectOverviewForm" action="">
                                <div class="container">
                                    <!-- <ng-container *ngFor="let item of overViewConstants.ProjectOverview.GroupArray">
                      <div class="head-content">
                        <div class="display-name">{{item.DisplayName}}</div>
                        <div class="">{{item.Value}}</div>
                      </div>
                    </ng-container> -->
                                    <ng-container class="">
                                        <mat-form-field class="head-content" appearance="outline" floatLabel="never"
                                            matTooltip="Project Name" matTooltipPosition="above">
                                            <mat-label>Project Name</mat-label>
                                            <input type="text" placeholder="Project Name" matInput
                                                formControlName="name" required>
                                            <mat-error *ngIf="formControls.name.hasError('required')">
                                                Please Fill Project Name
                                            </mat-error>
                                            <mat-error *ngIf="formControls.name.hasError('maxlength')">
                                                Exceeding more than 64 characters
                                            </mat-error>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container class="">
                                        <mat-form-field class="head-content" appearance="outline" floatLabel="never"
                                            matTooltip="Owner" matTooltipPosition="above">
                                            <mat-label>Owner</mat-label>
                                            <input type="text" placeholder="Owner" matInput formControlName="owner"
                                                [matAutocomplete]="userList" required>
                                            <mat-autocomplete #userList="matAutocomplete"
                                                matAutocompletePosition="above" autoActiveFirstOption="true"
                                                [displayWith]="displayFn">
                                                <mat-option *ngFor="let userData of ownerFilterOptions"
                                                    [value]="userData">
                                                    <span>{{userData.displayName}}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-error *ngIf="formControls.owner.hasError('required')">
                                                Please Fill Owner field
                                            </mat-error>
                                            <mat-error *ngIf="formControls.owner.hasError('maxlength')">
                                                Exceeding more than 64 characters
                                            </mat-error>
                                        </mat-form-field>
                                        <!-- <mat-form-field class="head-content" appearance="outline" floatLabel="never">
                        <mat-label>Owner</mat-label>
                        <input type="text" placeholder="Owner" matInput formControlName="owner"
                          required>
                        <mat-error *ngIf="formControls.owner.hasError('required')">
                          Please Fill Owner field
                        </mat-error>
                        <mat-error *ngIf="formControls.owner.hasError('maxlength')">
                          Exceeding more than 64 characters
                        </mat-error>
                      </mat-form-field> -->
                                        <!--    <mpm-custom-search-field [searchFieldConfig]="overViewConfig.ownerFieldConfig"
                      [required]="true">
                    </mpm-custom-search-field> -->
                                    </ng-container>
                                    <!-- <mat-form-field class="head-content" appearance="outline" floatLabel="never">
                      <mat-label>End Date</mat-label>

                      <input formControlName="endDate"
                                                matInput [matDatepicker]="endDate" placeholder="End Date (MM/DD/YYYY)" required
                                                [matDatepickerFilter]="dateFilter" [(value)]="selectedEndDate"
                                                >
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate [disabled]="disableEndDate"></mat-datepicker>
                                    <mat-error *ngIf="formControls.endDate.hasError('required')">
                                              Please Select End Date
                                    </mat-error>
                    </mat-form-field> -->
                                    <!-- ****************************Removed Project Due Date field on Clients Request.************************************* -->
                                    <!-- <div class="week-select" (click)="getStopPropogation($event,'endDate')">
                                        <mat-form-field appearance="outline" class="full-width" matTooltip="End Date" matTooltipPosition="above">
                                            <mat-label>End Date</mat-label>
                                            <div class="wp-select">
                                                <input class="" matInput formControlName="endDate" placeholder="ww/yyyy" name="dp" required />
                                                <button mat-icon-button (click)="getBool('endDate')" [disabled]="!sectionAccess.overviewSection">
                                          <mat-icon>date_range</mat-icon>
                                      </button>
                                            </div>
                                            <app-week-picker class="week-picker" [weekYearValue]="weekYear.endDate" [fromDate]="fromDate.endDate" [toDate]="toDate.endDate" (weekFormat)="changeTargetDP($event,'endDate')" *ngIf="show.endDate">
                                            </app-week-picker>
                                        </mat-form-field> -->

                                    <!-- <mat-error *ngIf="formControls.endDate.hasError('required')">
                            Please Select End Date
                         </mat-error>-->
                                    <!-- </div> -->
                                    <!-- ****************************Governance Due Date****************************** -->
                                    <div class="week-select" (click)="getStopPropogation($event,'endDate')">
                                        <mat-form-field appearance="outline" class="full-width"
                                            matTooltip="Next Governance Due" matTooltipPosition="above">
                                            <mat-label>Next Governance Due</mat-label>
                                            <div class="wp-select" [ngClass]="{'over-due': isGovernanceOverDue}">
                                                <input class="" matInput formControlName="nextGovernanceDueWeek"
                                                    value="NA" placeholder="ww/yyyy" name="dp" required />
                                                <button mat-icon-button [disabled]="true">
                                                    <mat-icon>date_range</mat-icon>
                                                </button>
                                            </div>
                                            <app-week-picker class="week-picker" [weekYearValue]="weekYear.endDate"
                                                [fromDate]="fromDate.endDate" [toDate]="toDate.endDate"
                                                (weekFormat)="changeTargetDP($event,'endDate')" *ngIf="show.endDate">
                                            </app-week-picker>
                                        </mat-form-field>

                                        <mat-error *ngIf="formControls.endDate.hasError('required')">
                                            Please Select End Date
                                        </mat-error>
                                    </div>

                                    <ng-container class="">
                                        <mat-form-field class="head-content" appearance="outline" floatLabel="never"
                                            matTooltip="Status" matTooltipPosition="above">
                                            <mat-label>Status</mat-label>
                                            <mat-select formControlName="status" placeholder="Status"
                                                name="projectStatus" [required]="true"
                                                [disabled]="projectOverviewForm.get('status').status === 'DISABLED' ? true : false">
                                                <span *ngFor="let status of overViewConfig.statusOptions">
                                                    <!-- selectedStatus (selectionChange)="validateTaskStatusUpdate($event)"-->
                                                    <mat-option value="{{status['MPM_Status-id'].Id}}">
                                                        {{status.NAME}}
                                                    </mat-option>
                                                </span>
                                            </mat-select>
                                            <mat-error *ngIf="formControls.status.hasError('required')">
                                                Please Select Status
                                            </mat-error>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-container class="">
                                        <mat-form-field class="head-content" appearance="outline" floatLabel="never"
                                            matTooltip="Priority" matTooltipPosition="above">
                                            <mat-label>Priority</mat-label>
                                            <mat-select formControlName="priority" placeholder="Priority"
                                                name="priority" [required]="true">
                                                <mat-option *ngFor="let priority of overViewConfig.priorityOptions"
                                                    value="{{priority['MPM_Priority-id'].Id}}">
                                                    {{priority.DESCRIPTION}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formControls.priority.hasError('required')">
                                                Please Select Priority
                                            </mat-error>
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                            </form>
                            <ng-container
                                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomProjectOverviewFieldGroup')['controls']">
                                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                                    #reqOverviewPanel="matExpansionPanel">
                                    <!--  <mat-expansion-panel-header>
                          <mat-panel-title >{{overViewConstants.RequestOverview.GroupName}}</mat-panel-title>
                      </mat-expansion-panel-header> -->
                                    <div class="panel-container base-spacing">
                                        <ng-container
                                            *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="head-content"
                                                [ngClass]="(formControl?.isCustomStyling) ? (formControl?.customClass) : ''">
                                                <!--  <div class="display-name">{{formControl?.name}}</div> -->
                                                <app-npd-custom-field [fieldAccess]="isProgramTagFieldAccess"
                                                    [config]="backgroundCondition"
                                                    [metadataFieldFormControl]="formControl"
                                                    (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectOverviewFieldGroup')"
                                                    [sectionAccess]="!sectionAccess.overviewSection"></app-npd-custom-field>
                                            </div>
                                        </ng-container>
                                        <!-- <ng-container *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="wp-select red" *ngIf="formControl.name == 'Current Timeline (DW)'">
                                                <app-npd-custom-field [config]="allListConfig.programTags" [metadataFieldFormControl]="formControl" (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')" [projectStatus]="projectStatuss" [sectionAccess]="!sectionAccess.overviewSection" ></app-npd-custom-field>
                                            </div>
                                        </ng-container> -->
                                    </div>

                                </mat-expansion-panel>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head border-bottom">
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('projClassificationPanel')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.PROJECT_CLASSIFICATION.GroupName}}
                            <ng-container>
                            </ng-container>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomProjectClassificationFieldGroup">
                        <!--head-->
                        <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                            <!--displayMode="flat"-->
                            <ng-container
                                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomProjectClassificationFieldGroup')['controls']">
                                <mat-expansion-panel [expanded]="false" class="form-group-panel"
                                    #projClassificationPanel="matExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="panel-container">
                                        <ng-container
                                            *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="head-content">
                                                <!--[ngClass]="(formControl?.isCustomStyling) ? (formControl?.customClass) : ''"-->
                                                <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                    (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectClassificationFieldGroup')"></app-npd-custom-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel [expanded]="false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Final(Corporate) Classification</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <app-pm-project-classification [bussinessUnit]="bussinessUnit" [leadMarket]="leadMarket" *ngIf="projClassificationConfig?.model?.ngIf" [request]="request" [projectClassificationDataConfig]="projClassificationConfig" [config]="allListConfig" #projectClassificationComponent>
                                        <!--[isNewRequest]="isNewRequest"-->
                                    </app-pm-project-classification>
                                </mat-expansion-panel>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="head border-bottom">
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('pmPanel')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.PROGRAMME_MANAGER.GroupName}}
                            <ng-container>
                            </ng-container>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomProgramManagerFieldGroup">
                        <!--head-->
                        <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                            <!--displayMode="flat"-->
                            <!-- <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                        <mat-panel-title >Governance</mat-panel-title>
                    </mat-expansion-panel-header>
                    isGovernance
                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                      (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProgramManagerFieldGroup')"></app-npd-custom-field>
                    <app-governance-milestones *ngIf="governanceMilestone?.model?.ngIf" [projectConfig]="govConfig" [governanceMilestoneConfig]="governanceMilestone" [technicalRequestId]="request.requestItemId" #governancemilestone></app-governance-milestones>
                  </mat-expansion-panel> -->
                            <ng-container
                                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomProgramManagerFieldGroup')['controls']">
                                <mat-expansion-panel [expanded]="false" class="form-group-panel"
                                    #pmPanel="matExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <ng-container *ngIf="formGroup?.isGovernance">
                                        <div class="panel-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProgramManagerFieldGroup')"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <app-governance-milestones *ngIf="governanceMilestone?.model?.ngIf"
                                            [isRequest]="false" [isFinalStatus]="isFinalStatus" [isAdmin]="isAdmin"
                                            [governanceApproach]="requestData?.RQ_GOVERNANCE_APPROACH"
                                            [projectConfig]="govConfig" (refreshEmitter)="refreshCallBack($event)"
                                            [governanceMilestoneConfig]="governanceMilestone"
                                            [MPMProjectId]="this.projectRequestConfigDetails?.ITEM_ID"
                                            [isCP1Completed]="this.projectRequestConfigDetails?.NPD_PROJECT_IS_CP1_COMPLETED"
                                            [requestItemId]="this.requestData?.ITEM_ID"
                                            [technicalRequestId]="request.requestItemId"
                                            #governancemilestone></app-governance-milestones>
                                    </ng-container>
                                    <!-- [classificationNumber]="this.classificationNumber" -->

                                    <div class="panel-container" *ngIf="!(formGroup.isGovernance)">
                                        <ng-container
                                            *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="head-content">
                                                <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                    (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProgramManagerFieldGroup')"
                                                    [sectionAccess]="!sectionAccess.programManagerSection"></app-npd-custom-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                </mat-expansion-panel>
                            </ng-container>
                            <mat-expansion-panel [expanded]="false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Reporting</mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-pm-programme-manager-reporting *ngIf="programManagerConfig?.model?.ngIf"
                                    [programmeManagerReporting]="programManagerConfig"
                                    [reportingProjectType]="allListConfig?.reportingProjectType"
                                    [requestDetails]="request"
                                    #programmeManagerReportingComponent></app-pm-programme-manager-reporting>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head border-bottom">
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel class="form-group-panel" (closed)="hideVisibilityState('projCoreData')"
                    [expanded]="true">
                    <!--mat-elevation-z0 form-group-panel -->
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.PROJECT_CORE_DATA.GroupName}}
                            <ng-container>
                            </ng-container>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomProjectCoreDataFieldGroup">
                        <!--head-->
                        <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                            <!--displayMode="flat"-->
                            <ng-container
                                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomProjectCoreDataFieldGroup')['controls']">
                                <mat-expansion-panel [expanded]="false" class="form-group-panel"
                                    #projCoreData="matExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>{{formGroup.name}}
                                            <ng-container *ngIf="formGroup.showRequestId">
                                                -{{request.requestBusinessId.replace("R","")}}
                                            </ng-container>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="panel-container">
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content"
                                                    *ngIf="formControl.name == 'E2E PM' || formControl.name == 'Commercial Lead'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content"
                                                    *ngIf="formControl.name == 'Corp PM' || formControl.name == 'Project Specialist' || formControl.name=='FPMS' || formControl.name == 'GFG'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content"
                                                    *ngIf="formControl.name == 'OPS PM' || formControl.name == 'Ops Planner'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content" *ngIf="formControl.name == 'Regulatory Lead'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content"
                                                    *ngIf="formControl.name == 'Regional Technical Manager' || formControl.name == 'Secondary Artwork Manager'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="panel-container">
                                        <div class="gap-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content-gap"
                                                    *ngIf="formControl.name=='Winshuttle Project Number'|| formControl.name=='Pallet Label Format'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content-gap"
                                                    *ngIf="formControl.name=='FG Material Code'|| formControl.name=='FG Dummy Material Code'||formControl.name=='Tray Label Format'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content-gap"
                                                    *ngIf="formControl.name=='Formula / HBC#'|| formControl.name=='Transfer Volume to FG Material Code possible?'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content-gap"
                                                    *ngIf="formControl.name=='HBC Issuance Type'|| formControl.name=='Week that Volume has transferred to final FG Code?'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="project-team-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content-gap"
                                                    *ngIf="formControl.name=='Can, Sleeve or primary bottle material #'">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomProjectCoreDataFieldGroup')"
                                                        [projectStatus]="projectStatuss"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head border-bottom" *ngIf="projectOverviewForm?.controls?.npdCustomE2EPMFieldGroup">
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('e2ePMPanel')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.E2EPM.GroupName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                        <mat-expansion-panel [expanded]="false" class="form-group-panel" #e2ePMPanel="matExpansionPanel"
                            *ngFor="let formGroup of projectOverviewForm?.get('npdCustomE2EPMFieldGroup')['controls'];let j = index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="panel-container">
                                <ng-container
                                    *ngFor="let formControl of formGroup['controls']['fieldset']['controls'];let i = index">
                                    <div class="head-content">
                                        <app-npd-custom-field [metadataFieldFormControl]="formControl" [index]="i"
                                            [show]="weePickers[j][i] ? weePickers[j][i] : { startDate : null }"
                                            (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomE2EPMFieldGroup')"
                                            [sectionAccess]="!sectionAccess.e2ePMSection"
                                            (closeAllWeekPicker)="closeAllWeekPicker($event)"></app-npd-custom-field>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <!-- <div class="tasks-selection-spacing">
              <mat-form-field appearance="outline">
                <mat-label>Select Task(s)</mat-label>
                <mat-select placeholder="Select Task(s)" [(ngModel)]="selectedTasks" multiple>
                    <mat-option *ngFor="let task of allTasksNotCreated" [value]="task">
                        <span>{{getTaskName(task)}}</span>
                    </mat-option>
                </mat-select>
              </mat-form-field>
              <button class="spacer" mat-flat-button color="primary" (click)="addTasks()">Add Task(s)</button>
            </div> -->
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head border-bottom">
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('regulatory')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.REGULATORY.GroupName}}
                            <ng-container>
                            </ng-container>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomRegulatoryFieldGroup">
                        <!--head-->
                        <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                            <!--displayMode="flat"-->
                            <ng-container
                                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomRegulatoryFieldGroup')['controls']">
                                <mat-expansion-panel [expanded]="false" #regulatory="matExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="panel-container" *ngIf="formGroup.name!='Artwork Primary'">
                                        <ng-container
                                            *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="head-content">
                                                <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                    (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomRegulatoryFieldGroup')"></app-npd-custom-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div *ngIf="formGroup.name=='Artwork Primary'">
                                        <div class="head-content">
                                            <app-pm-artwork-primary *ngIf="artworkPrimaryConfig?.model?.ngIf"
                                                [secondaryPackagingConfig]="artworkPrimaryConfig"
                                                [projectEntityItemId]="npdProjectEntityItemId"
                                                [projectData]="projectRequestConfigDetails" #artworkPrimaryComponent>
                                            </app-pm-artwork-primary>
                                        </div>
                                        <ng-container
                                            *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="head-content">
                                                <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                    (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomRegulatoryFieldGroup')"></app-npd-custom-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div *ngIf="formGroup.name=='Artwork Status Overview'">
                                        <div class="head-content">
                                            <app-pm-artwork-status-overview
                                                *ngIf="artworkStatusOverviewConfig?.model?.ngIf"
                                                [projectEntityItemId]="npdProjectEntityItemId"
                                                #artworkStatusOverviewComponent>
                                            </app-pm-artwork-status-overview>
                                        </div>

                                    </div>
                                </mat-expansion-panel>
                            </ng-container>
                            <!-- <div>
                                <app-pm-artwork-primary [secondaryPackagingConfig]="secondaryPackageConfig" [projectEntityItemId]="npdProjectEntityItemId" [projectData]="projectRequestConfigDetails" #artworkPrimaryComponent>
                                </app-pm-artwork-primary>
                            </div> -->
                        </mat-accordion>
                    </div>
                    <div>

                        <!-- <app-pm-artwork-primary [secondaryPackagingConfig]="secondaryPackageConfig" [projectEntityItemId]="npdProjectEntityItemId" [projectData]="projectRequestConfigDetails" #artworkPrimaryComponent>
                        </app-pm-artwork-primary> -->

                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head border-bottom" *ngIf="projectOverviewForm?.controls?.npdCustomSecondaryPackagingFieldGroup">
            <!--head-->
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('secondaryPackaging')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.SECONDARY_PACKAGING.GroupName}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomSecondaryPackagingFieldGroup">
                        <!--head-->
                        <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                            <!--displayMode="flat"-->
                            <ng-container
                                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomSecondaryPackagingFieldGroup')['controls']">
                                <ng-container *ngIf="!(formGroup?.isExpansionGroup)">
                                    <div class="panel-container">
                                        <ng-container
                                            *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                            <div class="head-content non-group-spacing">
                                                <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                    (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomSecondaryPackagingFieldGroup')"></app-npd-custom-field>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="formGroup?.isExpansionGroup">
                                    <mat-expansion-panel [expanded]="false" #secondaryPackaging="matExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="panel-container">
                                            <ng-container
                                                *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                                <div class="head-content">
                                                    <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomSecondaryPackagingFieldGroup')"></app-npd-custom-field>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </mat-expansion-panel>
                                </ng-container>

                            </ng-container>
                            <app-pm-secondary-packaging *ngIf="secondaryPackageConfig?.model?.ngIf"
                                [listConfig]="allListConfig" [secondaryPackagingConfig]="secondaryPackageConfig"
                                [projectEntityItemId]="npdProjectEntityItemId"
                                [MPMProjectId]="this.projectRequestConfigDetails?.ITEM_ID"
                                [projectData]="projectRequestConfigDetails" #secondaryPackagingComponent>
                            </app-pm-secondary-packaging>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head border-bottom" *ngIf="projectOverviewForm?.controls?.npdCustomTechnicalFieldGroup">
            <!--head-->
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('technicalPanel')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.TECHNICAL.GroupName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                        <!--displayMode="flat"-->
                        <ng-container
                            *ngFor="let formGroup of projectOverviewForm?.get('npdCustomTechnicalFieldGroup')['controls']">
                            <mat-expansion-panel [expanded]="false" class="form-group-panel"
                                #technicalPanel="matExpansionPanel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="panel-container">
                                    <ng-container
                                        *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                        <div class="head-content">
                                            <!--  <div class="display-name">{{formControl?.name}}</div> -->
                                            <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomTechnicalFieldGroup')"
                                                [sectionAccess]="!sectionAccess.technicalSection"></app-npd-custom-field>
                                        </div>
                                    </ng-container>
                                </div>
                            </mat-expansion-panel>
                        </ng-container>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomOpsPMFieldGroup">
            <!--head-->
            <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <!--displayMode="flat"-->
                <mat-expansion-panel [expanded]="true" class="form-group-panel"
                    (closed)="hideVisibilityState('opsPMPanel')">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{overViewConstants.OPSPM.GroupName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion displayMode="flat" togglePosition="before" multi="true" #accordion="matAccordion">
                        <!--displayMode="flat"-->
                        <ng-container
                            *ngFor="let formGroup of projectOverviewForm?.get('npdCustomOpsPMFieldGroup')['controls']">
                            <mat-expansion-panel [expanded]="false" class="form-group-panel"
                                #opsPMPanel="matExpansionPanel">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{formGroup.name}}</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="panel-container-ops">
                                    <!--[ngClass]="sectionVisibility['opspm']?'visibility':'hide-visibility'"-->
                                    <ng-container
                                        *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                                        <div class="head-content-ops">
                                            <!--  <div class="display-name">{{formControl?.name}}</div> -->
                                            <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                                (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomOpsPMFieldGroup')"
                                                [sectionAccess]="!sectionAccess.opsPMSection"></app-npd-custom-field>
                                        </div>
                                    </ng-container>
                                </div>
                            </mat-expansion-panel>
                        </ng-container>
                        <app-pm-can-supplier *ngIf="canSupplierConfig?.model?.ngIf" [listConfig]="allListConfig"
                            [canSupplierConfig]="canSupplierConfig" #canSupplierComponent>
                        </app-pm-can-supplier>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <!--     <mat-accordion>
      <mat-expansion-panel *ngFor="let panel of panels; let i = index" >
        <mat-expansion-panel-header>
           <mat-panel-title>
              <div (click)="clicked(i)">
                 {{panel.Header}}
               </div>
           </mat-panel-title>
         </mat-expansion-panel-header>
       <div #focusOnThisPanel>{{panel.details}}</div>
     </mat-expansion-panel>
    </mat-accordion> -->

        <!--spacing-->
        <!--     <div class="head border-bottom"  *ngIf="projectOverviewForm?.controls?.npdCustomEMEAFieldGroup">
      <mat-accordion displayMode="flat" togglePosition="before" multi="true">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title >{{overViewConstants.EMEA.GroupName}}
                </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-accordion displayMode="flat" togglePosition="before" multi="true">
                <mat-expansion-panel [expanded]="false"
                *ngFor="let formGroup of projectOverviewForm?.get('npdCustomEMEAFieldGroup')['controls']">
                    <mat-expansion-panel-header>
                        <mat-panel-title >{{formGroup.name}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-container">
                      <ng-container *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                        <div class="head-content">
                          <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                          (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomEMEAFieldGroup')"></app-npd-custom-field>
                        </div>
                      </ng-container>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="head border-bottom"  *ngIf="projectOverviewForm?.controls?.npdCustomArtworkFieldGroup">
      <mat-accordion displayMode="flat" togglePosition="before" multi="true">
        <mat-expansion-panel [expanded]="true"
              *ngFor="let formGroup of projectOverviewForm?.get('npdCustomArtworkFieldGroup')['controls']">
                  <mat-expansion-panel-header>
                      <mat-panel-title >{{overViewConstants.ARTWORK.GroupName}}</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="panel-container">
                    <ng-container *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                      <div class="head-content">
                        <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomArtworkFieldGroup')"></app-npd-custom-field>
                      </div>
                    </ng-container>
                  </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div> -->


        <!--     <div class="head border-bottom" *ngIf="projectOverviewForm?.controls?.npdCustomE2EPMFieldGroup">
      <mat-accordion togglePosition="before">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title >{{overViewConstants.E2EPM.GroupName}}
                </mat-panel-title>
            </mat-expansion-panel-header>
          <mat-accordion multi="true">
              <mat-expansion-panel
              *ngFor="let formGroup of projectOverviewForm?.get('npdCustomE2EPMFieldGroup')['controls']">
                  <mat-expansion-panel-header>
                      <mat-panel-title >{{formGroup.name}}</mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="panel-container">
                    <ng-container *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
                      <div class="head-content">
                        <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                        (valueChanges)="onNpdCustomMetadataFieldChange($event,'npdCustomE2EPMFieldGroup')"></app-npd-custom-field>
                      </div>
                    </ng-container>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="tasks-selection-spacing">
              <mat-form-field appearance="outline">
                <mat-label>Select Task(s)</mat-label>
                <mat-select placeholder="Select Task(s)" [(ngModel)]="selectedTasks" multiple>
                    <mat-option *ngFor="let task of allTasksNotCreated" [value]="task">
                        <span>{{task.TaskDescription}}</span>
                    </mat-option>
                </mat-select>
              </mat-form-field>
              <button class="spacer" mat-flat-button color="primary" (click)="addTasks()">Add Task(s)</button>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div> -->

    </div>
</ng-container>











<!--

      <div class="head border-bottom">
      <mat-accordion displayMode="flat" togglePosition="before" multi="true">--displayMode="flat"
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title >{{overViewConstants.ProjectCoreData.GroupName}}<ng-container>
                  #{{request.requestId}}
                </ng-container></mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container">
              <ng-container *ngFor="let item of overViewConstants.ProjectCoreData.GroupArray; let i = index">
                <div class="head-content">
                  <div class="display-name">{{item.DisplayName}}</div>
                  <div *ngIf="item.dataType !== 'dateTime' && item.dataType !== 'boolean'" class="display-value"
                      [ngClass]="{'hide-ellipses': projectCoreData[i]?.ellipses}" (click)="showEllipses('ProjectCoreData',i)">
                      {{item.Value}}</div>
                  <div *ngIf="item.dataType === 'dateTime'" class="display-value"
                      [ngClass]="{'hide-ellipses': projectCoreData[i]?.ellipses}" (click)="showEllipses('ProjectCoreData',i)">
                      {{(item.Value === '' || item.Value === 'NA') ? 'NA' : (item.Value | date: 'dd-MM-yyyy')}}</div>
                  <div *ngIf="item.dataType === 'boolean'"class="display-value" [ngClass]="{'hide-ellipses': projectCoreData[i]?.ellipses}"
                      (click)="showEllipses('ProjectCoreData',i)">{{fetchBooleanValue(item.Value)}}</div>
                </div>
              </ng-container>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="head border-bottom">
      <mat-accordion displayMode="flat" togglePosition="before" multi="true">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title >{{overViewConstants.RequestOverview.GroupName}}<ng-container>
                  {{request.requestType}}
                </ng-container></mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container">
              <ng-container *ngFor="let item of overViewConstants.RequestOverview.GroupArray; let i = index">
                <div class="head-content">
                  <div class="display-name">{{item.DisplayName}}</div>
                  <div class="display-value" *ngIf="item.dataType !== 'dateTime' && item.dataType !== 'boolean'"
                      [ngClass]="{'hide-ellipses': requestOverviewEllipses[i]?.ellipses}"
                      (click)="showEllipses('RequestOverview',i)">{{item.Value}}</div>
                  <div  class="display-value" [ngClass]="{'hide-ellipses': requestOverviewEllipses[i]?.ellipses}"
                      (click)="showEllipses('RequestOverview',i)"
                      *ngIf="item.dataType === 'dateTime'" class="">
                      {{(item.Value === '' || item.Value === 'NA') ? 'NA' : (item.Value | date: 'dd-MM-yyyy')}}
                  </div>
                  <div *ngIf="item.dataType === 'boolean'"
                      class="display-value" [ngClass]="{'hide-ellipses': requestOverviewEllipses[i]?.ellipses}"
                      (click)="showEllipses('RequestOverview',i)">{{fetchBooleanValue(item.Value)}}</div>
                </div>
              </ng-container>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div> -->




<!--
  <div>
    <ng-container *ngFor="let formGroup of projectOverviewForm?.get('npdCustomE2EPMFieldGroup')['controls']; let i = index">
      <div class="head-content">
          <div class="display-name">{{formGroup.name}}</div>
          <div class="container">
            <ng-container *ngFor="let formControl of formGroup['controls']['fieldset']['controls']">
              <div class="head-content">
                 <div class="display-name">{{formControl?.name}}</div>
                <app-npd-custom-field [metadataFieldFormControl]="formControl"
                                (valueChanges)="onNpdCustomMetadataFieldChange($event)"></app-npd-custom-field>
              </div>
            </ng-container>
          </div>

      </div>
    </ng-container>
  </div>
<div class="head">{{overViewConstants.EMEA.GroupName}}</div>
 <div class="border-bottom spacing">
  <ng-container *ngFor="let subGroup of overViewConstants.OPSPM.GroupArray; let i = index">
    <div class="head-content">
        <div class="display-name">{{subGroup?.groupName}}</div>
        <div class="container">
          <ng-container *ngFor="let subGroupItem of subGroup.groupArray; let k = index">
            <div class="head-content">
              <div class="display-name">{{subGroupItem.DisplayName}}</div>
              <div *ngIf="subGroupItem.dataType !== 'dateTime' && subGroupItem.dataType !== 'boolean'" class="display-value"
              [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}" (click)="showEllipses('ProjectCoreData',k)">
              {{subGroupItem.Value}}</div>
              <div *ngIf="subGroupItem.dataType === 'dateTime'" class="display-value"
                  [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}" (click)="showEllipses('ProjectCoreData',k)">
                  {{(subGroupItem.Value === '' || subGroupItem.Value === 'NA') ? 'NA' : (subGroupItem.Value | date: 'dd-MM-yyyy')}}</div>
              <div *ngIf="subGroupItem.dataType === 'boolean'"class="display-value" [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}"
                  (click)="showEllipses('ProjectCoreData',k)">{{fetchBooleanValue(subGroupItem.Value)}}</div>
            </div>
          </ng-container>
        </div>

       <br>
    </div>
  </ng-container>
</div>
  <div class="head">{{overViewConstants.OPSPM.GroupName}}</div>
  <div class="border-bottom spacing">
    <ng-container *ngFor="let subGroup of overViewConstants.OPSPM.GroupArray; let i = index">
      <div class="head-content">
          <div class="display-name">{{subGroup?.groupName}}</div>
          <div class="container">
            <ng-container *ngFor="let subGroupItem of subGroup.groupArray; let k = index">
              <div class="head-content">
                <div class="display-name">{{subGroupItem.DisplayName}}</div>

                <div *ngIf="subGroupItem.dataType !== 'dateTime' && subGroupItem.dataType !== 'boolean'" class="display-value"
                [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}" (click)="showEllipses('ProjectCoreData',k)">
                {{subGroupItem.Value}}</div>
                <div *ngIf="subGroupItem.dataType === 'dateTime'" class="display-value"
                    [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}" (click)="showEllipses('ProjectCoreData',k)">
                    {{(subGroupItem.Value === '' || subGroupItem.Value === 'NA') ? 'NA' : (subGroupItem.Value | date: 'dd-MM-yyyy')}}</div>
                <div *ngIf="subGroupItem.dataType === 'boolean'"class="display-value" [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}"
                    (click)="showEllipses('ProjectCoreData',k)">{{fetchBooleanValue(subGroupItem.Value)}}</div>
              </div>
            </ng-container>
          </div>

         <br>
      </div>
    </ng-container>
  </div>
  <div class="head" *ngIf="projectOverviewForm?.controls?.npdCustomFieldGroup">{{overViewConstants.E2EPM.GroupName}}</div>
  <div>
    <ng-container *ngFor="let subGroup of overViewConstants.OPSPM.GroupArray; let i = index">
      <div class="head-content">
          <div class="display-name">{{subGroup?.groupName}}</div>
          <div class="container">
            <ng-container *ngFor="let subGroupItem of subGroup.groupArray; let k = index">
              <div class="head-content">
                <div class="display-name">{{subGroupItem.DisplayName}}</div>
                <div *ngIf="subGroupItem.dataType !== 'dateTime' && subGroupItem.dataType !== 'boolean'" class="display-value"
                [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}" (click)="showEllipses('ProjectCoreData',k)">
                {{subGroupItem.Value}}</div>
                <div *ngIf="subGroupItem.dataType === 'dateTime'" class="display-value"
                    [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}" (click)="showEllipses('ProjectCoreData',k)">
                    {{(subGroupItem.Value === '' || subGroupItem.Value === 'NA') ? 'NA' : (subGroupItem.Value | date: 'dd-MM-yyyy')}}</div>
                <div *ngIf="subGroupItem.dataType === 'boolean'"class="display-value" [ngClass]="{'hide-ellipses': projectCoreData[k]?.ellipses}"
                    (click)="showEllipses('ProjectCoreData',k)">{{fetchBooleanValue(subGroupItem.Value)}}</div>
              </div>
            </ng-container>
          </div>

         <br>
      </div>
    </ng-container>
  </div>
</div>

 <button color='primary'
            *ngIf="enableRestartProject && overViewConfig?.isProject
        && overViewConfig?.currentUserItemId === overViewConfig.selectedProject?.R_PO_PROJECT_OWNER['Identity-id']?.Id"
            mat-flat-button (click)="restartProject()"  type="submit"
            class="ang-btn">Restart</button>
            <button color='primary'
            mat-flat-button (click)="handlePanelLeaveEvent($event)" type="submit"
            class="ang-btn">save</button>
            <!-- <div  class="flex-row-item form-btns">
    <span class="form-actions">
    </span>
  </div> -->
