<form class="generic-form" [formGroup]="genericForm">
    <mat-form-field *ngIf="formConfig.businessCaseComments.ngIf" appearance="outline" floatLabel="never">
        <mat-label>Business Case Comments</mat-label>
        <textarea 
             matInput formControlName="businessCaseComments" required (ngModelChange)="updateRequestInfo('businessCaseComments','requestForm')"></textarea>
        <mat-error *ngIf="formControls.businessCaseComments.hasError('required')">
            Please Fill Business Case Comments
        </mat-error>
        <mat-error *ngIf="formControls.businessCaseComments.hasError('maxlength')">
            Exceeding more than 2000 characters
        </mat-error>
    </mat-form-field>
</form>
