<div>
    <div class="flex-row">
        <h2 mat-dialog-title class="flex-row-item">{{modalLabel}}</h2>
        <mat-icon class="flex-row-item modal-close" matTooltip="Close" (click)="closeDialog()">
            close
        </mat-icon>
    </div>

    <mat-dialog-content>
        <form [formGroup]="userGroup">
            <div class="mat-checkbox" *ngIf="!isProject">
                <div class="mat-checkbox-content">
                    <p>Task Owner</p>

                    <mat-checkbox color="primary" formControlName="taskOwnerControl" labelPosition="before" (change)="onChangeTaskOwner($event)" [disabled]="isUserNameEntered"></mat-checkbox>
                </div>
                <div class="mat-checkbox-content">
                    <p class="para-content">RM User</p>
                    <mat-checkbox color="primary" formControlName="rmUserControl" labelPosition="before" (change)="onChangeRMUser($event)" [disabled]="isUserNameEntered"></mat-checkbox>
                </div>
            </div>
        </form>


        <mat-form-field class="custom-field" *ngIf="isProject" appearance="outline">
            <mat-label>Roles</mat-label>
            <mat-select placeholder="Roles" name="roles">
                <mat-option *ngFor="let role of allRoles" value="{{role.ROLE_NAME || role.NAME}}" (click)="getUser(role)">
                    <span>{{role.ROLE_NAME || role.NAME }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="custom-field" *ngIf="!isProject" appearance="outline">
            <mat-label>Role</mat-label>
            <input placeholder="Roles" [formControl]="roleFormControl" matInput type="text" [value]="selectedRole.NAME" readonly>
        </mat-form-field>
        <form>
            <mat-form-field class="custom-field" appearance="outline">
                <mat-label>User</mat-label>
                <input type="text" matInput [formControl]="userFormControl" [matAutocomplete]="auto" placeholder="User" class='search-text-input' (change)="onUserChange()" [readonly]="isProject==true?false:isUserFieldDisable">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" matAutocompletePosition="below" autoActiveFirstOption="true" (optionSelected)="onUserSelected($event)">
                    <mat-option *ngFor="let user of filterUserListData | async " [value]="user">
                        {{user.name || user.FullName}}
                    </mat-option>
                </mat-autocomplete>
                <mat-icon class="search-icon" matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="close-action">
        <button class="close-button" mat-stroked-button (click)="closeDialog()">Cancel</button>
        <button id="assign-button" color='primary' mat-flat-button (click)="assignUser()">Assign</button>
    </mat-dialog-actions>
</div>