mat-dialog-content {
    //padding: 0px;
    margin-top: 20px;
    //min-height: 200px;
    .flex-row-item {
        margin: 0 15px;
        font-size: 14px;
    }
}

.modal-close {
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
}

mat-dialog-actions {
    float: right;
}

mat-dialog-actions button {
    margin: 10px;
}

#assign-button {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
}

mat-form-field {
    width: 90%;
}

.mat-checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mat-checkbox-content {
    display: flex;
    flex-direction: row;
}

.para-content {
    padding-right: 23px;
}

.disable-content {
    display: none;
    visibility: hidden;
}