.task-details-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 25px;
    right: 0;
    overflow: hidden;


    app-deliverable-swim-lane {
        width: 100%;
        height: 75%;
    }
}

.bulk-actions {
    height: 4.4em;
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#swim-lane-action {
    height: calc(100vh - 200px);
    overflow: auto;
}

/*:host ::ng-deep .task-details-layout{
    height: calc(100vh - 200px);
    overflow: auto;
}*/


