<div class="task-details-layout">
    <span *ngIf="hasAllDetails">
        <app-deliverable-toolbar [deliverableConfig]="deliverableConfig"
            [isViewByResourceFilterEnabled]="isViewByResourceFilterEnabled"
            (deliverableConfigChange)="toolBarConfigChange($event)" (resouceFilterChange)="toggleResourceFilter($event)"
            (createNewDeliverableHandler)="createNewDeliverable($event)" [enableAction]="enableAction"
            [delCount]="delCount" [crBulkResponse]="crBulkResponse">
        </app-deliverable-toolbar>
    </span>
    <app-deliverable-swim-lane [deliverableConfig]="deliverableConfig" [deliverableBulkResponse]="bulkResponseData"
        [isViewByResourceFilterEnabled]="isViewByResourceFilterEnabled"
        (deliverableBulkEditCount)="deliverableBulkCheckCount($event)"
        (selectedDeliverableCount)="selectedDeliverableCount($event)"
        (selectedDeliverableDatas)="selectedDeliverableDatas($event)" (refreshSwimLine)="refreshDeliverableGrid($event)"
        (selectedDeliverableData)="selectedDeliverableData($event)"
        (deliverableDetailsHandler)="deliverableDetails($event)" (versionsHandler)="viewVersions($event)"
        (crHandler)="openCR($event)" (shareAssetHandler)="shareAsset($event)"
        (editDeliverableHandler)="editDeliverable($event)" [masterSelectedDeliverable]="masterSelectedDeliverable">
    </app-deliverable-swim-lane>
    <div *ngIf='delCount > 1' class="bulk-actions">
        <!-- || masterSelectedDeliverable -->
        <app-bulk-actions [enableAction]="enableAction" [delCount]="delCount"
            (unselectDeliverable)="masterToogle($event)" [deliverableData]="deliverableData" [projectData]="projectData"
            (bulkResponse)="bulkResponse($event)" (bulkResponseData)="getBulkResponseData($event)"></app-bulk-actions>
    </div>
</div>