<!-- <div class="project-cards-wrapper">
    <div class="project-cards">
        <mpm-project-card *ngFor="let project of projectData" (viewProjectDetails)="openProjectDetails($event)"
            [project]="project" (copyProject)="openCopyProject($event)"
            (openCommentsModule)="onOpenCommentsModule($event)"></mpm-project-card>
    </div>
</div> -->

<mat-grid-list cols="{{ cols }}" rowHeight="{{ rowHeight }}" (window:resize)="onResize()">
    <mat-grid-tile *ngFor="let project of projectData; trackBy: trackByItemId">
        <!--         <app-project-card (viewProjectDetails)="openProjectDetails($event)" [project]="project"
            (copyProject)="openCopyProject($event)" (openCommentsModule)="onOpenCommentsModule($event)"
            (selectedProjectCardCount)="selectedProjectsCardCount($event)" [dashboardMenuConfig]="dashboardMenuConfig"(refreshHandler)="refresh()">
        </app-project-card> -->
        <app-npd-project-card (viewProjectDetails)="openProjectDetails($event)" [project]="project" (copyProject)="openCopyProject($event)" (openCommentsModule)="onOpenCommentsModule($event)" (selectedProjectCardCount)="selectedProjectsCardCount($event)" [dashboardMenuConfig]="dashboardMenuConfig"
            (refreshHandler)="refresh()">
        </app-npd-project-card>
    </mat-grid-tile>
</mat-grid-list>