.project-cards-wrapper {
    padding: 8px;
    display: flex;
    flex-flow: column;
    flex: 1 0 0px;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;

    .project-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
    }

    mpm-project-card {
        cursor: pointer;
        margin: 16px;
        flex-direction: column;
        flex: 4;
        max-width: 23%;
    }
}
