<form [formGroup]="projectClassificationDataForm">
  <div class="classification-container">
    <mat-form-field class="" *ngIf="projectClassificationDataConfig.earlyProjectClassification.ngIf"
      matTooltip="Final Corporate Classification Number" matTooltipPosition="above" appearance="outline"
      floatLabel="never">
      <mat-label>Final Corporate Classification Number</mat-label>
      <input type="text" placeholder="" formControlName="earlyProjectClassification" value="Awaiting Classification"
        matInput [disabled]="projectClassificationDataConfig.earlyProjectClassification.disabled"
        required="{{projectClassificationDataConfig.earlyProjectClassification.validators && projectClassificationDataConfig.earlyProjectClassification.validators.required }}">
      <mat-error *ngIf="classificationDataForm.earlyProjectClassification?.hasError('required ')">
        Please Fill Final Corporate Classification Number
      </mat-error>
    </mat-form-field>

    <mat-form-field class="final-desc" appearance="outline" floatLabel="never"
      *ngIf="projectClassificationDataConfig.earlyProjectClassificationDesc.ngIf"
      matTooltip="Final Corporate Classification Description" matTooltipPosition="above">
      <mat-label>Final Corporate Classification Description</mat-label>
      <input type="text" placeholder="" formControlName="earlyProjectClassificationDesc" value="Awaiting Classification"
        [disabled]="projectClassificationDataConfig.earlyProjectClassificationDesc.disabled" matInput
        matTooltip="{{classificationDataForm?.value?.earlyProjectClassificationDesc}}"
        required="{{projectClassificationDataConfig.earlyProjectClassificationDesc.validators && projectClassificationDataConfig.earlyProjectClassificationDesc.validators.required }}">
      <mat-error *ngIf="classificationDataForm.earlyProjectClassificationDesc?.hasError('required ')">
        Please Fill Final Corporate Classification Description
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" *ngIf="projectClassificationDataConfig.registrationClassification.ngIf"
      matTooltip=" Registration Classification Available" matTooltipPosition="above" appearance="outline"
      floatLabel="never">
      <mat-label> CoS / CoO combo exists </mat-label>
      <input formControlName='registrationClassification' type="text" placeholder=""
        matInput [disabled]="projectClassificationDataConfig.registrationClassification.disabled"
        required="{{projectClassificationDataConfig.registrationClassification.validators && projectClassificationDataConfig.registrationClassification.validators.required }}">
       <mat-error *ngIf="classificationDataForm.registrationClassification?.hasError('required ')">
        please fill CoS / CoO combo
      </mat-error>
    </mat-form-field>
    <mat-form-field class="" *ngIf="projectClassificationDataConfig.registrationRequirement.ngIf"
      matTooltip=" Registration Requirement" matTooltipPosition="above" appearance="outline"
      floatLabel="never">
      <mat-label> Registration Requirement</mat-label>
      <input formControlName="registrationRequirement" type="text" placeholder=""
        matInput [disabled]="projectClassificationDataConfig.registrationRequirement.disabled"
        required="{{projectClassificationDataConfig.registrationRequirement.validators && projectClassificationDataConfig.registrationRequirement.validators.required }}">
     <mat-error *ngIf="classificationDataForm.registrationRequirement?.hasError('required ')">
        Registration Requirement
      </mat-error>
    </mat-form-field>


    <!-- <div style="border: 1px solid #88c534;padding: 8px;background: #4a4a4a;" class="radio-buttons"
    *ngIf="projectClassificationDataConfig.registrationClassification.ngIf" matTooltip="Registration Dossier"
    matTooltipPosition="above">
    <mat-label class="radio-row-gap" id="reg-Classification"> Registration Classification Available
      <span
        *ngIf="projectClassificationDataConfig.registrationClassification.validators && projectClassificationDataConfig.registrationClassification.validators.required"
        class="error-field">*</span>
    </mat-label>
    <mat-radio-group (change)="updateRequestInfo('registrationClassification','projectClassificationDataForm');"
      aria-labelledby="reg-Classification" formControlName="registrationClassification">
      <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
        option.displayName}}</mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="this.classificationDataForm?.registrationClassification.errors">
      <div class="error-field error-font error-position"
        *ngIf="classificationDataForm?.registrationClassification?.errors.required">
        Please Select Registration Classification Available
      </div>
    </ng-container>
  </div> -->

  <!-- <div style="border: 1px solid #88c534;padding: 8px;background: #4a4a4a;" class="radio-buttons"
    *ngIf="projectClassificationDataConfig.registrationRequirement.ngIf" matTooltip="Pre Production Registration"
    matTooltipPosition="above">
    <mat-label class="radio-row-gap" id="reg-Requirement"> Registration Requirement
      <span
        *ngIf="projectClassificationDataConfig.registrationRequirement.validators && projectClassificationDataConfig.registrationRequirement.validators.required"
        class="error-field">*</span>
    </mat-label>
    <mat-radio-group (change)="updateRequestInfo('registrationRequirement','projectClassificationDataForm');"
      aria-labelledby="reg-Requirement" formControlName="registrationRequirement">
      <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
        option.displayName}}</mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="this.classificationDataForm?.registrationRequirement.errors">
      <div class="error-field error-font error-position"
        *ngIf="classificationDataForm?.registrationRequirement?.errors.required">
        Please Select Registration Requirement
      </div>
    </ng-container>
  </div> -->
    <mat-form-field *ngIf="projectClassificationDataConfig.draftManufacturingLocation.ngIf"
      matTooltip="Country Of Manufacture(Final)" matTooltipPosition="above" appearance="outline" floatLabel="never">
      <mat-label>Country Of Manufacture(Final)</mat-label>
      <mat-select formControlName="draftManufacturingLocation" (ngModelChange)="updateRequestRelationsInfo('draftManufacturingLocationId','draftManufacturingLocation');
            onDraftManufactureLocationChange($event,'projectClassificationDataForm','finalManufacturingSite')"
        [disabled]="projectClassificationDataConfig.draftManufacturingLocation.disabled"
        required="{{projectClassificationDataConfig.draftManufacturingLocation.validators && projectClassificationDataConfig.draftManufacturingLocation.validators.required }}">
        <mat-option class="options" *ngFor="let location of draftManufacturingLocations" [value]="location.ItemId">
          {{location.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.draftManufacturingLocation?.hasError('required')">
        Please Select Draft Manufacturing Location
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="projectClassificationDataConfig.earlyManufacturingSite.ngIf" appearance="outline"
      floatLabel="never" matTooltip="Manufacturing Site(Final)" matTooltipPosition="above">
      <mat-label>Manufacturing Site(Final)</mat-label>
      <mat-select formControlName="earlyManufacturingSite"
        (ngModelChange)="updateRequestRelationsInfo('earlyManufacturingSiteId','earlyManufacturingSite')"
        [disabled]="projectClassificationDataConfig.earlyManufacturingSite.disabled"
        required="{{projectClassificationDataConfig.earlyManufacturingSite.validators && projectClassificationDataConfig.earlyManufacturingSite.validators.required }}">
        <mat-option class="options" *ngFor="let site of earlyManufacturingSites" [value]="site.ItemId">
          {{site.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="classificationDataForm.earlyManufacturingSite?.hasError('required')">
        Please Select Early Manufacturing Site
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="projectClassificationDataConfig.projectType.ngIf" appearance="outline" floatLabel="never"
      matTooltip="Project Type (FC)" matTooltipPosition="above">
      <mat-label>Project Type (FC)</mat-label>
      <mat-select formControlName="projectType"
        (ngModelChange)="updateRequestRelationsInfo('projectTypeId','projectType');setProjectClassification('projectType',$event)"
        required="{{projectClassificationDataConfig.projectType.validators && projectClassificationDataConfig.projectType.validators.required }}">
        <mat-option class="options" *ngFor="let type of config.projectTypes" value="{{type.ItemId}}">
          {{type.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newFg.ngIf" matTooltip="New FG(SAP?) (FC)"
      matTooltipPosition="above">
      <mat-label class="radio-row-gap" id="new-fg">New FG(SAP?) (FC)
        <span
          *ngIf="projectClassificationDataConfig.newFg.validators && projectClassificationDataConfig.newFg.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newFg" aria-labelledby="new-fg"
        (change)="updateRequestInfo('newFg','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newFg.errors">
        <div class="error-field error-font error-position" *ngIf="classificationDataForm?.newFg?.errors.required">
          Please Select New FG(SAP?) (FC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newRnDFormula.ngIf"
      matTooltip="New R&D Formula (FC)" matTooltipPosition="above">
      <mat-label class="radio-row-gap" id="new-rnd">New R&D Formula (FC)
        <span
          *ngIf="projectClassificationDataConfig.newRnDFormula.validators && projectClassificationDataConfig.newRnDFormula.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newRnDFormula" aria-labelledby="new-rnd"
        (change)="updateRequestInfo('newRnDFormula','projectClassificationDataForm');disableLeadFormulaField()">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newRnDFormula.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.newRnDFormula?.errors.required">
          Please Select New R&D Formula (FC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newHBCFormula.ngIf"
      matTooltip="New HBC Formula (FC)" matTooltipPosition="above">
      <mat-label class="radio-row-gap" id="new-hbc">New HBC Formula (FC)
        <span
          *ngIf="projectClassificationDataConfig.newHBCFormula.validators && projectClassificationDataConfig.newHBCFormula.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newHBCFormula" aria-labelledby="new-hbc"
        (change)="updateRequestInfo('newHBCFormula','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newHBCFormula.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.newHBCFormula?.errors.required">
          Please Select New HBC Formula (FC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.newPrimaryPackaging.ngIf"
      matTooltip="New Primary Packaging (FC)" matTooltipPosition="above">
      <mat-label class="radio-row-gap" id="new-primary-packaging">New Primary Packaging (FC)
        <span
          *ngIf="projectClassificationDataConfig.newPrimaryPackaging.validators && projectClassificationDataConfig.newPrimaryPackaging.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="newPrimaryPackaging" aria-labelledby="new-primary-packaging"
        (change)="updateRequestInfo('newPrimaryPackaging','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
        <!-- <mat-radio-button value="true" color="primary">Yes</mat-radio-button>
              <mat-radio-button value="false" color="primary">No</mat-radio-button> -->
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.newPrimaryPackaging.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.newPrimaryPackaging?.errors.required">
          Please Select New Primary Packaging (FC)
        </div>
      </ng-container>
    </div>

    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.secondaryPackaging.ngIf"
      matTooltip="2ndary Packaging (FC)" matTooltipPosition="above">
      <mat-label class="radio-row-gap" id="secondary-packaging"> 2ndary Packaging (FC)
        <span
          *ngIf="projectClassificationDataConfig.secondaryPackaging.validators && projectClassificationDataConfig.secondaryPackaging.validators.required"
          class="error-field">*</span>
      </mat-label>
      <mat-radio-group formControlName="secondaryPackaging" aria-labelledby="secondary-packaging"
        (change)="updateRequestInfo('secondaryPackaging','projectClassificationDataForm');getClassificationChange(true)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
      <ng-container *ngIf="this.classificationDataForm?.secondaryPackaging.errors">
        <div class="error-field error-font error-position"
          *ngIf="classificationDataForm?.secondaryPackaging?.errors.required">
          Please Select 2ndary Packaging (FC)
        </div>
      </ng-container>
    </div>


    <div class="radio-buttons" *ngIf="projectClassificationDataConfig.leadFormula.ngIf"
    matTooltip="Lead Formula (FC)" matTooltipPosition="above">
    <mat-label class="radio-row-gap" id="lead-formula"> Lead Formula (FC)
      <span
        *ngIf="projectClassificationDataConfig.leadFormula.validators && projectClassificationDataConfig.leadFormula.validators.required"
        class="error-field">*</span>
    </mat-label>
    <mat-radio-group formControlName="leadFormula" aria-labelledby="leadFormula"
      (change)="updateRequestInfo('leadFormula','projectClassificationDataForm');disableLeadFormulaField()">
      <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
        option.displayName}}</mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="this.classificationDataForm?.leadFormula.errors">
      <div class="error-field error-font error-position"
        *ngIf="classificationDataForm?.leadFormula?.errors.required">
        Please Select Lead Formula (FC)
      </div>
    </ng-container>
  </div>

    <!-- <div class="radio-buttons" *ngIf="projectClassificationDataConfig.registrationDossier.ngIf"
          matTooltip="Registration Dossier" matTooltipPosition="above">
          <mat-label class="radio-row-gap" id="reg-dossier"> Registration Dossier
              <span
                  *ngIf="projectClassificationDataConfig.registrationDossier.validators && projectClassificationDataConfig.registrationDossier.validators.required"
                  class="error-field">*</span>
          </mat-label>
          <mat-radio-group formControlName="registrationDossier" aria-labelledby="reg-dossier"
              (change)="updateRequestInfo('registrationDossier','projectClassificationDataForm');getClassificationChange()">
              <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
                  option.displayName}}</mat-radio-button>
          </mat-radio-group>
          <ng-container *ngIf="this.classificationDataForm?.registrationDossier.errors">
              <div class="error-field error-font error-position"
                  *ngIf="classificationDataForm?.registrationDossier?.errors.required">
                  Please Select Registration Dossier
              </div>
          </ng-container>
      </div>

      <div class="radio-buttons" *ngIf="projectClassificationDataConfig.preProdReg.ngIf"
          matTooltip="Pre Production Registration" matTooltipPosition="above">
          <mat-label class="radio-row-gap" id="pre-prod-reg"> Pre Production Registration
              <span
                  *ngIf="projectClassificationDataConfig.preProdReg.validators && projectClassificationDataConfig.preProdReg.validators.required"
                  class="error-field">*</span>
          </mat-label>
          <mat-radio-group formControlName="preProdReg" aria-labelledby="pre-prod-reg"
              (change)="updateRequestInfo('preProdReg','projectClassificationDataForm');getClassificationChange()">
              <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
                  option.displayName}}</mat-radio-button>
          </mat-radio-group>
          <ng-container *ngIf="this.classificationDataForm?.preProdReg.errors">
              <div class="error-field error-font error-position"
                  *ngIf="classificationDataForm?.preProdReg?.errors.required">
                  Please Select Pre Production Registration
              </div>
          </ng-container>
      </div>

      <div class="radio-buttons" *ngIf="projectClassificationDataConfig.postProdReg.ngIf"
          matTooltip="Post Production Registration" matTooltipPosition="above">
          <mat-label class="radio-row-gap" id="post-prod"> Post Production Registration
              <span
                  *ngIf="projectClassificationDataConfig.postProdReg.validators && projectClassificationDataConfig.postProdReg.validators.required"
                  class="error-field">*</span>
          </mat-label>
          <mat-radio-group formControlName="postProdReg" aria-labelledby="post-prod"
              (change)="updateRequestInfo('postProdReg','projectClassificationDataForm');getClassificationChange()">
              <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
                  option.displayName}}</mat-radio-button>
          </mat-radio-group>
          <ng-container *ngIf="this.classificationDataForm?.postProdReg.errors">
              <div class="error-field error-font error-position"
                  *ngIf="classificationDataForm?.postProdReg?.errors.required">
                  Please Select Post Production Registration
              </div>
          </ng-container>
      </div> -->




    <mat-form-field appearance="outline" floatLabel="never"
      *ngIf="projectClassificationDataConfig.newClassificationRational.ngIf"
      matTooltip="Classification Rational (if required)" matTooltipPosition="above">
      <mat-label>Classification Rational (if required)</mat-label>
      <input matInput formControlName="newClassificationRational"
        required="{{projectClassificationDataConfig.newClassificationRational.validators && projectClassificationDataConfig.newClassificationRational.validators.required }}"
        (ngModelChange)="updateRequestInfo('newClassificationRational','projectClassificationDataForm ')" />
      <mat-error *ngIf="classificationDataForm.newClassificationRational?.hasError('required ')">
        Please Fill Classification Rational (if required)
      </mat-error>
      <mat-error *ngIf="classificationDataForm.newClassificationRational?.hasError('maxlength ')">
        Exceeding more than 500 characters
      </mat-error>
    </mat-form-field>


  </div>
</form>
