:host{
  display: block;
  padding-bottom: 28px;
}
.request-form-change{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 24px;
}
.main-child-header{
    padding-bottom: 24px;
    font-size: 18px;
}
@media only screen and (max-width: 1300px) {
    .request-form-change{
      grid-template-columns: auto auto auto auto;
    }
  }
  @media only screen and (max-width: 992px) {
    .request-form-change{
      grid-template-columns: auto auto auto;
    }
  }
  @media only screen and (max-width: 768px) {
    .request-form-change{
      grid-template-columns: auto auto;
    }
  }
  @media only screen and (max-width: 576px) {
    .request-form-change{
      grid-template-columns: auto;
    }
  }
  
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.radio-buttons{
    display: block;
    position: relative;
}

.radio-row-gap{
  display: block;
  margin-bottom: 16px;
}

.error-field{
  color: #f44336;
}

.error-font{
  font-size: 75%;
}

.error-position{
  position: absolute;
  top: 68px;
}
