<div class="main-child-header">
    Project Core Data
</div>
<form [formGroup]="projectRequestorForm" class="request-form-change">
        <ng-container *ngIf="projectCoreDataConfig.brand.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Brand</mat-label>
                <mat-select disableOptionCentering formControlName="brand" required ="{{projectCoreDataConfig.brand.validators && projectCoreDataConfig.brand.validators.required }}"
                    (ngModelChange)="onBrandChange('brand','requestForm',$event);setAllThresholdValues('brand',$event)">
                    <mat-option class="options" *ngFor="let brand of config.brands" value="{{brand.ItemId}}">
                        {{brand.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.brand.hasError('required')">
                    Please Select a Brand
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="projectCoreDataConfig.platform.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Platform</mat-label>
                <mat-select formControlName="platform" required ="{{projectCoreDataConfig.platform.validators && projectCoreDataConfig.platform.validators.required }}"
                (ngModelChange)="onPlatformChange('platform','requestForm',$event);setAllThresholdValues('platform',$event)">
                    <mat-option class="options" *ngFor="let platform of config.platforms" value="{{platform.ItemId}}"> <!--NPD1-81 changed the value earlier platform.ItemId-->
                        {{platform.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.platform.hasError('required')">
                    Please Select a Platform
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="projectCoreDataConfig.variant.ngIf" class="" >
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Variant</mat-label>
                <mat-select formControlName="variant" required ="{{projectCoreDataConfig.variant.validators && projectCoreDataConfig.variant.validators.required }}"
                    (ngModelChange)="onVariantChange('variant','requestForm',$event);setAllThresholdValues('variant',$event)">
                    <mat-option class="options" *ngFor="let variant of config.variants" value="{{variant.ItemId}}">
                        {{variant.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.variant.hasError('required')">
                    Please Select a Variant
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="projectCoreDataConfig.skuDetails.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>SKU Details</mat-label>
                <mat-select formControlName="skuDetails" required ="{{projectCoreDataConfig.skuDetails.validators && projectCoreDataConfig.skuDetails.validators.required }}"
                    (ngModelChange)="updateRequestRelationsInfo('skuDetails','requestForm')">
                    <mat-option class="options" *ngFor="let skuDetail of config.skuDetails" value="{{skuDetail.ItemId}}">
                        {{skuDetail.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.skuDetails.hasError('required')">
                    Please Select a SKU
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="projectCoreDataConfig.consumerUnitSize.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Consumer Unit Size</mat-label>
                <mat-select formControlName="consumerUnitSize" required ="{{projectCoreDataConfig.consumerUnitSize.validators && projectCoreDataConfig.consumerUnitSize.validators.required }}"
                    (ngModelChange)="updateRequestRelationsInfo('consumerUnitSize','requestForm')">
                    <mat-option class="options" *ngFor="let consumerUnitSize of config.consumerUnitSizes" value="{{consumerUnitSize.ItemId}}">
                        {{consumerUnitSize.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.consumerUnitSize.hasError('required')">
                    Please Select a Consumer Unit Size
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="projectCoreDataConfig.casePackSize.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Case Pack Size</mat-label>
                <mat-select formControlName="casePackSize" required ="{{projectCoreDataConfig.casePackSize.validators && projectCoreDataConfig.casePackSize.validators.required }}"
                    (ngModelChange)="updateRequestRelationsInfo('casePackSize','requestForm')" required>
                    <mat-option class="options" *ngFor="let casePackSize of config.casePackSizes" value="{{casePackSize.ItemId}}">
                        {{casePackSize.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.casePackSize.hasError('required')">
                    Please Select a Case Pack Size
                </mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="projectCoreDataConfig.primaryPackagingType.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Primary Packaging Type</mat-label>
                <mat-select formControlName="primaryPackagingType" required ="{{projectCoreDataConfig.primaryPackagingType.validators && projectCoreDataConfig.primaryPackagingType.validators.required }}"
                    (ngModelChange)="updateRequestRelationsInfo('primaryPackagingType','requestForm')">
                    <mat-option class="options" *ngFor="let type of config.primaryPackagingTypes" value="{{type.ItemId}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.primaryPackagingType.hasError('required')">
                    Please Select a Primary Packaging Type
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Secondary Packaging Type</mat-label>
                <input type="text" placeholder="Secondary Packaging Type" autocomplete="off"
                    matInput formControlName="secondaryPackagingType"  required ="{{projectCoreDataConfig.secondaryPackagingType.validators && projectCoreDataConfig.secondaryPackagingType.validators.required }}"
                    (ngModelChange)="updateRequestInfo('secondaryPackagingType','requestForm')">
                <mat-error *ngIf="formControls.secondaryPackagingType.hasError('required')">
                        Please Fill Secondary Packaging Type
                </mat-error>
                <mat-error *ngIf="formControls.secondaryPackagingType.hasError('maxlength')">
                    Exceeding more than 64 characters
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="projectCoreDataConfig.bottler.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Bottler</mat-label>
                <mat-select formControlName="bottler" required ="{{projectCoreDataConfig.bottler.validators && projectCoreDataConfig.bottler.validators.required }}"
                (ngModelChange)="updateRequestRelationsInfo('bottler','requestForm'); setAllThresholdValues('bottler',$event); setAllThresholdValuesForMonsterGreen('bottler',$event)" >
                    <mat-option class="options" *ngFor="let bottler of config.bottlers" value="{{bottler.ItemId}}">
                        {{bottler.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.bottler.hasError('required')">
                    Please Select a Bottler
                </mat-error>
            </mat-form-field>
        </ng-container>
       <!--  <ng-container *ngIf="projectCoreDataConfig.projectType.ngIf" class="">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Project Type</mat-label>
                <mat-select formControlName="projectType" (ngModelChange)="updateRequestRelationsInfo('projectType','requestForm'); setProjectClassification('projectType',$event)"
                    required ="{{projectCoreDataConfig.projectType.validators && projectCoreDataConfig.projectType.validators.required }}">
                    <mat-option class="options" *ngFor="let type of config.projectTypes" value="{{type.ItemId}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container> -->

       <!--  <ng-container *ngIf="projectCoreDataConfig.productionSite.ngIf" class="" >
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Production Site</mat-label>
                <mat-select formControlName="productionSite" (ngModelChange)="updateRequestRelationsInfo('productionSite','requestForm')"
                required ="{{projectCoreDataConfig.productionSite.validators && projectCoreDataConfig.productionSite.validators.required }}">
                    <mat-option class="options" *ngFor="let productionSite of config.productionSites" value="{{productionSite.ItemId}}">
                        {{productionSite.displayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container> -->
        <ng-container *ngIf="projectCoreDataConfig.businessUnit.ngIf" class="">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Lead Market Region</mat-label>
                    <input type="text" matInput formControlName="businessUnit"
                     (ngModelChange)="updateRequestRelationsInfo('businessUnit','requestForm')" required ="{{projectCoreDataConfig.businessUnit.validators && projectCoreDataConfig.businessUnit.validators.required }}">
                </mat-form-field>
        </ng-container>
        <ng-container class="" *ngIf="projectCoreDataConfig.commercialCategory.ngIf">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Commercial Categorisation</mat-label>
                <mat-select formControlName="commercialCategory" [disabled]="projectCoreDataConfig.commercialCategory.disabled"
                            (ngModelChange)="updateRequestRelationsInfo('commercialCategory','requestForm')" required ="{{projectCoreDataConfig.commercialCategory.validators && projectCoreDataConfig.commercialCategory.required }}">
                    <mat-option class="options" *ngFor="let commercialCategory of config.commercialCategories" value="{{commercialCategory.ItemId}}">
                        {{commercialCategory.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.commercialCategory.hasError('required')">
                    Please Select a Commercial Categorisation
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container class="" *ngIf="projectCoreDataConfig.governanceApproach.ngIf">
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-label>Governance Approach</mat-label>
                <mat-select formControlName="governanceApproach" [disabled]="projectCoreDataConfig.governanceApproach.disabled"
                            (ngModelChange)="updateRequestRelationsInfo('governanceApproach','requestForm')"
                            required ="{{projectCoreDataConfig.governanceApproach.validators && projectCoreDataConfig.governanceApproach.validators.required }}">
                    <mat-option class="options" *ngFor="let governanceApproach of config.governanceApproaches" value="{{governanceApproach.ItemId}}">
                        {{governanceApproach.displayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
        <ng-container>
            <div class="radio-buttons" *ngIf="projectCoreDataConfig.svpAligned.ngIf">
                <mat-label class="radio-row-gap">
                    Is SVP Aligned ?
                    <span class="astric-required-symbol"
                    *ngIf="projectCoreDataConfig.svpAligned.validators && projectCoreDataConfig.svpAligned.validators.required" >*
                    </span>
                </mat-label>

                <mat-radio-group formControlName="svpAligned" (change)="updateRequestInfo('svpAligned','requestForm')"
                    required ="{{projectCoreDataConfig.svpAligned.validators && projectCoreDataConfig.svpAligned.validators.required }}">
                 <mat-radio-button color="primary" *ngFor="let svpAligned of radioButtonsList" [value]="svpAligned.value" >{{ svpAligned.displayName}}</mat-radio-button>
             </mat-radio-group>
             <ng-container *ngIf="formControls?.svpAligned?.errors">
                <div class="error-field error-font error-position" *ngIf="formControls?.svpAligned?.errors.required">
                    Please Select SVP Aligned
                </div>
            </ng-container>
            </div>
        </ng-container>
        <ng-container>
            <div class="radio-buttons" *ngIf="projectCoreDataConfig.postLaunchAnaylsis.ngIf">
                <mat-label class="radio-row-gap">Post Launch Analysis ?</mat-label>
                <mat-radio-group formControlName="postLaunchAnaylsis" (change)="updateRequestInfo('postLaunchAnaylsis','requestForm')"
                    required ="{{projectCoreDataConfig.postLaunchAnaylsis.validators && projectCoreDataConfig.postLaunchAnaylsis.validators.required }}">
                    <mat-radio-button color="primary" *ngFor="let postLaunchAnaylsis of radioButtonsList" [value]="postLaunchAnaylsis.value" >{{ postLaunchAnaylsis.displayName}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </ng-container>
</form>
