<npd-comments-message-layout [commentListData]="commentDataList" (replyToComment)="onReplyToComment($event)"
    [pageDetails]="pageDetails" (loadingMoreComments)="onLoadingMoreComments($event)" [isScrollDown]="isScrollDown"
    [userListData]="userListData">
</npd-comments-message-layout>
<npd-comments-text [parentComment]="parentComment" (creatingNewComment)="onCreatingNewComment($event)"
    [userListData]="userListData" *ngIf="!isReadonly" [enableToComment]="enableToComment">
</npd-comments-text>