<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>


    <mat-sidenav #pmFaceNav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="facetExpansionState" *ngIf="!isCampaign">
        <app-facet [dataCount]="dashboardMenuConfig.totalProjectCount"></app-facet>
    </mat-sidenav>



    <mat-sidenav-content>
        <div>
            <div class="dashboard-control flex-row align-flex-items-center">
                <span class="flex-row-item align-flex-items-center">
                    <span class="flex-row-item" *ngIf="!isCampaign">
                        <mpm-facet-button [initalState]="facetExpansionState" (facetToggled)="facetToggled($event)"
                            [isRMView]="false">
                        </mpm-facet-button>
                    </span>
                <span class="flex-row-item" *ngIf="!isCampaign">
                        <button class="sort-btn" mat-button matTooltip="Click to see more view options"
                            [matMenuTriggerFor]="projectDashboardFilters"
                            [matMenuTriggerData]="{ filters: dashboardMenuConfig.projectDashBoadFilters }">
                            <span> {{dashboardMenuConfig.selectedViewByName}}
                                ({{dashboardMenuConfig.totalProjectCount}})</span>
                <mat-icon color="primary">arrow_drop_down</mat-icon>
                </button>
                </span>
                <span class="flex-row-item" *ngIf="isCampaign">
                        <button class="sort-btn" mat-button matTooltip="My Projects View">
                            <span> My Projects
                                ({{dashboardMenuConfig.totalProjectCount}})</span>
                </button>
                </span>
                <span class="flex-row-item">
                        <button mat-icon-button (click)=refresh() matTooltip="Refresh">
                            <mat-icon color="primary" class="dashboard-action-btn">refresh
                            </mat-icon>
                        </button>
                    </span>
                <span class="flex-row-item" *ngIf="!disableGridView">
                        <button *ngIf="!dashboardMenuConfig.IS_LIST_VIEW" matTooltip="Switch to List View"
                            mat-icon-button (click)="changeView(true)">
                            <mat-icon color="primary" class="dashboard-action-btn">view_list
                            </mat-icon>
                        </button>
                        <button *ngIf="dashboardMenuConfig.IS_LIST_VIEW" matTooltip="Switch to Card View"
                            mat-icon-button (click)="changeView(false)">
                            <mat-icon color="primary" class="dashboard-action-btn">
                                view_module</mat-icon>
                        </button>
                    </span>
                <span class="flex-row-item">
                        <button mat-icon-button (click)=exportData() *ngIf="!isCampaign" matTooltip="Export Data"
                            [disabled]="dashboardMenuConfig.totalProjectCount == 0">
                            <mat-icon color="primary" class="dashboard-action-btn">import_export</mat-icon>
                        </button>
                    </span>
                <span class="flex-row-item">
                        <button mat-icon-button (click)=exportAllData() *ngIf="!isCampaign" matTooltip="All Data Sheet">
                            <mat-icon color="primary" class="dashboard-action-btn">get_app</mat-icon>
                        </button>
                    </span>
                </span>
                <button *ngIf="!isCampaign && defaultViewFilterName !== dashboardMenuConfig.selectedViewByName" color="primary" mat-icon-button matTooltip="Make current view as default view" (click)="setDefaultView()">
                    <mat-icon>beenhere</mat-icon>
                </button>
                <button *ngIf="!isCampaign && dashboardMenuConfig.IS_LIST_VIEW" color="primary" mat-icon-button matTooltip="Open Bulk edit" (click)="openBulkEditDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button id="project" *ngIf="!isCampaign && dashboardMenuConfig.IS_LIST_VIEW" color="primary" mat-icon-button matTooltip="Open selected projects in new window " (click)="openSelectedProjects()">
                    <mat-icon>open_in_new</mat-icon>
                </button>

                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <!-- <span class="flex-spacer"></span> -->
                <p matTooltip={{activePreferenceName}} class='active-preference'>
                    <span>Preference :</span> {{activePreferenceName=='undefined*'?'':activePreferenceName}}
                </p>
                <span class="flex-row-item right">
                    <app-project-sort
                        *ngIf="dashboardMenuConfig.projectSortOptions && !dashboardMenuConfig.IS_LIST_VIEW"
                        [sortOptions]="dashboardMenuConfig.projectSortOptions"
                        [selectedOption]="dashboardMenuConfig.selectedSortOption" (sortChange)="onSortChange($event)">
                    </app-project-sort>
                </span>
                <!-- <span class="flex-row-item right">
                    <button *ngIf="dashboardMenuConfig.NEW_PROJECT_TYPES.isShown" class="new-project-btn"
                        mat-raised-button color="accent" matTooltip="Click to view more options"
                        [matMenuTriggerFor]="newProjectTypeMenu">
                        <mat-icon>add</mat-icon>
                        <span> New</span>
                        <mat-icon color="primary">arrow_drop_down</mat-icon>
                    </button>
                </span> -->
                <span class="flex-spacer"></span>
                <span class="flex-row-item right">
                <!-- <span class="flex-row-item right"> -->
                <!-- <span class="flex-spacer"></span> -->

                <!-- <button mat-icon-button>
                        <mat-icon color="primary" class="dashboard-action-btn">settings
                        </mat-icon>
                    </button> -->

                <app-column-chooser [isListView]="dashboardMenuConfig.IS_LIST_VIEW" [columnChooserFields]="columnChooserFields" [isPMView]="true" (columnChooserHandler)="updateDisplayColumns($event)" (resetColumnChooserHandler)="resetView()" [isColumnsFreezable]="isColumnsFreezable"
                    [userPreferenceFreezeCount]="userPreferenceFreezeCount">
                </app-column-chooser>
                </span>
            </div>
            <div class="project-grid">
                <div *ngIf="dashboardMenuConfig.projectData && dashboardMenuConfig.projectData.length > 0">
                    <app-npd-project-list *ngIf="dashboardMenuConfig.IS_LIST_VIEW" [projectConfig]="dashboardMenuConfig" [isCampaign]="isCampaign" [projectType]="projectType" [displayableFields]="displayableFields" (viewProjectDetails)="openProjectDetails($event)" (openCampaignInProjectList)="openCampaignInProjectList($event)"
                        [userPreferenceFreezeCount]="userPreferenceFreezeCount" (viewTaskDetails)="openTaskDetails($event)" (editTaskHandler)="editTask($event)" (sortChange)="onSortChange($event)" (copyProject)="copyProject($event)" (openCommentsModule)="onOpenCommentsModule($event)"
                        (openMilestoneDialog)="openMilestoneDialog($event)" (orderedDisplayableFields)="getOrderedDisplayableFields($event)" (resizeDisplayableFields)="resizeDisplayableFields()" (selectedProjectsCallBackHandler)="getSelectedProject($event)"
                        [facetExpansionState]="facetExpansionState" (refreshEmitter)="refreshData()">
                    </app-npd-project-list>

                    <app-project-card-view *ngIf="!dashboardMenuConfig.IS_LIST_VIEW" [dashboardMenuConfig]="dashboardMenuConfig" [projectData]="dashboardMenuConfig.projectData" (openProjectDetail)="openProjectDetails($event)" (copyProject)="copyProject($event)" (openCommentsModule)="onOpenCommentsModule($event)"
                        (selectedProjectCardCount)="selectedProjectCardCount($event)" (refreshEmitter)="refreshData()">
                    </app-project-card-view>
                </div>

                <div class="pagination" *ngIf="dashboardMenuConfig.totalProjectCount == 0">
                    <button color="primary" disabled mat-flat-button>No
                        {{isCampaignDashboard || dashboardMenuConfig.IS_CAMPAIGN_TYPE ? 'Campaign':
                        dashboardMenuConfig.IS_PROJECT_TYPE ? 'Project' : 'Template'}}
                        is available</button>
                </div>
            </div>
            <!--     <div *ngIf='selectedProjectCounts >= 1 ' class="bulk-actions" data-effect="mfp-move-from-top">
               <mpm-bulk-actions [delCount]="selectedProjectCounts" [enableAction]="true" [selectedProjectData]="selectedProjectData" (unselectDeliverable)="unselectDeliverable($event)"></mpm-bulk-actions>
            </div>-->
            <div class="flex-row" *ngIf="dashboardMenuConfig.projectData && dashboardMenuConfig.projectData.length > 0">
                <div class="flex-row-item right">
                    <mpm-pagination [length]="dashboardMenuConfig.totalProjectCount" [pageSize]="pageSize" [pageIndex]="page" (paginator)="pagination($event)"></mpm-pagination>
                </div>
            </div>
            <mat-menu #projectDashboardFilters="matMenu">
                <ng-template matMenuContent let-filters="filters">
                    <span *ngFor="let filter of filters">
                        <button mat-menu-item
                            *ngIf="filter.NAME != dashboardMenuConfig.selectedViewByName && filter.IS_SHOWN"
                            (click)="onDashBoardFilterChange($event)" [value]="filter.VALUE">
                            <span>{{filter.NAME}}</span>
                    </button>
                    </span>
                </ng-template>
            </mat-menu>

            <mat-menu #newProjectTypeMenu="matMenu">
                <span *ngFor="let fieldOption of dashboardMenuConfig.NEW_PROJECT_TYPES.options">
                    <button *ngIf="fieldOption.isShown" mat-menu-item matTooltip="{{fieldOption.name}}"
                        (click)="onSelectionChange($event, dashboardMenuConfig.NEW_PROJECT_TYPES)"
                        [value]="fieldOption.value">
                        <mat-icon>{{fieldOption.icon}}</mat-icon>
                        <span>{{fieldOption.name}}</span>
                </button>
                </span>
            </mat-menu>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>