<div class="market-scope">
    <!-- loc component: content-->
    <div class="market-scope-table-header">
        <div class="flex-col">
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <div class="market-scope-controls">
                            <p class="market-scope-header">Market Scope</p>
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-row-item">
                        <div *ngIf="marketScopeDataConfig.harmonisedMarket.ngIf" class="market-scope-controls">
                            <mat-form-field class="market-scope-controls-field langugage-select-field" appearance="outline">
                                <mat-label>Select Market</mat-label>
                                <mat-select #marketSelect [(ngModel)]="selectedMultiMarket" multiple [disabled]="marketScopeDataConfig.harmonisedMarket.disabled">
                                    <mat-option #allLangSelected (click)="toggleAllSelection()" [value]="0">Select All
                                    </mat-option>
                                    <mat-option class="mat-primary" (click)="optionClick()" *ngFor="let market of marketsCopy" [value]="market">{{market.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-stroked-button color="primary" *ngIf="marketScopeDataConfig.actions.ngIf" matTooltip="Add Market Scope(s)" class="market-scope-controls-button" (click)="getDataSource()" [disabled]="marketScopeDataConfig.harmonisedMarket.disabled">
                                <mat-icon>add</mat-icon>Add
                            </button>
                            <!--[disabled]="requestFieldHandler.localizationComponent.market.disabled ||
                        (selectedMultiMarket.length === 0 || (selectedMultiMarket.length === 1 && selectedMultiMarket[0] === 0))">-->
                            <button mat-stroked-button color="primary" *ngIf="marketScopeDataConfig.actions.ngIf" matTooltip="Delete Market Scope(s)" class="market-scope-controls-button" (click)="bulkDeleteMS()" [disabled]="marketScopeDataConfig.harmonisedMarket.disabled">
                                <!--|| (selection.selected.length < 1)-->
                                <mat-icon>delete_outline</mat-icon>Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="market-scope-table-container week-select" *ngIf="marketScopeDataConfig.model.ngIf">
        <form class="request-form market-scope-data-grid" [formGroup]="dynamicMarketScopeForm">
            <ng-container formArrayName="marketScope">
                <mat-table #marketScopeTable [dataSource]="marketScopeFormArray.controls">


                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select" *ngIf="marketScopeDataConfig.harmonisedMarket.ngIf">
                        <th mat-header-cell class="mrm-table-checkbox" *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [aria-label]="checkboxLabel()" [disabled]="marketScopeDataConfig.harmonisedMarket.disabled">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row;let i = index;">
                            <mat-checkbox class="checkbox-height content-to-centre" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" [disabled]="marketScopeDataConfig.harmonisedMarket.disabled">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="harmonisedMarket" *ngIf="marketScopeDataConfig.harmonisedMarket.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                <ng-container *ngIf="properties.requestType === 'commercial'">
                                    Harmonised Market(S)
                                </ng-container>
                                <ng-container *ngIf="properties.requestType !== 'commercial'">
                                    Market(S)
                                </ng-container>
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell content-to-centre" *matCellDef="let element; let i = index;">
                            <mat-label>{{ dataSource[i].harmonisedMarket.displayName }}</mat-label>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="leadMarket" *ngIf="marketScopeDataConfig.leadMarket.ngIf">
                        <mat-header-cell *matHeaderCellDef matTooltip="Lead Market">
                            <span>
                                Lead Market
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell content-to-centre" *matCellDef="let element; let i = index;">
                            <mat-radio-button color="primary" [checked]="dataSource[i].leadMarket" (change)="onLeadMarketClick(i)" [disabled]="marketScopeDataConfig.leadMarket.disabled">
                            </mat-radio-button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="threeMonthLauchVolume" *ngIf="marketScopeDataConfig.threeMonthLauchVolume.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                3 Month Launch Volume(24 EQ)
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" (ngModelChange)="updateRequestInfo('threeMonthLauchVolume','dynamicMarketScopeForm',null,i)" formControlName="threeMonthLauchVolume" [disabled]="marketScopeDataConfig.threeMonthLauchVolume.disabled" matInput required autocomplete="off">
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'threeMonthLauchVolume')">
                                fill in 3 Month Launch Volume(24 EQ)
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'threeMonthLauchVolume')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'threeMonthLauchVolume')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="annualVolumne" *ngIf="marketScopeDataConfig.annualVolumne.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                Annualised Year 1 Volume(24 EQ)
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" formControlName="annualVolumne" matInput [disabled]="marketScopeDataConfig.annualVolumne.disabled" autocomplete="off" (ngModelChange)="updateRequestInfo('annualVolumne','dynamicMarketScopeForm',null,i); updateGrossProfit(i); updateNSVPerCase(i); updateGrossMargin(i); onVolumeChange(i)">
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'annualVolumne')">
                                fill in Annualised Year 1 Volume(24 EQ)
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'annualVolumne')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'annualVolumne')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cannibalisationNImpact" *ngIf="marketScopeDataConfig.cannibalisationNImpact.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>Cannabalisation Impact(Total Annual Cases)
                            <span class="astric">*</span>
                            </span>

                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" formControlName="cannibalisationNImpact" matInput [disabled]="marketScopeDataConfig.cannibalisationNImpact.disabled" autocomplete="off" (ngModelChange)="updateRequestInfo('cannibalisationNImpact','dynamicMarketScopeForm',null,i); updateGrossProfit(i)">
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'cannibalisationNImpact')">
                                Fill in Cannabalisation Impact(Total Annual Cases)
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'cannibalisationNImpact')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'cannibalisationNImpact')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>

                    <ng-container style="padding-left: 2px;" matColumnDef="nsvCase" *ngIf="marketScopeDataConfig.nsvCase.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                 NSV / Case
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" formControlName="nsvCase" matInput autocomplete="off" (ngModelChange)="updateRequestInfo('nsvCase','dynamicMarketScopeForm',null,i)">
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'nsvCase')">
                                fill in NSV / Case
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'nsvCase')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'nsvCase')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cogsCase" *ngIf="marketScopeDataConfig.cogsCase.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                COG'S / Case
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" formControlName="cogsCase" matInput autocomplete="off" (ngModelChange)="updateRequestInfo('cogsCase','dynamicMarketScopeForm',null,i); updateCogsCase(i,marketScopeFormArray.controls[i].value.cogsCase); updateGrossProfit(i); updateGrossMargin(i)">
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'cogsCase')">
                                fill in COG'S / Case
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'cogsCase')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'cogsCase')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="annualisedNsv" *ngIf="marketScopeDataConfig.annualisedNsv.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                Annualised Year 1 NSV(Local Currency)
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" formControlName="annualisedNsv" matInput [disabled]="marketScopeDataConfig.annualisedNsv.disabled" autocomplete="off" 
                                (ngModelChange)="updateAnnualisedNsv(i,marketScopeFormArray.controls[i].value.annualisedNsv);updateNSVPerCase(i); updateGrossProfit(i); updateGrossMargin(i)">
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'annualisedNsv')">
                                fill in Annualised Year 1 NSV(Local Currency)
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'annualisedNsv')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'annualisedNsv')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="directlyEnterCurrencyInEuro" *ngIf="marketScopeDataConfig.directlyEnterCurrencyInEuro.ngIf"> 
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                Enter Currency directly in Euros ?
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-checkbox class="checkbox-height content-to-centre" (click)="$event.stopPropagation()" [checked]="dataSource[i].directlyEnterCurrencyInEuro?.value || dataSource[i].directlyEnterCurrencyInEuro" (change)="onCheckDirectlyEnterCurrency('directlyEnterCurrencyInEuro','','dynamicMarketScopeForm',$event.checked,i)"  formControlName="directlyEnterCurrencyInEuro"></mat-checkbox>
                        </mat-cell>                                                                                                                                                                                                         
                    </ng-container>
                    <ng-container matColumnDef="annualisedEuro" *ngIf="marketScopeDataConfig.annualisedEuro.ngIf">
                        <mat-header-cell *matHeaderCellDef>
                            <span>
                                Annualised Year 1 NSV (EURO)
                                <span class="astric">*</span>
                            </span>
                        </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [ngStyle]="{'height': getRowHeight(i)}" [formGroup]="element">
                            <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                                <input type="text" formControlName="annualisedEuro" matInput autocomplete="off"
                                 (keyup)="updateAnnualisedEuro(i,marketScopeFormArray.controls[i].value.annualisedEuro);updateNSVPerCase(i); updateGrossProfit(i); updateGrossMargin(i)" 
                                 (blur)="onFocusOut(marketScopeFormArray.controls[i].value.annualisedEuro,i)"
                                 (focus)="onFocus(marketScopeFormArray.controls[i].value.annualisedEuro,i)">                                    
                            </mat-form-field>
                            <mat-error class="error-field" *ngIf="isErrorValid(i,'annualisedEuro')">
                                fill in Annualised Year 1 NSV (EURO)
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'annualisedEuro')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="grossProfit" *ngIf="marketScopeDataConfig.grossProfit.ngIf">
                        <mat-header-cell *matHeaderCellDef> Gross Profit </mat-header-cell>
                        <mat-cell class="table-cell content-to-centre" *matCellDef="let element; let i = index;">
                            <mat-label>{{this.dataSource[i].grossProfit}}</mat-label>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="grossMargin" *ngIf="marketScopeDataConfig.grossMargin.ngIf">
                        <mat-header-cell *matHeaderCellDef> Gross Margin % </mat-header-cell>
                        <mat-cell class="table-cell content-to-centre" *matCellDef="let element; let i = index;">
                            <mat-label>{{this.dataSource[i].grossMargin}}</mat-label>
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="market">
                        <mat-header-cell *matHeaderCellDef> Market(S) </mat-header-cell>
                        <mat-cell class="table-cell" *matCellDef="let element; let i = index;">
                            <mat-label>{{ selectedMarketOption[i].displayName }}</mat-label>
                        </mat-cell>
                    </ng-container> -->



                    <ng-container #marketScopeTemp matColumnDef="targetDP" *ngIf="marketScopeDataConfig.targetDP.ngIf">
                        <mat-header-cell class="date-picker-width" *matHeaderCellDef matTooltip="Target DP 'IN WAREHOUSE' Week / Year">
                            <span>
                                Target DP 'IN WAREHOUSE' Week / Year
                                <span class="astric">*</span>
                            </span>

                        </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" (click)="$event.stopPropagation()" class="due-date-cell flex-form-field date-picker-width content-to-centre">
                            <div class="targetDP">
                                <mat-form-field appearance="outline" class="vendor-select">
                                    <input class="form-control" matInput formControlName="targetDP" placeholder="ww/yyyy" name="dp" (ngModelChange)="updateRequestInfo('targetDP','dynamicMarketScopeForm',marketScopeFormArray.controls[i].value.targetDP,i)" required />
                                    <button mat-icon-button (click)="getBool(i)" [disabled]="marketScopeDataConfig.targetDP.disabled">
                                        <mat-icon>date_range</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-error *ngIf="isDateValid(i)">
                                    Please Select date
                                </mat-error>
                                <mat-error *ngIf="checkDatePattern(i)">
                                    Enter valid date in MM/YYYY format
                                </mat-error>
                            </div>
                            <app-week-picker class="week-picker" [ngClass]="{'commercial-week': properties.requestType === 'commercial'}" [ngStyle]="{'top': getPickerStyles(i)}" [weekYearValue]="marketScopeFormArray.controls[i].value.targetDP" [fromDate]="fromTargetDate[i]" [minDate]="weekPickerMinDate"
                                [toDate]="toTargetDate[i]" (weekFormat)="changeTargetDP($event,i)" *ngIf="show[i]">
                            </app-week-picker>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions" *ngIf="marketScopeDataConfig.actions.ngIf">
                        <mat-header-cell *matHeaderCellDef class="market-scope-actions "> Actions </mat-header-cell>
                        <mat-cell class="market-scope-actions content-to-centre" *matCellDef="let element; let i = index;" [formGroup]="element">
                            <button mat-icon-button matTooltip="Delete" class="market-scope-controls-button" (click)="deleteMarketScopeGroup(i)" [disabled]="marketScopeDataConfig.harmonisedMarket.disabled">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row [ngClass]="{'header-row': this.properties.requestType === 'commercial' }" *matHeaderRowDef="msGridColumns; sticky: true"></mat-header-row>
                    <mat-row class="mat-row-change" *matRowDef="let row; columns: msGridColumns;"></mat-row>
                </mat-table>
            </ng-container>
        </form>
        <!-- market-scope data table -->
        <p class="market-scope-info" *ngIf="showMarketScopeForm && marketScopeFormArray.controls.length === 0">No Market Scope(s) are added.</p>
        <p class="market-scope-info" *ngIf="!showMarketScopeForm && loadingMarketScope">
            Loading....</p>
    </div>
    <!-- localization component table container-->
</div>