:host{
  display: block;
  padding-bottom: 28px;
  z-index: 1000;
}

.market-scope-table-container{
}
.main-child-header{
    padding-bottom: 24px;
}
.market-scope-data-grid .mat-form-field {
    font-size: 13px;
    //width: 89%;
}
.market-scope-data-grid .mat-cell {
    border-bottom: none !important;
    font-size: 15px;
  }
  
  .market-scope-data-grid .mat-header-cell {
    border-bottom: none !important;
    font-size: 15px;
  }
  
  .market-scope-data-grid .mat-row {
    margin-top: 8px;
  }
  
  .market-scope-data-grid .mat-table {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 34px;
    box-shadow: 0px 0px 3px #b8b8b8;
  }
  
  .market-scope-data-grid .mat-header-cell {
    color: var(--brand-color) !important;
  }
  
  .market-scope-header {
    font-size: 18px;
    //font-weight: 600;
    margin-top: 7px;
  }
  .project-core-data-header {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  .market-scope-controls {
    display: inline-block;
    margin-right: 25px;
    height: 40px;
  }
  
  .market-scope-table-header {
    padding: 10px 0px;
  }
  
  .market-scope-controls-button,
  .market-scope-controls-vendor-field,
  .market-scope-controls-checkboxes {
      margin-right: 15px;
      margin-left: 20px;
  }
  
  .market-scope-controls-field {
    margin-right: 15px;
    font-size: 11px;
  }
  
  .market-scope-delete {
    cursor: pointer;
  }
  
  .market-scope-info {
    text-align: center;
    font-size: 13px;
    margin-bottom: 41px;
  }
  
  .market-scope-header-checkbox {
    margin-right: 4px;
  }
.week-select{
    position: relative;
  }
  
.week-picker{
    position: absolute;
    z-index: 999;
    top: 160px; 
    // right: 163px;
}
.commercial-week{
  right: 160px;
}
.targetDP  {
    ::ng-deep .mat-form-field-wrapper{
       padding-bottom: 0 !important;
    }
   }
   .market-scope-actions{
     display: flex;
     justify-content: center;
   }
   .astric{
     color: #ff0e19;
   }

.field-width{
  width: 90%;
}

.error-field{
  font-size: 75%;
}

.table-cell{
  display: block;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 200px;
}
.mat-header-cell:first-child, .mat-footer-cell:first-child, .mat-cell:first-child {
  min-width: 50px;
}

::ng-deep .mat-form-field-infix {
  display: flex !important;
  margin-top: -8px;
}
.vendor-select{
  width: 110px;
}

.date-picker-width{
  min-width: 150px !important;
}

.content-to-centre{
  display: grid;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.show-error-height{
  place-content: start start;
  height: 120px;
}

.header-row{
  width: fit-content;
}

.mat-row-change {
  align-items: start;
}

.checkbox-height{
  height: 48px;
}

@media only screen and (max-width: 7000px) {
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 500px;
  }
}
@media only screen and (max-width: 5000px) {
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 400px;
  }
}
@media only screen and (max-width: 4000px) {
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 200px;
  }
}
@media only screen and (max-width: 3000px) {
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 150px;
  }
}

@media only screen and (max-width: 2000px) {
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 100px;
  }
}
