table.deliverable-task-list {
    width: 100%;
    tr {
        cursor: pointer;
        .mat-checkbox {
            padding: 0 8px;
        }
        th:last-child {
            padding-left: 12px;
        }
        td:first-child{
            // background-color: red;
             min-width: 4em;
     
           }
           td:nth-child(2){
             min-width: 4em;
           }
        td {
            a.mat-button {
                padding: 0px;
                text-align: left;
            }
            mat-icon {
                font-size: 16px;
                height: 16px;
                width: 16px;
            }
            .status-chip {
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: normal;
            }
            min-width: 7rem;
            text-overflow: ellipsis;
        }
    }
}

.deliverables-info {
    width: 100%;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

td.task-details {
    padding: 0 !important;
    cursor: default;
}

tr.task-details-row {
    height: 0;
}

.task-element-row td {
    border-bottom-width: 0;
}

.task-element-detail {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.deliverables-card-area {
    width: 100%;
    padding: 8px;
    font-weight: lighter;
    margin: 0 25px 25px 25px;
}

td.wrap-text-custom {
    span>div {
        max-width: 14em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.min-width-action {
    min-width: 3em;
}

.mat-checkbox {
    color: red;
}

::ng-deep .mat-sort-header-button {
    position: unset !important;
}

th.mat-header-cell {
    // padding-left: 5px;
    &:hover {
        .ui-column-resizer {
            display: block
        }
    }
}

.ui-column-resizer {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    cursor: col-resize;
}

.cdk-drag-preview {
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    white-space: nowrap;
}

.cdk-drag-preview::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    color: transparent;
    position: relative;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    border: dashed 1px rgba(0, 0, 0, 0.4);
}