<table class="deliverable-task-list" mat-table [dataSource]="deliverableTaskDataSource" matSort multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)">
    <ng-container matColumnDef="Expand">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf="!row.isExpanded" matSuffix color="primary">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="row.isExpanded" matSuffix color="primary">keyboard_arrow_down</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>
             <mat-checkbox (change)="$event ? masterToggle($event) : null"
                [checked]="selection.hasValue() && isAllSelected(true)"
                [indeterminate]="selection.hasValue() && !isAllSelected(true)">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
             <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="{{column.INDEXER_FIELD_ID}}" *ngFor="let column of displayableMetadataFields; index as i" [sticky]="i<userPreferenceFreezeCount">
        <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true">
            {{column.DISPLAY_NAME}} </th> -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [style.min-width.px]="column.width">
            <span cdkDragHandle>{{column.DISPLAY_NAME}}</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
                <mat-icon>more_vert</mat-icon>
            </span>
        </th>
        <td mat-cell *matCellDef="let row" [style.max-width.px]="column.width" [ngClass]="{'wrap-text-custom':metaDataDataTypes.STRING === column.DATA_TYPE}">
            <span>
                <div #divposition
                [matTooltip]="getProperty(row, column)"
                    *ngIf="(column.MAPPER_NAME !== MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS) && 
                (column.MAPPER_NAME !== MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS) &&
                (column.MAPPER_NAME !== MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY) &&
                (column.MAPPER_NAME !== MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS) && 
                                (column.MAPPER_NAME !== MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS) &&
                                (column.MAPPER_NAME !== MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY) &&
                                (column.MAPPER_NAME !== MPMFieldConstants.MPM_TASK_FIELDS.TASK_PRIORITY) &&
                                (column.MAPPER_NAME !== MPMFieldConstants.MPM_TASK_FIELDS.TASK_PROGRESS) &&
                                (column.MAPPER_NAME !== MPMFieldConstants.MPM_TASK_FIELDS.TASK_STATUS)">
                    <!-- matTooltipClass="custom-tooltip" -->
                    <a><span #spanposition
                        [matTooltip]="getProperty(row, column)">{{getProperty(row,
                            column) || 'NA'}}</span></a>
            </div>
            <div *ngIf="column.MAPPER_NAME === MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY || 
                column.MAPPER_NAME === MPMFieldConstants.MPM_TASK_FIELDS.TASK_PRIORITY || 
                column.MAPPER_NAME === MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY">
                <mat-icon matTooltip="{{getPriority(row, column).tooltip}}" [style.color]="getPriority(row, column).color">{{getPriority(row, column).icon}}
                </mat-icon>
            </div>
            <div *ngIf="(column.MAPPER_NAME === MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS) || (column.MAPPER_NAME === MPMFieldConstants.MPM_TASK_FIELDS.TASK_PROGRESS) || (column.MAPPER_NAME === MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS)">
                <span matTooltip="{{getProperty(row, column) || '0'}}%">{{getProperty(row, column) || 'NA'}}%
                        <mat-progress-bar color="primary" mode="determinate" value="{{getProperty(row, column) || '0'}}"
                            class="">
                        </mat-progress-bar>
                    </span>
            </div>
            <div *ngIf="(column.MAPPER_NAME === MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS) || (column.MAPPER_NAME === MPMFieldConstants.MPM_TASK_FIELDS.TASK_STATUS) || (column.MAPPER_NAME === MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS)">
                <mat-chip-list>
                    <mat-chip class="status-chip">{{getProperty(row, column) || 'NA'}}</mat-chip>
                </mat-chip-list>
            </div>
            </span>
        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions </th>
        <td mat-cell *matCellDef="let row" class="min-width-action">
            <div>
                <button mat-icon-button matTooltip="Comments" (click)="openComment(row)">
                    <mat-icon>comment</mat-icon>
                </button>
            </div>
        </td>
    </ng-container> -->

    <ng-container matColumnDef="expandedDetail">
        <td class="task-details" mat-cell *matCellDef="let row" [attr.colspan]="displayColumns?.length">
            <div class="task-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
                <div class="deliverables-info" *ngIf="(!row.deliverableDetails || row.deliverableDetails.length === 0)">
                    <div class="task-heading">No Deliverables are there to work</div>
                </div>
                <div class="deliverables-card-area">
                    <mat-grid-list cols="{{cols}}" rowHeight="370" (window:resize)="computeGridCols()" gutterSize="10">
                        <mat-grid-tile *ngFor="let deliverableDetail of row.deliverableDetails">
                            <app-deliverable-card [isPMView]="false" [bulkEdit]="row" [deliverableBulkResponse]="bulkResponseData" (deliverableBulkCheckCount)="deliverableBulkEditCheckCount($event)" (selectedDeliverableData)="selectedBulkDeliverableData($event)" [deliverableData]="deliverableDetail.deliverableData"
                                (refreshDeliverable)="refreshDeliverable($event)" (assetDetailsCallBackHandler)="retrieveAssetData($event)" (editDeliverableHandler)="editDeliverable($event)" (crHandler)="openCR($event)" (deliverableDetailsHandler)="deliverableDetails($event)"
                                (versionsHandler)="viewVersions($event)" (shareAssetHandler)="shareAsset($event)" [level]="level" [bulkActions]="bulkActions" [unselectDeliverable]="unselectDeliverable">
                            </app-deliverable-card>
                        </mat-grid-tile>
                        <!-- <span *ngIf="assetDetailData && assetDetailData.length >0">
                            <mat-grid-tile *ngFor="let asset of assetDetailData[0]">
                                <app-asset-card [asset]="asset"
                                    (assetDetailsCallBackHandler)="retrieveAssetData($event)"
                                    (shareAssetsCallbackHandler)="shareAsset($event)" [filterType]="filterType"
                                    [IsNotPMView]="IsNotPMView">
                                </app-asset-card>
                            </mat-grid-tile>
                        </span> -->
                        <span *ngIf="row.assetDetailDatas && row.assetDetailDatas.length >0">
                            <mat-grid-tile *ngFor="let asset of row.assetDetailDatas[0]">
                                <app-asset-card [asset]="asset"
                                    (assetDetailsCallBackHandler)="retrieveAssetData($event)"
                                    (shareAssetsCallbackHandler)="shareAsset($event)" [filterType]="filterType"
                                    [IsNotPMView]="IsNotPMView">
                                </app-asset-card>
                            </mat-grid-tile>
                        </span>
                    </mat-grid-list>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr id="{{row}}" mat-row *matRowDef="let row; columns: displayColumns" class="task-element-row" (click)="expandRow(row)">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="task-details-row"></tr>
</table>

<div *ngIf="(deliverableTaskDataSource && deliverableTaskDataSource.data && deliverableTaskDataSource.data.length == 0)" class="central-info">
    <button color="accent" disabled mat-flat-button>No tasks available.</button>
</div>