.governance-milestone-scope-data-grid .mat-form-field {
    font-size: 13px;
    //width: 89%;
}

.governance-milestone-scope-data-grid .mat-cell {
    border-bottom: none !important;
    font-size: 15px;
}

.governance-milestone-scope-data-grid .mat-header-cell {
    border-bottom: none !important;
    font-size: 15px;
}

.governance-milestone-scope-data-grid .mat-row {
    margin-top: 8px;
}

.governance-milestone-scope-data-grid .mat-table {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 34px;
    box-shadow: 0px 0px 3px #b8b8b8;
}

.governance-milestone-scope-data-grid .mat-header-cell {
    color: var(--brand-color) !important;
}

.governance-milestone-scope-header {
    font-size: 18px;
    //font-weight: 600;
    margin-top: 7px;
}

.project-core-data-header {
    font-size: 18px;
}

.governance-milestone-scope-controls {
    display: inline-block;
    margin-right: 25px;
    height: 40px;
}

.governance-milestone-scope-table-header {
    padding: 10px 0px;
}

.governance-milestone-scope-controls-button,
.governance-milestone-scope-controls-vendor-field,
.governance-milestone-scope-controls-checkboxes {
    margin-right: 15px;
    margin-left: 20px;
}

.governance-milestone-scope-controls-field {
    margin-right: 15px;
    font-size: 11px;
}

.governance-milestone-scope-delete {
    cursor: pointer;
}

.governance-milestone-scope-info {
    text-align: center;
    font-size: 13px;
    margin-bottom: 41px;
}

.governance-milestone-scope-header-checkbox {
    margin-right: 4px;
}

.mat-header-row,
.mat-row {
    min-height: 70px;
}

.mat-row {
    .mat-cell {
        margin-right: 0%;
        .mat-form-field {
            .mat-form-field-wrapper {
                padding-bottom: 0px !important;
            }
        }
    }
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, 369);
}

.grid-container {
    display: flex !important;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    //overflow-y: auto;
    //width: 38vw;
    //height: 30vh;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, 369);
}

.grid-container--fit {
    margin-right: 30px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.change-cell-size {
    flex: 0.5;
}

.change-feedback-cell-size {
    flex: 1.8;
}

.field-width {
    width: 90%;
}

.stage {
    background-color: red;
}