<div class="governance-milestone-scope-table-header">
    <div class="governance-milestone-scope-controls" matTooltip="Governance Milestone" matTooltipPosition="above">
        <p class="governance-milestone-scope-header">Governance Milestone</p>
    </div>
</div>
<div class="governance-milestone-scope-table-container">
    <form *ngIf="showGovernanceMilestoneForm" class="request-form governance-milestone-scope-data-grid" [formGroup]="dynamicGovernanceMilestoneForm">
        <ng-container formArrayName="stagesScope">
            <mat-table #stagesScopeTable [dataSource]="stagesScopeFormArray.controls">
                <ng-container matColumnDef="stages" *ngIf="governanceMilestoneConfig.stage.ngIf">
                    <mat-header-cell class="change-cell-size" *matHeaderCellDef matTooltip="Stages" matTooltipPosition="above"> Stages </mat-header-cell>
                    <mat-cell class="change-cell-size" *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-label>{{stagesScopeFormArray && stagesScopeFormArray.controls[i] && stagesScopeFormArray.controls[i].value.stages}}</mat-label>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="targetStartDate" *ngIf="governanceMilestoneConfig.targetStartDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Target Start Date" matTooltipPosition="above">
                        Target Start Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <input autocomplete="off" matInput [matDatepicker]="targetStartDate" [disabled]="governanceMilestoneConfig.targetStartDate.disabled" (ngModelChange)="test($event)" formControlName="targetStartDate">
                            <mat-datepicker-toggle matSuffix [for]="targetStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #targetStartDate></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="decisionDate" *ngIf="governanceMilestoneConfig.decisionDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Decision Date" matTooltipPosition="above">
                        Decision Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="due-date-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input autocomplete="off" matInput [matDatepicker]="decisionDate" formControlName="decisionDate" [disabled]="governanceMilestoneConfig.decisionDate.disabled">
                            <mat-datepicker-toggle matSuffix [for]="decisionDate"></mat-datepicker-toggle>
                            <mat-datepicker #decisionDate></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="decision" *ngIf="governanceMilestoneConfig.decision.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Decision" matTooltipPosition="above">
                        <!--Dropdown-->
                        Decision
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="due-date-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-select formControlName="decision" [disabled]="governanceMilestoneConfig.decision.disabled" required>
                                <mat-option *ngFor="let decision of decisions" value="{{decision.value}}">
                                    {{ decision.displayName }}
                                </mat-option>
                                <!-- [(ngModel)]="selectedVendors[i]"
                                            (selectionChange)="onVendorSelection(i)"-->
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="comments" *ngIf="governanceMilestoneConfig.comments.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Comments/Feedback" matTooltipPosition="above">
                        Comments/Feedback
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="due-date-cell change-feedback-cell-size">
                        <mat-form-field class="field-width" appearance="outline">
                            <textarea matInput formControlName="comments" (ngModelChange)="updateGMInfo('comments',i,'Comments')"></textarea>
                            <!--  <input autocomplete="off" matInput
                                formControlName="comments">  *ngIf="stagesScopeFormArray &&stagesScopeFormArray.controls[i] && stagesScopeFormArray.controls[i].value && stagesScopeFormArray.controls[i].value.comments.hasError('maxlength')"-->
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="gmGridColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: gmGridColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </form>
    <!-- Governance Milestone data table -->
    <p class="governance-milestone-scope-info" *ngIf="showGovernanceMilestoneForm && stagesScopeFormArray.controls.length === 0">No Governance Milestone(s) available</p>
    <p class="governance-milestone-scope-info" *ngIf="!showGovernanceMilestoneForm && loadingGovernanceMilestone">
        Loading....</p>
</div>