<mat-sidenav-container>
    <mat-sidenav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="facetExpansionState">
        <app-facet [dataCount]="totalListDataCount"></app-facet>
    </mat-sidenav>
    <mat-sidenav-content class="mat-content">
        <mpm-facet-button [initalState]="facetExpansionState" (facetToggled)="facetToggled($event)" [isRMView]="false">
        </mpm-facet-button>
        <div class="request-form-change">
        </div>
        <div appHoriResizable [(height)]="drag" class="main-container">
            <div class="container">
                <div class="head-row-container brand-color">
                    <div class="first-header header-com-height" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" [scrollLeft]="scrollLeftQuad1" #head resizable [ngStyle]="{'width': resizeWidth }">
                        <ng-container>
                            <mat-checkbox [style.left.px]="[ 0 ]" class="flex-center-checkbox" [(ngModel)]="selectAllChecked" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
                        </ng-container>
                        <ng-container *ngFor="let column of mainHeadercolumnsToDisplay; let i = index">
                            <div class="grid-columns column-header drop-cursor" [ngStyle]="{'min-width': resizeInnerWidth[i] }" [resizeColumn]="i" (click)="onSortBy(column.DISPLAY_NAME,i,'ASC')" (mouseover)="showSortIcon(column.DISPLAY_NAME,i)" (mouseleave)="hideSortIcon(column.DISPLAY_NAME,i)"
                                [ngClass]="{'project-name-box': i == 0,'freeze':i < userPreferenceFreezeCount}" [style.left.px]="[ (150 * i )+45]" cdkDrag>
                                <div class="grid-columns-content" matTooltip="{{column.DISPLAY_NAME}}">
                                    {{column.DISPLAY_NAME}}
                                </div>
                                <ng-container *ngIf="column?.sortArrowShow || column?.defaultSortArrowShow || i == index">
                                    <ng-container *ngIf="(column?.sortArrow == undefined) || (column?.sortArrow == false)">
                                        <mat-icon class="sort-icon">arrow_downward</mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="column?.sortArrow == true">
                                        <mat-icon class="sort-icon">arrow_upward</mat-icon>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <div class="" *ngIf="head?.offsetWidth">
                        <div class="quad4-container" #content [ngStyle]="{'width.px': getWidthOfHead(head?.offsetWidth) }" [scrollLeft]="scrollLeftQuad2">
                            <div class="week-contianer brand-color">
                                <span class="" *ngFor="let ele of dateArray; let i = index">
                  <ng-container *ngIf="!getWeekNo(i)">
                    <div class="week-day calNum" [ngClass]="{'remove-cal-num': getWeekNo(i) }"
                      [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                      {{ ele?.weekNo}}-{{ele?.year}}
                    </div>
                  </ng-container>
                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start -->
                <!-- <app-project-task-table [mainHeadercolumnsToDisplay]="mainHeadercolumnsToDisplay" [projectData]="projectData"
                [resizeInnerWidth]="resizeInnerWidth" [calendarData]="calendarData" [dateArray]="dateArray" [scrollLeftQuad2]="scrollLeftQuad2"
                [scrollLeftQuad1]="scrollLeftQuad1" [scrollLeftQuad1Px]="scrollLeftQuad1Px" [scrollLeftQuad2Px]="scrollLeftQuad2Px"
                (editTask)="editTask" [drag]="drag" [resizeWidth]="resizeWidth"
                [selectedGroupByFilter]="selectedGroupByFilter" (getProjectTask)="getProjectTask" [headOffsetWidth]="head.offsetWidth"
                [subLevelHeadercolumnsToDisplay]="subLevelHeadercolumnsToDisplay" [selection]="selection">
        </app-project-task-table> -->
                <div class="container-scrollable" [style.height.px]="drag">
                    <div *ngFor="let projectRowData of projectData; let i = index">
                        <div class="row-container">
                            <div class="first-header" [scrollLeft]="scrollLeftQuad1" #row (click)="expandProject(projectRowData,i)" resizable [ngStyle]="{'width': resizeWidth }">
                                <ng-container>
                                    <mat-checkbox [style.left.px]="[ 0 ]" (click)="$event.stopPropagation()" class="flex-center-checkbox" [(ngModel)]="projectRowData.selected" [checked]="selection.isSelected(projectRowData)" (change)="$event ? checkRow(projectRowData,$event) : null"></mat-checkbox>
                                </ng-container>
                                <ng-container *ngFor="let column of mainHeadercolumnsToDisplay; let k = index">
                                    <div class="project-name-box project-id-field" [ngClass]="{'freeze':k < userPreferenceFreezeCount}" [style.left.px]="[ (150 * k) + 45]" [ngStyle]="{'min-width': resizeInnerWidth[k] }">
                                        <ng-container *ngIf="k == 0">
                                            <mat-icon class="expand-icon" *ngIf="showExpandIcon(projectRowData)">
                                                {{projectRowData.isExpand ? 'arrow_drop_down':'keyboard_arrow_right'}}
                                            </mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="column.MAPPER_NAME!== 'TASK_ADJUSTMENT_POINT' && column.MAPPER_NAME != 'NPD_PROJECT_BUSINESS_ID' && !checkDateType(column)">
                                            <div class="text-overflow">
                                                {{projectRowData | ProjectTaskDetailPipe: column: false}}
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="checkDateType(column)">
                                            <div class="text-overflow">
                                                {{projectRowData | ProjectTaskDetailPipe: column: true}}
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="column.MAPPER_NAME === 'NPD_PROJECT_BUSINESS_ID' && !checkDateType(column)">
                                            <button mat-button (click)="$event.stopPropagation();onRowClick(projectRowData)" class="redirect-cell" matTooltip="{{projectRowData | ProjectTaskDetailPipe: column: false}}">
                                                {{projectRowData | ProjectTaskDetailPipe: column: false}}
                                              </button>
                                        </ng-container>
                                        <ng-container *ngIf="column.MAPPER_NAME == 'TASK_ADJUSTMENT_POINT'">
                                            <span *ngIf="!projectRowData.edit"> {{getProperty(column,
                        projectRowData) || 'NA'}}
                        <mat-icon matTooltip="Edit Task Adjustment Point" class="edit-icon"
                          (click)="projectRowData.edit = !projectRowData.edit">edit</mat-icon>
                      </span>
                                            <span *ngIf="projectRowData.edit">
                        <mat-form-field class="mrm-joborder-name-form-input field-width">
                          <div class="task-adjustment-point">
                            <input matInput type="text" [(ngModel)]="projectRowData.editTaskAdjustmentPoint"
                              (blur)="updateTaskAdjustmentPoint(projectRowData,projectRowData.editTaskAdjustmentPoint)"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </mat-form-field>
                      </span>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="painted-proj-container" [ngStyle]="{'width.px': getWidthOfHead(head?.offsetWidth) }" [scrollLeft]="scrollLeftQuad2" (click)="expandProject(projectRowData,i);editTask(projectRowData)">
                                <div class="painted-proj-flex">
                                    <ng-container *ngIf="selectedGroupByFilter == 'GROUP_BY_PROJECT'">
                                        <ng-container *ngFor="let part of projectRowData?.taskPaintedData">
                                            <ng-container *ngIf="getData(part) == 1">
                                                <div class="empty-project" [ngStyle]="{'width': getRowLength(part.rowLength)}">
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="getData(part) == 2">
                                                <div class="painted-proj" [ngStyle]="{'width': getRowLength(part.rowLength),'background-color': part?.changeColor ? '#ff9438' : '', border: part?.changeColor ? 0 : '1px solid', 'justify-content': getWidthAdj(getRowLength(part.rowLength),part?.taskName) ? 'flex-start' : 'center','padding-left': getWidthAdj(getRowLength(part.rowLength),part?.taskName) ? '4px' : '0' }"
                                                    [ngClass]="changeTaskBarColor('1',part?.taskEstimatedEndDate,part?.taskStatusValue)" matTooltip="{{part?.changeColor ? '' : part?.taskName}}">
                                                    <span class="text-area-ellipses">
                            {{ part?.changeColor ? '' : part?.taskName}}
                          </span>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="!(selectedGroupByFilter == 'GROUP_BY_PROJECT')">
                                        <ng-container *ngFor="let seg of projectRowData?.taskPaintedData">
                                            <ng-container *ngIf="getData(seg) == 1">
                                                <div class="empty-project " [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="getData(seg) == 2">
                                                <div class="painted-proj" [ngStyle]="{'width': getRowLength(seg.rowLength),'justify-content': getWidthAdj(getRowLength(seg.rowLength),taskBarName(calendarData[i])) ? 'flex-start' : 'center'}" [ngClass]="changeTaskBarColor('2',calendarData[i].NPD_TASK_ESTIMATED_COMPLETION_DATE,calendarData[i].TASK_STATUS_VALUE)"
                                                    matTooltip="{{taskBarName(calendarData[i])}}">
                                                    <span class="text-area-ellipses">
                                                        {{taskBarName(calendarData[i])}}
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="projectRowData.show">
                            <div class="row-container">
                                <div class="task-header-container" [scrollLeft]="scrollLeftQuad1" resizable [ngStyle]="{'width': resizeWidth }">
                                    <ng-container *ngFor="let column of subLevelHeadercolumnsToDisplay; let i = index">
                                        <div class="flex-center project-id-field column-header" [ngClass]="{ 'project-name-box': i == 0}" matTooltip="{{column.DISPLAY_NAME}}">
                                            {{column.DISPLAY_NAME}}
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="painted-proj-container" [ngStyle]="{'width.px': getWidthOfHead(head?.offsetWidth) }" [scrollLeft]="scrollLeftQuad2">
                                    <div class="" [ngStyle]="{'width': getEmptyWidth()}">
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngFor="let item of projectRowData.taskData; let j = index">
                                <div class="row-container">
                                    <div class="first-header" [scrollLeft]="scrollLeftQuad1" resizable [ngStyle]="{'width': resizeWidth }">
                                        <ng-container *ngFor="let column of subLevelHeadercolumnsToDisplay; let k = index">
                                            <div class="project-name-box project-id-field">
                                                <ng-container *ngIf="column.MAPPER_NAME !== 'TASK_ADJUSTMENT_POINT' && !checkDateType(column)">
                                                    <div class="text-overflow" matTooltip="{{getProperty(column,item) || 'NA'}}">
                                                        {{getProperty(column, item) || 'NA'}}
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="checkDateType(column)">
                                                    <div class="text-overflow" matTooltip=" {{getWeek(column, item) || 'NA'}}">
                                                        {{getWeek(column, item) || 'NA'}}
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="column.MAPPER_NAME == 'TASK_ADJUSTMENT_POINT'">
                                                    <span *ngIf="!item.edit"> {{getProperty(column,
                            item) || 'NA'}}
                            <mat-icon matTooltip="Edit Task Adjustment Point" class="edit-icon"
                              (click)="item.edit = !item.edit">edit</mat-icon>
                          </span>
                                                    <span *ngIf="item.edit">
                            <mat-form-field class="mrm-joborder-name-form-input">
                              <input matInput type="text" [(ngModel)]="item.editTaskAdjustmentPoint"
                                (blur)="updateTaskAdjustmentPoint(item,item.editTaskAdjustmentPoint)"
                                [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </span>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="painted-proj-container" [ngStyle]="{'width.px': getWidthOfHead(head?.offsetWidth) }" [scrollLeft]="scrollLeftQuad2" matTooltip="{{taskBarName(calendarData[i].taskData[j])}}">
                                        <div class="painted-proj-flex" (click)="editTask(calendarData[i].taskData[j])">
                                            <ng-container *ngFor="let seg of item?.paintedData">
                                                <ng-container *ngIf="getData(seg) == 1">
                                                    <div class="empty-project " [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="getData(seg) == 2">
                                                    <div class="painted-proj" [ngStyle]="{'width': getRowLength(seg.rowLength)}" [ngClass]="changeTaskBarColor('3',calendarData[i].taskData[j].NPD_TASK_ESTIMATED_COMPLETION_DATE,calendarData[i].taskData[j].TASK_STATUS_VALUE)">
                                                        <span class="text-area-ellipses">
                                                                {{taskBarName(calendarData[i].taskData[j])}}
                                                        </span>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div *ngIf="projectRowData?.taskData?.length == 0" class="no-data-width">
                                <div class="central-info">
                                    <button color="accent" disabled mat-flat-button>No data is available.</button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="projectData.length == 0" class="no-data-width">
                        <div class="central-info">
                            <button color="accent" disabled mat-flat-button>No data is available.</button>
                        </div>
                    </div>
                </div>

                <!-- END -->

                <div class="head-row-container brand-color last-head-container">
                    <div class="first-header header-com-height show-scroll-quad1" #scrollQuad1 (scroll)="onScrollQuad1()" [scrollLeft]="scrollLeftQuad1" resizable [ngStyle]="{'width': resizeWidth }">
                        <ng-container *ngFor="let column of mainHeadercolumnsToDisplay; let i = index">
                            <div class="flex-center project-id-field column-header" [ngClass]="{'project-name-box': i == 0}" matTooltip="{{column.DISPLAY_NAME}}">
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="head?.offsetWidth" class="quad4-container show-scroll-quad2" [ngStyle]="{'width.px': getWidthOfHead(head?.offsetWidth)}" #scrollQuad2 (scroll)="onScrollQuad2()" [scrollLeft]="scrollLeftQuad2">
                        <div class="week-contianer-flex">
                            <span class="" *ngFor="let ele of dateArray; let i = index">
                <ng-container *ngIf="!getWeekNo(i)">
                  <div class="week-day" [ngClass]="{'remove-cal-num': getWeekNo(i) }"
                    [ngStyle]="{'width': getWidthLength(ele?.weekNo,ele?.year)}">
                  </div>
                </ng-container>
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="handler" [ngStyle]="{'background-color': showDragContent ? '#989899' : ''}" (mouseover)="getShowDragContent()" (mouseleave)="getHideDragContent()">
                <ng-container *ngIf="showDragContent">
                    drag
                </ng-container>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>