::ng-deep .e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div {
    background-color: #7fda62;
    border: 1px solid #8dc63f;
}

::ng-deep .e-gantt {
    margin-bottom: 40px;
}

::ng-deep .e-grid .e-table {
    background-color: #191818c9 !important;
    color: #aee672 !important;
}

::ng-deep .e-grid .e-content {
    background-color: #191818c9 !important;
    color: #aee672 !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-chart-root-container {
    background-color: #8785850d !important;
}

::ng-deep .e-gantt .e-gantt-tree-grid-pane .e-headercell {
    background-color: #2c2a2aa3  !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-timeline-header-container {
    background-color: #2c2a2aa3  !important;
}

::ng-deep .e-toolbar .e-toolbar-items {
    background : #191818c9 !important;
}

::ng-deep #GanttSample_searchbar {
    color : white !important;
    border-color: white !important;
}

::ng-deep #GanttSample_searchbutton {
    color : white !important;
}

::ng-deep .e-input-group.e-search {
    color : white !important;
    border-color: white !important;
}

::ng-deep td.e-rowcell.e-ellipsistooltip {
    color : white !important;
}

::ng-deep td.e-rowsell {
    color : white !important;
}

::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover {
    background : #aee672 !important;
}

::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active {
    background : #aee672 !important;
}

::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-hover .e-resize-handler {
    color : black !important;
}

::ng-deep .e-splitter .e-split-bar.e-split-bar-horizontal.e-split-bar-active .e-resize-handler {
    color : black !important;
}

::ng-deep th.e-timeline-top-header-cell {
    color : #aee672 !important;
}

::ng-deep .e-gantt .e-gantt-chart .e-weekend-header-cell {
    color : black !important;
}

::ng-deep .e-gantt .e-grid .e-icons:not(.e-stop):not(.e-check):not(.e-icon-left):not(.e-date-icon) {
    color : white !important;
}

::ng-deep .e-toolbar-item.e-search-wrapper.e-template {
    width : 270px !important;
}

::ng-deep .e-emptyrow {
    color : white !important;
}

.mrm-promotion-events-calendar-no-events {
    margin-left : 48% !important;
}

::ng-deep .e-grid .e-rowcell:not(.e-editedbatchcell), .e-grid .e-detailrowcollapse:not(.e-editedbatchcell), .e-grid .e-detailrowexpand:not(.e-editedbatchcell), .e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell), .e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell), .e-grid .e-emptyrow:not(.e-editedbatchcell) {
    color : white !important;
}

/*custom..*/
::ng-deep .e-gantt .e-gantt-chart .e-weekend-header-cell {
    color: #aee672 !important;
    background: #9e9e9e;
}

::ng-deep .e-gantt .e-gantt-chart .e-label {
    font-size: 13px;
    color: white;
}


::ng-deep .e-gantt .e-gantt-chart .e-gantt-parent-taskbar-inner-div {
    background-color: #bdbdbd;
}

::ng-deep .e-gantt .e-icons {
    color: white;
}

::ng-deep .e-gantt .e-gantt-chart .e-label {
    font-size: 15px;
    color: #aee672 !important;
}

//task linking line 
::ng-deep .e-gantt .e-gantt-chart .e-line {
    border-color: #3f51b5;
}

.refresh-btn {
    margin-left:15px;
}

.request-form-change {
   /*  display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 24px; */
    margin-left: 16px;
    margin-top: 20px;
}



//dropdown
::ng-deep span.e-input-group.e-control-wrapper.e-popup-flmenu.e-ddl.e-lib.e-keyboard.e-valid-input {
    border-color: white !important;
}

//date picker
::ng-deep .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
     border-color: #fafafa;
}

::ng-deep .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
    background: transparent;
    border-color: rgba(0,0,0,0.42);
    color: white !important;
}

::ng-deep .e-btn.e-flat, .e-css.e-btn.e-flat {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: white;
}

::ng-deep .e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
    background-color: transparent;
    border-color: transparent;
    color: #aee672;
}

::ng-deep .e-dialog .e-footer-content {
    box-sizing: border-box;
    background:  var(--main-bg-color);
}

::ng-deep .e-dialog .e-dlg-content {
    padding: 18px;  
    background:  var(--main-bg-color);
}

::ng-deep .e-popup.e-popup-open.e-dialog {
    background:  var(--main-bg-color);
}

::ng-deep .e-gantt .e-gantt-chart .e-line {
    border-color: #16dae3;
}

::ng-deep .e-gantt .e-gantt-chart .e-connector-line-right-arrow {
    border-left-color: #16dae3;
}

::ng-deep .e-control input.e-input, .e-control .e-input-group input, .e-control .e-input-group input.e-input, .e-control .e-input-group.e-control-wrapper input, .e-control .e-input-group.e-control-wrapper input.e-input {
    color: white !important;
}
/* ::ng-deep select .e-input::placeholder {
    font-size: 15px;
    color: blue;
  }
::ng-deep select .e-input::-webkit-input-placeholder  {
    font-size: 15px;
    color: blue;
  }
::ng-deep select .e-input::-ms-input-placeholder {
    font-size: 15px;
    color: blue;
} */
    /* display: inline-flex;
}
// .e-gantt .e-gantt-chart .e-event-markers {
//     border-left-color: none;
// }

//
// .e-gantt .e-gantt-chart .e-chart-row .e-chart-row-border {
//     /* border-collapse: separate; */
//     /* border-style: solid; */
//     border-width: 1px 0 0;
// }


.ejs-container{
    //width: calc(100vw - 216px) !important;
    //height: 80vh !important;
}

// .e-grid .e-content {
//     height: 72vh !important;
// }

// .e-gantt .e-gantt-chart .e-chart-root-container .e-content {
//     height: 71vh !important;
// }

//date picker css

::ng-deep span.e-day {
    background: var(--main-bg-color) !important;
}

::ng-deep .e-datepicker .e-calendar, .e-bigger.e-small .e-datepicker .e-calendar {
    background-color: #fafafa;
    border: none;
}

::ng-deep .e-calendar .e-footer-container, .e-bigger.e-small .e-calendar .e-footer-container {
    background-color: var(--main-bg-color);
    /*border-top: none;
    cursor: default;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 10px 10px 10px;
    text-align: center;
    width: 100%;*/
}


::ng-deep .e-calendar th, .e-bigger.e-small .e-calendar th {
    border-bottom: 0;
    /* color: rgba(0,0,0,0.54); */
    color: white;
}

::ng-deep .e-calendar .e-content span, .e-bigger.e-small .e-calendar .e-content span {
    //color: rgba(0,0,0,0.87);
    color: white
}

::ng-deep .e-calendar .e-header .e-title, .e-bigger.e-small .e-calendar .e-header .e-title {
    color: rgba(0,0,0,0.75);
    color: white
}

::ng-deep .e-calendar .e-date-icon-prev, .e-calendar .e-date-icon-next, .e-bigger.e-small .e-calendar .e-date-icon-prev, .e-bigger.e-small .e-calendar .e-date-icon-next {
    //color: rgba(0,0,0,0.54);
    color: white;
}

::ng-deep .e-date-icon-next.e-icons {
    color: white;
}

::ng-deep .e-calendar .e-header.e-month, .e-bigger.e-small .e-calendar .e-header.e-month {
    //padding: 10px 10px 0 10px;
    background:  var(--main-bg-color);
}

::ng-deep .e-calendar .e-content table, .e-bigger.e-small .e-calendar .e-content table {
    /*border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
    float: left;
    margin: 0;
    outline: 0;
    padding: 0 10px 10px;
    table-layout: fixed;
    width: 100%;*/
    background:  var(--main-bg-color);
}

::ng-deep .e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background:  var(--main-bg-color);
    /*border: 1px solid #e3165b;
    color: #e3165b;*/
}

::ng-deep .e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
    //background-color: transparent;
    //border-color: transparent;
    /* color: #e3165b; */
    color: #aee672 !important;
}

::ng-deep .e-calendar .e-content td.e-focused-date span.e-day, .e-calendar .e-content td.e-focused-date:hover span.e-day, .e-calendar .e-content td.e-focused-date:focus span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date:focus span.e-day {
    background:  var(--main-bg-color);
    //border: none;
    //border-radius: 50%;
}

::ng-deep .e-header.e-year {
    background:  var(--main-bg-color);
}


::ng-deep .e-calendar .e-header.e-decade .e-title, .e-bigger.e-small .e-calendar .e-header.e-decade .e-title {
    color: white
    //cursor: default;

}

::ng-deep .e-header.e-decade {
    background:  var(--main-bg-color);
}
/*custom code */

p {
    font-family: Lato;
  }
  .main-container{
  }
  .container {
    border: 1px solid var(--boundary-color);
    display: grid;
    white-space: nowrap;
  }
  .head-row-container {
    display: flex;
    border: 1px solid var(--boundary-color);
  }
  .row-container {
    display: flex;
    border: 1px solid var(--boundary-color);
    cursor: pointer;
  }
  .expand-icon {
    cursor: pointer;
  }
  .sort-icon {
    cursor: pointer;
    height: 18px;
    width: 18px;
    line-height: 15px;
    font-size: 18px;
  }
  .edit-icon {
    margin-left: 6px;
    font-size: 18px;
    color: var(--brand-color);
    cursor: pointer;
    vertical-align: sub;
  }
  .mat-form-field-infix {
    border-bottom: 2px solid var(--brand-color);
}
  .column-header {
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50% !important;
    display: inline-block;
  }

  .first-header {
    display: flex;
    width: 35vw;
    border-right: 6px solid var(--boundary-color);
    height: 45px;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .second-header {
    display: flex;
    width: 35vw;
    border-right: 6px solid var(--boundary-color);
    height: 45px;
    box-sizing: border-box;
    color: var(--brand-color);
    background: #80808069;
  }
  
  
  .project-name-box{
    display: flex;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50% !important;
    display: inline-block;
  }

  .project-id-field{
    display: flex;
    width: 150px;
    border-right: 1px solid var(--boundary-color);
    min-width: 150px;
  }

  .flex-center{
    display: flex;
    align-items: center;
    padding-left: 12px;
    box-sizing: border-box;
  }

  .flex-center-checkbox{

    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    border-right: 1px solid var(--boundary-color);
    position: sticky;
    background-color: var(--brand-color-accent);
  }
  .grid-columns{
    display: grid;
    align-items: center;
    padding-left: 12px;
    box-sizing: border-box;
    grid-template-columns: 80% 1fr;
    width: 150px;
    border-right: 1px solid var(--boundary-color);
    min-width: 150px;
  }
  .grid-columns-content{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .task-header-container{
    display: flex;
    width: 35vw;
    border-right: 6px solid var(--boundary-color);
    height: 45px;
    box-sizing: border-box;
    color: var(--brand-color);
    background: #80808069;
    overflow-x: hidden;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* margin: 4px 4px 0px 4px; */
  }

  .brand-color{
    color: var(--brand-color);
  }

  .quad4-container{
    display: flex;
    overflow-x: hidden;
    width: calc(65vw - 156px);
  }
  
  .calNum{
    /* margin: 8px; */
    border-right: 1px solid var(--boundary-color)
  }
  
  .remove-cal-num{
    border-right: 0;
  }
  .week-day{
    // border-bottom: 1px solid var(--boundary-color);
    width: 20px;
    height: 45px;
    display: grid;
    place-content: center center;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
  }
  .month-no{
    width: 20px;
    height: 40px;
    display: grid;
    place-content: center center;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
  }


  .week-contianer{
    display: flex;
    border: 1px solid var(--boundary-color);
  }
  .week-contianer-flex{
    display: flex;
  }
  .header-com-height{
    height: inherit;
  }

.calender-paint{
    background-color: #8602fa;
    display: flex;
    align-items: center;
    margin: 8px 0;
    z-index: 99;
}

.in-progress-paint{
    background-color: #2196F3;
   margin: 8px 0;
    display: flex;
    align-items: center;
}

.completed-calender-paint {
    background-color: #258f03;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.cancelled-calender-paint {
    background-color: var(--denied-status-color);
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.default-paint{
    background-color: #9a9a9a;
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
// .grabber {
//     cursor: col-resize;
//     background-color: var(--boundary-color);
//     width: 6px;
//     height: 100%;
//     right: 0;
//     top: 0;
//   }



.painted-proj-container{
    display: flex;
    background-color:  var(--main-bg-color);
    width: calc(65vw - 156px);
    overflow: hidden;
}
.painted-proj-flex{
    display: flex;
}
 .painted-proj{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.text-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
}

.redirect-cell{
    width: max-content;
    text-overflow: ellipsis;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
    cursor:pointer;
    background-color: #8dc63f;
}

.container-scrollable{
    overflow-y: auto;
    overflow-x: hidden;
    height: 40vh;
    width: fit-content;
}

.handler {
    font-family: sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    // padding: 4px;
    cursor: ns-resize;
    display: flex;
    justify-content: center;
    height: 10px;
  }
 
  p:nth-last-child(1) {
    overflow-x: auto;
  } 

  .show-scroll-quad1{
      overflow-x: auto;
  }

  .show-scroll-quad2{
    overflow-x: auto;
}

.last-head-container{
    height: 8px;
}

.freeze {
    position: sticky;
    background-color: var(--brand-color-accent);
    //background-color: grey;
    // left: 44px;
    /* width: 100px; */
    /* min-width: 100px; */
    /* max-width: 100px; */
    z-index: 1;
}

.drop-cursor{
    cursor: move;
}

.painted-proj-width-adj{
    justify-content: flex-start;
}

/* ::ng-deep .mat-form-field-infix {
    border-bottom: 1px solid var(--brand-color); 
} */

.task-adjustment-point{
    
}

.field-width{
    width: 90%;
  }

.text-area-ellipses{
    text-overflow: ellipsis;
    overflow: hidden;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.no-data-width {
    width :100vh;
}

.check-boc{
    background-color: red;
}
