.circle {
    height: 10px;
    width: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-top: 10px;
}

.circle.active {
    background-color: #cbc32d;
}

.task-header {
    display: flex;
    flex-direction: row;
}

.task-card-image {
    flex-grow: 1;
    margin-bottom: 5px;
    margin-left: 5px;
}

.task-percentage {
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
}

mat-card {
    cursor: pointer;
}

.card-title-wrapper {
    // width: 270px;
}

.card-title {
    display: inline-block;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    margin: 5px;
    font-size: 15px;
}

.flex-row-item p {
    font-size: 13px;
    margin: 2px;
}

.flex-row {
    flex-wrap: nowrap !important;
}

.task-card {
    padding: 12px;
    border: solid 2px !important;
    border-color: #908f8f !important;
    .action-button {
        justify-content: flex-end;
    }
}

.task-card:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    border-color: #fff !important;
}

.card-heading {
    font-weight: 590;
}

.card-item {
    margin: 4px;
    font-size: 14px;
    flex-grow: 1 !important;
    align-items: center;
}

mat-icon.task-card-type-icon {
    visibility: visible;
    margin-top: 5px;
    margin-right: 0;
}

.priority-info {
    justify-content: flex-end;
}

.task-card {
    .task-info-wrapper {
        width: 85%;
    }
    .task-info {
        max-width: 180px;
    }
    span.item-title {
        margin-right: 4px;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        white-space: nowrap;
    }
    span.item-value {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
    }
}