<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
    <mat-sidenav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="facetExpansionState">
        <app-facet [dataCount]="dashboardMenuConfig.totalProjectCount"></app-facet>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <div class="dashboard-control flex-row align-flex-items-center">
                <span class="flex-row-item align-flex-items-center">
                    <span class="flex-row-item">
                        <mpm-facet-button [initalState]="facetExpansionState" (facetToggled)="facetToggled($event)"
                            [isRMView]="false">
                        </mpm-facet-button>
                    </span>
                <span class="flex-row-item">
                        <button class="sort-btn" mat-button matTooltip="Click to see more view options"
                            [matMenuTriggerFor]="requestDashboardFilters"
                            [matMenuTriggerData]="{ filters: dashboardMenuConfig.projectDashBoadFilters }">
                            <span> {{dashboardMenuConfig.selectedViewByName}}
                                ({{dashboardMenuConfig.totalProjectCount}})</span>
                <mat-icon color="primary">arrow_drop_down</mat-icon>
                </button>
                </span>
                <span class="flex-row-item">
                        <button mat-icon-button (click)=exportData() matTooltip="Export Data"
                            [disabled]="dashboardMenuConfig.totalProjectCount == 0">
                            <mat-icon color="primary" class="dashboard-action-btn">import_export</mat-icon>
                        </button>
                    </span>
                <span class="flex-row-item">
                        <button mat-icon-button (click)=refreshRequest() matTooltip="Refresh">
                            <mat-icon color="primary" class="dashboard-action-btn refresh-icon">refresh
                            </mat-icon>
                        </button>
                    </span>
                    <span class="flex-row-item" *ngIf="(dashboardMenuConfig.selectedViewByName == 'Program Manager Approval')||(dashboardMenuConfig.selectedViewByName == 'My Requests' ||(dashboardMenuConfig.selectedViewByName == 'All Requests'))">
                        <button mat-icon-button  matTooltip="Delete Multiple">
                            <mat-icon color="primary" (click)="bulkDelete()" class="dashboard-action-btn refresh-icon">delete
                            </mat-icon>
                        </button>
                    </span>
                    <!-- <span class="flex-row-item"> -->
                        <!-- <button mat-icon-button  matTooltip="Freeze" [matMenuTriggerFor]="menu">
                            <mat-icon color="primary" class="dashboard-action-btn refresh-icon">pan_tool
                            </mat-icon> -->
                            <!-- <mat-menu #menu="matMenu">   -->
                                <!-- <input matInput type="number" (change)="doSomething($event.target.value)"> -->
                            <!-- </mat-menu>
                        </button> -->
                    <!-- </span> -->
                </span>

                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>
                <span class="flex-spacer"></span>

                <!-- <ng-container *ngIf ="showInboxControls">
                    <span class="flex-row-item">
                        <button class="" mat-icon-button matTooltip="Claim" (click)="claim()" [disabled]="!enableClaim"  >
                            <mat-icon color="primary" class="claim-icon" [ngClass]="{'task-operation-disabled': !enableClaim}" >check_circle</mat-icon>
                        </button>
                    
                        <button class="" mat-icon-button matTooltip="Revoke" (click)="revoke()" [disabled]="!enableRevoke">
                            <mat-icon color="primary" class="revoke-icon" [ngClass]="{'task-operation-disabled': !enableRevoke}">remove_circle</mat-icon>
                        </button>
                   
                        <button class="" mat-icon-button matTooltip="Assign" (click)="userAssignment('Assign')" [disabled]="!enableAssign">
                            <mat-icon color="primary" class="assign-icon" [ngClass]="{'task-operation-disabled': !enableAssign}">assignment</mat-icon>
                        </button>
                   
                        <button class="" mat-icon-button matTooltip="Delegate" (click)="userAssignment('Delegate')" [disabled]="!enableDelegate">
                            <mat-icon color="primary" class="delegate-icon" [ngClass]="{'task-operation-disabled': !enableDelegate}">assignment_ind</mat-icon>
                        </button>
                    </span> 
                </ng-container> -->
                <span *ngIf="dashboardMenuConfig.selectedDashboardFilter.VALUE === 'MY_TASKS' || dashboardMenuConfig.selectedDashboardFilter.VALUE === 'E2E_PM_CLASSIFICATION_TEAM_TASKS'
                 || dashboardMenuConfig.selectedDashboardFilter.VALUE === 'PROGRAM_MANAGER_APPROVAL_TEAM_TASKS'
                 || dashboardMenuConfig.selectedDashboardFilter.VALUE === 'BUSINESS_DEVELOPMENT_APPROVAL_TEAM_TASKS'" class="flex-row-item">
                    <mpm-custom-select #taskStatusFilter controlLabel=""
                    [options]="listDependentFilters" (selectionChange)="listDependentFilterChange($event)"
                    [selected]="selectedListDependentFilter" [bulkEdit]='true'></mpm-custom-select>
                </span>
                <span class="flex-row-item">
                    <ng-container *ngIf="showInboxControls">
                        <button mat-icon-button matTooltip="Claim" (click)="claim()" [disabled]="!enableClaim">
                            <mat-icon color="primary" class="claim-icon"
                                [ngClass]="{'task-operation-disabled': !enableClaim}">thumb_up</mat-icon><!--check_circle-->
                        </button>

                        <button mat-icon-button matTooltip="Revoke" (click)="revoke()"
                            [disabled]="!enableRevoke">
                            <mat-icon color="primary" class="revoke-icon"
                                [ngClass]="{'task-operation-disabled': !enableRevoke}">thumb_down</mat-icon><!--remove_circle-->
                        </button>

                        <button mat-icon-button matTooltip="Assign" (click)="userAssignment('Assign')"
                            [disabled]="!enableAssign">
                            <mat-icon color="primary" class="assign-icon"
                                [ngClass]="{'task-operation-disabled': !enableAssign}">assignment</mat-icon>
                        </button>

                        <button mat-icon-button matTooltip="Delegate" (click)="userAssignment('Delegate')"
                            [disabled]="!enableDelegate">
                            <mat-icon color="primary" class="delegate-icon"
                                [ngClass]="{'task-operation-disabled': !enableDelegate}">assignment_ind</mat-icon>
                        </button>
                    </ng-container>
                    

                    <app-column-chooser [isListView]="dashboardMenuConfig.IS_LIST_VIEW"
                    [columnChooserFields]="columnChooserFields"
                    [isPMView]="true"
                    [userPreferenceFreezeCount]="userPreferenceFreezeCount"
                    (columnChooserHandler)="updateDisplayColumns($event)"
                    (resetColumnChooserHandler)="resetView()"
                    [isColumnsFreezable]="isColumnsFreezable">
                    </app-column-chooser>
                </span>

                <span class="right" *ngIf="(dashboardMenuConfig.selectedDashboardFilter.VALUE === 'ALL_REQUESTS') ||dashboardMenuConfig.selectedDashboardFilter.VALUE === 'MY_REQUESTS'"> <!-- && isCommercial-->
                    <!--flex-row-item-->
                    <button *ngIf="canCreateRequest" class="new-project-btn" mat-raised-button color="accent"
                        matTooltip="Click to view more options" [matMenuTriggerFor]="newRequestTypeMenu">
                        <mat-icon>add</mat-icon>
                        <span> New Request</span>
                <mat-icon color="primary">arrow_drop_down</mat-icon>
                </button>
                </span>
            </div>
            <div class="project-grid">
                <div *ngIf="dashboardMenuConfig.projectData && dashboardMenuConfig.projectData.length > 0">
                    <app-inbox #inbox [projectConfig]="dashboardMenuConfig" [userPreferenceFreezeCount]="userPreferenceFreezeCount" [displayableFields]="displayableFields" (viewProjectDetails)="openRequestDetails($event)" (sortChange)="onSortChange($event)" (selectedProjectsCallBackHandler)="getSelectedRequest($event)"
                        (copyRequestButton)="copyProject($event)" (orderedDisplayableFields)="getOrderedDisplayableFields($event)" (resizeDisplayableFields)="resizeDisplayableFields()" (refreshEmitter)="refreshRequest()" (claimTask)="claimIndividualTask($event)"
                        (revokeTask)="revokeIndividualTask($event)" (assignTask)="assignIndividualTask($event)" (refreshPage)="refreshRequest()">
                        <!--  (selectAllProjectsCount)="masterToggle($event)"
                        (selectAllProjects)="getSelectedProject($event)"  (selectedProjectDatas)="selectedProjectsDatas($event)" -->
                    </app-inbox>
                </div>

                <div class="pagination" *ngIf="dashboardMenuConfig.totalProjectCount == 0">
                    <button disabled mat-flat-button>No Request is available</button>
                </div>
            </div>
            <div class="flex-row" *ngIf="dashboardMenuConfig.projectData && dashboardMenuConfig.projectData.length > 0">
                <div class="flex-row-item right">
                    <mpm-pagination [length]="dashboardMenuConfig.totalProjectCount" [pageSize]="pageSize" [pageIndex]="page" (paginator)="pagination($event)"></mpm-pagination>
                </div>
            </div>
            <mat-menu #requestDashboardFilters="matMenu">
                <ng-template matMenuContent let-filters="filters">
                    <span *ngFor="let filter of filters">
                        <button mat-menu-item matTooltip="{{filter.NAME}}"
                            *ngIf="filter.NAME != dashboardMenuConfig.selectedViewByName && displayFilterOption(filter) && filter.IS_SHOWN == true"
                            (click)="onDashBoardFilterChange($event)" [value]="filter.VALUE">
                            <span>{{filter.NAME}}</span>
                    </button>
                    </span>
                </ng-template>
            </mat-menu>

            <mat-menu #newRequestTypeMenu="matMenu">
                <span *ngFor="let fieldOption of dashboardMenuConfig.NEW_REQUEST_TYPES.options">
                    <button *ngIf="fieldOption.isShown" mat-menu-item matTooltip="{{fieldOption.name}}"
                        (click)="onSelectionChange($event, dashboardMenuConfig.NEW_REQUEST_TYPES)"
                        [value]="fieldOption.value">
                        <!-- <mat-icon>{{fieldOption.icon}}</mat-icon> -->
                        <span>{{fieldOption.name}}</span>
                </button>
                </span>
            </mat-menu>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>