mat-form-field {
    margin-left: 5px;
    margin-right: 5px;
}

.right {
    justify-content: flex-end;
}

.project-filter-heading {
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.dashboard-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding: 16px 16px 8px 16px;
    align-items: center;
}

.dashboard-control mat-form-field {
    flex-grow: 1;
    margin: 5px;
}

.project-count {
    margin-left: 10px;
}

.dashboard-icon-btn {
    margin-top: 18px;
}

.sort-dir-icon {
    margin: 0;
}

.flex-spacer {
    display: flex;
    flex-grow: 5;
}

.cursor {
    cursor: pointer;
}

.search-card {
    z-index: 1000;
    position: absolute;
    margin-top: 4rem;
    width: 390px;

    mat-form-field {
        display: block;
    }
}

.filter-action-row {
    text-align: end;

    button {
        margin: 0px 10px;
    }
}

div.project-grid {
    height: calc(100vh - 214px);
    overflow: auto;
    // padding: 0px 0px 5px 5px; /* NPD1-83, changed right padding */
    padding: 0px;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.clear-all-filter {
    margin: 0 15px;
}

::ng-deep .mat-badge-content {
    width: 50px !important;
    border-radius: 15px !important;
}

.task-operation-disabled {
    opacity: 0.55;
}