:host{
    display: block;
    padding-bottom: 28px;
  }
  .strategy-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
      grid-column-gap: 24px;
      grid-row-gap: 16px;
  }
  .main-child-header{
      padding-bottom: 24px;
      font-size: 18px;
  }
  
  .astric{
    color: #ff0e19;
  }
  
  .field-width{
    display: grid;
    z-index: 99;
  }
  .text-color{
      color: #88c534;
      height: 20px;//30px;//60px;
      display: flex;
      align-items: flex-end;
  }
  
  .text-area-margin{
    margin-top: 16px;
  }
  @media only screen and (max-width: 1300px) {
      .strategy-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    @media only screen and (max-width: 992px) {
      .strategy-container{
        grid-template-columns:  1fr 1fr 1fr ;
      }
    }
    @media only screen and (max-width: 768px) {
      .strategy-container{
        grid-template-columns: 1fr 1fr;
      }
    }
    @media only screen and (max-width: 576px) {
      .strategy-container{
        grid-template-columns: 1fr;
      }
    }