<form *ngIf="programmeManagerReporting?.model?.ngIf" [formGroup]="programmeManagerReportingForm"
    class="strategy-container">
    <ng-container *ngIf="programmeManagerReporting?.projectType?.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Reporting Project Type" matTooltipPosition="above">
                Reporting Project Type
                <!--  <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="projectType"
                    (ngModelChange)="updateRequestRelationsInfo('projectTypeItemId','projectType'); onProjectTypeChange($event)"
                    matTooltip="{{getProjectType(programmeManagerReportingForm?.value?.projectType)}}" required>
                    <mat-option class="options" *ngFor="let type of reportingProjectType" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.projectType.hasError('required')">
                    Please Select Reporting Project Type
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting?.projectSubType?.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Reporting Project Sub Type" matTooltipPosition="above">
                Reporting Project Sub Type
                <!--  <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="projectSubType"
                    (ngModelChange)="updateRequestRelationsInfo('projectSubTypeItemId','projectSubType'); onProjectSubTypeChange($event)"
                    matTooltip="{{getProjectSubType(programmeManagerReportingForm?.value?.projectSubType)}}" required>
                    <mat-option class="options" *ngFor="let type of reportingProjectSubType" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.projectSubType.hasError('required')">
                    Please Select Reporting Project Sub Type
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.projectDetail.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Project Detail" matTooltipPosition="above">
                Project Detail
                <!--  <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="projectDetail"
                    (ngModelChange)="updateRequestRelationsInfo('projectDetailItemId','projectDetail')"
                    matTooltip="{{getProjectDetail(programmeManagerReportingForm?.value?.projectDetail)}}" required>
                    <mat-option class="options" *ngFor="let type of reportingProjectDetail" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.projectDetail.hasError('required')">
                    Please Select Project Detail
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.delivery.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Prog Mgr Reporting Delivery Quarter" matTooltipPosition="above">
                Prog Mgr Reporting Delivery Quarter
                <!--   <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="delivery"
                    (ngModelChange)="updateRequestRelationsInfo('deliveryItemId','delivery')"
                    matTooltip="{{getProgMgrDeliveryQuarter(programmeManagerReportingForm?.value?.delivery)}}" required>
                    <mat-option class="options" *ngFor="let type of deliveryQuarters" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.delivery.hasError('required')">
                    Please Select Prog Mgr Reporting Delivery Quarter
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.linkedMarkets.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="No of Linked Markets(Strat_Innov &amp; Promo Only)"
                matTooltipPosition="above">
                No of Linked Markets(Strat_Innov &amp; Promo Only)
                <!--  <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">
                <!-- type="number" min="0" step="1"  -->
                <input type="number" min="0" (keypress)="numericOnly($event)" matInput formControlName="linkedMarkets"
                    (ngModelChange)="updateRequestInfo('linkedMarkets')">
                <mat-error *ngIf="formControls.linkedMarkets.hasError('required')">
                    Please Fill No of Linked Markets(Strat_Innov &amp; Promo Only)
                </mat-error>
                <mat-error *ngIf="formControls.linkedMarkets.hasError('maxlength')">
                    Exceeding more than 64 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.other1.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Reporting Other 1" matTooltipPosition="above">
                Reporting Other 1
            </span>
            <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">

                <input type="text" matInput formControlName="other1" (ngModelChange)="updateRequestInfo('other1','')">
                <mat-error *ngIf="formControls.other1.hasError('required')">
                    Please Fill Other 1
                </mat-error>
                <mat-error *ngIf="formControls.other1.hasError('maxlength')">
                    Exceeding more than 64 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.other2.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Reporting Other 2" matTooltipPosition="above">
                Reporting Other 2
            </span>
            <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">

                <input type="text" matInput formControlName="other2" (ngModelChange)="updateRequestInfo('other2','')">
                <mat-error *ngIf="formControls.other2.hasError('required')">
                    Please Fill Other 2
                </mat-error>
                <mat-error *ngIf="formControls.other2.hasError('maxlength')">
                    Exceeding more than 64 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.pmComments.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Reporting Comments" matTooltipPosition="above">
                Reporting Comments
            </span>
            <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">

                <textarea matInput formControlName="pmComments"
                    (ngModelChange)="updateRequestInfo('pmComments','')"></textarea>
                <mat-error *ngIf="formControls.pmComments.hasError('maxlength')">
                    Exceeding more than 2000 characters
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
</form>