table.project-list {
    width: 100%;
    tr {
        cursor: pointer;
        .mat-checkbox {
            padding: 0 8px;
        }
        th:last-child {
            padding-left: 12px;
        }
        td:first-child{
            // background-color: red;
             min-width: 2em;
           }
        td:nth-child(2){
            min-width: 4em;
        }
        td {
            a.mat-button {
                padding: 0px;
                text-align: left;
            }
            mat-icon {
                font-size: 16px;
                height: 16px;
                width: 16px;
            }
            .status-chip {
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: normal;
            }
            mat-progress-bar {
                max-width: 7em;
            }
            min-width: 7rem;
            text-overflow: ellipsis;
        }
    }
}


/* .flex-card {
  display: flex;
  justify-content: center;
}
th.mat-header-cell {
  text-align: center;
} */

.circle {
    height: 10px;
    width: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}

.duedate-extended,
.duedate-current {
    opacity: .9;
}

.text-summary {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 105px;
    cursor: pointer;
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important;
}

.project-title {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 1rem;
    max-width: 250px;
}

.project-id {
    cursor: pointer;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.badge-info {
    min-height: 22px !important;
    font-size: 12px !important;
}

span {
    div {
        .pointer {
            cursor: pointer;
        }
    }
}

td.project-detail {
    padding: 0 !important;
}

tr.project-detail-row {
    height: 0;
}

.project-element-row td {
    border-bottom-width: 0;
}

.project-element-detail {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    cursor: auto !important;
}

.project-element-diagram {
    min-width: 80px;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
}

.task-info {
    min-width: 100%;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    display: flex;
    &.data {
        justify-content: left;
    }
    &.no-data {
        justify-content: center;
    }
}

td.wrap-text-custom {
    span>div {
        // max-width: 12em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.min-width-action {
    // min-width: 6em;
    min-width: 9em;
     ::ng-deep .mat-icon-button {
        max-width: 30px !important;
    }
}

.mattooltipclass {
    background-color: red;
    margin-left: 70px;
}

.campaignLink:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

::ng-deep .mat-sort-header-button {
    position: unset !important;
}


/*
th.mat-header-cell:not(:first-of-type) {
 padding-left: 5px;
} */

th.mat-header-cell {
    &:hover {
        .ui-column-resizer {
            display: block
        }
    }
}

.ui-column-resizer {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    cursor: col-resize;
}

.cdk-drag-preview {
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
    white-space: nowrap;
}

.cdk-drag-preview::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    color: transparent;
    position: relative;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    border: dashed 1px rgba(0, 0, 0, 0.4);
}

table.project-table-list {
    width: 100rem;
}