<div class="app-table-wrapper">
    <table class="project-list" [ngClass]="{'project-table-list':facetExpansionState}" mat-table [dataSource]="projectDataDataSource.data" matSort multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)"
        id="app-table">
        <ng-container matColumnDef="Expand" *ngIf="projectConfig.IS_PROJECT_TYPE">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row" (click)="expandRow($event, row)">
                <mat-icon *ngIf="!row.isExpanded && (!isCampaignDashboard || !projectConfig.IS_CAMPAIGN_TYPE)" matSuffix color="primary">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="row.isExpanded && (!isCampaignDashboard || !projectConfig.IS_CAMPAIGN_TYPE)" matSuffix color="primary">keyboard_arrow_down</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="Select" *ngIf="isSelect">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" [(ngModel)]="selectAllProjectChecked" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    <!-- [(ngModel)]="selectAllProjectChecked" -->
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" [(ngModel)]="row.selected" [disabled]="!enableBulkEdit" (click)="$event.stopPropagation()" (change)="$event ? checkProject(row,$event) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <!-- [sticky]="displayableMetadataFieldsSticky[column.INDEXER_FIELD_ID]?true:false" -->
        <!--userPreferenceFreezeCount-->
        <ng-container matColumnDef="{{column.INDEXER_FIELD_ID}}" *ngFor="let column of displayableMetadataFields; index as i" [sticky]="i<userPreferenceFreezeCount">
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true">
            <span cdkDrag>{{column.DISPLAY_NAME}}</span>
            </th> -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [style.min-width.px]="column.width">
                <span cdkDragHandle>{{column.DISPLAY_NAME}}</span>
                <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
                <mat-icon cdkDragHandle>more_vert</mat-icon>
            </span>
            </th>

            <td mat-cell *matCellDef="let row" [style.max-width.px]="column.width" [ngClass]="{'wrap-text-custom':column.DATA_TYPE === 'string'}">
                <span>
                    <div #divposition
                        [matTooltip]="(row | getProperties: column)"
                        *ngIf="column.MAPPER_NAME !== mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS && column.MAPPER_NAME !== mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS && column.MAPPER_NAME !== mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY && column.MAPPER_NAME !== mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY && column.MAPPER_NAME !== mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS && column.MAPPER_NAME !== mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS"
                        class="flex-card"
                        (click)="(openProjectDetails(row,column.MAPPER_NAME,enableCampaign , isCampaignManager , !IsPMView))">
                        <a
                            [ngClass]="{'campaignLink': (row | getProperties: column) != 'NA' && (column.MAPPER_NAME === mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_ID) && enableCampaign && isCampaignManager && !IsPMView}">
                            <span #spanposition>
                                <!-- {{getProperty(column,row) || 'NA'}} -->
                                {{row | getProperties: column}}
                            </span>
                </a>
</div>
<div *ngIf="column.MAPPER_NAME === mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY || column.MAPPER_NAME === mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY">
    <mat-icon matTooltip="" [style.color]="">
        <!-- {{getPriority(row, column).icon}} -->
    </mat-icon>
</div>
<div *ngIf="column.MAPPER_NAME === mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS || column.MAPPER_NAME === mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS">
    <span matTooltip="{{(row | getProperties: column)}}%">{{row | getProperties: column}}%
                                            <!-- <mat-progress-bar color="primary" mode="determinate"
                                                value="{{getProperty(column, row) || 'NA'}}" class="">
                                            </mat-progress-bar> -->
                                            <mat-progress-bar color="primary" mode="determinate"
                                                value="{{row | getProperties: column}}" class="">
                                            </mat-progress-bar> 
                                        </span>
</div>
<div *ngIf="column.MAPPER_NAME === mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS || column.MAPPER_NAME === mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS">
    <mat-chip-list>
        <!-- <mat-chip class="status-chip">{{getProperty(column, row) || 'NA'}}</mat-chip> -->
        <mat-chip class="status-chip">{{row | getProperties: column}}</mat-chip>
    </mat-chip-list>
</div>
</span>
</td>
</ng-container>

<ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions </th>
    <td mat-cell *matCellDef="let row">
        <div class="min-width-action flex-card">
            <button *ngIf="showCopyProject && !isCampaignDashboard && !projectConfig.IS_CAMPAIGN_TYPE" mat-icon-button matTooltip="{{projectConfig.IS_PROJECT_TYPE ? 'Copy Project': 'Project from template'}}" (click)="editProject($event, row, false)">
                            <mat-icon>insert_drive_file</mat-icon>
                        </button>

            <!--Copy Template
                        (!isCampaignDashboard || !projectConfig.IS_CAMPAIGN_TYPE) && !this.projectConfig.IS_PROJECT_TYPE
                        -->
            <button *ngIf="isTemplate" mat-icon-button matTooltip="Copy Template" (click)="editProject($event, row, true)">
                            <mat-icon>insert_drive_file</mat-icon>
                            <!--<mat-icon>file_copy</mat-icon>-->
                        </button>

            <button mat-icon-button matTooltip="Comments" *ngIf="projectConfig.IS_PROJECT_TYPE || isCampaignDashboard || projectConfig.IS_CAMPAIGN_TYPE" (click)="openComment($event, row)">
                            <mat-icon>comment</mat-icon>
                        </button>
            <button *ngIf="projectConfig.IS_PROJECT_TYPE && !isCampaignDashboard && !projectConfig.IS_CAMPAIGN_TYPE " mat-icon-button matTooltip="Milestone" (click)="openMilestone($event, row)">
                            <mat-icon>star</mat-icon>
                        </button>
            <button mat-icon-button matTooltip="{{isTemplate ? 'Delete Template' : 'Delete Project'}}" (click)="deleteProject($event, row)" *ngIf="projectConfig.IS_PROJECT_TYPE || isTemplate" [disabled]="row.PROJECT_OWNER_ID !== loggedInUserId || row.PROJECT_STATUS_TYPE === finalCompleted">
                            <mat-icon>delete</mat-icon>
                        </button>
        </div>
    </td>
</ng-container>

<ng-container matColumnDef="expandedDetail">
    <td class="project-detail" mat-cell *matCellDef="let row" [attr.colspan]="displayColumns.length">
        <div class="project-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
            <div class="task-info data" *ngIf="row.taskTotalCount !== 0 && (!projectCancelledStatus && !isOnHoldProject)">
                <div class="task-heading">Current Active Tasks:</div>
            </div>
            <ng-container *ngIf="!projectCancelledStatus && !isOnHoldProject">
                <div class="project-element-diagram" *ngFor="let task of row.taskList">
                    <app-npd-task-card-view [isTemplate]="!projectConfig.IS_PROJECT_TYPE" [taskData]="task" [projectStatusType]="projectStatusType" [taskConfig]="projectConfig" [isOnHoldProject]="isOnHoldProject" (refreshTask)="refreshTask($event)" (taskDetailsHandler)="openTaskDetails($event)"
                        (editTaskHandler)="editTask($event)" [projectOwner]="getPropertyByMapper(row, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_OWNER_ID)">
                    </app-npd-task-card-view>
                </div>
            </ng-container>
            <div class="task-info no-data" *ngIf="row.taskTotalCount === 0 || projectCancelledStatus || isOnHoldProject">
                <div class="task-heading">No Active Task</div>
            </div>
        </div>
    </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
<tr id="{{row}}" mat-row *matRowDef="let row; columns: displayColumns" class="project-element-row">
    <!--  (click)="openProjectDetails(row,'')" -->
</tr>
<!-- columns === 'CAMPAIGN_ID' &&  isCampaignManager && enableCampaign ? openProjectDetails(row,isCampaignManager) : openProjectDetails(row,false)-->

<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
</table>
</div>

<div *ngIf="projectConfig.totalProjectCount == 0" class="central-info">
    <button disabled mat-flat-button>No project is available.</button>
</div>