.deliverable-card {
    padding: 0px !important;
    max-width: 20em;

    .action-card {
        mat-checkbox {
            padding: 5px;
        }
    }

    .defaultCursor {
        cursor: default;
    }

    &:hover {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    }

    padding: 12px;

    div.asset-content-area {
        height: 10rem;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        background-color: #dddddd;

        .asset-holder {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;
            border: 1px solid #dddddd;

            mat-checkbox {
                position: absolute;
                z-index: 1;
                padding: 5px;
            }

            img {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto auto;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .preview-file-icon {
            font-size: 70px;
            margin-left: -48px;
            margin-top: -4px;
        }

        .failed {
            color: orange;
        }

        .uploadIcon {
            transform: rotate(270deg);
        }

        .uploadPreviewIcon {
            font-size: 90px;
            position: absolute;
            display: block;
            width: auto;
            height: auto;
        }

        .preview-icon-area {
            min-width: 70px;
            min-height: 80px;
        }
    }

    div.asset-content-area {
        height: 10rem;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        background-color: #dddddd;

        .asset-holder {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;
            border: 1px solid #dddddd;

            mat-checkbox {
                position: absolute;
                z-index: 1;
                padding: 5px;
            }

            mat-icon {
                /* display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto auto;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%; */
                display: block;
                position: absolute;
                right: 10%;
                top: 33%;
                margin: auto auto;
                position: relative;
                align-items: center;
                justify-content: center;
                outline: none;
            }
        }

        .preview-file-icon {
            font-size: 70px;
            margin-left: -48px;
            margin-top: -4px;
        }

        .failed {
            color: orange;
        }

        .uploadIcon {
            transform: rotate(270deg);
        }

        .uploadPreviewIcon {
            font-size: 90px;
            position: absolute;
            display: block;
            width: auto;
            height: auto;
        }

        .preview-icon-area {
            min-width: 70px;
            min-height: 80px;
        }
    }


    .deliverable-info {

        .card-title {
            display: inline-block;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 4px;
            font-size: 16px;
            width: 161px;
        }

        .actions-icon {
            justify-content: flex-end;
        }

        p {
            font-size: 14px;
            margin: 2px;
        }

        span.item-title {
            margin-right: 4px;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
        }

        span {
            .info-icon {
                font-size: 20px !important;
            }

            .red {
                color: #F44336 !important;
            }

            .orange {
                color: #FF5722 !important;
            }

            /* .yellow {
                color: #FFFF00 !important;
            } */

            .green {
                color: #4CAF50 !important;
            }

            .gray {
                color: #e4e4e4;
            }

            .active-icon {
                color: #cbc32d;
            }
        }

        .priority-icon {
            mat-icon {
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
        }

        .card-item {
            margin: 4px;
            font-size: 14px;
            flex-grow: 1;
            align-items: center;

            mat-icon {
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
        }

    }

    .deliverable-details {
        padding: 8px;
    }
}

.comment-dialog-modal mat-dialog-container {
    padding: 0;
}

::ng-deep .test {
    white-space: pre-line;
}

// .text-wrap {
//     max-width: 9em;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }


/* ::ng-deep mat-card.mat-card.mat-focus-indicator.deliverable-card {
    div.flex-col {
        div.flex-col-item {
            div.flex-row.image-holder {
                div.asset-content-area {
                    div.asset-holder {
                        mat-checkbox.mat-checkbox.flex-row-item.select-asset.mat-primary.ng-star-inserted {
                            label.mat-checkbox-layout {
                                div.mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
                                    div.mat-checkbox-background{
                                        border: 3px solid red !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} */
