<!--<h2 mat-dialog-title>Preview
    <mat-icon class="close-action" (click)="close()">close</mat-icon>
</h2>

<mat-dialog-content>
    <div class="asset-preview">
        <img src="{{otmmBaseUrl+asset.rendition_content.preview_content.url.slice(1)}}" alt="asset"
            matTooltip="{{asset.name}}">
    </div>
</mat-dialog-content>-->
<div class="asset-preview-container">
    <mat-icon class="close-action" (click)="close()">close</mat-icon>
    <div class="asset-preview">
        <!-- <img class="asset-style" src="{{otmmBaseUrl+asset.asset.rendition_content.preview_content.url.slice(1)}}" alt="asset"
            matTooltip="{{asset.asset.name}}"> -->
        <img class="asset-style" *ngIf="asset && asset.asset && asset.asset.rendition_content && (asset.asset.rendition_content.preview_content !== undefined)" src="{{otmmBaseUrl+asset.asset.rendition_content.preview_content.url.slice(1)}}" alt="asset" matTooltip="{{asset.asset.name}}">
        <!-- <img class="asset-style"
            *ngIf="asset && asset.asset && asset.asset.rendition_content && !(asset.asset.rendition_content.preview_content)"
            src="{{otmmBaseUrl+asset.asset.rendition_content.pdf_preview_content.url.slice(1)}}"
            matTooltip="{{asset.asset.name}}" alt="asset"> -->
    </div>
    <!-- <div class="flex-row">
        <div class="flex-row-item right">
            <mpm-pagination [length]="totalAssetsCount" [pageIndex]="page" [pageSize]="pageSize"
                (paginator)="pagination($event)">
            </mpm-pagination>
        </div>
    </div> -->
    <div class="asset-preview-paggination">
        <mat-paginator class="paginator" [length]="totalAssetsCount" [pageSize]="pageSize" [showFirstLastButtons]="true" [hidePageSize]="true">
        </mat-paginator>
    </div>

</div>

<!--<mat-dialog-actions class="close-action">
    <button class="close-button" mat-flat-button (click)="close()">Close</button>
</mat-dialog-actions>-->