.close-action {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -10px;
}

.asset-preview-paggination {
    position: absolute;
    right: 0;
    bottom: -21px;
}

.asset-preview-paggination .mat-paginator {
    background: none !important;
}

.close-button {
    background-color: lightgray;
}

.asset-preview {
    text-align: center;
}

.asset-preview-container {
    position: relative;
    padding: 20px;
}

// MPMV3-1465
.asset-style {
    max-width: 20%;
}