<form [formGroup]="projectClassificationDataForm">
    <div class="bulk-classification-container">
        <mat-form-field *ngIf="projectClassificationDataConfig.draftManufacturingLocation.ngIf" matTooltip="Country Of Manufacture(Final)" matTooltipPosition="above" appearance="outline" floatLabel="never">
            <mat-label>Country Of Manufacture(Final)</mat-label>
            <mat-select formControlName="draftManufacturingLocation" (ngModelChange)="updateRequestRelationsInfo('draftManufacturingLocationId','draftManufacturingLocation');
              onDraftManufactureLocationChange($event,'projectClassificationDataForm','finalManufacturingSite')" [disabled]="projectClassificationDataConfig.draftManufacturingLocation.disabled" required="{{projectClassificationDataConfig.draftManufacturingLocation.validators && projectClassificationDataConfig.draftManufacturingLocation.validators.required }}">
                <mat-option class="options" *ngFor="let location of draftManufacturingLocations" [value]="location.ItemId">
                    {{location.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classificationDataForm.draftManufacturingLocation?.hasError('required')">
                Please Select Draft Manufacturing Location
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="projectClassificationDataConfig.earlyManufacturingSite.ngIf" appearance="outline" floatLabel="never" matTooltip="Manufacturing Site(Final)" matTooltipPosition="above">
            <mat-label>Manufacturing Site(Final)</mat-label>
            <mat-select formControlName="earlyManufacturingSite" (ngModelChange)="updateRequestRelationsInfo('earlyManufacturingSiteId','earlyManufacturingSite')" [disabled]="projectClassificationDataConfig.earlyManufacturingSite.disabled" required="{{projectClassificationDataConfig.earlyManufacturingSite.validators && projectClassificationDataConfig.earlyManufacturingSite.validators.required }}">
                <mat-option class="options" *ngFor="let site of earlyManufacturingSites" [value]="site.ItemId">
                    {{site.displayName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classificationDataForm.earlyManufacturingSite?.hasError('required')">
                Please Select Early Manufacturing Site
            </mat-error>
        </mat-form-field>

        <!-- 
        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.registrationDossier.ngIf" matTooltip="Registration Dossier" matTooltipPosition="above">
            <mat-label class="radio-row-gap" id="reg-dossier"> Registration Dossier
                <span *ngIf="projectClassificationDataConfig.registrationDossier.validators && projectClassificationDataConfig.registrationDossier.validators.required" class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="registrationDossier" aria-labelledby="reg-dossier" (change)="updateRequestInfo('registrationDossier','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}
                </mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.registrationDossier.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.registrationDossier?.errors.required">
                    Please Select Registration Dossier
                </div>
            </ng-container>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.preProdReg.ngIf" matTooltip="Pre Production Registration" matTooltipPosition="above">
            <mat-label class="radio-row-gap" id="pre-prod-reg"> Pre Production Registration
                <span *ngIf="projectClassificationDataConfig.preProdReg.validators && projectClassificationDataConfig.preProdReg.validators.required" class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="preProdReg" aria-labelledby="pre-prod-reg" (change)="updateRequestInfo('preProdReg','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}
                </mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.preProdReg.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.preProdReg?.errors.required">
                    Please Select Pre Production Registration
                </div>
            </ng-container>
        </div>

        <div class="radio-buttons" *ngIf="projectClassificationDataConfig.postProdReg.ngIf" matTooltip="Post Production Registration" matTooltipPosition="above">
            <mat-label class="radio-row-gap" id="post-prod"> Post Production Registration
                <span *ngIf="projectClassificationDataConfig.postProdReg.validators && projectClassificationDataConfig.postProdReg.validators.required" class="error-field">*</span>
            </mat-label>
            <mat-radio-group formControlName="postProdReg" aria-labelledby="post-prod" (change)="updateRequestInfo('postProdReg','projectClassificationDataForm');getClassificationChange()">
                <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}
                </mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="this.classificationDataForm?.postProdReg.errors">
                <div class="error-field error-font error-position" *ngIf="classificationDataForm?.postProdReg?.errors.required">
                    Please Select Post Production Registration
                </div>
            </ng-container>
        </div> -->


    </div>
</form>