:host {
    padding-bottom: 28px;
    display: block;
}

.project-classification-data-header {
    font-size: 18px;
    padding-bottom: 24px;
    //margin-bottom: 16px;
}

.bulk-classification-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 24px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.radio-buttons {
    display: block;
    position: relative;
    height: 75px;
}

.error-field {
    color: #f44336;
}

.error-font {
    font-size: 75%;
}

.error-position {
    position: absolute;
    top: 68px;
}

.bulk-final-classification {
    display: grid;
    grid-area: 4/1/4/3;
}

.final-desc {
    display: grid;
    grid-area: 4/6/4/3;
}

.radio-row-gap {
    display: block;
    margin-bottom: 16px;
}
// .bulk-classification-container {
//     grid-template-columns: 1fr 1fr 1fr;
// }
// .bulk-final-classification,
// .final-desc {
//     grid-area: auto;
// }
// @media only screen and (max-width: 1300px) {
//     .bulk-classification-container {
//         grid-template-columns: 1fr 1fr 1fr;
//     }
//     .bulk-final-classification,
//     .final-desc {
//         grid-area: auto;
//     }
// }

// @media only screen and (max-width: 992px) {
//     .bulk-classification-container {
//         grid-template-columns: 1fr  1fr;
//     }
//     .bulk-final-classification,
//     .final-desc {
//         grid-area: auto;
//     }
// }

// @media only screen and (max-width: 768px) {
//     .bulk-classification-container {
//         grid-template-columns: 1fr 1fr;
//     }
// }

// @media only screen and (max-width: 576px) {
//     .bulk-classification-container {
//         grid-template-columns: 1fr;
//     }
// }