<div class="main-child-header">
    Gain Approval Scope Details For CPO
</div>
<form [formGroup]="gainApprovalScopeForm" class="gain-container">
    <ng-container *ngIf="gainApprovalScopeConfig.projectIsAbout.ngIf">
        <mat-form-field class="gain-about" appearance="outline" floatLabel="never">
            <mat-label>What The Project is About?</mat-label>
            <textarea matInput formControlName="projectIsAbout" required (ngModelChange)="updateRequestInfo('projectIsAbout','gainApprovalScopeForm')"
                 required = "{{gainApprovalScopeConfig.projectIsAbout.validators && gainApprovalScopeConfig.projectIsAbout.validators.required}}"
            ></textarea>
            <mat-error *ngIf="formControls.projectIsAbout?.hasError('required')">
                Please Fill in Project About details
            </mat-error>
            <mat-error *ngIf="formControls.projectIsAbout.hasError('maxlength')">
                Exceeding more than 2000 characters
            </mat-error>
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="gainApprovalScopeConfig.whyToDoThisProject.ngIf">
        <mat-form-field class="gain-do-project" appearance="outline" floatLabel="never">
            <mat-label>Why We Want To Do This Project?</mat-label>
            <textarea matInput formControlName="whyToDoThisProject" required (ngModelChange)="updateRequestInfo('whyToDoThisProject','gainApprovalScopeForm')"
                required = "{{gainApprovalScopeConfig.whyToDoThisProject.validators && gainApprovalScopeConfig.whyToDoThisProject.validators.required}}"
            ></textarea>
            <mat-error *ngIf="formControls.whyToDoThisProject?.hasError('required')">
                Please Fill in Why We Want To Do This Project
            </mat-error>
            <mat-error *ngIf="formControls.whyToDoThisProject.hasError('maxlength')">
                Exceeding more than 2000 characters
            </mat-error>
        </mat-form-field>
    </ng-container>
</form>