:host{
    display: block;
    padding-bottom: 28px;
  }

.gain-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
}

.gain-about{
    display: grid;
    grid-area: 2/1/3/-1;
}

.gain-do-project{
    display: grid;
    grid-area: 3/1/4/-1;
}

.main-child-header{
    padding-bottom: 24px;
    font-size: 18px;
}