<ng-container *ngIf="programmeManagerReporting.model.ngIf">
    <div class="main-child-header">
        Programme Manager Reporting
    </div>
    <form [formGroup]="programmeMangaerReportingForm" class="strategy-container">
        <ng-container *ngIf="programmeManagerReporting.projectType.ngIf">
            <div class="field-width">
                <span class="text-color">
                    Reporting Project Type
                    <span class="astric">*</span>
                </span>
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-select formControlName="projectType"
                        (ngModelChange)="updateRequestRelationsInfo('projectType','programmeMangaerReportingForm'); onProjectTypeChange($event)"
                        matTooltip="{{getProjectType(programmeMangaerReportingForm?.value?.projectType)}}" required>
                        <mat-option class="options" *ngFor="let type of reportingProjectType" [value]="type.ItemId"
                            matTooltip="{{type.displayName}}">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControls.projectType.hasError('required')">
                        Please Select Reporting Project Type
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container *ngIf="programmeManagerReporting.projectSubType.ngIf">
            <div class="field-width">
                <span class="text-color">
                    Reporting Project Sub Type
                    <span class="astric">*</span>
                </span>
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-select formControlName="projectSubType"
                        (ngModelChange)="updateRequestRelationsInfo('projectSubType','programmeMangaerReportingForm'); onProjectSubTypeChange($event)"
                        matTooltip="{{getProjectSubType(programmeMangaerReportingForm?.value?.projectSubType)}}"
                        required>
                        <mat-option class="options" *ngFor="let type of reportingProjectSubType" [value]="type.ItemId"
                            matTooltip="{{type.displayName}}">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControls.projectSubType.hasError('required')">
                        Please Select Project Sub Type
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container *ngIf="programmeManagerReporting.projectDetail.ngIf">
            <div class="field-width">
                <span class="text-color">
                    Project Detail
                    <span class="astric">*</span>
                </span>
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-select formControlName="projectDetail"
                        (ngModelChange)="updateRequestRelationsInfo('projectDetail','programmeMangaerReportingForm')"
                        matTooltip="{{getProjectDetail(programmeMangaerReportingForm?.value?.projectDetail)}}" required>
                        <mat-option class="options" *ngFor="let type of reportingProjectDetail" [value]="type.ItemId"
                            matTooltip="{{type.displayName}}">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControls.projectDetail.hasError('required')">
                        Please Select Project Detail
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container *ngIf="programmeManagerReporting.delivery.ngIf">
            <div class="field-width">
                <span class="text-color">
                    Prog Mgr Reporting Delivery Quarter
                    <span class="astric">*</span>
                </span>
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-select formControlName="delivery"
                        (ngModelChange)="updateRequestRelationsInfo('delivery','programmeMangaerReportingForm')"
                        matTooltip="{{getProgMgrDeliveryQuarter(programmeMangaerReportingForm?.value?.delivery)}}"
                        required>
                        <mat-option class="options" *ngFor="let type of deliveryQuarters" [value]="type.ItemId"
                            matTooltip="{{type.displayName}}">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formControls.delivery.hasError('required')">
                        Please Select Prog Mgr Delivery Quarter
                    </mat-error>
                </mat-form-field>
                <!--   <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">
                    <input type="text" matInput formControlName="delivery" 
                    (ngModelChange)="updateRequestInfo('delivery','programmeMangaerReportingForm')">
                    <mat-error *ngIf="formControls.delivery.hasError('required')">
                        Please Fill Prog Mgr Delivery Quarter
                </mat-error>
                    <mat-error *ngIf="formControls.delivery.hasError('maxlength')">
                        Exceeding more than 2000 characters
                    </mat-error>
                </mat-form-field> -->
            </div>
        </ng-container>
        <ng-container *ngIf="programmeManagerReporting.linkedMarkets.ngIf">
            <div class="field-width">
                <span class="text-color">
                    No of Linked Markets(Strat_Innov & Promo Only)
                    <span class="astric">*</span>
                </span>
                <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">

                    <input type="text" matInput formControlName="linkedMarkets"
                        (ngModelChange)="updateRequestInfo('linkedMarkets','programmeMangaerReportingForm')" disabled>
                    <mat-error *ngIf="formControls.linkedMarkets.hasError('required')">
                        Please Fill No of Linked Markets(Strat_Innov & Promo Only)
                    </mat-error>
                    <mat-error *ngIf="formControls.linkedMarkets.hasError('maxlength')">
                        Exceeding more than 64 characters
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container *ngIf="programmeManagerReporting.pmComments.ngIf">
            <div class="field-width">
                <span class="text-color">
                    Reporting Comments
                </span>
                <mat-form-field class="text-area-margin" appearance="outline" floatLabel="never">

                    <textarea matInput formControlName="pmComments"
                        (ngModelChange)="updateRequestInfo('pmComments','programmeMangaerReportingForm')"></textarea>
                    <mat-error *ngIf="formControls.pmComments.hasError('maxlength')">
                        Exceeding more than 2000 characters
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </form>
</ng-container>