<mat-toolbar class="app-task-toolbar">
    <mat-toolbar-row>
        <div class="flex-row-item task-info-holder">
            <span class="flex-row-item deliverable-count">Deliverables
                ({{deliverableConfig.deliverableTotalCount ? deliverableConfig.deliverableTotalCount : '0'}})</span>
            <span class="flex-row-item task-details"
                *ngIf="deliverableConfig.selectedTask && deliverableConfig.selectedTask.NAME">
                <mat-icon>assignment_turned_in</mat-icon>
                <div class="task-name" matTooltip="Task Name: {{deliverableConfig.selectedTask.NAME}}">
                    {{deliverableConfig.selectedTask.NAME}}</div>
            </span>
            <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <!--   <span *ngIf="delCount" matTooltip="Selected Deliverable"> ({{delCount}})</span> -->
        <!--   <span>
            <button [disabled]="!enableAction" class="new-project-btn" mat-raised-button  matTooltip="Actions"
                [matMenuTriggerFor]="actionTypeMenu">
                <span> Actions</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </span>
        <mat-menu #actionTypeMenu="matMenu">
            <button mat-menu-item matTooltip="Approved">
                <span>Approved</span>
            </button>
            <button mat-menu-item matTooltip="Rejected">
                <span>Rejected</span>
            </button>
        </mat-menu> -->
        <div class="flex-row-item right flex-grow-0">
            <app-deliverable-sort [sortOptions]="deliverableConfig.deliverableSortOptions"
                [selectedOption]="deliverableConfig.selectedSortOption" (onSortChange)="onSortChange($event)">
            </app-deliverable-sort>
        </div>
        <div class="flex-row-item right flex-grow-0">
            <mat-form-field appearance="outline" class="resource-select">
                <mat-label>View by resource</mat-label>
                <mat-select #resourceSelect [formControl]="viewByResources" multiple
                    [disabled]="!deliverableConfig.deliverableResources.length">
                    <mat-select-trigger>
                        {{viewByResources.value ? viewByResources.value[0] : ''}}
                        <span *ngIf="viewByResources.value?.length > 1" class="example-additional-selection">
                            (+{{viewByResources.value.length - 1}}
                            {{viewByResources.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let resource of deliverableConfig.deliverableResources" [value]="resource">
                        {{resource}}
                    </mat-option>

                    <button class="resource-apply-btn" (click)="onResourceSelect(); resourceSelect.close()"
                        mat-button>Apply</button>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex-row-item right flex-grow-0">
            <button mat-stroked-button (click)="createNewDeliverable()"
                [disabled]="!deliverableConfig.isProjectOwner || isProjectCompleted || (deliverableConfig.selectedTask && deliverableConfig.selectedTask.TASK_TYPE === taskConstants.TASK_TYPE.TASK_WITHOUT_DELIVERABLE) || deliverableConfig.isReadOnly ||
            (deliverableConfig.selectedTask && deliverableConfig.selectedTask.statusDetails && deliverableConfig.selectedTask.statusDetails.NAME === assetStatusConstants.APPROVED) || (deliverableConfig.selectedTask && deliverableConfig.selectedTask.IS_APPROVAL_TASK === 'true') || isOnHoldProject">
                <mat-icon>add</mat-icon>
                <span> New Deliverable</span>
            </button>
        </div>

        <span class="flex-row-item right flex-grow-0">
            <button mat-icon-button disabled>
                <mat-icon class="dashboard-action-btn">settings
                </mat-icon>
            </button>
        </span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="deliverableConfig.selectedResources && deliverableConfig.selectedResources.length > 0">
        <span class="flex-row">
            <span class="resource-heading">Resources: </span>
            <mat-chip-list aria-label="resource selection">
                <mat-chip [removable]="true" (removed)="onResourceRemoved(resource)"
                    *ngFor="let resource of deliverableConfig.selectedResources">{{resource}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </span>
    </mat-toolbar-row>
</mat-toolbar>