mat-toolbar.app-task-toolbar {
    background-color: transparent;
}

.app-task-toolbar .spacer {
    flex: 1 1 auto;
}

.flex-row-item button {
    margin: 5px;
}

.task-resource-icon {
    font-size: 14px;
}

.resources-row {
    font-size: 14px;
}

.resourceCheckbox {
    margin-right: 5px;
    margin-left: 5px;

}

.task-icon-btn {
    margin-top: 18px;
}

.task-info-holder {
    flex-grow: 0;
    align-items: center;

    .deliverable-count {
        padding: 8px;
    }

    .task-details {
        align-items: center;
        max-width: 150px;

        .task-name {
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.align-items-center {
    align-items: center;
}

.right {
    justify-content: flex-end;
}

mat-form-field.resource-select {
    font-size: 11px;
}

::ng-deep .resource-select .mat-form-field-wrapper {
    padding: 0;
}

.flex-grow-0 {
    flex-grow: 0;
}

.resources-heading {
    font-size: 16px;
    margin-right: 8px;
}

.resource-apply-btn {
    width: 100%;
}