<div class="flex-row project-details">
    <div class="flex-form-field">
        <span class="flex-form-field-label">Project Name : </span>
        <span>{{request.projectName }}</span>
    </div>
    <div class="flex-form-field">
        <span class="flex-form-field-label">Project Requestor : </span>
        <span>{{request.requestorName}}</span>
    </div>
    <div class="flex-form-field">
        <span class="flex-form-field-label">Current Stage : </span>
        <span>{{request.currentCheckpoint}}</span>
    </div>
    <div class="button-flex-form-field form-actions">
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.preview.ngIf" matTooltip="Preview" (click)="PreviewForm()">
            <!--[disabled]="(requestForm && requestForm.invalid) || (dynamicMarketScopeForm && dynamicMarketScopeForm.invalid)">-->
            <mat-icon class="action-icons">exit_to_app</mat-icon>
            <span class="action-btn-label">Preview</span>
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.submit.ngIf" matTooltip="Submit" (click)="onSubmit()">
             <mat-icon class="action-icons">exit_to_app</mat-icon>
             <span class="action-btn-label">Submit</span>
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.discard.ngIf" matTooltip="Discard" (click)="cancelRequestCreation(true)">
             <mat-icon class="action-icons">delete_outline</mat-icon>
             <span class="action-btn-label">Discard</span>
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.approve.ngIf" matTooltip="Approve" (click)="onApprove()">
           <mat-icon class="action-icons">exit_to_app</mat-icon>
           <span class="action-btn-label">Approve</span><!--Approved-->
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.deny.ngIf" matTooltip="Stop" (click)="onRejected()">
           <mat-icon class="action-icons">delete_outline</mat-icon>
           <span class="action-btn-label">Stop</span><!--Deny/Stopped-->
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.resubmit.ngIf" matTooltip="Recycle" (click)="onResubmit()">
            <mat-icon class="action-icons">exit_to_app</mat-icon>
            <span class="action-btn-label">Recycle</span><!--Resubmit/Recycled-->
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.complete.ngIf" matTooltip="Complete" (click)="completeTask()">
            <mat-icon class="action-icons">exit_to_app</mat-icon>
            <span class="action-btn-label">Complete</span>
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.convertToProject.ngIf && (taskConfig.taskHeader.value == E2EHeaderValue)" matTooltip="Convert To Project" (click)="convertToProject()">
            <mat-icon class="action-icons">exit_to_app</mat-icon>
            <span class="action-btn-label">Convert Into A Project</span>
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="(request.status==='InProgress' || request.status ==='Denied') && (isPM||isAdmin) && (filterType =='programManagerApproval' || filterType=='allRequest' || filterType=='myRequest')"
              matTooltip="Delete" (click)="deleteRequest()">
            <mat-icon class="action-icons">delete_outline</mat-icon>
            <span class="action-btn-label">Delete</span>
        </button>
        <button class="action-buttons" mat-flat-button *ngIf="(filterType=='allRequest') || (filterType=='myRequest')" [disabled]=" !(request.requestId?.length>0)" matTooltip="Copy request" (click)="copyRequest()">
            <mat-icon class="action-icons">insert_drive_file</mat-icon>
            <span class="action-btn-label">Copy</span>
        </button>

        <!-- <button class="action-buttons" mat-flat-button *ngIf="actionButtonsConfig.backToHome.ngIf" 
             matTooltip="Go Back" (click)="cancelRequestCreation(false)">
             <mat-icon class="action-icons">arrow_backward</mat-icon>
             <span class="action-btn-label">Back</span>
        </button> -->
    </div>
</div>