.project-details {
    /* padding-top: 24px; */
    margin-bottom: 5px;
    padding: 20px 40px 0px 40px;
    justify-content: space-between;
}

.form-actions button{
    margin-left: 15px;
}

.action-buttons {
    background: #bc9f35;
}

.action-icons {
    color: white;
}

.action-btn-label {
    color: white;
}