
.mrm-histotylog-dialog-title {
    color: var(--main-text-color);
    width: 200px;
    float: left;
}
.mrm-histotylog-detail-dialog-title {
    color: var(--main-text-color);
}
.refresh-button{
    line-height: 0px;
    height: 24px;
}
.mrm-historylog-dialog-header {
    height: 250px;
}
.mrm-histotylog-icon-position {
    position: relative;
    top: 3.6px;
    font-size: 75%;
}

.mrm-histotylog-time-icon-position {
    position: relative;
    top: -1.5px;
    font-size: 75%;
    float: right;
    color: var(--main-text-color);
}

.mrm-historylog-time {
    font-size: small;
    display: grid;
    float: right;
}

.mrm-historylog-notes {
    margin-left: 10px;
    word-break: break-all;
    white-space: pre-wrap;
}

@supports (word-break: break-word) {
    .mrm-historylog-notes {
        margin-left: 10px;
        word-break: break-word;
    }
}

.mrm-historylog-owner-name {
    font-size: small;
}

.mrm-historylog-info {
    text-align: center;
    color: var(--main-bg-contrast-color);
    margin-top: 105px;
}
.mrm-historylog-detail-info{
    text-align: center;
    color: var(--main-bg-contrast-color);
    margin-top: 20px;
}

.mrm-historylog-dialog-card {
    border: 0.5px solid grey;
    margin-bottom: 5px;
}
.histotylog-dialog-title-div{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
.request-log-div{
    //width: 50%;
    margin-left: 25px;
    margin-right: 25px;
}
.request-log-detail-div{
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-style: none;
}
.expand-icon {
    cursor: pointer;
}
.project-element-row td {
    border-bottom-width: 0;
}
tr.project-detail-row {
    height: 0;
}
td.project-detail {
    padding: 0 !important;
}
.project-element-detail .mat-header-row{
    background-color: var(--disabled-color);
}
.project-element-detail {
    width: 95% !important;
    margin-left: -10px;
}
.project-element-detail {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    cursor: auto !important;
    padding-left: 25px;
}
.loc-component-grid .mat-cell:first-of-type,
.loc-component-grid .mat-header-cell:first-of-type,
.loc-component-grid .mat-footer-cell:first-of-type {
    width: 45px;
    border-bottom: 0px;
}
.project-detail{
    width: 100%;
}
.localization-component-div{
    width: 48%;
}
.loc-component-grid {
    width: 100%;
}
.loc-component-grid .mat-cell,
.loc-component-grid .mat-header-cell,
.loc-component-grid .mat-footer-cell {
    padding-right: 15px;
}
.flex-spacer {
    display: flex;
    flex-grow: 5;
}
.history-log {
    height: calc(100vh - 200px);
    width: 100vw;
}
