<div class="flex-row histotylog-dialog-title-div">
    <h2 class="mrm-histotylog-dialog-title">History Logs ({{currentHistoryLogs.length}})</h2>
    <span class="flex-spacer"></span>
    <button mat-icon-button (click)=changeSort() matTooltip="Sort" class='refresh-button'>
        <mat-icon *ngIf="sortorder == 'desc'" matSuffix color="primary">arrow_upward</mat-icon>
        <mat-icon *ngIf="sortorder == 'asc'" matSuffix color="primary">arrow_downward</mat-icon>
    </button>
    <button mat-icon-button (click)="backToDashboard()" matTooltip="Request Dashboard" class='refresh-button'>
        <mat-icon color="primary">home
        </mat-icon>
    </button>
    <button mat-icon-button (click)=refresh() matTooltip="Refresh" class='refresh-button'>
        <mat-icon color="primary" class="dashboard-action-btn refresh-icon">refresh
        </mat-icon>
    </button>
</div>
<div class="flex-container">
    <div class="request-log-div history-log" fxFlexFill fxLayoutGap="5px" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column"
        fxLayout.xs="column">
        <div fxFlex="100" fxLayout="column" fxLayoutGap="10px" class="mrm-historylog-dialog-header">
            <h3 class="mrm-historylog-info" *ngIf="currentHistoryLogs.length == 0">No Logs Found!</h3>
            <mat-card *ngFor="let log of currentHistoryLogs" class="mrm-historylog-dialog-card">
                <mat-card-content>
                    <mat-card-title>
                        <mat-icon class="mrm-histotylog-icon-position">account_box</mat-icon>
                        <small class="mrm-historylog-owner-name">
                            {{log.Who}}
                        </small>
                        <p class="mrm-historylog-time"> {{log.When | date:'MM/dd/yyyy,hh:mm a'}}</p>
                        <mat-icon class="mrm-histotylog-time-icon-position">access_time</mat-icon>
                    </mat-card-title>
                    <p class="mrm-historylog-notes">{{log.Description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- <div class="localization-component-div">
        <table mat-table class="loc-component-grid" [dataSource]="localizationComponentList"
            *ngIf="localizationComponentList && localizationComponentList.length > 0" multiTemplateDataRows>
            <ng-container matColumnDef="Expand">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell class="expand-icon" *matCellDef="let row" (click)="expandRow($event, row)">
                    <mat-icon *ngIf="!row.isExpanded" matSuffix color="primary">keyboard_arrow_right</mat-icon>
                    <mat-icon *ngIf="row.isExpanded" matSuffix color="primary">keyboard_arrow_down</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef>
                    <h1 class="mrm-histotylog-detail-dialog-title"> Localization Component </h1>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-label>{{element.LANGUAGE_ID$Properties.DISPLAY_NAME}}</mat-label>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td class="project-detail" mat-cell *matCellDef="let row" [attr.colspan]="displayedSubColumns.length">
                    <div class="project-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
                        <div class="request-log-detail-div" fxFlexFill fxLayoutGap="5px" fxLayout.lg="row"
                            fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
                            <div fxFlex="100" fxLayout="column" fxLayoutGap="10px"
                                class="mrm-historylog-detail-dialog-header">
                                <h3 class="mrm-historylog-detail-info"
                                    *ngIf="row.currentHistoryLogs && row.currentHistoryLogs.length == 0">No Logs Found!
                                </h3>
                                <mat-card *ngFor="let log of row.currentHistoryLogs" class="mrm-historylog-dialog-card">
                                    <mat-card-content>
                                        <mat-card-title>
                                            <mat-icon class="mrm-histotylog-icon-position">account_box</mat-icon>
                                            <small class="mrm-historylog-owner-name">
                                                {{log.Who}}
                                            </small>
                                            <p class="mrm-historylog-time"> {{log.When | date:'MM/dd/yyyy,hh:mm a'}}</p>
                                            <mat-icon class="mrm-histotylog-time-icon-position">access_time</mat-icon>
                                        </mat-card-title>
                                        <p class="mrm-historylog-notes">{{log.Description}}</p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedSubColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSubColumns;" class="project-element-row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
        </table>
        <h3 class="mrm-historylog-info" *ngIf="localizationComponentList.length == 0">No Localization Components Found!
        </h3>
    </div> -->
</div>