<div #id>
    <!-- 
    <span>{{Math.floor(id.getBoundingClientRect().height)}}</span> -->
    <div class="facet-chicklet-wrapper">
        <mat-chip-list class="chicklet-list" *ngIf="selectedItems">
            <div class="chicklet-chip">
                <mat-chip *ngFor="let filter of selectedItems">
                    <span class="chicklet-value"
                        matTooltip="{{filter.ROLE_NAME || filter.NAME || filter.name || filter.FullName}}">{{filter.ROLE_NAME
                        ||
                        filter.NAME || filter.name || filter.FullName }} </span><!-- | titlecase -->
                    <mat-icon matChipRemove (click)="removeFilter(filter)" matTooltip="Remove this filter"
                        mat-icon-button aria-label="Remove Filter">cancel
                    </mat-icon>
                </mat-chip>
            </div>
        </mat-chip-list>
    </div>
    <!-- <hr class="custom-horizontal-alignment"/> -->
    <div class="sidenav-container chart-section dateFlex-container scroll-container "
        [style.max-height.vh]="height ? height : 26" #custom fxFlex fxLayout="row">
        <!-- flex-row -->
        <div class="border-design" [ngStyle]="sidebarStyle" fxLayout="column">
            <span class="spacer"></span>
        </div>
        <div class="sidenav-content calendar border-design" fxLayout="column" #calendarView>
            <!-- [ngStyle]="{height: Math.floor(id.getBoundingClientRect().height)+'px'}" -->
            <!--  <div fxLayout="row" id="datesHolder" class="sticky-dates scroll-margin dates-container"
            (scroll)="scrolling($event)" [ngClass]="{'scrolled-div': scrolled}">
            <div *ngFor="let date of dates" class="calendar-header" [ngStyle]="{width: viewTypeCellSize + 'px'}"
                [ngClass]="{'highlightWeekEnd':date.format('dd') === 'Sa' ||date.format('dd') === 'Su'}" #dateHeader>
                {{date.format('dd DD')}}
            </div>
        </div> -->
            <!-- 
        <span>{{Math.floor(custom.getBoundingClientRect().height)}}</span> -->

            <div fxLayout="row">
                <!-- [ngStyle]="{height: Math.floor(id.getBoundingClientRect().height)+'px'}" -->
                <!-- <div *ngIf="datas === -1">{{datas}}</div> -->
                <mat-accordion class="fill-layout" multi="true">
                    <mat-expansion-panel hideToggle [expanded]="true" *ngIf="data">
                        <div *ngFor="let events of data | keyvalue; let idx=index">
                            <mat-expansion-panel-header class="scroll-margin disabled-pointer" style="padding: 0px;"
                                *ngIf="idx < datas">
                                <mat-panel-title fxFlex="100">
                                    <span class="resource-text-color">
                                        {{events.key}}
                                    </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="row" id="datesHolder" class="sticky-dates scroll-margin dates-container"
                                (scroll)="scrolling($event)" [ngClass]="{'scrolled-div': scrolled}" *ngIf="idx < datas">
                                <div *ngFor="let date of events.value.date" class="calendar-header"
                                    [ngStyle]="{width: viewTypeCellSize + 'px'}"
                                    [ngClass]="{'highlightWeekEnd':date.element.split(' ')[0] === 'Sa' ||date.element.split(' ')[0] === 'Su','highlightOverloaded': date.isOverlap=== 'true'}"
                                    #dateHeader>
                                    {{date.element}}
                                </div>
                            </div>
                            <div class="panel-container task-content" #panelContainer *ngIf="idx < datas">
                                <div *ngFor="let allocate of events.value.allocation;"
                                    [ngStyle]="{width: viewTypeCellSize + 'px'}" class="calendar-header"
                                    [attr.date-filled]="" #calendarCell>
                                    {{allocate}}
                                </div>
                            </div>
                            <div *ngIf="idx < datas">
                                <div class="panel-container task-content" #panelContainer
                                    [ngStyle]="{height: events.value.length === 1 ? events.value.length *2* 50 +'px' : events.value.length * 50 +'px' }">
                                    <div *ngFor="let date of events.value.date;"
                                        [ngStyle]="{width: viewTypeCellSize + 'px'}" class="calendar-cell"
                                        [attr.date-filled]="" #calendarCell>
                                        <div>
                                            <ng-container *ngFor="let event of events.value">
                                                <!-- <div *ngIf="date.date === event.deliverableDetail.data.DELIVERABLE_START_DATE.split('T')[0]"
                                                [id]="event.deliverableDetail.data.ID"
                                                [ngStyle]="event.deliverableDetail.style" class="rectangle" mwlResizable
                                                matTooltip="{{event.deliverableDetail.name}}-{{event.deliverableDetail.data.DELIVERABLE_NAME}}"> -->
                                                <!--  {{currentViewEndDate}}
                                                {{currentViewStartDate}} -->
                                                <!-- <div *ngIf="date.date === event.deliverableDetail.data.DELIVERABLE_START_DATE.split('T')[0]" -->
                                                <div *ngIf="momentPtr(date.date).isSame(event.deliverableDetail.data.DELIVERABLE_START_DATE, 'day') ? true :(momentPtr(date.date).isSame(currentViewStartDate, 'day') && momentPtr(date.date).isAfter(event.deliverableDetail.data.DELIVERABLE_START_DATE, 'day'))"
                                                    [id]="event.deliverableDetail.data.ID" [ngStyle]="
                                                { width: 
                                                    momentPtr(date.date).isSame(event.deliverableDetail.data.DELIVERABLE_START_DATE, 'day') 
                                                ? ((momentPtr(event.deliverableDetail.data.DELIVERABLE_DUE_DATE).isSame(momentPtr(currentViewEndDate), 'day')
                                                || momentPtr(event.deliverableDetail.data.DELIVERABLE_DUE_DATE).isBefore( momentPtr(currentViewEndDate) ,'day') )
                                                ? (getDateDifference(event.deliverableDetail.data.DELIVERABLE_START_DATE,event.deliverableDetail.data.DELIVERABLE_DUE_DATE)* Math.floor(calendarCell.getBoundingClientRect().width)) + 'px' 
                                                : (getDateDifference(event.deliverableDetail.data.DELIVERABLE_START_DATE,currentViewEndDate) * Math.floor(calendarCell.getBoundingClientRect().width)) + 'px')
                                                : ( momentPtr(date.date).isAfter(event.deliverableDetail.data.DELIVERABLE_START_DATE, 'day') &&  momentPtr(date.date).isSame(currentViewStartDate, 'day') 
                                                ? ((momentPtr(event.deliverableDetail.data.DELIVERABLE_DUE_DATE).isSame(momentPtr(currentViewEndDate), 'day')
                                                || momentPtr(event.deliverableDetail.data.DELIVERABLE_DUE_DATE).isBefore(momentPtr(currentViewEndDate), 'day'))
                                                ? (getDateDifference(currentViewStartDate,event.deliverableDetail.data.DELIVERABLE_DUE_DATE)* Math.floor(calendarCell.getBoundingClientRect().width))+ 'px' 
                                                : (getDateDifference(currentViewStartDate,currentViewEndDate)* Math.floor(calendarCell.getBoundingClientRect().width))+ 'px' )	
                                                : '43px' ),top:event.deliverableDetail.style.top}" class="rectangle"
                                                    mwlResizable
                                                    matTooltip="{{event.deliverableDetail.name}}-{{event.deliverableDetail.data.DELIVERABLE_NAME}}">
                                                    <!-- 36 -->
                                                    <!-- 43 -->
                                                    <span class="event-title">
                                                        <mat-icon style="margin-top:20px !important">
                                                            {{event.deliverableDetail.icon}}</mat-icon>
                                                        {{event.deliverableDetail.name}}
                                                        -
                                                        {{event.deliverableDetail.data.DELIVERABLE_NAME}}
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <!--  <p *ngIf="data && Object.keys(data).length === 0">No deliverable is available for the user</p> -->
            </div>
        </div>
    </div>
</div>