// variables
$toolbarHeight: 64px;
//$nodeWidth: 75px;
$nodeWidth: 35px;
//$nodeHeight: 50px;
$nodeHeight: 50px;
$completeColor: #2196f3;
$incompleteColor: #9e9e9e;
$borderColor: #e4e2e2;
$highlightBorderColor: #ff9800;
$matExpansionPanelHeight: 300px;

// table content
.sidenav-content {
    height: fit-content;
    // overflow-x: auto;
    width: 100%; // 191
}

.sticky-dates {
    position: sticky;
    top: 0px;
    z-index: 100;
    /*  background-color: #4A4A4A; */
    /* background-color: #fff; */
}

.scroll-margin {
    margin-right: 8px;
    height: 30px !important;
}

.dates-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    min-height: 48px;
    height: 0%;
}

/** calendar */

// header
.calendar-header {
    text-align: center;
    line-height: $nodeHeight - 30px;
    width: $nodeWidth;
    /*  height: $nodeHeight + 10px; */
    min-width: $nodeWidth;
    /*  min-height: $nodeHeight; */
    border-width: 0.5px 1px;
    border-color: $borderColor;
    border-style: solid;
    font-size: 13px;
    /* for center alignement commented it */
    /* word-break: break-word;
    overflow-wrap: break-word;
    white-space: break-spaces; */
    /* word-spacing: 8px; */
    word-spacing: 100px; // 6px; -191
}

.chart-section {
    padding: 10px 0px;
}

.dateFlex-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 1e-9px;
    height: 52% !important;
    //  overflow: auto;
}

// sidenav header(not calendar)
.sidenav-header {
    text-align: center;
    line-height: $nodeHeight - 2px;
    /*  height: $nodeHeight + 10px; */
    min-height: $nodeHeight - 2px;
    border-width: 1px 3px 1px 0;
    border-color: $borderColor;
    border-style: solid;
}

.facet-chicklet-area {
    margin-top: 10px;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.status-chip {
    display: inline-block;
    padding: 6px;
    border-radius: 10px 10px 10px 10px;
}

.custom-chicklet {
    padding: 4px 0px 0px 5px;
}

.panel-container {
    /* height: $matExpansionPanelHeight; */
    display: flex;
    position: relative;
}

.rectangle {
    position: absolute;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 25px; */
    height: 40px;
    /*  margin: 5px; */
    margin-top: 5px;
    border-radius: 5px;
    background-color: #673ab7;
    border: solid 1px #121621;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    // check in other system and modify
    /* margin-left: 10px; */
}

.spacer {
    border: 20px solid white;
}

.chicklet-chip {
    margin-top: 7px !important;
    margin-left: 43px !important;
}

p {
    text-align: center;
}

.scroll-container {
    min-height: 25vh !important; //12rem !important; //9rem !important;-191
    overflow: auto;
}

.facet-chicklet-wrapper {
    height: 50%; // 41%; -191
    overflow-y: auto;
    overflow-x: hidden;
}

// cell
.calendar-cell {
    text-align: center;
    line-height: $nodeHeight - 1px;
    /* width: $nodeWidth; */
    height: 100%;
    /* min-width: $nodeWidth; */
    min-height: 100%;
    border-width: 0.5px 1px;
    border-color: $borderColor;
    border-style: solid;
    /* display: grid; */
}

.event-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // cursor: pointer;
    cursor: default;
}

.disabled-pointer {
    pointer-events: none;
}

/* .custom-horizontal-alignment{
    width: 100%;
} */
