<div class="overview-content" (click)="getAllBool()">
    <form class="task-creation-form" *ngIf="taskForm" [formGroup]="taskForm">
        <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Task Name</mat-label>
                    <input [appAutoFocus]="taskModalConfig && taskModalConfig.hasAllConfig" matInput placeholder="Task Name" formControlName="taskName" required>
                    <mat-hint align="end" *ngIf="taskForm.get('taskName').errors && taskForm.get('taskName').errors.maxlength">
                        {{taskForm.get('taskName').errors.maxlength.actualLength}}/{{taskForm.get('taskName').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <!-- <div class="flex-col-item"> -->
            <div class="flex-row-item" *ngIf="!(taskConfig.taskType == taskConstants.TASK_TYPE.TASK_WITHOUT_DELIVERABLE) && (taskConfig.isApprovalTask) && showRevisionReviewRequired">
                <div class="approval-section-holder">

                    <section>
                        <mat-checkbox color="primary" formControlName="revisionReviewRequired"><span>Review Required For
                                Revision</span>
                        </mat-checkbox>
                    </section>
                </div>
            </div>
            <!-- <div class="flex-row-item">
                <div>

                    <section>
                        <mat-checkbox color="primary" formControlName="isMilestone"><span>Is Milestone</span>
                        </mat-checkbox>
                    </section>
                </div>
            </div> -->
            <!-- </div> -->
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Allocation</mat-label>
                    <mat-select formControlName="allocation" placeholder="Allocation" [required]="true" name="allocation">
                        <mat-option *ngFor="let allocation of taskModalConfig.taskAssignmentTypes" value="{{allocation.NAME}}">
                            {{allocation.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <mpm-custom-search-field class="flex-row-item" *ngIf="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE" [searchFieldConfig]="taskModalConfig.taskRoleConfig" [required]="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE">
            </mpm-custom-search-field>
            <mpm-custom-search-field class="flex-row-item" *ngIf="!taskConfig.isApprovalTask && (taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE || taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER)" [searchFieldConfig]="taskModalConfig.taskOwnerConfig"
                [required]="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER">
            </mpm-custom-search-field>
            <mpm-custom-search-field class="flex-row-item" *ngIf="taskConfig.isApprovalTask && (taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE || taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER)" [searchFieldConfig]="taskModalConfig.deliverableApprover"
                [required]="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER">
            </mpm-custom-search-field>
            <mpm-custom-search-field class="flex-row-item" *ngIf="!taskConfig.isApprovalTask && this.taskModalConfig.predecessorConfig.filterOptions.length > 0 && taskModalConfig.selectedProject && taskModalConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'false'" [searchFieldConfig]="taskModalConfig.predecessorConfig"
                [required]="false">
            </mpm-custom-search-field>

            <mpm-custom-search-field class=" flex-row-item" *ngIf="taskConfig.isApprovalTask" [searchFieldConfig]="taskModalConfig.deliveryPackageConfig" [required]="true">
            </mpm-custom-search-field>
        </div>
        <!-- <div class="flex-row" *ngIf="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE">
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>RM Role</mat-label>
                    <mat-select formControlName="rmRole" placeholder="RM Role" formControlName="rmRole" (selectionChange)="onRMRoleSelection($event)">
                        <mat-option *ngFor="let role of rmRoles" value="{{role | json}}">
                            {{role.Properties.Name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>RM User</mat-label>
                    <input type="text" [(ngModel)]="selectedRMUser" matInput formControlName="rmUser" [matAutocomplete]="auto" placeholder="RM User" (focusout)="onFocusOut($event)" (ngModelChange)="onRMUserChange($event)">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" matAutocompletePosition="below" autoActiveFirstOption="true" (optionSelected)="onRMUserSelection($event)">
                        <mat-option *ngFor="let user of rmRoleUsers" [value]="user">
                            {{user.displayName || user.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.get('rmUser')?.hasError('incorrect')">No Matches!</mat-error>

                </mat-form-field>
            </div>


        </div> -->
        <!-- this.taskConfig.isApprovalTask -->
        <div class="flex-row" *ngIf="this.taskConfig.isApprovalTask">
            <div class="flex-row-item">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Reviewers</mat-label>
                    <mat-chip-list #reviewerList>
                        <span *ngFor="let reviewer of reviewerStatusData">
                            <mat-chip [ngClass]="[reviewer.isCompleted === true ? 'email-chip-completed': 'email-chip']"
                                [removable]="reviewer.isCompleted !== true"
                                (removed)="onRemoveReviewer(reviewer.value)">
                                <span class="email-value" matTooltip="{{reviewer.displayName}}">
                                    {{reviewer.displayName}}
                                </span>
                        <mat-icon matChipRemove *ngIf="reviewer.isCompleted !== true">
                            cancel</mat-icon>
                        </mat-chip>
                        </span>
                        <input #reviewerInput class="email-chip-input" formControlName="deliverableReviewers" [matChipInputAddOnBlur]="true" [matAutocomplete]="auto" [matChipInputFor]="reviewerList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addReviewer($event)"
                            required="false">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let reviewer of filteredReviewers | async" [value]="reviewer.value">
                            {{ reviewer.displayName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" placeholder="Status" name="status" required>
                        <mat-option *ngFor="let status of taskStatus" value="{{status['MPM_Status-id'].Id}}">
                            {{status.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Priority</mat-label>
                    <mat-select formControlName="priority" placeholder="Priority" name="priority" required>
                        <mat-option *ngFor="let priority of taskModalConfig.taskPriorityList" value="{{priority['MPM_Priority-id'].Id}}">
                            {{priority.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row duration-container" *ngIf="enableDuration || taskModalConfig.isTemplate">
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input type='number' (keydown)="restrictKeysOnType($event, 'NUMBER')" min="1" [max]="maxDuration" matInput placeholder="Duration" formControlName="duration" required>
                    <mat-error align="end" *ngIf="taskForm.get('duration').errors">
                        {{durationErrorMessage}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row-item duration-type-container">
                <mat-form-field appearance="outline">
                    <mat-select formControlName="durationType" name="Type" required>
                        <mat-option *ngFor="let type of DurationType.slice(1,2)" value="{{type.value}}">
                            <!--DurationType-->
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="task-owner-task-count" *ngIf="ownerProjectCount">
            <mat-error *ngIf="!isZeroOwnerProjectCount">{{ownerProjectCountMessage}}</mat-error>
            <mat-label *ngIf="isZeroOwnerProjectCount">{{ownerProjectCountMessage}}</mat-label>
        </div>
        <div class="flex-row" *ngIf="!taskModalConfig.isTemplate">
            <div class="flex-row-item week-select" (click)="getStopPropogation($event,'startDate')">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Task Start Date</mat-label>
                    <input matInput [matDatepicker]="startDate" placeholder="Task Start Date (MM/DD/YYYY)"
                        formControlName="startDate" [matDatepickerFilter]="startDateFilter"
                        [min]="taskModalConfig.selectedProject && taskModalConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'true' ? (taskModalConfig.selectedTask && taskModalConfig.selectedTask.START_DATE ? taskModalConfig.selectedTask.START_DATE : taskModalConfig.minDate) : taskModalConfig.minDate"
                        [max]="(dateValidation && dateValidation.startMaxDate ? dateValidation.startMaxDate : taskModalConfig.maxDate)"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate
                        [disabled]="selectedStatusInfo && selectedStatusInfo.STATUS_TYPE !== taskConstants.STATUS_TYPE_INITIAL">
                    </mat-datepicker>
                    <mat-error
                        *ngIf="(taskForm.get('startDate').hasError('matDatepickerMax') || taskForm.get('startDate').hasError('matDatepickerMin'))">
                        {{dateErrorMessage}}
                    </mat-error>
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Task Start Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="startDate" placeholder="ww/yyyy" name="dp" required />
                        <button mat-icon-button (click)="getBool('startDate')" [disabled]="disable.startDate">
                                <mat-icon>date_range</mat-icon>
                            </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.startDate" [fromDate]="fromDate.startDate" [toDate]="toDate.startDate" (weekFormat)="changeTargetDP($event,'startDate')" *ngIf="show.startDate">
                </app-week-pickerr>
            </div>
            <div class="flex-row-item week-select" (click)="getStopPropogation($event,'endDate')">
                <!-- <mat-form-field appearance="outline" *ngIf="!taskModalConfig.isTemplate">
                    <mat-label>Task End Date</mat-label>
                    <input matInput [matDatepicker]="endDate"
                        [min]="(dateValidation && dateValidation.endMinDate) ? dateValidation.endMinDate : (taskForm.getRawValue().startDate ? taskForm.getRawValue().startDate : taskModalConfig.minDate)"
                        [max]="taskModalConfig.maxDate" placeholder="Task End Date (MM/DD/YYYY)"
                        formControlName="endDate" [matDatepickerFilter]="dateFilter" required>
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error
                        *ngIf="taskForm.get('endDate') && (taskForm.get('endDate').hasError('matDatepickerMax') || taskForm.get('endDate').hasError('matDatepickerMin'))">
                        {{dateErrorMessage}}
                    </mat-error>
                </mat-form-field> -->
                <mat-form-field appearance="outline" *ngIf="!taskModalConfig.isTemplate">
                    <mat-label>Task End Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="endDate" placeholder="ww/yyyy" name="dp" required />
                        <button mat-icon-button (click)="getBool('endDate')" [disabled]="disable.endDate">
                                <mat-icon>date_range</mat-icon>
                            </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.endDate" [fromDate]="fromDate.endDate" [toDate]="toDate.endDate" (weekFormat)="changeTargetDP($event,'endDate')" *ngIf="show.endDate">
                </app-week-pickerr>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description" required></textarea>
                    <mat-hint align="end" *ngIf="taskForm.get('description').errors && taskForm.get('description').errors.maxlength">
                        {{taskForm.get('description').errors.maxlength.actualLength}}/{{taskForm.get('description').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-col-item">
            <div class="flex-row" id="button-action-sp">
                <div class="flex-row-item">
                    <mat-slide-toggle class="flex-row-item" color="primary" formControlName="isMilestone" [disabled]="selectedStatusInfo && selectedStatusInfo.STATUS_TYPE !== taskConstants.STATUS_TYPE_INITIAL">
                        Is Milestone
                    </mat-slide-toggle>
                </div>
                <div class="flex-row-item">
                    <span class="form-actions">
                        <button type="button" id="cancel-btn" mat-stroked-button
                            (click)="cancelTaskCreation()">Cancel</button>
                        <button type="button" id="task-save-btn" color='primary' mat-flat-button
                            (click)="updateTask(SELECTED_SAVE_OPTION)" class="ang-btn"
                            matTooltip="{{SELECTED_SAVE_OPTION.name}}"
                            [disabled]="(chipChanged === true) ? false: (taskForm.pristine || taskForm.invalid)">{{SELECTED_SAVE_OPTION.name}}</button>
                        <span *ngIf="!taskConfig.taskId">
                            <!--!(chipChanged === true)  -->
                            <button type="button" id="task-save-option" mat-flat-button color="primary"
                                [matMenuTriggerFor]="saveOptionsMenu"
                                [disabled]="taskForm.pristine || taskForm.invalid">
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <mat-menu #saveOptionsMenu="matMenu">
                                <span *ngFor="let saveOption of saveOptions">
                                    <button type="button" *ngIf="saveOption.value != SELECTED_SAVE_OPTION.value"
                                        mat-menu-item (click)="updateTask(saveOption)">
                                        <span>{{saveOption.name}}</span>
                                    </button>
                                </span>
                            </mat-menu>
                         </span>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>