.assets-toolbar {
    margin: 5px;
    padding: 10px;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-row .right {
    justify-content: flex-end;
}

.addReferenceAsset {
    padding-left: 10px;;
}