<div id="header" style="position:absolute; top:0px; left:0px;right:0px;overflow:hidden;">

<div class="flex-row assets-toolbar">
    <div class="flex-row-item" style="align-items: center;">
        <span>Assets({{totalAssetsCount}})</span>
        <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>
        <span>
            <button *ngIf="!assetMenuconfig.IS_LIST_VIEW"  matTooltip="Switch to List View" (click)="onChangeView(true)"
                mat-icon-button >
                <mat-icon color="primary" class="dashboard-action-btn">view_list
                </mat-icon>
            </button>
            <button *ngIf="assetMenuconfig.IS_LIST_VIEW" matTooltip="Switch to Card View" (click)="onChangeView(false)"
                mat-icon-button >
                <mat-icon color="primary" class="dashboard-action-btn">
                    view_module</mat-icon>
            </button>
        </span>
        <!-- open creative review -->
        <!-- <button mat-icon-button matTooltip="Open Creative Review" [disabled]="(!selectedAssets || !selectedAssets.hasValue()) || disableReferenceAsset" (click)="bulkOpenCR(selectedAssets.selected)">
            <mat-icon>rate_review</mat-icon>
        </button> -->
        <button *ngIf="totalAssetsCount > 0" mat-icon-button matTooltip="Share" [disabled]="(!selectedAssets || !selectedAssets.hasValue()) || disableReferenceAsset" (click)="shareAsset(selectedAssets.selected)">
            <mat-icon>share</mat-icon>
        </button>
        <button *ngIf="totalAssetsCount > 0 && canDownload" [disabled]="(!selectedAssets || !selectedAssets.hasValue()) || disableReferenceAsset" (click)='downloadAsset()' mat-icon-button matTooltip="Download">
            <mat-icon>arrow_downward</mat-icon>
        </button>
        <button  *ngIf="totalAssetsCount > 0 && showDeleteIcon" [disabled]="(!selectedAssets || !selectedAssets.hasValue())" (click)='deleteSelectedAssets()' mat-icon-button matTooltip="Delete">
          <mat-icon>delete</mat-icon>
      </button>
        <button *ngIf="canDownload" [disabled]="(!selectedAssets || !selectedAssets.hasValue()) || disableReferenceAsset" class="sort-btn" mat-stroked-button matTooltip="Select delivery format" [matMenuTriggerFor]="downloadType">
            <span> {{downloadTypeObj.selected.name}}</span>
            <mat-icon color="accent">arrow_drop_down</mat-icon>
        </button>
        <div class="addReferenceAsset">
            <button *ngIf="enableReferenceAsset && !isCampaignAssetView" [disabled]="disableCustomReferenceAsset" class="sort-btn" mat-stroked-button matTooltip="Select add reference asset" (click)="referenceAsset()">
                <mat-icon>add</mat-icon>
                <span>Reference Asset</span>
            </button>
        </div>
        <span class="flex-row-item right">
            <mpm-column-chooser [isListView]="assetMenuconfig.IS_LIST_VIEW" [isAssetsTab]="true" [isColumnsFreezable]="isColumnsFreezable" [columnChooserFields]="columnChooserFields" (columnChooserHandler)="updateDisplayColumns($event)" (resetColumnChooserHandler)="resetView()">
            </mpm-column-chooser>
        </span>
    </div>
</div>
</div>
<div id="content" style="position:absolute; top:50px; bottom:43px; left:0px; right:0px; overflow:auto;">
<div class="pagination" *ngIf="totalAssetsCount==0">
    <button color="primary" disabled mat-flat-button>No assets are available in the project.</button>
</div>

<div class="assets-content">
    <app-assets-view [showDeleteIcon]="showDeleteIcon" (onAssetDelete)="deleteAsset($event)" *ngIf="assets" [assets]='assets' [assetConfig]="assetMenuconfig" [assetCardFields]="assetCardFields" [assetDisplayableFields]="assetDisplayableFields" [isAssetListView]="assetMenuconfig.IS_LIST_VIEW" [selectedAssetData]="selectedAssetData"
        [isCampaignAssetView]="isCampaignAssetView" [allAssetData]="allAssetData" [projectData]="project" [taskData]="taskData" (notificationHandler)='notificationHandler($event)' (loadingHandler)='loadingHandler($event)' (assetVersionsCallBackHandler)="retrieveAssetVersionsData($event)"
        (assetDetailsCallBackHandler)="retrieveAssetData($event)" (assetsCallBackHandler)="retrieveAssets($event)" (selectedAssetsCallbackHandler)="retrieveSelectedAssets($event)" (shareAssetsCallbackHandler)="shareAsset($event)" (assetPreviewCallBackHandler)="retrieveAssetPreviewData($event)"
        (downloadAssetCallBackHandler)="download($event)" (OrderedDisplayableFields)="getOrderedDisplayableFields($event)" (crHandler)=openCR($event) (selectAllDeliverables)="selectAllDeliverables($event)">
    </app-assets-view>
</div>
</div>
<div id="footer" style="position:absolute; bottom:0px;left:0px; right:0px; overflow:hidden;">

<div class="flex-row" *ngIf="totalAssetsCount > 0">
    <div class="flex-row-item right">
        <mpm-pagination [length]="totalAssetsCount" [pageSize]="pageSize" [pageIndex]="page" (paginator)="pagination($event)"></mpm-pagination>
    </div>
</div>
</div>
<mat-menu #downloadType="matMenu">
    <span *ngFor="let option of downloadTypeObj.options">
        <button *ngIf="option.name != downloadTypeObj.selected" mat-menu-item (click)="changeDownloadType(option)">
            <span>{{option.name}}</span>
    </button>
    </span>
</mat-menu>
