<h2 mat-dialog-title>
	<span class="modal-title" matTooltip="{{modalTitle}}">{{modalTitle}}</span>
	<mat-icon class="close-action" (click)="closeDialog()" matTooltip="Close">close</mat-icon>
</h2>

<mat-dialog-content>
	<div *ngIf="isDataLoaded">
		<mpm-project-from-templates [projectType]="projectType" [viewConfig]="viewConfig"
			[selectedProject]="selectedProject" [templateSearchConditions]="templateSearchConditions"
			[campaignId]="campaignId" (notificationHandler)="notificationHandler($event)"
			(loadingHandler)="loadingHandler($event)" (closeCallbackHandler)="afterCloseProject($event)"
			(saveCallBackHandler)="afterSaveProject($event)"
			[isCopyTemplate] ="isCopyTemplate">
		</mpm-project-from-templates>
	</div>
</mat-dialog-content>