.float-right {
    float: right;
}

.close-action {
    float: right;
    cursor: pointer;
}

.modal-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50% !important;
    display: inline-block;
}

mat-dialog-content {
    padding: 24px;
    width: 100%;
    min-height: 200px;
}
mat-form-field {
    margin: 0px 25px 0px 0px;
}

.note {
    padding: 10px;
    font-size: small;
}

#template-save-option {
    margin: 0px;
    padding: 0px;
    min-width: 32px;
    border-radius: 0 4px 4px 0;
}

#template-save-btn {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
}

.right {
    justify-content: flex-end;
}