table.task-list {
    width: 100%;

    tr {
        height: 40px;

        th:last-child {
            padding-left: 12px;
        }

        td {
            a.mat-button {
                padding: 0px;
                text-align: left;
            }

            mat-icon {
                font-size: 16px;
            }
            .status-chip {
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: normal;
            }
        }
      

    }
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}

.duedate-extended,
.duedate-current {
    opacity: .9;
}

.active-refrenced-task {
    background-color: #73736f;
}

.text-summary {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 105px;
    cursor: pointer;
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important;
}

.task-title {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 1rem;
    max-width: 250px;
}

.task-id {
    cursor: pointer;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.badge-info {
    min-height: 22px !important;
    font-size: 12px !important;
}

/* .active-task-icon {
    font-size: 10px !important;
    height: 12px;
    width: 12px;
    padding-left: 4px;
} */

span {
    div {
        .pointer {
            cursor: pointer;
        }
    }
}

td.wrap-text-custom {
    span>div {
        // max-width: 14em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#paginator-bar{
    margin-top: 100px;
}

th button.mat-sort-header-button[disabled="true"] {
    // cursor: pointer;
}

::ng-deep .mat-sort-header-button {
    position: unset !important;
  }

th.mat-header-cell {
    // padding-left: 5px;
    &:hover {
        .ui-column-resizer {
            display: block
        }
    }
}

.ui-column-resizer {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    cursor: col-resize;
}
    
.cdk-drag-preview {
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
    white-space: nowrap;
  }
  
  .cdk-drag-preview::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.4);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    color: transparent;
    position: relative;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
   
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-placeholder::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    background: rgba(0,0,0,0.1);
    border: dashed 1px rgba(0,0,0,0.4);
  }