<table class="task-list" mat-table [dataSource]="taskListDataSource" matSort multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)">
    <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
            <mat-icon [ngClass]="[ getPropertyByMapper(row, MPMFieldConstants.IS_TASK_ACTIVE)==='true' && !isOnHoldProject && !isTemplate? 'active-task-icon' : 'inactive-task-icon']" matTooltip="Status: {{row.TASK_STATUS_VALUE}} {{getPropertyByMapper(row, MPMFieldConstants.IS_TASK_ACTIVE) === 'true' && !isOnHoldProject && !isTemplate? '(Active Task)' : '(Inactive Task)'}}">
                <!--  matTooltip="{{getPropertyByMapper(row, MPMFieldConstants.IS_TASK_ACTIVE) === 'true' && !isOnHoldProject ? 'Active Task' : 'Inactive Task'}}" -->
                <!-- [style.color]="getActiveColor(getPropertyByMapper(row, MPMFieldConstants.IS_TASK_ACTIVE))" -->
                {{getTaskTypeIcon(getPropertyByMapper(row, MPMFieldConstants.TASK_TYPE))}}
            </mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="{{column.INDEXER_FIELD_ID}}" *ngFor="let column of displayableMPMFields">
        <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true">
            {{column.DISPLAY_NAME}} </th> -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [style.min-width.px]="column.width">
            <span>{{column.DISPLAY_NAME}}</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
                <mat-icon>more_vert</mat-icon>
            </span>
        </th>

        <td mat-cell *matCellDef="let row" [style.max-width.px]="column.width" [ngClass]="{'wrap-text-custom':column.DATA_TYPE === 'string'}">
            <span>
                <div #divposition
                    *ngIf="(column.MAPPER_NAME !== MPMFieldConstants.TASK_PRIORITY && column.MAPPER_NAME !== MPMFieldConstants.TASK_PROGRESS && column.MAPPER_NAME !=='NPD_TASK_COMMENT_EXIST'
                            && column.MAPPER_NAME !==  MPMFieldConstants.TASK_STATUS && !checkDateType(column)) && !(column.MAPPER_NAME==='TASK_DURATION' && row.TASK_NAME?.includes('CP'))">
                    <a class="pointer"
                        (click)="openTaskDetailsPopup(row)">
                        <span #spanposition
                            [matTooltip]=" getProperty(column, row)">{{getProperty(column,
                            row) || 'NA'}}</span></a>
            </div>
            <div #divpos *ngIf="(column.MAPPER_NAME==='TASK_DURATION' && row.TASK_NAME?.includes('CP'))">
                <span #spanposition [matTooltip]="getProperty(column, row)">0</span>
          </div>
            <div #divposition  *ngIf="checkDateType(column)">
                <a class="pointer" (click)="openTaskDetailsPopup(row)">
                    <span #spanposition [matTooltip]=" getWeek(column, row) ">
                        {{getWeek(column, row) || 'NA'}}</span></a>
            </div>
            <div *ngIf="column.MAPPER_NAME === MPMFieldConstants.TASK_PRIORITY">
                <mat-icon matTooltip="{{getPriority(row, column).tooltip}}" [style.color]="getPriority(row, column).color">
                    {{getPriority(row, column).icon}}
                </mat-icon>
            </div>
            <div *ngIf="column.MAPPER_NAME ===  MPMFieldConstants.TASK_STATUS">
                <mat-chip-list>
                    <mat-chip class="status-chip" [ngClass]="changeStatusColor(row,getProperty(column, row))">{{getProperty(column, row) || 'NA'}}</mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="column.MAPPER_NAME === MPMFieldConstants.TASK_PROGRESS">
                <span matTooltip="{{getProperty(column, row) || 0}}%">{{getProperty(column, row) || 0}}%
                        <mat-progress-bar color="primary" mode="determinate" value="{{getProperty(column, row) || 0}}"
                            class="">
                        </mat-progress-bar>
                    </span>
            </div>
            <div *ngIf="column.MAPPER_NAME ==='NPD_TASK_COMMENT_EXIST'">
            <button  [ngClass]="{'color-white':!row?.NPD_TASK_COMMENT_EXIST,'purple-color':row?.NPD_TASK_COMMENT_EXIST}" [disabled]="isCancelledProject()" mat-icon-button matTooltip="Comments" (click)="openCommentDialog(row)">
              <mat-icon>comment</mat-icon>
            </button>
            </div>

            </span>

        </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions </th>
        <td mat-cell *matCellDef="let row">
            <div>
                <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="TaskActions" [matMenuTriggerData]="{selectedTask: row}" [disabled]="(!((row.REFERENCE_LINK !== null) && (row.REFERENCE_LINK_ID !== null)))">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr id="{{row.asset_id}}" mat-row *matRowDef="let row; columns: displayColumns" class="project-element-row"></tr>
</table>
<mat-menu #TaskActions="matMenu">
    <ng-template matMenuContent let-selectedTask="selectedTask">
        <!--         <button mat-menu-item matTooltip="Add New Deliverable" (click)="openTaskDetails(selectedTask, true)"
            [disabled]="getStatusCheck(selectedTask) || taskConfig.isReadOnly || (getPropertyByMapper(selectedTask, MPMFieldConstants.TASK_TYPE) !== taskTypeConstants.NORMAL_TASK) || isOnHoldProject">
            <mat-icon>add</mat-icon>
            <span>Add New Deliverable</span>
        </button> -->
        <button mat-menu-item matTooltip="Edit Task" (click)="openEditTaskAction(selectedTask)" [disabled]="isCancelledProject()"><!--taskConfig.isReadOnly || isOnHoldProject getFinalStatusCheck(selectedTask) || -->
            <mat-icon>edit</mat-icon>
            <span>Edit Task</span>
        </button>
        <!-- <button mat-menu-item matTooltip="Comments" (click)="openCommentDialog(selectedTask)" [disabled]="isCancelledProject()">
            <mat-icon>chat</mat-icon>
            <span>Comments</span>
        </button> -->
        <!-- <button mat-menu-item matTooltip="Delete Task" (click)="deleteTask(selectedTask,false)" [disabled]="getFinalStatusCheck(selectedTask) || !getSpecifiedRoleAccess()"><!--taskConfig.isReadOnly || isOnHoldProject-->
        <!-- <mat-icon>delete</mat-icon>
        <span>Delete Task</span>
        </button> -->
        <button mat-menu-item matTooltip="Delete Task" (click)="deleteTask(selectedTask,true)" [disabled]="getFinalStatusCheck(selectedTask) || isCancelledProject()"><!--|| taskConfig.isReadOnly || isOnHoldProject-->
            <mat-icon>delete</mat-icon>
            <span>Delete Task</span>
        </button>
        <button mat-menu-item matTooltip="Configure Rule" *ngIf="isCustomWorkflow" (click)="openCustomWorkflow(selectedTask)" [disabled]="true"> <!---getFinalStatusCheck(selectedTask) || taskConfig.isReadOnly || isOnHoldProject-->
            <mat-icon>add</mat-icon>
            <span>Configure Rule</span>
        </button>
        <button mat-menu-item matTooltip="Actions" [matMenuTriggerFor]="workflowActionsMenu" [matMenuTriggerData]="{selectedTask: selectedTask}" *ngIf="taskConfig.selectedProject && taskConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'true'" [disabled]="!hasCurrentWorkflowActions(selectedTask) || !(getPropertyByMapper(selectedTask, MPMFieldConstants.IS_TASK_ACTIVE)==='true' && !isOnHoldProject) || cancelledProject">
            <mat-icon>offline_bolt</mat-icon>
            <span>Actions</span>
        </button>
    </ng-template>
</mat-menu>
<mat-menu #taskStatusMenu="matMenu">
    <ng-template matMenuContent let-selectedTask="selectedTask">
        <span *ngFor="let status of taskConfig.taskStatus">
            <button mat-menu-item matTooltip="Task Status" (click)="changeTaskStatus(selectedTask, status)"
                *ngIf="status.DISPLAY_NAME != selectedTask.STATUS_DISPLAY_NAME">
                <span>{{status.DISPLAY_NAME}}</span>
        </button>
        </span>
    </ng-template>
</mat-menu>

<mat-menu #workflowActionsMenu="matMenu">
    <ng-template matMenuContent let-selectedTask="selectedTask">
        <span *ngFor="let currentWorkflowAction of getCurrentWorkflowActions(selectedTask)">
            <button mat-menu-item matTooltip="{{currentWorkflowAction.Name}}"
                (click)="triggerActionRule(selectedTask, currentWorkflowAction.Id)">
                <span>{{currentWorkflowAction.Name}}</span>
        </button>
        </span>
    </ng-template>
</mat-menu>

<div *ngIf="taskConfig.taskTotalCount === 0" class="central-info">
    <button color="accent" disabled mat-flat-button>No task is available.</button>
</div>
