<app-status-header *ngIf="showCommercialRequestForm" [request]="requestObject" [taskConfig]="requestFieldHandler.other"></app-status-header>
<div *ngIf="showCommercialRequestForm">
    <div class="flex-row task-operations" *ngIf="showInboxControls">
        <app-task-operations [showInboxControls]="showInboxControls" #taskOperations (refreshHandler)="refreshTaskConfig($event)"></app-task-operations>
    </div>

    <app-project-name-header [request]="requestObject" [actionButtonsConfig]="requestFieldHandler.actionButtons" (preview)="previewForm()" (submit)="onSubmit()" (discard)="cancelRequestCreation($event)" (back)="cancelRequestCreation($event)" (approve)="onApprove()"
        (stop)="onRejected()" [taskConfig]="requestFieldHandler.other" (recycle)="onResubmit()" (complete)="completeTask()" (convertProject)="convertToProject()" (deleteReq)="deleteRequestUpdate()" (copyReq)="copyRequestButton()" #projectNameHeaderComponent></app-project-name-header>

    <div class="container" (mouseenter)="storePanelHTML($event)" (mouseleave)="handlePanelLeaveEvent($event)" (click)="getAllBool()">
        <app-project-core-data #projectCoreComponent [isNewRequest]="isNewRequest" [projectCoreDataConfig]="requestFieldHandler.projectCoreData" [requestDetails]="requestObject" [config]="allListConfig" (allThresholdValuesEvent)="allThresholdValuesEvent($event)"
            (allThresholdValuesForMonsterGreenEvent)="allThresholdValuesForMonsterGreenEvent($event)" (projectClassification)="projectClassification($event)" (updateProjectName)="updateProjectName()" [ccopiedRequestDetails]="pcopiedRequestDetails"></app-project-core-data>

        <app-governance-milestones *ngIf="requestFieldHandler.governanceMilestone.model.ngIf" [isRequest]="true" [governanceMilestoneConfig]="requestFieldHandler.governanceMilestone" [technicalRequestId]="requestObject.requestItemId" #governancemilestone></app-governance-milestones>

        <app-market-scope #marketScopeComponent [marketScopeDataConfig]="requestFieldHandler.marketScope" [requestDetails]="requestObject" [marketsCopy]="allListConfig.marketsCopy" [markets]="allListConfig.markets" [showMarketScopeForm]="showMarketScopeForm"
            [properties]="marketProperties" [isNewRequest]="isNewRequest" [businessUnits]="allListConfig.businessUnits" [selectedBusinessUnit]="selectedBusinessUnit" [selectedMarket]="selectedMarket" [businessUnitInitialCount]="businessUnitInitialCount" [marketScopeData]="marketScopeData"
            (updateBusinessUnitEvent)="updateBusinessUnit($event)" (onLeadMarketChange)="setRegulatoryTimeLineLocations($event)" (deleteMarketScopeGroupEvent)="deleteMarketScopeGroup()" (updateProjectName)="updateProjectNameEvent($event)" (updateThisProject)="updateThisProjectEvent($event)" (updateMonsterGreen)="updateMonsterGreenEvent($event)"
            (marketSelected)="getRegulatoryTimeLineLocations($event)" (updateNoOfLinkedMarkets)="linkedMarkets($event)"></app-market-scope>
        <app-programme-manager-reporting [programmeManagerReporting]="requestFieldHandler.programmeManagerReporting" [reportingProjectType]="allListConfig.reportingProjectType" [requestDetails]="requestObject" #programmeManagerReportingComponent></app-programme-manager-reporting>

        <app-deliverables-vs-thresholds #deliverablesVsThresholdsComponent [deliverableThresholdDataConfig]="requestFieldHandler.deliverablesThreshold" [requestDetails]="requestObject" [deliverableThresholdData]="deliverableThresholdData" [properties]="deliverablesProperties"
            (updateDeliverablesThresholdValues)="updateDeliverablesThresholdValues()">
        </app-deliverables-vs-thresholds>

        <app-gain-approval-scope [gainApprovalScopeConfig]="requestFieldHandler.gainApprovalScope" [requestDetails]="requestObject" #gainApprovalScopeComponent [ccopiedRequestDetails]="pcopiedRequestDetails"></app-gain-approval-scope>

        <app-portfolio-strategy [portfolioStrategyDataConfig]="requestFieldHandler.portfolioStrategy" [requestDetails]="requestObject" #portfolioStrategyComponent [ccopiedRequestDetails]="pcopiedRequestDetails">
        </app-portfolio-strategy>

        <div *ngIf="requestFieldHandler.projectClassificationData.model.ngIf">
            <app-project-classification (getLeadMArketRegion)="getLeadMArketRegion()" [LeadMarketRegion]="leadMarket"  [requestDetails]="requestObject" [request]="commercialReq" [isNewRequest]="isNewRequest" [projectClassificationDataConfig]="requestFieldHandler.projectClassificationData" [config]="allListConfig" #projectClassificationComponent
                [ccopiedRequestDetails]="pcopiedRequestDetails"></app-project-classification>
        </div>
        <!--[projectType]="requestFieldHandler.projectCoreData && requestFieldHandler.projectCoreData.projectType"-->

        <app-manager-field-config *ngIf="showManagers && requestFieldHandler.managerConfig.model.ngIf" [requestDetails]="commercialReq" [request]="requestObject" [managerConfig]="requestFieldHandler.managerConfig" [listConfig]="allListConfig" #managerFieldComponent>
        </app-manager-field-config>

        <app-generic-form *ngIf="requestFieldHandler.businessCaseCommentsConfig.model.ngIf" [request]="requestObject" [ccopiedRequestDetails]="pcopiedRequestDetails" [formConfig]="requestFieldHandler.businessCaseCommentsConfig" #genericFormComponent>
        </app-generic-form>
    </div>
</div>
