<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
    <mat-sidenav #appNav [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true">
        <div>
           <div class="project-logo-holder">
                <div class="project-logo-holder-container">
                    <img class="project-logo" [ngClass]="{'collapsed': isExpanded !== true}" src="styles/favicon.jpg" /> 
                   <!--  <mpm-asset-preview [assetURL]="assetUrl" [isCollapsed]="!isExpanded" [rectangleWidth]="!isExpanded? '60px': '100px'" [rectangleHeight]="!isExpanded? '60px': '100px'"></mpm-asset-preview> -->
                </div>
            </div> 
            <div class="menu-item">
                 <div class="menu-item" *ngIf="isExpanded">
                    <span class="project-name" *ngIf="!requestId">New Request</span>
                    <span class="project-name" *ngIf="requestId && selectedRequest" matTooltip="{{selectedRequest.projectName}}">{{selectedRequest.projectName}}</span>
                </div> 
                 <div class="back-holder">
                    <button mat-raised-button (click)="backToDashboard()" matTooltip="Back" *ngIf="isExpanded">
                        <mat-icon aria-label="Back to Requests">arrow_back</mat-icon>
                        <span>Back</span>
                    </button>

                    <button mat-mini-fab (click)="backToDashboard()" matTooltip="Back" *ngIf="!isExpanded">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </div>
            <br /> 
            <div>
                <mat-nav-list class="project-overview-side-menu">
                    <a *ngFor="let menu of menus" mat-list-item class="menu-item" [class.active]="menu.ACTIVE" (click)="routeToSelectedMenu(menu.LOCATION)" matTooltip="{{!isExpanded ? menu.DISPLAY_NAME : ''}}">
                        <mat-icon>{{menu.ICON}}</mat-icon>
                        <span *ngIf="isExpanded" class="menu-text">{{menu.DISPLAY_NAME}}</span>
                    </a>
                    <!--[disabled]="menu.LOCATION === 'requestDetails'? false : !requestId"-->
                </mat-nav-list>
            </div>
        </div>
        <div class="toggle-sidenav">
            <div [ngClass]="{'closed' : isExpanded !== true}">
                <button mat-mini-fab (click)="isExpanded = !isExpanded" matTooltip="{{isExpanded ? 'Hide side menu' : 'Show side menu'}}" (click)="rotate()">
                    <mat-icon [@rotatedState]='state'>chevron_left</mat-icon>
                </button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>