<mat-card class="project-card">
    <div class="project-header">
        <div class="project-card-image">
            <div class="flex-row">
                <div class="flex-row-item card-title-wrapper">
                    <!-- <mat-checkbox [disabled]="!enableBulkEdit" color="primary" class="select-project" (click)="$event.stopPropagation()"
                    (change)="isSelected(project,$event)"
                    >
                    </mat-checkbox> -->
                    <mpm-name-icon [userName]="isCampaignDashboard ?  getProperty(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_NAME) : getProperty(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_NAME) || 'NA'" [charCount]="2" [color]="'#c0ca33'"></mpm-name-icon>
                    <span class="card-title" (click)="openProjectDetails(project)" matTooltip="{{isCampaignDashboard ?  getProperty(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_NAME) : getProperty(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_NAME) || 'NA'}}">
                        <!-- matTooltipClass="custom-tooltip" -->
                        {{isCampaignDashboard ? getProperty(project,
                        mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_NAME) : getProperty(project,
                        mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_NAME) || 'NA'}}
                    </span>
                </div>
                <div class="flex-row-item action-button">
                    <mat-icon *ngIf="showCopyProject || !isTemplate" color="primary" matTooltip="Actions" matSuffix [matMenuTriggerFor]="projectMenu">
                        more_vert
                    </mat-icon>
                </div>
            </div>
        </div>
        <!-- <div>
            <mat-icon matTooltip="Priority: {{priorityObj.tooltip}}" [style.color]="priorityObj.color">
                {{priorityObj.icon}}</mat-icon>

            <mat-icon color="primary" matTooltip="Actions" matSuffix [matMenuTriggerFor]="projectMenu">
                more_vert
            </mat-icon>
        </div> -->
    </div>
    <div class="flex-col-item">
        <!-- <span> -->
        <div class="flex-col-item" *ngIf="!isTemplate">
            <div class="flex-row">
                <div class="flex-row-item card-item">
                    <div class="project-percentage" matTooltip="{{isCampaignDashboard ? ('Campaign Completion - ' + getProperty(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS) || 0) : ('Project Completion - ' + getProperty(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS) || 0)}}%">
                        <span class="item-title">
                            {{isCampaignDashboard ? getProperty(project,
                            mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS) : getProperty(project,
                            mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS) || 0}}%</span>
                        <mat-progress-bar color="primary" mode="determinate" value="{{isCampaignDashboard ? getProperty(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS) : getProperty(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS)}}">
                        </mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-col-item">
            <div class="flex-row">
                <div class="flex-row-item card-item" *ngIf="!isTemplate" matTooltip="Due Date: {{isCampaignDashboard ?  converToLocalDate(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_END_DATE) : converToLocalDate(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_DUE_DATE) || 'NA'}}">
                    <mat-icon>event</mat-icon>
                    <span class="item-value">{{isCampaignDashboard ? getProperty(project,
                        mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_END_DATE) : getProperty(project,
                        mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_DUE_DATE) || 'NA'}}</span>
                </div>
                <div class="flex-row-item card-item">
                    <mat-chip matTooltip="Status: {{isCampaignDashboard ? getProperty(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS) : getProperty(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS) || 'NA'}}" class="status-chip">
                        {{isCampaignDashboard ? getProperty(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS) : getProperty(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS) || 'NA'}}
                    </mat-chip>
                </div>
                <div>
                    <mat-icon matTooltip="Priority: {{isCampaignDashboard ? getPriority(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY).tooltip : getPriority(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY).tooltip}}" [style.color]="isCampaignDashboard ? getPriority(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY).color : getPriority(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY).color">
                        {{isCampaignDashboard ? getPriority(project, mpmFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY).icon : getPriority(project, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY).icon}}
                    </mat-icon>
                </div>
            </div>
        </div>
        <span *ngIf="displayFieldList && displayFieldList.length > 0">
            <div class="flex-col-item" *ngFor="let metadata of displayFieldList">
                <div class="flex-row">
                    <div class="flex-row-item card-item"
                        matTooltip="{{metadata.DISPLAY_NAME}} : {{metadata.VALUE || 'NA'}}">
                        <span class="item-title">{{metadata.DISPLAY_NAME}}:</span>
        <span class="item-value" [ngClass]="{'text-warp': metadata.DATA_TYPE === 'string'}">{{metadata.VALUE || 'NA'}}</span>
    </div>
    </div>
    </div>
    </span>
    <!-- </span> -->
    </div>
</mat-card>
<mat-menu #projectMenu="matMenu">
    <button *ngIf="showCopyProject && !isCampaignDashboard" mat-menu-item matTooltip="{{!isTemplate ? 'Copy Project' : 'Project from template'}}" (click)="openCopyProject(project,false)">
        <mat-icon>insert_drive_file</mat-icon>
        <span>{{!isTemplate ? 'Copy Project' : 'Project from template'}}</span>
    </button>
    <!--showCopyProject && !isCampaignDashboard && isTemplate-->
    <button *ngIf=" isTemplate " mat-menu-item matTooltip="Copy Template" (click)="openCopyProject(project,true)">
        <mat-icon>insert_drive_file</mat-icon>
        <span>Copy Template</span>
    </button>
    <button mat-menu-item matTooltip="Comment" (click)="openComments()" *ngIf="!isTemplate">
        <mat-icon>
            comment
        </mat-icon>
        <span>Comments</span>
    </button>
    <!--*ngIf="!isTemplate"-->
    <button mat-menu-item matTooltip="{{isTemplate ? 'Delete Template' : 'Delete Project'}}" (click)="deleteProject(project)" [disabled]="project.PROJECT_OWNER_ID !== loggedInUserId || project.PROJECT_STATUS_TYPE === finalCompleted">
        <mat-icon>delete</mat-icon>
        <span>{{isTemplate ? 'Delete Template' : 'Delete Project'}}</span>
    </button>
</mat-menu>