<div class="flex-row-item justify-flex-end" *ngIf="sortOptions && sortOptions.length > 0">
    <button class="sort-btn" mat-stroked-button matTooltip="Sorted by {{selectedOption.option.displayName}}"
        [matMenuTriggerFor]="sortOrderListMenu">
        <span>Sort by: {{selectedOption.option.displayName}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <button class="dashboard-icon-btn sort-dir-icon" (click)="selectSorting()" matTooltip="Reverse sort direction"
        mat-icon-button>
        <mat-icon *ngIf="selectedOption.sortType === 'desc'">arrow_downward</mat-icon>
        <mat-icon *ngIf="selectedOption.sortType === 'asc'">arrow_upward</mat-icon>
    </button>
    <mat-menu #sortOrderListMenu="matMenu">
        <span *ngFor="let fieldOption of sortOptions">
            <button *ngIf="selectedOption.option.name !== fieldOption.name" mat-menu-item
                matTooltip="{{fieldOption.displayName}}" (click)="onSelectionChange($event, sortOptions)"
                [value]="fieldOption.name">
                <span>{{fieldOption.displayName}}</span>
            </button>
        </span>
    </mat-menu>
</div>