<div>
    <div class="flex-row">
        <h2 mat-dialog-title class="flex-row-item">{{modalLabel}}</h2>
        <mat-icon class="flex-row-item modal-close" matTooltip="Close" (click)="closeDialog()">
            close
        </mat-icon>
    </div>

    <mat-dialog-content>
        <app-deliverable-creation [deliverableConfig]="deliverableConfig"
            (closeCallbackHandler)="afterCloseDeliverable($event)" (saveCallBackHandler)="afterSaveDeliverable($event)"
            (notificationHandler)="notificationHandler($event)" (loadingHandler)="loadingHandler($event)">
        </app-deliverable-creation>
    </mat-dialog-content>
</div>