mat-dialog-content {
    // padding: 16px;
    min-height: 200px;
    .flex-row-item {
        margin: 0 15px;
        font-size: 14px;

        div.approval-section-holder {
            padding-bottom: 1.34375em;
        }

        section.approval-task-check {
            margin-right: 90px;
        }
    }

    .help-doc-icon {
        cursor: pointer;
        margin-right: 65px;
    }

    .max-width {
        max-width: 47%;
    }
}

.modal-close {
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
}

mat-dialog-actions button {
    margin: 10px;
}

.task-owner-task-count {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    margin-top: -16px;

    mat-label {
        color: green
    }
}

#task-save-option {
    margin: 0px;
    padding: 0px;
    min-width: 32px;
    border-radius: 0 4px 4px 0;
}

#task-save-btn {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
}

mat-form-field {
    width: 100%;
}