<mat-form-field appearance="outline" *ngIf="datatype === 'NUMBER' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <input matInput placeholder="{{ label }}" aria-label="label" (ngModelChange)="valueChange($event)" [formControl]="metadataFieldFormControl" type="number" (keydown)="restrictKeysOnType($event, 'NUMBER')" [required]="requiredField" />
    <mat-hint align="end" *ngIf="
      metadataFieldFormControl.errors && metadataFieldFormControl.errors.min
    ">
        Please enter the number greater than {{ metadataFieldFormControl.errors.min.min }}
    </mat-hint>
    <mat-hint align="end" *ngIf="
      metadataFieldFormControl.errors && metadataFieldFormControl.errors.max
    ">
        Please enter the number lesser than {{ metadataFieldFormControl.errors.max.max }}
    </mat-hint>
</mat-form-field>
<!-- For number only field -->
<mat-form-field appearance="outline" *ngIf="datatype === 'INTEGER' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <input matInput  min="0" (keypress)="numericOnly($event)" placeholder="{{ label }}" aria-label="label" (ngModelChange)="valueChange($event)" [formControl]="metadataFieldFormControl"  (keydown)="restrictKeysOnType($event, 'NUMBER')" [required]="requiredField" />
    <mat-hint align="end" *ngIf="
      metadataFieldFormControl.errors && metadataFieldFormControl.errors.min
    ">
        Please enter the number greater than {{ metadataFieldFormControl.errors.min.min }}
    </mat-hint>
    <mat-hint align="end" *ngIf="
      metadataFieldFormControl.errors && metadataFieldFormControl.errors.max
    ">
        Please enter the number lesser than {{ metadataFieldFormControl.errors.max.max }}
    </mat-hint>
</mat-form-field>

<mat-form-field appearance="outline" *ngIf="datatype === 'SIMPLE' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <input matInput placeholder="{{ label }}" aria-label="label" [required]="requiredField" (ngModelChange)="valueChange($event)" [formControl]="metadataFieldFormControl" />
    <mat-hint align="end" *ngIf="
      metadataFieldFormControl.errors &&
      metadataFieldFormControl.errors.maxlength
    ">
        {{ metadataFieldFormControl.errors.maxlength.actualLength }}/{{ metadataFieldFormControl.errors.maxlength.requiredLength }}
    </mat-hint>
</mat-form-field>

<ng-container *ngIf=" label == 'Project Description' ">
    <mat-form-field appearance="outline" *ngIf="datatype === 'TEXTAREA' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
        <mat-label>{{ label }}</mat-label>
        <textarea matInput placeholder="{{ label }}" aria-label="label" (ngModelChange)="valueChange($event)" matTooltip="{{ metadataFieldFormControl?.value }}" [formControl]="metadataFieldFormControl" [required]="requiredField"></textarea>
        <mat-hint align="end" *ngIf="
          metadataFieldFormControl.errors &&
          metadataFieldFormControl.errors.maxlength
        ">
            {{ metadataFieldFormControl.errors.maxlength.actualLength }}/{{ metadataFieldFormControl.errors.maxlength.requiredLength }}
        </mat-hint>
    </mat-form-field>
</ng-container>
<ng-container *ngIf=" label != 'Project Description' ">
    <mat-form-field appearance="outline" *ngIf="datatype === 'TEXTAREA' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
        <mat-label>{{ label }}</mat-label>
        <textarea matInput placeholder="{{ label }}" aria-label="label" (ngModelChange)="valueChange($event)" [formControl]="metadataFieldFormControl" [required]="requiredField"></textarea>
        <mat-hint align="end" *ngIf="
          metadataFieldFormControl.errors &&
          metadataFieldFormControl.errors.maxlength
        ">
            {{ metadataFieldFormControl.errors.maxlength.actualLength }}/{{ metadataFieldFormControl.errors.maxlength.requiredLength }}
        </mat-hint>
    </mat-form-field>
</ng-container>
<div>
    <div class="week-picker-container"  *ngIf="datatype === 'DATE' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above" (click)="getStopPropogation($event, 'startDate')">
        <mat-form-field appearance="outline">
            <mat-label>{{ label }}</mat-label>
            <div class="wp-select" [ngClass]="{'background-color': (configs=='red' && label=='Current Timeline (DW)') ,'background-color1' : (configs=='green' && label=='Current Timeline (DW)') ,'background-color2' : (configs=='amber' && label=='Current Timeline (DW)')} ">
                <div (click)="onClick()">
                    <input matInput [formControl]="metadataFieldFormControl" (change)="updateDateValue($event.target.value)" (dateChange)="valueChange($event)" placeholder="ww/yyyy" name="dp" [required]="requiredField" />
                </div>
                <button mat-icon-button (click)="show.startDate?getBool('startDate'):openWeekPicker('startDate')" 
                [disabled]=" metadataFieldFormControl.fieldset.editable == false? true : sectionAccess">
                 <mat-icon>date_range</mat-icon>
                </button>
            </div>
        </mat-form-field>
        <!--     {{show.startDate}} -->
        <app-week-picker (clickOutside)="closeWeekPicker('startDate')" class="week-picker" #weekPickerComponent [weekYearValue]="weekYear.startDate" [fromDate]="fromDate.startDate" [toDate]="toDate.startDate" (weekFormat)="changeWeek($event,'startDate')" *ngIf="show?.startDate || flag>0">
            <!-- *ngIf="show.plannedStartDate"-->
        </app-week-picker>
    </div>
</div>

<mat-form-field appearance="outline" *ngIf="datatype === 'DATETIME' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <input matInput placeholder="{{ label }}" aria-label="label" [matDatepicker]="date" datePickerFormat="DD-MM-YYYY" (dateChange)="valueChange($event)" [formControl]="metadataFieldFormControl" [required]="requiredField" />
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
    <!-- <mat-hint align="end"
        *ngIf="metadataFieldFormControl.errors && metadataFieldFormControl.errors.matDatepickerParse && metadataFieldFormControl.errors.matDatepickerParse.text">
        Input a valid date!</mat-hint> -->
</mat-form-field>

<mat-form-field appearance="outline" *ngIf="datatype === 'COMBO' && metadataFieldFormControl?.fieldset?.show && !metadataFieldFormControl?.fieldset?.isUser" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControl]="metadataFieldFormControl" [(ngModel)]="selectedValue" #selectValue (selectionChange)="valueChange($event)" [required]="requiredField">
        <mat-option *ngFor="let option of metadataFieldFormControl.fieldset.values" [value]="option.value || option.Value">
            <div>
                {{ option.displayName || option.DisplayName }}
            </div>
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- <ng-container *ngIf="label =='Program Tag'">
<mat-form-field appearance="outline" *ngIf="datatype === 'COMBO' && metadataFieldFormControl?.fieldset?.show && !metadataFieldFormControl?.fieldset?.isUser" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControl]="metadataFieldFormControl" [(ngModel)]="selectedValue" #selectValue (selectionChange)="valueChange($event)" [required]="requiredField">
        <mat-option *ngFor="let option of metadataFieldFormControl.fieldset.values"[value]="option.value || option.Value">
            <div>
                {{ option.displayName || option.DisplayName }}
            </div>
        </mat-option>
    </mat-select>
</mat-form-field>
</ng-container> -->
<mat-form-field appearance="outline" *ngIf="datatype === 'COMBO' && metadataFieldFormControl?.fieldset?.show && metadataFieldFormControl?.fieldset?.isUser" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <input type="text" matInput [formControl]="metadataFieldFormControl" *ngIf="projectStatus" disabled>
    <mat-select [formControl]="metadataFieldFormControl" (selectionChange)="valueChange($event)" [required]="requiredField" *ngIf="!projectStatus">
        <mat-option *ngFor="let option of metadataFieldFormControl.fieldset.values" [value]="option.value">
            {{ option.displayName }}
        </mat-option>
    </mat-select>
</mat-form-field>
<!-- <mat-form-field appearance="outline" *ngIf="datatype === 'COMBO' && metadataFieldFormControl?.fieldset?.show && (!metadataFieldFormControl?.fieldset?.isUser)" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label>{{ label }}</mat-label>
    <input type="text" matInput [formControl]="metadataFieldFormControl" *ngIf="projectStatus" disabled>
    <mat-select [formControl]="metadataFieldFormControl" (selectionChange)="valueChange($event)" [required]="requiredField" *ngIf="!projectStatus">
        <mat-option *ngFor="let option of abc" [value]="option.value">
            {{ option.DisplayName }}
        </mat-option>
    </mat-select>
</mat-form-field> -->
<div class="radio-buttons" *ngIf="datatype === 'BOOLEAN' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
    <mat-label class="radio-row-gap">{{ label }}</mat-label>
    <mat-radio-group [formControl]="metadataFieldFormControl" (change)="valueChange($event)">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName }}</mat-radio-button>
    </mat-radio-group>
</div>
<div class="head-content" *ngIf="datatype === 'LABEL' && metadataFieldFormControl?.fieldset?.show">
    <div *ngIf="fieldType === 'string' || fieldType === 'Number'" class="display-name" matTooltip="{{ label }}" matTooltipPosition="above">
        {{ label }}
    </div>
    <!-- [ngClass]="{'hide-ellipses': requestOverviewEllipses[i]?.ellipses}"-->

    <!-- <div class="display-value" *ngIf="datatype !== 'dateTime' && datatype !== 'boolean'"
       (click)="showEllipses('RequestOverview',0)">{{metadataFieldFormControl?.value}}</div>   <div *ngIf="datatype === 'boolean'" 
        class="display-value" [ngClass]="{'hide-ellipses': ''}" 
        (click)="showEllipses('RequestOverview',0)">{{metadataFieldFormControl?.Value}}</div> -->
    <!--*ngIf="(fieldType === 'string')|| (fieldType === 'Number')"-->
    <div *ngIf="fieldType === 'Number'" matTooltip="{{ getFormControlValue(metadataFieldFormControl?.value) }}" class="display-value" [ngClass]="{ 'hide-ellipses': showEllipsesValue }" (click)="showEllipses()">
        {{ metadataFieldFormControl?.value }}
    </div>
    <div *ngIf="fieldType === 'string'" matTooltip="{{ getFormControlValue(metadataFieldFormControl?.value) }}" class="display-value" [ngClass]="{ 'hide-ellipses': showEllipsesValue }" (click)="showEllipses()">
        {{ getFormControlValue(metadataFieldFormControl?.value) }}
    </div>
    <div class="radio-buttons" *ngIf="fieldType === 'BOOLEAN' && metadataFieldFormControl?.fieldset?.show" matTooltip="{{ label }}" matTooltipPosition="above">
        <mat-label class="radio-row-gap">{{ label }}</mat-label>
        <mat-radio-group [formControl]="metadataFieldFormControl">
            <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName }}</mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<!-- <mat-form-field appearance="outline" *ngIf="datatype === 'DATE'">
    <mat-label>{{label}}</mat-label>
    <input matInput placeholder="{{label}}" aria-label="label"  [matDatepicker]="date"
        (dateChange)="valueChange($event)" [formControl]="metadataFieldFormControl" [required]="requiredField" >
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
    <mat-hint align="end"
        *ngIf="metadataFieldFormControl.errors && metadataFieldFormControl.errors.matDatepickerParse && metadataFieldFormControl.errors.matDatepickerParse.text">
        Input a valid date!</mat-hint>
</mat-form-field> -->