mat-form-field {
    width: 100%;

    mat-hint {
        color: red;
    }
}
.radio-buttons{
    display: grid;
    position: relative;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.radio-row-gap{
    display: block;
    margin-bottom: 16px;
    color: var(--brand-color) !important;
}

.week-picker{
    position: absolute;
    z-index: 999;
    top: 74px;
}

.wp-select {
    display: flex;
    margin-top: -10px;
    width:100%;
}

.week-picker-container{
    position: relative;
    display: grid;
}

.display-name{
    color: var(--brand-color) !important;
    margin-bottom: 16px;
}
.display-value{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.hide-ellipses{
    white-space: initial;//break-spaces;
}

.background-color{
    background-color: rgb(106, 22, 22);
}
.background-color1{
    background-color: #083b02;
}
.background-color2{
    background-color: #f47505;
}
  
// .label-width{
//     display: block;
//     width: 100%;
//     max-width: 70%;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
// }

// ::ng-deep .week-field{
//     // padding-right: 40px;
//     display: flex;
//     justify-content: space-between;
//     // width: 100%;
//     min-width: 100%;
//     // margin-top: ;
// }