<!--<mpm-task-layout [taskConfig]="taskConfig" [searchConditionList]="searchConditionList"
    (notificationHandler)="notificationHandler($event)" (loadingHandler)="loadingHandler($event)"
    (createNewTaskHandler)="createNewTask($event)" (editTaskHandler)="editTask($event)"
    (taskDetailsHandler)="openTaskDetails($event)"></mpm-task-layout>-->
<!-- <app-task-layout [taskConfig]="taskConfig"></app-task-layout> -->
<app-npd-task-layout [taskConfig]="taskConfig"></app-npd-task-layout>