<app-swim-lane *ngIf="!taskConfig.isTaskListView" [taskConfig]="taskConfig" (editTaskHandler)="editTask($event)" (taskDetailsHandler)="openTaskDetails($event)" (customWorkflowHandler)="openCustomWorkflow($event)" (refreshSwimLine)="refreshSwimLine($event)">
</app-swim-lane>
<!-- <app-task-list-view *ngIf="taskConfig.isTaskListView" [taskConfig]="taskConfig" [displayableFields]="displayableFields"
    (taskDetailsHandler)="openTaskDetails($event)" (editTaskHandler)="editTask($event)"
    (sortChange)="onSortChange($event)" (customWorkflowHandler)="openCustomWorkflow($event)"
    (refreshTaskListData)="refreshTaskList($event)" (orderedDisplayableFields)="getOrderedDisplayableFields($event)"
    (resizeDisplayableFields)="resizingDisplayableFields()">
</app-task-list-view> -->
<app-npd-task-list-view *ngIf="taskConfig.isTaskListView" [taskConfig]="taskConfig" [displayableFields]="displayableFields" (taskDetailsHandler)="openTaskDetails($event)" (editTaskHandler)="editTask($event)" (sortChange)="onSortChange($event)" (customWorkflowHandler)="openCustomWorkflow($event)"
    (refreshTaskListData)="refreshTaskList($event)" (orderedDisplayableFields)="getOrderedDisplayableFields($event)" (resizeDisplayableFields)="resizingDisplayableFields()">
</app-npd-task-list-view>