.acron-file-upload-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .qds-thumbnail-note {
        font-size: small;
        color: #f44336;
    }

    .existing-file-holder {
        margin-right: -4px;
    }
}

.acron-file-upload-action,
.acron-file-upload-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.actions-align {
    width: 100%;
    align-items: baseline;
}

.acron-file-upload-wrapper {
    padding: 0;
    margin: 0 0 16px 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 2px dashed;

    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.file-items-holder {
    width: 100%;
    height: 100%;
}

.mat-preview-size {
    font-size: 40px;
    padding-right: 15px;
}

.file-icon img {
    height: 40px;
    width: 40px;
}

.card-file-contents,
.file-details,
.file-actions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.file-details,
.file-actions {
    flex-grow: 1;
}

.file-details {
    margin: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;

    &.name {
        width: 25em;
    }

    &.size {
        width: 5em;
    }

    &.type {
        width: 10em;
    }
}

.file-actions .action,
.acron-file-upload-action .actions-holder {
    margin-left: auto;
}

.acron-file-upload-action .actions-holder .actions {
    margin: 10px;
}

.card-file-contents {
    align-items: center;
}