<div class="acron-file-upload-container">
    <div class="acron-file-upload-action">
        <div class="flex-row actions-align">
            <div class="flex-item">
                <mat-chip-list matTooltip="No. of Files Selected">
                    <mat-chip *ngIf="selectedFiles.length">Selected ({{selectedFiles.length}}<span
                            *ngIf="this.maxFiles > 0">/{{this.maxFiles}}</span>)</mat-chip>
                </mat-chip-list>
            </div>
            <div class="actions-holder flex-item">
                <button mat-raised-button class="actions" *ngIf="selectedFiles.length > 1" (click)="removeAll()"
                    matTooltip="Click here to remove all selected files">Remove All</button>
                <button mat-raised-button class="actions" (click)="isQDSUpload ? openQDSFileChooser() : fileBtn.click()"
                    matTooltip="Click here to select Files">Select
                    Files</button>
                <input mat-raised-button class="actions" #fileBtn type="file" multiple
                    (change)="onFileSelectionChange($event)" style="display: none;" />
            </div>
        </div>
    </div>
    <div class="qds-thumbnail-note" *ngIf="isQDSUpload">
        <span>Note: Thumbnail preview will be shown only for first 10 image files for each selection.</span>
    </div>
    <div class="existing-file-holder" *ngIf="isRevisionUpload && fileToRevision">
        <div class="file-items-holder">
            <mat-card>
                <div class="card-file-contents">
                    <div class="file-icon" matTooltip="Preview">
                        <img src="{{otmmBaseUrl + fileToRevision.url}}" *ngIf="fileToRevision.url" />
                        <mat-icon *ngIf="fileToRevision.icon">{{fileToRevision.icon}}</mat-icon>
                    </div>
                    <div class="file-details name">
                        <span class="file-info"
                            matTooltip="{{renameFileName(fileToRevision.name)}}">{{renameFileName(fileToRevision.name)}}</span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="acron-file-upload-wrapper" (click)="isQDSUpload ? openQDSFileChooser() : fileBtn.click()">
        <div class="file-items-holder" *ngIf="selectedFiles.length > 0">
            <mat-card *ngFor="let file of selectedFiles">
                <div class="card-file-contents">
                    <div class="file-icon" matTooltip="Preview">
                        <img *ngIf="file.url && getTypeOf(file.url) !== 'object'" src="{{file.url}}" />
                        <mat-icon class="mat-preview-size"
                            *ngIf="file.icon && !(file.url || getTypeOf(file.url) === 'object')">{{file.icon}}
                        </mat-icon>
                    </div>
                    <div class="file-details name">
                        <span class="file-info"
                            matTooltip="File Name: {{renameFileName(file.name)}}">{{renameFileName(file.name)}}</span>
                    </div>
                    <div class="file-details size">
                        <span class="file-info"
                            matTooltip="File Size: {{formatBytes(file.size)}}">{{formatBytes(file.size)}}</span>
                    </div>
                    <div class="file-details type">
                        <span class="file-info" matTooltip="File Type: {{file.type}}">{{file.type}}</span>
                    </div>
                    <div class="file-actions">
                        <a class="action" mat-icon-button matTooltip="Click here to remove this file">
                            <mat-icon class="action" (click)="removeFile(file, selectedFiles.indexOf(file), $event)">
                                cancel</mat-icon>
                        </a>
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="!selectedFiles.length">
            <p>Click or Drag and Drop Files here to upload</p>
        </div>
    </div>
</div>