<div class="sp-header">
    <form *ngIf="showSecondaryPackagingForm" [formGroup]="dynamicSecondaryPackagingForm">
        <div class="radio-buttons" matTooltip="SP Scoped?" matTooltipPosition="above">
        <mat-label class="radio-row-gap">SP Scoped?</mat-label>
           <mat-radio-group formControlName="spScoped" aria-labelledby="sp-scoped" (change)="updateSPScoped()">
        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{
          option.displayName}}</mat-radio-button>
      </mat-radio-group>
    
    </div>
        <mat-form-field class="field-width" appearance="outline" matTooltip="Number of pieces required" matTooltipPosition="above">
            <mat-label>Number of pieces required</mat-label>
            <input matInput formControlName="noOfPiecesRequired" />
            <mat-error>
                Exceeding more than 2000 characters
            </mat-error>
        </mat-form-field>
    </form>
    <button mat-stroked-button matTooltip="Add Secondary Packaging(s)" (click)="bulkCreateSP()" [disabled]="secondaryPackagingConfig?.addBtn?.disabled" color="primary">
    <mat-icon>add</mat-icon>Add
    </button>
    <button mat-stroked-button color="primary" matTooltip="Delete Secondary Packaging(s)" [disabled]="secondaryPackagingConfig?.deleteBtn?.disabled" class="sp-controls-button" (click)="bulkDeleteSP()"><!--*ngIf="marketScopeDataConfig.actions.ngIf" color="primary"-->
        <mat-icon>delete_outline</mat-icon>Delete
    </button>

</div>

<div class="governance-milestone-scope-table-container">
    <form *ngIf="showSecondaryPackagingForm" class="secondary-packaging-data-grid" [formGroup]="dynamicSecondaryPackagingForm">
        <ng-container formArrayName="secondaryPackaging">
            <mat-table #secondaryPackagingTable [dataSource]="secondaryPackagingFormArray.controls">
                <ng-container matColumnDef="select" *ngIf="secondaryPackagingConfig.required.ngIf">
                    <!--*ngIf="marketScopeDataConfig.harmonisedMarket.ngIf"-->
                    <mat-header-cell class="mrm-table-checkbox" *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [aria-label]="checkboxLabel()">
                            <!--[disabled]="marketScopeDataConfig.harmonisedMarket.disabled"-->
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let row;let i = index;">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            <!--[disabled]="marketScopeDataConfig.harmonisedMarket.disabled"-->
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="required" *ngIf="secondaryPackagingConfig.required.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Required?">
                        Required?
                    </mat-header-cell>
                    <!--  <mat-cell *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="required" (ngModelChange)="updateSPInfo('required',i,'')"/>
                                <mat-error>
                                    Exceeding more than 2000 characters
                                </mat-error>
                        </mat-form-field>
                    </mat-cell> -->
                    <!-- class="table-cell"-->
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="required" (ngModelChange)="updateSPInfo('required',i,'')" [disabled]="secondaryPackagingConfig.required.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="regsNeeded" *ngIf="secondaryPackagingConfig.regsNeeded.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Regs Needed?">
                        Regs Needed?
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="regsNeeded" (ngModelChange)="updateSPInfo('regsNeeded',i,'')" [disabled]="secondaryPackagingConfig.regsNeeded.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="packFormat" *ngIf="secondaryPackagingConfig.packFormat.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Pack Format">
                        Pack Format
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-select formControlName="packFormat" (ngModelChange)="updateSPRelationInfo('packFormat',i)" [disabled]="secondaryPackagingConfig.packFormat.disabled">
                                <mat-option *ngFor="let packFormat of packFormats" value="{{packFormat.value}}">
                                    {{ packFormat.displayName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container class="table-cell" matColumnDef="mpmJobNo" *ngIf="secondaryPackagingConfig.mpmJobNo.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="MPM Job No.">
                        MPM Job No.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="mpmJobNo" (ngModelChange)="updateSPInfo('mpmJobNo',i,'')" />
                            <!--  <input autocomplete="off" matInput
                                formControlName="comments">  *ngIf="secondaryPackagingFormArray &&secondaryPackagingFormArray.controls[i] && secondaryPackagingFormArray.controls[i].value && secondaryPackagingFormArray.controls[i].value.comments.hasError('maxlength')"-->
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container class="table-cell" matColumnDef="mpmGroup" *ngIf="secondaryPackagingConfig.mpmGroup.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="MPM Group">
                        MPM Group
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="mpmGroup" (ngModelChange)="updateSPInfo('mpmGroup',i,'')" />
                            <!--  <input autocomplete="off" matInput
                                formControlName="comments">  *ngIf="secondaryPackagingFormArray &&secondaryPackagingFormArray.controls[i] && secondaryPackagingFormArray.controls[i].value && secondaryPackagingFormArray.controls[i].value.comments.hasError('maxlength')"-->
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="printSupplier" *ngIf="secondaryPackagingConfig.printSupplier.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Print Supplier">
                        Print Supplier
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <mat-select formControlName="printSupplier" (ngModelChange)="updateSPRelationInfo('printSupplier',i)" [disabled]="secondaryPackagingConfig.printSupplier.disabled">
                                <mat-option *ngFor="let printSupplier of printSuppliers" value="{{printSupplier.value}}">
                                    {{ printSupplier.displayName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="approvedDieLineAvailable" *ngIf="secondaryPackagingConfig.approvedDieLineAvailable.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Approved die-line available?">
                        Approved die-line available?
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="approvedDieLineAvailable" (ngModelChange)="updateSPInfo('approvedDieLineAvailable',i,'')" [disabled]="secondaryPackagingConfig.approvedDieLineAvailable.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="itemNumber" *ngIf="secondaryPackagingConfig.itemNumber.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Item Number">
                        Item Number
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="itemNumber" (ngModelChange)="updateSPInfo('itemNumber',i,'')" />
                            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'itemNumber')">
                                Enter only numbers
                            </mat-error>
                            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'itemNumber')">
                                Exceeding more than 64 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="colourApproval" *ngIf="secondaryPackagingConfig.colourApproval.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Colour approval">
                        Colour approval
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="colourApproval" (ngModelChange)="updateSPInfo('colourApproval',i,'')" />
                            <!--  <input autocomplete="off" matInput
                                formControlName="comments">  *ngIf="secondaryPackagingFormArray &&secondaryPackagingFormArray.controls[i] && secondaryPackagingFormArray.controls[i].value && secondaryPackagingFormArray.controls[i].value.comments.hasError('maxlength')"-->
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="invoiceApproved" *ngIf="secondaryPackagingConfig.invoiceApproved.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Invoice Approved">
                        Invoice Approved
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="invoiceApproved" (ngModelChange)="updateSPInfo('invoiceApproved',i,'')" />
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="statusComments" *ngIf="secondaryPackagingConfig.statusComments.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip=" Status Comments">
                        Status Comments
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <textarea matInput formControlName="statusComments" (ngModelChange)="updateSPInfo('statusComments',i,'')"></textarea>
                            <mat-error>
                                Exceeding more than 2000 characters
                            </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateDevelopmentCompleted" *ngIf="secondaryPackagingConfig.dateDevelopmentCompleted.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip=" Date Development Completed">
                        Date Development Completed
                        <!-- <div> (if not regulatory driven) [Secondary Packaging 1]</div> -->
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input autocomplete="off" matInput [matDatepicker]="dateDevelopmentCompleted" datePickerFormat="DD-MM-YYYY" [disabled]="checkDisability('regsNeeded',i,'')" formControlName="dateDevelopmentCompleted" (ngModelChange)="updateSPInfo('dateDevelopmentCompleted',i,'')">
                            <mat-datepicker-toggle matSuffix [for]="dateDevelopmentCompleted"></mat-datepicker-toggle>
                            <mat-datepicker #dateDevelopmentCompleted></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateProofingCompleted" *ngIf="secondaryPackagingConfig.dateProofingCompleted.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip=" Date Proofing Completed">
                        Date Proofing Completed
                        <!-- <div>
                            [Secondary Packaging 1]
                        </div> -->
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input autocomplete="off" matInput [matDatepicker]="dateProofingCompleted" datePickerFormat="DD-MM-YYYY" [disabled]="secondaryPackagingConfig.dateProofingCompleted.disabled" formControlName="dateProofingCompleted" (ngModelChange)="updateSPInfo('dateProofingCompleted',i,'')">
                            <mat-datepicker-toggle matSuffix [for]="dateProofingCompleted"></mat-datepicker-toggle>
                            <mat-datepicker #dateProofingCompleted></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <!-- *ngIf="marketScopeDataConfig.actions.ngIf"-->
                    <mat-header-cell *matHeaderCellDef matTooltip="Actions" matTooltipPosition="above"> Actions </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element; let i = index;" [formGroup]="element">
                        <button mat-icon-button matTooltip="Delete" class="market-scope-controls-button" (click)="deleteSecondaryPackagingGroup(i)" [disabled]="secondaryPackagingConfig?.deleteBtn?.disabled"><!-- [disabled]="marketScopeDataConfig.actions.disabled"-->
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="spGridColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: spGridColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </form>
    <!-- Governance Milestone data table -->
    <p class="secondary-packaging-info" *ngIf="showSecondaryPackagingForm && secondaryPackagingFormArray.controls.length === 0">No Secondary Packaging(s) available</p>
    <p class="secondary-packaging-info" *ngIf="!showSecondaryPackagingForm && loadingSecondaryPackaging">
        Loading....</p>
</div>



<!--                 <ng-container matColumnDef="targetStartDate"  *ngIf="secondaryPackagingConfig.targetStartDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Target Start Date">
                        Target Start Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <input autocomplete="off" matInput [matDatepicker]="targetStartDate" datePickerFormat="DD-MM-YYYY"
                            [disabled]="secondaryPackagingConfig.targetStartDate.disabled"  formControlName="targetStartDate">
                            <mat-datepicker-toggle matSuffix [for]="targetStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #targetStartDate></mat-datepicker>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="decisionDate" *ngIf="secondaryPackagingConfig.decisionDate.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Decision Date">
                        Decision Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element"
                        class="due-date-cell">
                    <mat-form-field class="field-width" appearance="outline">
                        <input autocomplete="off" matInput [matDatepicker]="decisionDate" datePickerFormat="DD-MM-YYYY"
                            formControlName="decisionDate" [disabled]="secondaryPackagingConfig.decisionDate.disabled">
                        <mat-datepicker-toggle matSuffix [for]="decisionDate"></mat-datepicker-toggle>
                        <mat-datepicker #decisionDate></mat-datepicker>
                    </mat-form-field> 
                    </mat-cell>
                </ng-container> 
            
                <ng-container matColumnDef="decision" *ngIf="secondaryPackagingConfig.decision.ngIf">
                    <mat-header-cell *matHeaderCellDef matTooltip="Decision">
                        Decision
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" 
                        class="due-date-cell">
                        <mat-form-field class="field-width" appearance="outline">
                                <mat-select formControlName="decision"
                                        [disabled]="secondaryPackagingConfig.decision.disabled">
                                        <mat-option *ngFor="let decision of decisions" value="{{decision.value}}">
                                            {{ decision.displayName }}
                                        </mat-option>
                                        
                                    </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>-->