:host{
  display: block;
  //padding-bottom: 28px;
  padding-bottom: 54px;
}

.main-child-header{
    padding-bottom: 24px;
    font-size: 18px;
}

.deliverables-container{
    box-shadow: 0px 0px 3px #b8b8b8;
}

.field-width{
    width: 90%;
  }
  
  .error-field{
    font-size: 75%;
  }
  
  .table-cell{
    display: block;
  }

  .astric{
    color: #ff0e19;
  }