<div class="main-child-header">
    Deliverables Vs Thresholds
</div>

<form class="deliverables-container"
[formGroup]="deliverablesForm">
<ng-container formArrayName="deliverablesRow">
    <mat-table #stagesScopeTable [dataSource]="deliverablesRowFormArray.controls">
        <ng-container matColumnDef="threshold" *ngIf="deliverableThresholdDataConfig.threshold.ngIf">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">
                <mat-label>{{dataSource[i].threshold}}</mat-label>
            </mat-cell>
        </ng-container> 
       
        <ng-container matColumnDef="nSVPerCase" *ngIf="deliverableThresholdDataConfig.nSVPerCase.ngIf">
            <mat-header-cell *matHeaderCellDef matTooltip="NSV Per Case">
                NSV Per Case
            </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">
                <mat-label>{{dataSource[i].nSVPerCase}}</mat-label>
            </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="gM" *ngIf="deliverableThresholdDataConfig.gM.ngIf">
            <mat-header-cell *matHeaderCellDef matTooltip="GM%">
                GM%
            </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index"
               ><mat-label>{{dataSource[i].gM}}</mat-label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cogs" *ngIf="deliverableThresholdDataConfig.cogs.ngIf">
            <mat-header-cell *matHeaderCellDef matTooltip="COG'S">
                COG'S
            </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index" 
               ><mat-label>{{dataSource[i].cogs}}</mat-label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="volume" *ngIf="deliverableThresholdDataConfig.volume.ngIf">
            <mat-header-cell *matHeaderCellDef matTooltip="Volume">
                <span>
                    Volume
                    <span class="astric">*</span>
                </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index" [ngClass]="{'table-cell': i !== 0}" [formGroup]="element"
           >
               <ng-container *ngIf="i === 0">
                   <mat-label>{{dataSource[i].volume}}</mat-label>
               </ng-container>
               <ng-container *ngIf="i !== 0">
                    <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                        <input type="text" (ngModelChange)="updateRequestInfo('volume','deliverablesRowFormArray',i)"
                        [disabled]="deliverableThresholdDataConfig.volume.disabled" formControlName="volume" matInput required autocomplete="off">
                    </mat-form-field>
                    <mat-error class="error-field" *ngIf="isErrorValid(i,'volume')">
                        fill in Volume
                    </mat-error>
                    <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'volume')">
                        Enter only numbers
                    </mat-error>
                    <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'volume')">
                        Exceeding more than 64 characters
                    </mat-error>
               </ng-container>
            </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="ros" *ngIf="deliverableThresholdDataConfig.ros.ngIf">
            <mat-header-cell *matHeaderCellDef matTooltip="ROS">
                <span>
                    ROS
                    <span class="astric">*</span>
                </span>
            </mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element" 
                >
                <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                    <input type="text" 
                    [disabled]="deliverableThresholdDataConfig.ros.disabled"
                    (ngModelChange)="updateRequestInfo('ros','deliverablesRowFormArray',i)" formControlName="ros" matInput required autocomplete="off">
                </mat-form-field>
                <ng-container *ngIf="i == 1 ? false: true">
                    <mat-error  class="error-field" *ngIf="isErrorValid(i,'ros')">
                        fill in ROS
                    </mat-error>
                    <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'ros')">
                        Enter only numbers
                    </mat-error>
                    <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'ros')">
                        Exceeding more than 64 characters
                    </mat-error>
                </ng-container>
            </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="distribution" *ngIf="deliverableThresholdDataConfig.distribution.ngIf">
            <mat-header-cell *matHeaderCellDef matTooltip="Distribution">
                <span>
                    Distribution%
                    <span class="astric">*</span>
                </span>
            </mat-header-cell>
            <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element" 
               >
               <mat-form-field class="field-width" appearance="outline" floatLabel="never">
                <input type="text" (ngModelChange)="updateRequestInfo('distribution','deliverablesRowFormArray',i)"
                [disabled]="deliverableThresholdDataConfig.distribution.disabled" formControlName="distribution" matInput required autocomplete="off">
            </mat-form-field>
            <mat-error class="error-field" *ngIf="isErrorValid(i,'distribution')">
                fill in Distribution
            </mat-error>
            <mat-error class="error-field" *ngIf="isErrorPatternValid(i,'distribution')">
                Enter only numbers
            </mat-error>
            <mat-error class="error-field" *ngIf="isErrorMaxLength(i,'distribution')">
                Exceeding more than 64 characters
            </mat-error>
            </mat-cell>
        </ng-container> 
        <mat-header-row *matHeaderRowDef="dGridColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: dGridColumns;"></mat-row>
    </mat-table>
</ng-container>
</form>