<form [formGroup]="commentFormGroup">
    <div class="flex-row" *ngIf="parentComment">
        <div class="flex-row-item flex-10">
            <div class="parent-comment">
                <npd-comments-message [commentData]="parentComment" [isReply]="false"
                    (replyToComment)="removeParentComment($event)" [userListData]="userListData">
                </npd-comments-message>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-row-item flex-10">
            <mat-form-field appearance="outline" class="text-comment-area">
                <div class="text-container">
                    <textarea matInput placeholder="Type a Comment" aria-label="label" (ngModelChange)="onCommentChange($event)"
                        (keydown.shift.@)="tagUserForComment($event)" formControlName="commentText" rows="3"
                        [matAutocomplete]="userList">
                    </textarea>
                    <mat-autocomplete #userList="matAutocomplete" matAutocompletePosition="above"
                        autoActiveFirstOption="true" (optionSelected)="onOptionSelected($event)"
                        [displayWith]="displayFunction">
                        <mat-option *ngFor="let userData of filterUserListData | async" [value]="userData">
                            <span>{{userData.displayName}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <button color="primary" mat-icon-button matSuffix (click)="createNewComment($event)"
                        class="text-comment-area-btn" [disabled]="disableSendIcon">
                        <mat-icon matTooltip="Send comments">send</mat-icon>
                    </button>
                </div>
                <mat-hint align="start" *ngIf="commentFormGroup.get('commentText').hasError('maxlength')">Comment
                    can be maximum 2000 characters long. </mat-hint>
            </mat-form-field>
        </div>
    </div>
</form>