.overview-content {
    padding: 0px 20px;
}

.flex-row-item {
    margin: 0 15px;
    font-size: 14px;
    margin-top: 0.666667em;

    div.approval-section-holder {
        padding-bottom: 1.34375em;
    }

    section.approval-task-check {
        margin-right: 90px;
    }
}

#button-action-sp{
    margin-bottom: 5px;
}


.project-overview-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
    width: 50vw;
}

.modal-close {
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
}

mat-dialog-actions button {
    margin: 10px;
}

.task-owner-task-count {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    margin-top: -16px;

    mat-label {
        color: green;
    }
}

#task-save-option {
    margin: 0px;
    padding: 0px;
    min-width: 32px;
    border-radius: 0 4px 4px 0;
}

#task-save-btn {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
    margin-left: 15px;
}

.form-actions {
    margin-left: auto;
}

mat-form-field {
    width: 100%;
}

.form-group-panel {
    background: transparent;

    ::ng-deep mpm-custom-metadata-field {
        width: 100%;
    }

    ::ng-deep .mat-expansion-panel-header {
        padding: 0 4px;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0 16px 16px 0;
    }
}
.full-width {	
    width: 100%;	
}	
/* .email-chip {	
    padding: 8px 4px 8px 8px !important;	
    min-height: 24px;	
    font-size: 12px;	
    overflow: hidden;	
    .email-value {	
        text-overflow: ellipsis;	
        overflow: hidden;	
        max-width: 290px;	
        white-space: nowrap;	
    }	
}	
.email-chip-input {	
    min-height: 24px;	
}
*/

.duration-type-container {
    position: absolute;
    right: 0;
    width: 25%;
}

.duration-container{
    position: relative;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
}
