.comment-container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    // position: absolute;
    max-height: 83vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1em auto;
    padding-bottom: 0;

    .width-80 {
        width: 80%;
    }

    .comment-index-container-flex {
        width: 20%;
    }

    .comment-layout-container,
    .comment-index-container {
        flex: 1;
        margin: 10px 10px 0px 10px;
        padding-bottom: 0;
        top: 8px;
    }


    .comment-index-container {
        margin-left: 0 !important;
        max-height: 81vh;
        overflow-y: auto;
    }

    .comment-title {
        text-align: center;
        font-size: 20px;
        //  display: block;
        display: flex;
        margin-bottom: 8px;
        font-weight: 500;
        position: relative;
    }



   .approver-view {
        //position: absolute;
        right: 0;
        //margin-right : 20px;

        .mat-icon-toggle-btn {
            position: absolute;
            top: 0px;
            right: 2em;
        }

        .mat-icon-refresh-btn {
            cursor: pointer;
            float: right;
            margin-left: 20px;
            display: grid;
            align-content: center;
            height: 64.5px;
        }

        /*    mat-icon {
            color: #c0ca33;
        } */
    }
}

/* .custom-tooltip {
    max-width: 100rem !important;;
    max-height: 20px;
    text-overflow: unset !important;
    white-space: nowrap;
} 
.comment-title > div {
    width: 60%;
}
*/


.flex-spacer {
    display: flex;
    flex-grow: 5;
}

.mat-card-container {
    border: solid 2px !important;
    border-color: var(--highlight-hover-color) !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
}