<div class="comment-container">
    <div class="flex-row" *ngIf="commentsConfig">
        <div class="flex-row-item width-80">
            <mat-card class="comment-layout-container mat-card-container">
                
                <div class="flex-row" matTooltip="{{titleValue}}" matTooltipClass="custom-tooltip">
                    <div class="flex-row-item align-flex-items-center flex-start">{{titleValue}}</div>
                    <span class="flex-spacer"></span>
                    <div class="flex-row-item flex-end approver-view">
                        <div *ngIf="showGroupFilter">
                            <mat-form-field appearance="outline" floatLabel="never">
                                <mat-label>Group By</mat-label>
                                <mat-select [(ngModel)]="selectedGroupFilter" (ngModelChange)="onGroupFilterChange($event)">
                                    <mat-option class="options" *ngFor="let filter of filters" value="{{filter.value}}">
                                        {{filter.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mat-icon-refresh-btn" matTooltip="Refresh Comments"
                            (click)="refreshComments($event)">
                            <mat-icon>refresh</mat-icon>
                        </div>
                    </div>
                </div>
               
                <mat-card-content class="comment-layout-container-scroll">
                    <npd-comments-layout [commentDataList]="commentsConfig.commentList"
                        [pageDetails]="commentsConfig.pageDetails" (creatingNewComment)="onCreatingNewComment($event)"
                        (loadingMoreComments)="onLoadingMoreComments($event)" [isScrollDown]="isScrollDown"
                        [userListData]="userListData" [isReadonly]="isReadonly" [enableToComment]="enableToComment">
                    </npd-comments-layout>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<!--  <mat-card-title class="comment-title" matTooltip="{{titleValue}}" matTooltipClass="custom-tooltip">
                    <div>{{titleValue}}</div>
                    <div class="approver-view">
                        <div class="mat-icon-refresh-btn" matTooltip="Refresh Comments"
                            (click)="refreshComments($event)">
                            <mat-icon>refresh</mat-icon>
                        </div>
                    </div>
                </mat-card-title>

                <mat-card-title class="flex-row" matTooltip="{{titleValue}}" matTooltipClass="custom-tooltip">
                    <div class="flex-row-item align-flex-items-center flex-start">{{titleValue}}</div>
                    <span class="flex-spacer"></span>
                    <div class="flex-row-item flex-end approver-view">
                        <div>
                            <mat-form-field appearance="outline" floatLabel="never">
                                <mat-label>Group By</mat-label>
                                <mat-select>
                                    <mat-option class="options" *ngFor="let filter of filters" value="{{filter.value}}">
                                        {{filter.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mat-icon-refresh-btn" matTooltip="Refresh Comments"
                            (click)="refreshComments($event)">
                            <mat-icon>refresh</mat-icon>
                        </div>
                    </div>
                </mat-card-title> -->




                