.close-action {
    float: right;
    cursor: pointer;
}

.no-asset-found {
    text-align: center;
    font-weight: bold;
}

.assets-wrapper {
    height: calc(100% - 106px);
    width: 100%;
    padding: 0.5rem;
    position: relative;
    outline: none;
    display: flex;
    flex-flow: column;
    flex: 1 0 0px;
    overflow-x: hidden;
    overflow-y: auto;

    .assets {
        display: flex;
        flex-wrap: wrap;
        margin: -0.5rem;
        position: relative;
    }

    mpm-asset-card {
        min-width: 230px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
    }
}

.close-button {
   background-color: lightgray;
}