<h2 mat-dialog-title>Asset Versions ({{assets ? assets.length : 0}})
    <mat-icon class="close-action" (click)="close()">close</mat-icon>
</h2>

<mat-dialog-content>
    <div class="assets-wrapper">
        <div class="assets" *ngIf="assets && assets.length > 0">
            <mpm-asset-card *ngFor="let asset of assets" [asset]="asset" [isVersion]="true"
                (shareAssetsCallbackHandler)="shareAsset($event)"></mpm-asset-card>
        </div>
    </div>
    <div class="no-asset-found" *ngIf="assets && assets.length == 0">No asset versions to display!</div>
</mat-dialog-content>

<mat-dialog-actions class="close-action">
    <button class="close-button" mat-flat-button (click)="close()">Close</button>
</mat-dialog-actions>