.metadataList {
    .metadata-element {
        font-weight: bold;
    }

    mat-list {
        display: flex;
        flex-wrap: wrap;

        mat-list-item {
            flex: 0 50%;
        }
    }
}

.asset-detail {
    height: auto !important;
}