<div class="metadataList" *ngFor="let metadata of data.displayableMetadataFields">
    <span class="metadata-element">{{metadata.MetadataFieldGroup}}</span>
    <mat-list role="list">
        <mat-list-item class="asset-detail" role="listitem" *ngFor="let element of metadata.MetadataFields">
            <mat-label class="property-name asset-detail-title card-text-title">
                {{element.name}}:
            </mat-label>
            <mat-label class="card-text-value">
                {{(element.value) ? element.value : 'NA'}}
            </mat-label>
        </mat-list-item>
    </mat-list>
</div>
<div class="metadataList" *ngFor="let inheritedMetadata of data.displayableInheritedMetadataFields">
    <span class="metadata-element">{{inheritedMetadata.MetadataFieldGroup}}</span>
    <mat-list role="list">
        <mat-list-item class="asset-detail" role="listitem" *ngFor="let element of inheritedMetadata.MetadataFields">
            <mat-label class="property-name asset-detail-title card-text-title">
                {{element.metadata_element.name}}:
            </mat-label>&nbsp;
            <mat-label class="card-text-value">
                {{(element.metadata_element.value) && (element.metadata_element.value.value) ? element.metadata_element.value.value.value : 'NA'}}
            </mat-label>
        </mat-list-item>
    </mat-list>
</div>