<h2 mat-dialog-title>Asset Details
    <mat-icon class="close-action" matTooltip="Close" (click)="close()">close</mat-icon>
</h2>

<mat-dialog-content>
    <app-asset-details-view [asset]="asset"></app-asset-details-view>
</mat-dialog-content>

<mat-dialog-actions class="close-action">
    <button class="close-button" mat-flat-button (click)="close()">Close</button>
</mat-dialog-actions>