.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    a {
        font-weight: 400;
        color: #000;
    }

   /*  a.active {
        color: #c0ca33;
    } */
}