<div class="menu-list" *ngIf="menus && menus.length">
    <a class="menu-link" mat-button *ngFor="let menu of menus" [class.active]="menu.ACTIVE"
        (click)="onMenuClick(menu)">{{menu.DISPLAY_NAME}}</a>
</div>