<div class="container-scrollable" [style.height.px]="drag">
    <div *ngFor="let projectRowData of projectData; let i = index">
        <div class="row-container">
            <div class="first-header" [scrollLeft]="scrollLeftQuad1" #row (click)="expandProject(projectRowData,i)"
                resizable [ngStyle]="{'width': resizeWidth }">

                <mat-checkbox (click)="$event.stopPropagation()" class="flex-center-checkbox"
                    [(ngModel)]="projectRowData.selected" [checked]="selection.isSelected(projectRowData)"
                    (change)="$event ? checkRow(projectRowData,$event) : null">
                </mat-checkbox>

                <ng-container *ngFor="let column of mainHeadercolumnsToDisplay; let k = index">
                    <div class="project-name-box project-id-field" [ngClass]="{'freeze':k < 3}"
                        [style.left.px]="[ 150 * k ]" [ngStyle]="{'min-width': resizeInnerWidth[k] }">
                        <ng-container *ngIf="k == 0">
                            <mat-icon class="expand-icon" *ngIf="showExpandIcon(projectRowData)">
                                {{projectRowData.isExpand ? 'arrow_drop_down':'keyboard_arrow_right'}}
                            </mat-icon>
                        </ng-container>
                        <ng-container *ngIf="column.MAPPER_NAME!== 'TASK_ADJUSTMENT_POINT' && !checkDateType(column)">
                            <div class="text-overflow"
                                matTooltip="{{projectRowData | ProjectTaskDetailPipe: column: false}}">
                                {{projectRowData | ProjectTaskDetailPipe: column: false}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="checkDateType(column)">
                            <div class="text-overflow"
                                matTooltip="{{projectRowData | ProjectTaskDetailPipe: column: false}}">
                                {{projectRowData | ProjectTaskDetailPipe: column: true}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="column.MAPPER_NAME == 'TASK_ADJUSTMENT_POINT'">
                            <span *ngIf="!projectRowData.edit"> {{projectRowData | ProjectTaskDetailPipe: column:
                                false}}
                                <mat-icon matTooltip="Edit Task Adjustment Point" class="edit-icon"
                                    (click)="projectRowData.edit = !projectRowData.edit">edit</mat-icon>
                            </span>
                            <span *ngIf="projectRowData.edit">
                                <mat-form-field class="mrm-joborder-name-form-input field-width">
                                    <div class="task-adjustment-point">
                                        <input matInput type="text" [(ngModel)]="projectRowData.editTaskAdjustmentPoint"
                                            (blur)="updateTaskAdjustmentPoint(projectRowData,projectRowData.editTaskAdjustmentPoint)"
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                </mat-form-field>
                            </span>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div class="painted-proj-container" [ngStyle]="{'width.px': getWidthOfHead(headOffsetWidth) }"
                [scrollLeft]="scrollLeftQuad2"
                (click)="expandProject(projectRowData,i); editcurrentTask(projectRowData)">
                <div class="painted-proj-flex">
                    <ng-container *ngIf="selectedGroupByFilter == 'GROUP_BY_PROJECT'">
                        <ng-container *ngFor="let part of projectRowData?.taskPaintedData">
                            <ng-container *ngIf="getData(part) == 1">
                                <div class="empty-project" [ngStyle]="{'width': getRowLength(part.rowLength)}">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="getData(part) == 2">
                                <div class="painted-proj"
                                    [ngStyle]="{'width': getRowLength(part.rowLength),'background-color': part?.changeColor ? '#ff9438' : '', border: part?.changeColor ? 0 : '1px solid', 'justify-content': getWidthAdj(getRowLength(part.rowLength),part?.taskName) ? 'flex-start' : 'center','padding-left': getWidthAdj(getRowLength(part.rowLength),part?.taskName) ? '4px' : '0' }"
                                    [ngClass]="changeTaskBarColor(taskBarNameStatus(calendarData[i]))"
                                    matTooltip="{{part?.changeColor ? '' : part?.taskName}}">
                                    <span class="text-area-ellipses">
                                        {{ part?.changeColor ? '' : part?.taskName}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!(selectedGroupByFilter == 'GROUP_BY_PROJECT')">
                        <ng-container *ngFor="let seg of projectRowData?.taskPaintedData">
                            <ng-container *ngIf="getData(seg) == 1">
                                <div class="empty-project " [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                </div>
                            </ng-container>
                            <ng-container *ngIf="getData(seg) == 2">
                                <div class="painted-proj"
                                    [ngStyle]="{'width': getRowLength(seg.rowLength),'justify-content': getWidthAdj(getRowLength(seg.rowLength),taskBarName(calendarData[i])) ? 'flex-start' : 'center'}"
                                    [ngClass]="changeTaskBarColor(calendarData[i].TASK_STATUS_VALUE)"
                                    matTooltip="{{taskBarName(calendarData[i])}}">
                                    <span class="text-area-ellipses">
                                        {{taskBarName(calendarData[i])}}
                                    </span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="projectRowData.show">
            <div class="row-container">
                <div class="task-header-container" [scrollLeft]="scrollLeftQuad1" resizable
                    [ngStyle]="{'width': resizeWidth }">
                    <ng-container *ngFor="let column of subLevelHeadercolumnsToDisplay; let i = index">
                        <div class="flex-center project-id-field column-header"
                            [ngClass]="{ 'project-name-box': i == 0}" matTooltip="{{column.DISPLAY_NAME}}">
                            {{column.DISPLAY_NAME}}
                        </div>
                    </ng-container>
                </div>
                <div class="painted-proj-container" [ngStyle]="{'width.px': getWidthOfHead(headOffsetWidth) }"
                    [scrollLeft]="scrollLeftQuad2">
                    <div class="" [ngStyle]="{'width': getEmptyWidth()}">
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let item of projectRowData.taskData; let j = index">
                <div class="row-container">
                    <div class="first-header" [scrollLeft]="scrollLeftQuad1" resizable
                        [ngStyle]="{'width': resizeWidth }">
                        <ng-container *ngFor="let column of subLevelHeadercolumnsToDisplay; let k = index">
                            <div class="project-name-box project-id-field">
                                <ng-container
                                    *ngIf="column.MAPPER_NAME !== 'TASK_ADJUSTMENT_POINT' && !checkDateType(column)">
                                    <div class="text-overflow" matTooltip="{{getProperty(column,
                        item) || 'NA'}}">
                                        {{getProperty(column,
                                        item) || 'NA'}}
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="checkDateType(column)">
                                    <div class="text-overflow" matTooltip=" {{getWeek(column, item) || 'NA'}}">
                                        {{getWeek(column, item) || 'NA'}}
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="column.MAPPER_NAME == 'TASK_ADJUSTMENT_POINT'">
                                    <span *ngIf="!item.edit"> {{getProperty(column,
                                        item) || 'NA'}}
                                        <mat-icon matTooltip="Edit Task Adjustment Point" class="edit-icon"
                                            (click)="item.edit = !item.edit">edit</mat-icon>
                                    </span>
                                    <span *ngIf="item.edit">
                                        <mat-form-field class="mrm-joborder-name-form-input">
                                            <input matInput type="text" [(ngModel)]="item.editTaskAdjustmentPoint"
                                                (blur)="updateTaskAdjustmentPoint(item,item.editTaskAdjustmentPoint)"
                                                [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>
                                    </span>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <div class="painted-proj-container" [ngStyle]="{'width.px': getWidthOfHead(headOffsetWidth) }"
                        [scrollLeft]="scrollLeftQuad2" matTooltip="{{taskBarName(calendarData[i].taskData[j])}}">
                        <div class="painted-proj-flex" (click)="editcurrentTask(calendarData[i].taskData[j])">
                            <ng-container *ngFor="let seg of item?.paintedData">
                                <ng-container *ngIf="getData(seg) == 1">
                                    <div class="empty-project " [ngStyle]="{'width': getRowLength(seg.rowLength)}">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="getData(seg) == 2">
                                    <div class="painted-proj" [ngStyle]="{'width': getRowLength(seg.rowLength)}"
                                        [ngClass]="changeTaskBarColor(calendarData[i].taskData[j].TASK_STATUS_VALUE)">
                                        <span class="text-area-ellipses">
                                            {{taskBarName(calendarData[i].taskData[j])}}
                                        </span>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="projectRowData?.taskData?.length == 0" class="no-data-width">
                <div class="central-info">
                    <button color="accent" disabled mat-flat-button>No data is available.</button>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="projectData.length == 0" class="no-data-width">
        <div class="central-info">
            <button color="accent" disabled mat-flat-button>No data is available.</button>
        </div>
    </div>
</div>