<div class="sp-header">
    <ng-container *ngIf="showSecondaryPackagingForm" [formGroup]="dynamicSecondaryPackagingForm">
        <div class="edit" matTooltip="Edit Can Supplier(s)">
            <mat-checkbox color="primary" class="outline" (change)="toggleEdit($event.checked)"
                [disabled]="canSupplierConfig?.isEdit?.disabled">
                Edit Can Company
            </mat-checkbox>
        </div>
        <mat-form-field class="can-supplier-controls-field" appearance="outline" matTooltip="Can Supplier"
            matTooltipPosition="above">
            <mat-label>Can Supplier</mat-label>
            <mat-select formControlName="canSupplier" multiple [(ngModel)]="selectedMultiCanSupplier"
                [disabled]="canSupplierConfig?.addBtn?.disabled">
                <mat-option *ngFor="let canSupplier of canSuppliersCopy" [value]="canSupplier">
                    {{ canSupplier.displayName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="" (click)="bulkCreateSP()"
            [disabled]="canSupplierConfig?.addBtn?.disabled">
            <mat-icon matTooltip="Add Can Supplier(s)">add</mat-icon>Add

        </button>

    </ng-container>
</div>

<div class="governance-milestone-scope-table-container week-select">
    <form *ngIf="showSecondaryPackagingForm" class="secondary-packaging-data-grid"
        [formGroup]="dynamicSecondaryPackagingForm">
        <ng-container formArrayName="secondaryPackaging">
            <mat-table #secondaryPackagingTable [dataSource]="secondaryPackagingFormArray.controls">
                <ng-container matColumnDef="targetWeek" *ngIf="canSupplierConfig.targetWeek.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef
                        matTooltip="Can company Target(week)" matTooltipPosition="above">
                        Can company Target(week)
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element; let i = index" [formGroup]="element">
                        <div class="week-picker-container" *ngIf="canSupplierConfig.targetWeek.ngIf"
                            (click)="getStopPropogation($event, 'targetWeek')">
                            <mat-form-field class="field-width" appearance="outline">
                                <div class="vendor-select">
                                    <div>
                                        <input matInput formControlName="targetWeek" placeholder="ww/yyyy" name="dp"
                                            required />
                                    </div>
                                    <button mat-icon-button (click)="getBool('targetWeek')"
                                        [disabled]="canSupplierConfig.targetWeek.disabled">
                                        <mat-icon matSuffix>date_range</mat-icon>
                                    </button>
                                </div>
                            </mat-form-field>

                            <app-week-picker #weekPickerComponent class="week-picker" *ngIf="show.targetWeek"
                                [weekYearValue]="weekYear.targetWeek" [fromDate]="fromDate.targetWeek"
                                [toDate]="toDate.targetWeek" (weekFormat)="changeWeek($event, 'targetWeek', i)">
                                <!-- *ngIf="show.plannedStartDate"-->
                            </app-week-picker>
                        </div>
                    </mat-cell>
                </ng-container>
                <!--  <ng-container matColumnDef="actualWeek" *ngIf="canSupplierConfig.actualWeek.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Regs Needed?">
                        Actual(week)
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element;let i = index" [formGroup]="element">
                        <mat-checkbox formControlName="actualWeek"
                             (ngModelChange)="updateSPInfo('actualWeek',i)"
                            [disabled]="canSupplierConfig.actualWeek.disabled">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>  -->
                <ng-container matColumnDef="actualWeek" *ngIf="canSupplierConfig.actualWeek.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef
                        matTooltip="Can company Actual(week)" matTooltipPosition="above">
                        Can company Actual(week)
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element; let i = index" [formGroup]="element">
                        <div class="week-picker-container" *ngIf="canSupplierConfig.actualWeek.ngIf"
                            (click)="getStopPropogation($event, 'actualWeek')">
                            <mat-form-field class="field-width" appearance="outline">
                                <div class="vendor-select">
                                    <div>
                                        <input matInput formControlName="actualWeek" placeholder="ww/yyyy" name="dp"
                                            required />
                                    </div>
                                    <button mat-icon-button (click)="getBool('actualWeek')"
                                        [disabled]="canSupplierConfig.actualWeek.disabled">
                                        <mat-icon matSuffix>date_range</mat-icon>
                                    </button>
                                </div>
                            </mat-form-field>

                            <app-week-picker class="week-picker" *ngIf="show.actualWeek"
                                [weekYearValue]="weekYear.actualWeek" [fromDate]="fromDate.actualWeek"
                                [toDate]="toDate.actualWeek" (weekFormat)="changeWeek($event, 'actualWeek', i)">
                                <!-- *ngIf="show.plannedStartDate"-->
                            </app-week-picker>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="itemNumber" *ngIf="canSupplierConfig.itemNumber.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef matTooltip="Can Item Number"
                        matTooltipPosition="above">
                        Can Item Number
                    </mat-header-cell>
                    <mat-cell class="table-cell" *matCellDef="let element; let i = index" [formGroup]="element">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="itemNumber"
                                (ngModelChange)="updateSPInfo('itemNumber', i)" />
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container class="table-cell" matColumnDef="noOfCanCompaniesRequired"
                    *ngIf="canSupplierConfig.noOfCanCompaniesRequired.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef
                        matTooltip=" Number of can companies required" matTooltipPosition="above">
                        Number of can companies required
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" [formGroup]="element" class="table-cell">
                        <mat-form-field class="field-width" appearance="outline">
                            <input matInput formControlName="noOfCanCompaniesRequired" />
                            <mat-error> Exceeding more than 2000 characters </mat-error>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="nameOfCanCompany" *ngIf="canSupplierConfig.nameOfCanCompany.ngIf">
                    <mat-header-cell class="change-feedback-cell-size" *matHeaderCellDef
                        matTooltip=" Name of Can Company (s)">
                        Name of Can Company (s)
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" [formGroup]="element" class="table-cell"
                        matTooltip="{{ getSupplierValues() }}">
                        <mat-label *ngIf="!isEditMode">{{getSupplierValues()}}</mat-label>
                        <mat-chip-list #chipList *ngIf="isEditMode">
                            <mat-chip *ngFor="let supplier of supplierValues" [selectable]="selectable"
                                [removable]="removable" (removed)="remove(supplier)">
                                {{ supplier }}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="spGridColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: spGridColumns"></mat-row>
            </mat-table>
        </ng-container>
    </form>
    <!--  <p class="secondary-packaging-info"
        *ngIf="showSecondaryPackagingForm && secondaryPackagingFormArray.controls.length === 0">No Secondary Packaging(s) available</p> -->
    <p class="secondary-packaging-info" *ngIf="!showSecondaryPackagingForm && loadingSecondaryPackaging">
        Loading....
    </p>
</div>