.field-width {
    width: 90%;
}

.error-field {
    font-size: 75%;
}

.table-cell {
    display: block;
}

.mat-header-cell,
.mat-footer-cell,
.mat-cell {
    min-width: 100px;
}

.mat-header-cell:first-child,
.mat-footer-cell:first-child,
.mat-cell:first-child {
    min-width: 50px;
}

 ::ng-deep .mat-form-field-infix {
    display: flex !important;
    margin-top: -8px;
}

.vendor-select {
    width: 110px;
}

.secondary-packaging-data-grid .mat-form-field {
    font-size: 13px;
    //width: 89%;
}

.secondary-packaging-data-grid .mat-cell {
    border-bottom: none !important;
    font-size: 15px;
}

.secondary-packaging-data-grid .mat-header-cell {
    border-bottom: none !important;
    font-size: 15px;
}

.secondary-packaging-data-grid .mat-row {
    margin-top: 8px;
}

.secondary-packaging-data-grid .mat-table {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 34px;
    box-shadow: 0px 0px 3px #b8b8b8;
}

.secondary-packaging-data-grid .mat-header-cell {
    color: var(--brand-color) !important;
}

.secondary-packaging-header {
    font-size: 18px;
    //font-weight: 600;
    margin-top: 7px;
}

.project-core-data-header {
    font-size: 18px;
    margin-bottom: 16px;
}

.secondary-packaging-controls {
    display: inline-block;
    margin-right: 25px;
    height: 40px;
}

.secondary-packaging-table-header {
    padding: 10px 0px;
}

.secondary-packaging-controls-field {
    margin-right: 15px;
    font-size: 11px;
}

.secondary-packaging-delete {
    cursor: pointer;
}

.secondary-packaging-info {
    text-align: center;
    font-size: 13px;
    margin-bottom: 41px;
}

.sp-header {
    padding-top: 20px;
}

.week-picker {
    position: absolute;
    z-index: 999;
    top: 126px;
}

.vendor-select {
    display: flex;
    margin-top: -10px;
}

.week-picker-container {
    display: grid;
}

.field-width {
    width: 90%;
}

.can-supplier-controls-field {
    margin-right: 15px;
    font-size: 13px;
    width: 20%;
}

.week-select {
    position: relative;
}

.edit {
    color: #88c534;
    margin-right: 15px;
    margin-bottom: 10px;
}