/* .overview-content {
    padding: 20px;
} */

.project-overview-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
    width: 50vw;
}

#button-action{
    margin-bottom: 5px;
}


.modal-close {
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
}

mat-dialog-actions button {
    margin: 10px;
}

.task-owner-task-count {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    margin-top: -16px;

    mat-label {
        color: green;
    }
}

#deliverable-save-option {
    margin: 0px;
    padding: 0px;
    min-width: 32px;
    border-radius: 0 4px 4px 0;
}

#deliverable-save-btn {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
    margin-left: 15px;
}

.form-actions {
    margin-left: auto;
}

mat-form-field {
    width: 100%;
}

.flex-row-item {
    margin: 0 15px;
    font-size: 12px;
    margin-top: 0.666667em;
}

.skip-review-section-holder {
    flex-grow: 3;
}

.flex-row {
    .mat-form-field {
        mpm-custom-search-field {
            margin: 0px;
        }
    }
}

.form-group-panel {
    background: transparent;

    ::ng-deep mpm-custom-metadata-field {
        width: 100%;
    }

    ::ng-deep .mat-expansion-panel-header {
        padding: 0 4px;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0 16px 16px 0;
    }
}

.flex-row-item.flex {
    width: 10.5rem;
}
