<div class="overview-content">
    <form class="deliverable-creation-form" *ngIf="deliverableForm" [formGroup]="deliverableForm">
        <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Deliverable Name</mat-label>
                    <input [appAutoFocus]="deliverableModalConfig && deliverableModalConfig.hasAllConfig" matInput
                        placeholder="Deliverable Name" formControlName="deliverableName" required>
                    <mat-hint align="end"
                        *ngIf="deliverableForm.get('deliverableName').errors && deliverableForm.get('deliverableName').errors.maxlength">
                        {{deliverableForm.get('deliverableName').errors.maxlength.actualLength}}/{{deliverableForm.get('deliverableName').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="flex-row-item" *ngIf="!deliverableConfig.isTemplate">
                <mat-form-field id="dueDate" appearance="outline">
                    <mat-label>Due On</mat-label>
                    <input matInput [min]="deliverableModalConfig.minDate" [max]="deliverableModalConfig.maxDate"
                        [matDatepicker]="dueDate" [matDatepickerFilter]="dateFilter" placeholder="Deliverable Due Date (MM/DD/YYYY)"
                        formControlName="dueDate" required>
                    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                    <mat-datepicker #dueDate></mat-datepicker>
                    <mat-error
                        *ngIf="(deliverableForm.get('dueDate').hasError('matDatepickerMax') || deliverableForm.get('dueDate').hasError('matDatepickerMin'))">
                        {{deliverableConstants.DATE_ERROR_MESSAGE}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item skip-review-section-holder">
                <section class="skip-review-check">
                    <mat-checkbox color="primary" labelPosition="before" formControlName="needReview">
                        <span class="skipReview"> Need Review? </span>
                    </mat-checkbox>
                </section>
            </div>
            <div class="flex-row-item flex">
                <mat-form-field appearance="outline">
                    <mat-label>Priority</mat-label>
                    <mat-select formControlName="priority" placeholder="Priority" name="priority" required>
                        <mat-option *ngFor="let priority of deliverableModalConfig.deliverablePriorityList"
                            value="{{priority['MPM_Priority-id'].Id}}">
                            {{priority.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" placeholder="Status" name="status" required>
                        <mat-option *ngFor="let status of deliverableModalConfig.deliverableStatusList"
                            value="{{status['MPM_Status-id'].Id}}">
                            {{status.NAME}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex-row-item mat-form-field">
                <mat-form-field appearance="outline">
                    <mat-label>Deliverable Owner Allocation</mat-label>
                    <mat-select formControlName="ownerAllocation" placeholder="Allocation" required
                        name="ownerAllocation" disable>
                        <mat-option *ngFor="let allocationType of deliverableModalConfig.deliverableOwnerAssignmentType"
                            [value]="allocationType.NAME">
                            {{allocationType.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item mat-form-field"
                *ngIf="deliverableForm.getRawValue().ownerAllocation === deliverableConstants.ALLOCATION_TYPE_ROLE">
                <mpm-custom-search-field class="flex-row-item"
                    [searchFieldConfig]="deliverableModalConfig.deliverableOwnerRoleConfig"
                    [required]="deliverableForm.getRawValue().ownerAllocation !== deliverableConstants.ALLOCATION_TYPE_USER">
                </mpm-custom-search-field>
            </div>
            <div class="flex-row-item mat-form-field"
                *ngIf="deliverableForm.getRawValue().ownerAllocation === deliverableConstants.ALLOCATION_TYPE_ROLE || deliverableForm.getRawValue().ownerAllocation === deliverableConstants.ALLOCATION_TYPE_USER">
                <mpm-custom-search-field class="flex-row-item"
                    [searchFieldConfig]="deliverableModalConfig.deliverableOwnerConfig"
                    [required]="deliverableForm.getRawValue().ownerAllocation !== deliverableConstants.ALLOCATION_TYPE_ROLE">
                </mpm-custom-search-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item mat-form-field" *ngIf="deliverableForm.getRawValue().needReview">
                <mat-form-field appearance="outline">
                    <mat-label>Deliverable Approver Allocation</mat-label>
                    <mat-select formControlName="approverAllocation" placeholder="Allocation"
                        [required]="deliverableForm.getRawValue().needReview" name="approverAllocation" disable>
                        <mat-option
                            *ngFor="let allocationType of deliverableModalConfig.deliverableApproverAssignmentType"
                            [value]="allocationType.NAME">
                            {{allocationType.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex-row-item mat-form-field"
                *ngIf="deliverableForm.getRawValue().needReview  && deliverableForm.getRawValue().approverAllocation === deliverableConstants.ALLOCATION_TYPE_ROLE">
                <mpm-custom-search-field class="flex-row-item"
                    [searchFieldConfig]="deliverableModalConfig.deliverableApproverRole"
                    [required]="deliverableForm.getRawValue().needReview  && !(deliverableForm.getRawValue().approverAllocation === deliverableConstants.ALLOCATION_TYPE_USER)">
                </mpm-custom-search-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item mat-form-field"
                *ngIf="deliverableForm.getRawValue().needReview && deliverableForm.getRawValue().approverAllocation === deliverableConstants.ALLOCATION_TYPE_ROLE || deliverableForm.getRawValue().approverAllocation === deliverableConstants.ALLOCATION_TYPE_USER">
                <mpm-custom-search-field class="flex-row-item"
                    [searchFieldConfig]="deliverableModalConfig.deliverableApprover"
                    [required]="deliverableForm.getRawValue().needReview && !(deliverableForm.getRawValue().approverAllocation === deliverableConstants.ALLOCATION_TYPE_ROLE)">
                </mpm-custom-search-field>
            </div>
        </div>
        <div class="task-owner-task-count" *ngIf="hasDeliverableCount">
            <mat-error *ngIf="!isZeroOwnerProjectCount">{{ownerProjectCountMessage}}</mat-error>
            <mat-label *ngIf="isZeroOwnerProjectCount">{{ownerProjectCountMessage}}</mat-label>
        </div>

        <div class="flex-row" *ngIf="showReviewer">
            <div class="flex-row-item">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Reviewers</mat-label>
                    <mat-chip-list #reviewerList>
                        <span *ngFor="let reviewer of reviewerStatusData">

                            <mat-chip [ngClass]="[reviewer.isCompleted === true ? 'email-chip-completed': 'email-chip']"
                                [removable]="reviewer.isCompleted !== true"
                                (removed)="onRemoveReviewer(reviewer.value)">
                                <span class="email-value" matTooltip="{{reviewer.displayName}}">
                                    {{reviewer.displayName}}
                                </span>
                                <mat-icon matChipRemove *ngIf="reviewer.isCompleted !== true">cancel</mat-icon>
                            </mat-chip>
                        </span>
                        <input #reviewerInput class="email-chip-input" formControlName="deliverableReviewers"
                            [matChipInputAddOnBlur]="true" [matAutocomplete]="auto" [matChipInputFor]="reviewerList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addReviewer($event)" required="false">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let reviewer of filteredReviewers | async" [value]="reviewer.value">
                            {{ reviewer.displayName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Expected Duration (Days)</mat-label>
                    <input matInput placeholder="Expected Duration (Days)" formControlName="expectedDuration"
                        type="number">
                     <mat-hint align="end" *ngIf="projectOverviewForm.get('expectedDuration').errors">
                        Please enter the number lesser than 99999
                    </mat-hint>
                </mat-form-field>
            </div>
        </div> -->
        <div class="flex-row">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    <mat-hint align="end"
                        *ngIf="deliverableForm.get('description').errors && deliverableForm.get('description').errors.maxlength">
                        {{deliverableForm.get('description').errors.maxlength.actualLength}}/{{deliverableForm.get('description').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-col-item">
            <div class="flex-row" id="button-action">
                <div class="flex-row-item">
                    <span class="form-actions">
                        <button type="button" mat-stroked-button (click)="cancelDeliverableCreation()">Cancel</button>
                        <button type="button" id="deliverable-save-btn" color='primary' mat-flat-button
                            (click)="updateDeliverable(SELECTED_SAVE_OPTION)" class="ang-btn"
                            matTooltip="{{SELECTED_SAVE_OPTION.name}}"
                            [disabled]="deliverableForm.pristine || deliverableForm.invalid">{{SELECTED_SAVE_OPTION.name}}</button>
                        <span *ngIf="!deliverableConfig.deliverableId">
                            <button type="button" id="deliverable-save-option" mat-flat-button color="primary"
                                [matMenuTriggerFor]="saveOptionsMenu"
                                [disabled]="deliverableForm.pristine || deliverableForm.invalid">
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <mat-menu #saveOptionsMenu="matMenu">
                                <span *ngFor="let saveOption of saveOptions">
                                    <button type="button" *ngIf="saveOption.value != SELECTED_SAVE_OPTION.value"
                                        mat-menu-item (click)="updateDeliverable(saveOption)">
                                        <span>{{saveOption.name}}</span>
                                    </button>
                                </span>
                            </mat-menu>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>