.columnChooserFields {
    padding-left: 8px;
    padding-right: 8px;
    width:max-content;
}

// ::ng-deep.mat-menu-panel {
//     max-width:fit-content !important;
//   }

::ng-deep div.mat-menu-panel {
    max-width:fit-content !important;
}

.mpm-preference-setting-button:disabled {
    mat-icon {
        color: #dddddd !important;
    }
}