<button class="mpm-preference-setting-button" mat-icon-button [disabled]="!isListView" [matMenuTriggerFor]="columnChooserField" matTooltip="Field chooser">
    <mat-icon color="primary">settings
    </mat-icon>
</button>
<mat-menu #columnChooserField="matMenu"  (closed)="close($event)">
    <div class="columnChooserFields">
        <app-column-chooser-field [columnChooserFields]="columnChooserFields" [isAssetsTab]="isAssetsTab" [isColumnsFreezable]="isColumnsFreezable" [isPMView]="isPMView" [userPreferenceFreezeCount]="userPreferenceFreezeCount" (resetColumnChooserHandler)="resetColumnChooser()"
            (columnChooserHandler)="handleColumnChooser($event)" (saveColumnChooserHandler)="saveColumnChooser($event)" #columnChooser>
        </app-column-chooser-field>
    </div>
</mat-menu>
<!-- (freezeColumnCount)="handleFreezeColumn($event)" -->