<div>
    <mat-dialog-content>
        <div>
            RM user is different from Task Owner in the following project(s)
        </div><br>
        <b><p>{{projectArray}}</p></b><br>
        <div>
            Are you sure you want to update Task Owner and RM user?
        </div> <br>
    </mat-dialog-content>
    <mat-dialog-actions class="close-action">
        <button mat-stroked-button (click)="onClick('No')">No</button>
        <button id="confirm-button" color='primary' mat-flat-button cdkFocusInitial (click)="onClick('Yes')">Yes</button>

    </mat-dialog-actions>
</div>