mat-dialog-content {
    //padding: 0px;
    margin-top: 20px;
    //min-height: 200px;
    .flex-row-item {
        margin: 0 15px;
        font-size: 14px;
    }
}

#confirm-button {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
}

mat-dialog-actions {
    float: right;
}

mat-dialog-actions button {
    margin: 10px;
}