<div class="flex-row">
    <div class="flex-row-item">
        <button class="back-btn" mat-icon-button matTooltip="Back to Task View" (click)="goToTaskView()">
            <mat-icon mat-list-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="flex-row-item">
        <app-task-details-layout [deliverableConfig]="deliverableConfig"
            (createNewDeliverableHandler)="createNewDeliverable($event)" (crHandler)="openCR($event)"
            (deliverableDetailsHandler)="deliverableDetails($event)" (versionsHandler)="viewVersions($event)"
            (shareAssetHandler)="shareAsset($event)" (editDeliverableHandler)="editDeliverable($event)">
        </app-task-details-layout>
    </div>
</div>