.swim-layout {
    height: calc(100vh - 154px);
    overflow: auto;
}

.swim-layout-one {
    height: calc(100vh - 200px);
    overflow: auto;
}

.swim-columns {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 10px 0;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

.swim-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    position: relative;
    vertical-align: top;
    justify-content: center;
    flex: 1 1 0
}

.swim-data-card {
    margin-bottom: 10px;
}

.swim-nonDrag-columns {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 10px 0;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.swim-nonDrag-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    list-style: none;
    margin: 0;
    position: relative;
    vertical-align: top;
    table-layout: fixed;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 15rem;
    border: 1px solid #dddddd;
    margin-right: 10px;
}

::ng-deep .swim-data-card .task-content {
    margin: 5px;
}

::ng-deep app-task-card-view .task-card {
    min-width: 180px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-box:last-child {
    border: none;
}

.grid-list.cdk-drop-list-dragging .card-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

    .grid-list {
        border: solid 1px red;
    }
}

.mpm-card {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
    transition: background-color 140ms ease-in-out, border-color 75ms ease-in-out;
}

.mpm-deliverable {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
    transition: background-color 140ms ease-in-out, border-color 75ms ease-in-out;
}

.card-summary {
    display: block;
    box-sizing: content-box;
    line-height: 1.42857143;
    max-height: 4.28571429em;
    overflow: hidden;
}

.deliverable-swim {
    width: 240px;
    /* width: inherit; */
}

.deliverable-data-card {
    margin: 0px 0 15px 0px;
}

.central-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}