<div class="flex-col "
    [ngClass]="{'swim-layout':!isViewByResourceFilterEnabled,'swim-layout-one':isViewByResourceFilterEnabled}">
    <div class="flex-col-item">
        <div class="swim-nonDrag-columns">
            <div class="flex-row-item swim-nonDrag-column deliverable-swim" *ngFor="let list of swimList">
                <div class="grid-list">
                    <div class="card-wrap">
                        <div class="mpm-card">
                            <section class="card-summary">{{list.listDetail.NAME}}
                                ({{list.dataCount}})</section>
                        </div>
                    </div>
                    <span>
                        <div class="swim-data-card" *ngFor="let item of list.data">
                            <app-deliverable-card [isPMView]="true" [deliverableData]="item"
                                [deliverableBulkResponse]="deliverableBulkResponse"
                                (deliverableBulkCheckCount)="deliverableBulkCheckCount($event)"
                                (selectedDeliverableData)="selectedBulkDeliverableData($event)"
                                [isTemplate]="deliverableConfig.isTemplate" [deliverableConfig]="deliverableConfig"
                                (refreshDeliverable)="refreshDeliverable($event)"
                                (editDeliverableHandler)="editDeliverable($event)" (crHandler)="openCR($event)"
                                (deliverableDetailsHandler)="deliverableDetails($event)"
                                [masterSelectedDeliverable]="masterSelectedDeliverable"
                                (versionsHandler)="viewVersions($event)" (shareAssetHandler)="shareAsset($event)">
                            </app-deliverable-card>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>