.advanced-search-modal {
    font-size: 12px !important;
    min-width: 900px;
}

.example-chip-list {
    width: 100%;
}

.trySpace {
    margin-right: 10px;
}

.filter-row {
    margin: 10px;
    width: 95% !important;
}

.filter-field {
    max-height: 55vh;
    /* overflow-y: auto; */
    min-height: 21vh;
}

mat-form-field,
button {
    font-size: 12px !important;
    margin: 5px;
}

.search-header {
    margin-bottom: 20px;
}

.field-action {
    margin-left: -20px;
}

.search-name {
    width: 435px;
}

.field-options {
    max-height: 40vh;
    overflow-y: auto;
    min-height: 310px;
}

.info {
    width: 100%;
    text-align: center;
}

.searchName {
    display: inline-block;
}

.right-align {
    float: right;
}