<div class="advanced-search-modal">
    <div class="search-header">
        <button (click)="close(true)" mat-icon-button color="primary" matTooltip="Navigate back to simple search">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
        <span>Back To Normal Search</span>
        <button (click)="close(true)" class="right-align" mat-icon-button color="primary" matTooltip="Exit Search">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div class="field-action">
        <button (click)="addFilter()" mat-flat-button class="trySpace" matTooltip="Add Filter" [disabled]="!availableSearchFields.length">
      <mat-icon>add</mat-icon>
      Add Filter
    </button>
    </div>
    <div class="field-options">
        <span *ngFor="let row of filterRowList">
      <app-npd-advanced-search-field
        [filterRowData]="row"
        [advancedSearchConfigData]="advancedSearchConfigData"
        [comboFieldsConfig]="data.fieldConfigs"
        (removeFilterField)="removeFilter($event)"
        (filterSelected)="filterSelectionChange($event)"
      >
      </app-npd-advanced-search-field>
    </span>
        <div class="info" *ngIf="!filterRowList.length">
            <p>Click on Add Filter to start adding filters</p>
        </div>
    </div>
    <div>
        <mat-form-field appearance="outline" class="search-name">
            <mat-label>Search Name</mat-label>
            <input [(ngModel)]="searchTobeSavedName" matInput placeholder="Provide a name to the Search" />
        </mat-form-field>
        <button (click)="search(true)" mat-flat-button color="primary" class="trySpace" [disabled]="!filterRowList.length" matTooltip="Save and Perform Search">
      Save and Search
    </button>
        <button (click)="search(false)" mat-flat-button color="primary" class="trySpace" [disabled]="!filterRowList.length" matTooltip="Search">
      Search
    </button>
        <button (click)="clearFilter()" mat-flat-button color="primary" class="trySpace" [disabled]="!filterRowList.length" matTooltip="Clear All">
      Clear All
    </button>
    </div>
</div>