<mat-card class="task-card" *ngIf="taskData">
    <div class="flex-col">
        <div class="flex-col-item">
            <div class="flex-row">
                <div class="flex-row-item copy-icon card-title-wrapper">
                    <mat-icon class="task-card-type-icon " *ngIf="!isTemplate"
                        [ngClass]="[ ((getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)==='true') && (!(projectCancelledStatus)  && !(isOnHoldProject)) && (getProperty(taskData, MPMFeildConstants.TASK_STATUS_TYPE)=== taskStatusType)) ? 'rejection-task-icon' :((getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)==='true') && (!(projectCancelledStatus)  && !(isOnHoldProject)))? 'active-task-icon' : 'inactive-task-icon']"
                        matTooltip="Status: {{taskData.TASK_STATUS_VALUE}}{{((getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)==='true') && (!(projectCancelledStatus)  && !(isOnHoldProject))) ? '(Active Task)' : '(Inactive Task)'}}">
                        <!-- matTooltip="{{((getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)==='true') && (!(projectCancelledStatus)  && !(isOnHoldProject))) ? 'Active Task' : 'Inactive Task'}}" -->
                        <!--  [ngClass]="[ ((getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)==='true') && (!(projectCancelledStatus)  && !(isOnHoldProject))) ? 'active-task-icon' : 'inactive-task-icon']"
                        -->
                        <!-- [style.color]="getActiveColor(getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)) === 'true' ? active-task : inactive-task" -->
                        {{getTaskTypeIcon(getProperty(taskData, MPMFeildConstants.TASK_TYPE))}}
                    </mat-icon>
                    <span class="card-title" (click)="openTaskDetails(false)"
                        matTooltip="{{getProperty(taskData, MPMFeildConstants.TASK_NAME) || 'NA'}}">
                        {{getProperty(taskData, MPMFeildConstants.TASK_NAME) || 'NA'}}
                    </span>
                </div>
                <div class="flex-row-item action-button">
                    <mat-icon color="primary" matTooltip="Actions" matSuffix [matMenuTriggerFor]="taskMenu"
                        *ngIf="isProjectOwner">
                        more_vert
                    </mat-icon>
                </div>
            </div>
        </div>
        <span>
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item card-item">
                        <div class="task-percentage"
                            matTooltip="Task Completion : {{getProperty(taskData, MPMFeildConstants.TASK_PROGRESS) || 0}}%">
                            <span class="item-title">
                                {{getProperty(taskData, MPMFeildConstants.TASK_PROGRESS) || 0}}%</span>
                            <mat-progress-bar color="primary" mode="determinate"
                                value="{{getProperty(taskData, MPMFeildConstants.TASK_PROGRESS)}}">
                            </mat-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </span>
        <div class="flex-row">
            <div class="flex-col-item task-info-wrapper">
                <div class="flex-col-item">
                    <div class="flex-row">
                        <div class="flex-row-item card-item task-info" *ngIf="!isTemplate"
                            matTooltip="Due Date: {{getProperty(taskData, MPMFeildConstants.TASK_DUE_DATE)}}">
                            <mat-icon>event</mat-icon>
                            <span class="item-value">{{getProperty(taskData, MPMFeildConstants.TASK_DUE_DATE)}}</span>
                        </div>
                    </div>
                </div>
                <span *ngIf="displayableMPMFields && displayableMPMFields.length > 0">
                    <div class="flex-col-item" *ngFor="let column of displayableMPMFields;let i = index;">
                        <div class="flex-row">
                            <div class="flex-row-item card-item task-info"
                                matTooltip="{{column.DISPLAY_NAME}} : {{column.VALUE|| 'NA'}}">
                                <span class="item-title">{{column.DISPLAY_NAME}}:</span>
                                <span class="item-value">{{column.VALUE || 'NA'}}</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="flex-row-item priority-info">
                <mat-icon matTooltip="Priority: {{getPriority(taskData, MPMFeildConstants.TASK_PRIORITY).tooltip}}"
                    [style.color]="getPriority(taskData, MPMFeildConstants.TASK_PRIORITY).color">
                    {{getPriority(taskData, MPMFeildConstants.TASK_PRIORITY).icon}}</mat-icon>
            </div>
        </div>
    </div>
</mat-card>
<mat-menu #taskMenu="matMenu">
    <button mat-menu-item matTooltip="Add New Deliverable" (click)="openTaskDetails(true)"
        [disabled]="!(!isFinalTask && isProjectOwner && isNormalTask) || taskConfig.isReadOnly || isOnHoldProject">
        <mat-icon>add</mat-icon>
        <span>Add New Deliverable</span>
    </button>
    <!-- *ngIf="isTemplate" -->
    <button mat-menu-item matTooltip="Delete Task" (click)="deleteTask(false)" [disabled]="isFinalTask">
        <mat-icon>delete</mat-icon>
        <span>Delete Task</span>
    </button>
    <!--*ngIf="isTemplate"-->
    <button mat-menu-item matTooltip="Permanent Delete Task" (click)="deleteTask(true)" [disabled]="isFinalTask">
        <mat-icon>delete</mat-icon>
        <span>Permanent Delete Task</span>
    </button>
    <button mat-menu-item matTooltip="Edit Task" (click)="editTask()"
        [disabled]="isFinalTask || taskConfig.isReadOnly || isOnHoldProject">
        <mat-icon>edit</mat-icon>
        <span>Edit Task</span>
    </button>


    <button mat-menu-item matTooltip="Configure Rule"
        *ngIf="taskConfig.selectedProject && taskConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'true'"
        (click)="openCustomWorkflow()" [disabled]="isFinalTask || taskConfig.isReadOnly || isOnHoldProject">
        <mat-icon>add</mat-icon>
        <span>Configure Rule</span>
    </button>
    <button mat-menu-item matTooltip="Actions" [matMenuTriggerFor]="workflowActionsMenu"
        *ngIf="taskConfig.selectedProject && taskConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'true'"
        [disabled]="!hasCurrentWorkflowActions() || !((getProperty(taskData, MPMFeildConstants.IS_TASK_ACTIVE)==='true') && (!(projectCancelledStatus)  && !(isOnHoldProject)))">
        <mat-icon>offline_bolt</mat-icon>
        <span>Actions</span>
    </button>
</mat-menu>

<mat-menu #workflowActionsMenu="matMenu">
    <span *ngFor="let currentWorkflowAction of currentWorkflowActions">
        <button mat-menu-item matTooltip="{{currentWorkflowAction.Name}}"
            (click)="triggerActionRule(currentWorkflowAction.Id)">
            <span>{{currentWorkflowAction.Name}}</span>
        </button>
    </span>
</mat-menu>