<table class="project-list" mat-table [dataSource]="projectDataDataSource" matSort multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)">
    <ng-container matColumnDef="Expand" *ngIf="projectConfig.IS_PROJECT_TYPE">
        <th class="exp" mat-header-cell *matHeaderCellDef> </th>
        <td class="exp" mat-cell *matCellDef="let row" (click)="expandRow($event, row)">

        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Select"> -->
    <ng-container matColumnDef="Select" sticky>
        <th class="select" mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary" [(ngModel)]="selectAllProjectChecked" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                <!-- [(ngModel)]="selectAllProjectChecked" -->
            </mat-checkbox>
        </th>
        <td class="select" mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" [(ngModel)]="row.selected" (click)="$event.stopPropagation()" (change)="$event ? checkProject(row,$event) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="{{column.INDEXER_FIELD_ID}}" *ngFor="let column of displayableMetadataFields ; index as i" [sticky]="i<userPreferenceFreezeCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [ngClass]="getColumnStyle(column)" [style.max-width.px]="column.width">
            <span>{{column.DISPLAY_NAME}}</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
                <mat-icon>more_vert</mat-icon>
            </span>
        </th>
        <td mat-cell *matCellDef="let row" [ngStyle]="getColumnMaxWidth(column)" [ngClass]="getColumnStyle(column)" [style.max-width.px]="column.width">
            <span>
                <div *ngIf="column.MAPPER_NAME!== mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS && column.MAPPER_NAME !== mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY && column.MAPPER_NAME !== mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS
                        && column.MAPPER_NAME !==  requestFieldConstants.REQUEST_FEILDS.REQUEST_STATUS &&
                        column.MAPPER_NAME !==  requestFieldConstants.REQUEST_TASK_FIELDS.TASK_STATUS
                         && !checkDateType(column)"
                        class="flex-card" (click)="openProjectDetails(row)">
                    <a matTooltip="{{getProperty(column, row)}}" [matTooltipPosition]="position.value"
                        matTooltipClass="mattooltipclass">{{getProperty(column, row) || 'NA'}}</a>
                </div>
                <div *ngIf="checkDateType(column)"
                    class="flex-card" (click)="openProjectDetails(row)">
                    <a matTooltip="{{getWeek(column, row) || 'NA'}}" [matTooltipPosition]="position.value"
                        matTooltipClass="mattooltipclass"> {{getWeek(column, row) || 'NA'}}</a>
                </div><!--{{(getProperty(column, row) | date: 'dd-MM-yyyy')|| 'NA'}}-->
                <div *ngIf="column.MAPPER_NAME === mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY">
                    <mat-icon matTooltip="{{getPriority(row, column).tooltip}}"
                        [style.color]="getPriority(row, column).color">
                        {{getPriority(row, column).icon}}
                    </mat-icon>
                </div>
                <div *ngIf="column.MAPPER_NAME === mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS">
                    <span matTooltip="{{getProperty(column, row) || 'NA'}}%">{{getProperty(column, row) || 'NA'}}%
                        <mat-progress-bar color="primary" mode="determinate"
                            value="{{getProperty(column, row) || 'NA'}}" class="">
                        </mat-progress-bar>
                    </span>
            </div>
            <div *ngIf="column.MAPPER_NAME ===  requestFieldConstants.REQUEST_FEILDS.REQUEST_STATUS ||
                    column.MAPPER_NAME ===  requestFieldConstants.REQUEST_TASK_FIELDS.TASK_STATUS">
                <mat-chip-list>
                    <mat-chip class="status-chip" [ngClass]="changeStatusColor(getProperty(column, row))">{{getStatus(column, row) || 'NA'}}</mat-chip>
                </mat-chip-list>
            </div>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="Actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
            <div class="min-width-action flex-card">
                <!--<button mat-icon-button matTooltip="Delete Request"
                    *ngIf="isMyTasks || isMyRequest || isSFL || isAllRequests || isLFL"
                    [disabled] = "((row.RT_REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_LFL ||
                    row.REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_LFL) &&
                    !(row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_NEW || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_NEW)) ||
                    ((row.RT_REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_SFL ||
                    row.REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_SFL) &&
                    !(row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_DRAFT || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_DRAFT ||
                    row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_NEW || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_NEW ||
                    row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_INPROGRESS || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_INPROGRESS ||
                    row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_SOURCE_APPROVED || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_SOURCE_APPROVED ||
                    row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_SOURCE_REJECTED || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_SOURCE_REJECTED ||
                    row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_SOURCE_NOT_AVAILABLE || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_SOURCE_NOT_AVAILABLE ||
                    row.RT_REQUEST_STATUS === localizationConst.REQUEST_STATUS_PO_INPROGRESS || row.REQUEST_STATUS === localizationConst.REQUEST_STATUS_PO_INPROGRESS)) ||
                    !(row.RT_REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_LFL ||
                    row.REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_LFL ||
                    row.RT_REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_SFL ||
                    row.REQUEST_TYPE_VALUE === localizationConst.LOCALIZATION_REQUEST_TYPE_SFL) ||
                    !(currentUser === row.REQUESTOR_NAME || currentUser === row.RT_TASK_OWNER)">
                    <mat-icon>delete</mat-icon>
                </button> [ngClass]="getDeleteColumnStyle(row)"-->
                <button mat-icon-button matTooltip="Delete Request" *ngIf="isMyRequest || isAllRequests || isPMTasks " [disabled]="!((((row.RQ_REQUEST_STATUS === 'InProgress' || row.RQ_REQUEST_STATUS === 'Denied' || row.RQ_REQUEST_STATUS === 'InDraft') ||
                    (row.RT_REQUEST_STATUS === 'InProgress')) && (isPM||isAdmin)) || (row.RQ_REQUEST_STATUS==='InDraft' && row.RQ_REQUESTER===currentUser))" (click)="deleteReq($event,row)"> 
                    <mat-icon>delete</mat-icon> 
                </button>
                <button mat-icon-button matTooltip="Copy Request" *ngIf="isMyRequest || isAllRequests " (click)="copyReq($event,row)"> 
                    <mat-icon>insert_drive_file</mat-icon> 
                </button>
                <!-- <button mat-icon-button matTooltip="Show Project" 
                    *ngIf="isMyRequest || isAllRequests" 
                    [disabled] = "(!row.PLANNER_TEMP_PROJECT_ID || row.PLANNER_TEMP_PROJECT_ID === '0' || row.PLANNER_TEMP_PROJECT_ID === 'NA') &&
                    (!row.RT_LOCALIZATION_PROJECT_ID || row.RT_LOCALIZATION_PROJECT_ID === '0' || row.RT_LOCALIZATION_PROJECT_ID === 'NA') &&
                    (!row.LOCALIZATION_PROJECT_ID || row.LOCALIZATION_PROJECT_ID === '0' || row.LOCALIZATION_PROJECT_ID === 'NA')"
                    (click)="openProject($event,row)">
                    <mat-icon>launch</mat-icon>
                </button> -->
                <!-- Task Operations-->
                <button mat-icon-button matTooltip="Claim" class="claimrevoke-button" *ngIf="(isMyTasks || isBDATasks || isPMTasks || isE2ETasks) && (!row.RT_TASK_OWNER)" (click)="claimIndividualTask($event,row)"> <!--(currentUserDisplayName !== row.RT_TASK_OWNER) && -->
                    <mat-icon>thumb_up</mat-icon></button>
                <button mat-icon-button matTooltip="Revoke" class="claimrevoke-button" *ngIf="(isMyTasks || isBDATasks || isPMTasks || isE2ETasks) && row.RT_TASK_OWNER" (click)="revokeIndividualTask($event,row)" [disabled]="(row.RT_TASK_OWNER !== currentUserDisplayName) || disableRevoke(row)">
                    <mat-icon>thumb_down</mat-icon></button>
                <button mat-icon-button matTooltip="Assign" (click)="userAssignment($event,row,'Assign')" *ngIf="(isMyTasks || isBDATasks || isPMTasks || isE2ETasks) && (!row.RT_TASK_OWNER)"> 
                    <mat-icon>assignment</mat-icon></button>
                <button mat-icon-button matTooltip="Delegate" (click)="userAssignment($event,row,'Delegate')" *ngIf="(isMyTasks || isBDATasks || isPMTasks || isE2ETasks) && (showDelegate(row))">
                    <mat-icon>assignment_ind</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td class="project-detail" mat-cell *matCellDef="let row" [attr.colspan]="displayColumns.length">
            <div class="project-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
                <div class="task-info data" *ngIf="row.taskTotalCount !== 0">
                    <div class="task-heading">Current Active Tasks:</div>
                </div>
                <div class="project-element-diagram" *ngFor="let task of row.taskList">
                    <!--  <app-task-card-view [isTemplate]="!projectConfig.IS_PROJECT_TYPE" [taskData]="task"
                        [taskConfig]="projectConfig" (refreshTask)="refreshTask($event)"
                        (taskDetailsHandler)="openTaskDetails($event)" (editTaskHandler)="editTask($event)"
                        [projectOwner]="getPropertyByMapper(row, mpmFieldConstants.MPM_PROJECT_FEILDS.PROJECT_OWNER_ID)">
                    </app-task-card-view> -->
                </div>
                <div class="task-info no-data" *ngIf="row.taskTotalCount === 0">
                    <div class="task-heading">No Active Task</div>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr id="{{row}}" mat-row *matRowDef="let row; columns: displayColumns" class="project-element-row" (click)="openProjectDetails(row)">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
</table>

<div *ngIf="projectConfig.totalProjectCount == 0" class="central-info">
    <button disabled mat-flat-button>No project is available.</button>
</div>