<mat-dialog-content>
    <div class="close-btn-div">
        <button matTooltip="Close Comments" mat-icon-button color="primary" [mat-dialog-close]="true" class="mat-icon-close-btn">
        <mat-icon>close</mat-icon>
        </button>
    </div>
    <div>
        <npd-comments [projectId]="projectId" [showGroupFilter]="isGroupFilter" [commentType]="commentType" [requestId]="requestId" [taskId]="taskId"></npd-comments>
    </div>
</mat-dialog-content>