mat-dialog-content {
    margin: 0;
    padding: 0;
    max-height: 90vh;
    height: 88vh;
    position: relative;
}

.mat-icon-close-btn {
    top: -4px;
    right: 0.5em;
   /*  color: #c0ca33; */
    // float: right;
    position: absolute;
}

.close-btn-div {
    margin-bottom: 50px;//32px
}