.list-area, .list-area-info {
    width: 100%;
    margin-top: 20px;
}
.dashboard-container{
  width: calc(100vw - 278px) !important;
}
::ng-deep .side-barContainer{
  .dashboard-container{
    width: calc(100vw - 57px) !important;
  }
}
