<div class="dashboard-container" >
<ng-container *ngIf="isTechnical">
    <app-technical-business-request  [requestIdInput]="requestId">
    </app-technical-business-request>
</ng-container>
<ng-container *ngIf="isCommercial">
    <app-commercial-business-request [requestIdInput]="requestId">
    </app-commercial-business-request>
</ng-container>
<ng-container *ngIf="isOperational">
    <app-operations-business-request [requestIdInput]="requestId">
    </app-operations-business-request>
</ng-container>
<div class="list-area-info text-center" *ngIf="!isRequestAvailable">
    <button  disabled mat-flat-button>No Request available</button>
</div>
</div>
