    mat-form-field,
    mat-checkbox {
        width: 16%;
        margin-left: 8px;
        font-size: 12px;
    }
    
    //  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    //     // background-color: rgb(243, 77, 77);
    //     // color: white;
    // }
    .dependency-error {
        background-color: rgb(253, 81, 81);
        border-radius: 6px;
        padding-top: 8px;
        margin: 2px;
    }
    
    .dependecy-task-text-color {
        color: white !important;
    }