<div [ngClass]="{'dependency-error': !ruleData.hasPredecessor}">
    <form [formGroup]="customWorkflowFieldForm">
        <mat-form-field appearance="outline" matTooltip="{{currentSourceTasks}}">
            <mat-label>Task Name</mat-label>
            <mat-select formControlName="currentTask" multiple>
                <mat-option *ngFor="let task of taskList" value="{{task.value}}" [disabled]="task?.isCompleted">
                    <span matTooltip="{{task.name}}" [style.color]="task?.isCompleted ? 'grey':''">{{task.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Trigger Type</mat-label>
            <mat-select formControlName="triggerType">
                <mat-option *ngFor="let triggerType of triggerTypes" value="{{triggerType.value}}">
                    <span matTooltip="{{triggerType.name}}">{{triggerType.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Status/Action</mat-label>
            <mat-select formControlName="triggerData">
                <mat-option *ngFor="let data of triggerData" value="{{data.value}}">
                    <span matTooltip="{{data.name}}">{{data.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Target Type</mat-label>
            <mat-select formControlName="targetType">
                <mat-option *ngFor="let targetType of targetTypes" value="{{targetType.value}}">
                    <span matTooltip="{{targetType.name}}">{{targetType.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Task/Event</mat-label>
            <mat-select formControlName="targetData">
                <mat-option *ngFor="let data of targetData" value="{{data.value}}" [disabled]="data?.isCompleted">
                    <span matTooltip="{{data.name}}" [style.color]="data?.isCompleted ? 'grey':''">{{data.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="isInitialRule">
            <span>Is Initial</span>
        </mat-checkbox>

        <button class="field-row-action" *ngIf="isRuleChanged && (!ruleData.isExist || customWorkflowFieldForm.dirty) && customWorkflowFieldForm.valid && !isRuleSaved" mat-icon-button color="primary" type="button" matTooltip="Save this Rule" (click)="addWorkflowRule()">
            <mat-icon>done</mat-icon>
        </button>
        <button class="field-row-action" type="button" *ngIf="(!ruleData.isExist || (targetTask?.IS_ACTIVE_TASK==='false' && targetTask?.TASK_STATUS_TYPE !=='FINAL-ACCEPTED')) || !ruleData.hasPredecessor || ruleData.targetType=='EVENT'" (click)="validateRemoveWorkflowRule()"
            mat-icon-button color="primary" matTooltip="Remove this Rule">
            <mat-icon>close</mat-icon>
        </button>
    </form>
</div>