.overview-content {
    padding: 0px 20px;
}

.flex-row-item {
    margin: 0 15px;
    font-size: 14px;
    margin-top: 0.666667em;
    div.approval-section-holder {
        padding-bottom: 1.34375em;
    }
    section.approval-task-check {
        margin-right: 90px;
    }
}

#button-action-sp {
    margin-bottom: 5px;
}

.project-overview-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
    width: 50vw;
}

.modal-close {
    text-align: right;
    cursor: pointer;
    flex-grow: 0;
}

mat-dialog-actions button {
    margin: 10px;
}

.task-owner-task-count {
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    margin-top: -16px;
    mat-label {
        color: green;
    }
}

#task-save-option {
    margin: 0px;
    padding: 0px;
    min-width: 32px;
    border-radius: 0 4px 4px 0;
}

#task-save-btn {
    margin-right: 0px;
    border-radius: 4px 0 0 4px;
    margin-left: 15px;
}

#task-action-btn {
    margin-left: 15px;
    cursor: pointer;
}

.form-actions {
    margin-left: auto;
}

mat-form-field {
    width: 100%;
}

.form-group-panel {
    background: transparent;
     ::ng-deep mpm-custom-metadata-field {
        width: 100%;
    }
     ::ng-deep .mat-expansion-panel-header {
        padding: 0 4px;
    }
     ::ng-deep .mat-expansion-panel-body {
        padding: 0 16px 16px 0;
    }
}

.full-width {
    width: 100%;
}


/* .email-chip {
    padding: 8px 4px 8px 8px !important;
    min-height: 24px;
    font-size: 12px;
    overflow: hidden;
    .email-value {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 290px;
        white-space: nowrap;
    }
}
.email-chip-input {
    min-height: 24px;
}
*/

.duration-type-container {
    position: absolute;
    right: 0;
    width: 25%;
}

.duration-container {
    position: relative;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.week-picker {
    position: absolute;
    z-index: 999;
    top: 75px;
}

.week-select {
    position: relative;
}

.vendor-select {
    display: flex;
    margin-top: -10px;
}

.rows-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.radio-buttons {
    display: block;
    position: relative;
    height: 75px;
}

.radio-row-gap {
    display: block;
    margin-bottom: 16px;
}

.radio-btns-width {
    width: 100%;
}

.radio-btns-start-width {
    width: 50%;
}

.error-field {
    color: #f44336;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

table {
    width: 100%;
}

.differentRequest {
    color: #06d4da !important;
    font-size: 14px;
}

.hide {
    display: none;
}

.no-data-info {
    text-align: center;
    font-size: 13px;
    margin-bottom: 41px;
}

.dependency-container {
    // tried to avoid double scroll
    // white-space: nowrap;
    // width: 100px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // border: 1px solid #000000;
}

table.fixed {
    table-layout: fixed;
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 10px;
}