<div class="overview-content" (click)="getAllBool()">
    <form class="task-creation-form" *ngIf="taskForm" [formGroup]="taskForm">
        <div *ngIf="!taskModalConfig.isTemplate" class="">
            <mat-accordion>
                <mat-expansion-panel (opened)="openDependencyPanel()" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Dependencies
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <!-- This table shows all the dependencies of a task -->
                    <div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <caption></caption>

                            <ng-container matColumnDef="projectBusinessId">
                                <th mat-header-cell *matHeaderCellDef> Project Business Id </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'differentRequest':element.projectId!=taskModalConfig['projectId']}" [matTooltip]="element.projectBusinessId"> {{element.projectBusinessId}} </td>

                            </ng-container>


                            <!-- <ng-container matColumnDef="taskId">
                                <th mat-header-cell *matHeaderCellDef> Task Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.taskId}} </td>


                            </ng-container> -->


                            <ng-container matColumnDef="taskName">
                                <th mat-header-cell *matHeaderCellDef> Task Name </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="getColumnMaxWidth(element)" [matTooltip]="element.taskName"> {{element.taskName}} </td>

                            </ng-container>
                            <ng-container matColumnDef="taskDescription">
                                <th mat-header-cell *matHeaderCellDef> Task Description </th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="getColumnMaxWidth(element)" [matTooltip]="element.taskDescription"> {{element.taskDescription}} </td>

                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                        </table>
                    </div>

                    <div class="no-data-info" *ngIf="dataSource.data.length===0">No Predecessor Available

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <br>
        <div class="flex-row" *ngIf="!taskModalConfig.isTemplate">
            <div class="flex-row-item week-select" (click)="getStopPropogation($event, 'plannedStartDate')">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Planned Start Date</mat-label>
                    <input matInput [matDatepicker]="OriginalStartDate" placeholder="Task Start Date (MM/DD/YYYY)"
                        formControlName="OriginalStartDate" [matDatepickerFilter]="dateFilter"
                        [min]="taskModalConfig.selectedProject && taskModalConfig.selectedProject.IS_CUSTOM_WORKFLOW==='true' ? (taskModalConfig.selectedTask && taskModalConfig.selectedTask.START_DATE ? taskModalConfig.selectedTask.START_DATE : taskModalConfig.minDate)
                                    : taskModalConfig.minDate"
                        [max]="(dateValidation && dateValidation.startMaxDate ? dateValidation.startMaxDate : taskModalConfig.maxDate)"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="OriginalStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #OriginalStartDate
                        [disabled]="selectedStatusInfo && selectedStatusInfo.STATUS_TYPE !==t askConstants.STATUS_TYPE_INITIAL">
                    </mat-datepicker>
                    <mat-error
                        *ngIf="(taskForm.get( 'OriginalStartDate').hasError( 'matDatepickerMax') || taskForm.get( 'OriginalStartDate').hasError( 'matDatepickerMin'))">
                        {{dateErrorMessage}}
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                    <mat-label>Planned Start Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="OriginalStartDate" placeholder="ww/yyyy" name="dp" required />
                        <button mat-icon-button (click)="getBool( 'plannedStartDate')" [disabled]="disable.plannedStartDate">
                                <mat-icon>date_range</mat-icon>
                            </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.plannedStartDate" [fromDate]="fromDate.plannedStartDate" [toDate]="toDate.plannedStartDate" (weekFormat)="changeTargetDP($event, 'OriginalStartDate')" *ngIf="show.plannedStartDate">
                </app-week-pickerr>
            </div>
            <!-- <div class="flex-row-item week-select" (click)="getStopPropogation($event, 'plannedEndDate')" >
                <mat-form-field appearance="outline">
                    <mat-label>Planned End Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="OriginalEndDate" placeholder="ww/yyyy" name="dp" required />
                        <button mat-icon-button (click)="getBool( 'plannedEndDate')" [disabled]="disable.plannedEndDate">
                            <mat-icon>date_range</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.plannedEndDate" [fromDate]="fromDate.plannedEndDate" [toDate]="toDate.plannedEndDate" (weekFormat)="changeTargetDP($event, 'OriginalEndDate')" *ngIf="show.plannedEndDate">
                </app-week-pickerr>
            </div> -->
            <!--Changing planned End date to Estimated completion Date 54-->
            <div class="flex-row-item week-select">
                <mat-form-field appearance="outline">
                    <mat-label>Estimated Completion Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="EstimatedCompletionDate" placeholder="ww/yyyy" name="dp" required />
                        <button mat-icon-button [disabled]="disable.EstimatedCompletionDate">
                            <mat-icon>date_range</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.EstimatedCompletionDate" [fromDate]="fromDate.EstimatedCompletionDate" [toDate]="toDate.EstimatedCompletionDate" (weekFormat)="changeTargetDP($event,
                                    'EstimatedCompletionDate')" *ngIf="show.EstimatedCompletionDate">
                </app-week-pickerr>
            </div>
        </div>
        <div class="flex-row" *ngIf="!taskModalConfig.isTemplate">
            <div class="flex-row-item week-select" (click)="getStopPropogation($event, 'actualStartDate')">

                <mat-form-field appearance="outline">
                    <mat-label>Actual Start Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="startDate" placeholder="ww/yyyy" name="dp" />
                        <button mat-icon-button (click)="show.actualStartDate?getBool( 'actualStartDate'):openWeekPicker( 'actualStartDate')" [disabled]="disable.actualStartDate">
                                <mat-icon>date_range</mat-icon>
                            </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.actualStartDate" [fromDate]="fromDate.actualStartDate" [toDate]="toDate.actualStartDate" (weekFormat)="changeTargetDP($event, 'startDate')" *ngIf="show.actualStartDate">
                </app-week-pickerr>
            </div>
            <div class="flex-row-item week-select" (click)="getStopPropogation($event, 'actualEndDate')">
                <mat-form-field appearance="outline">
                    <mat-label>Actual Comp Date</mat-label>
                    <div class="vendor-select">
                        <input class="" matInput formControlName="endDate" placeholder="ww/yyyy" name="dp" />
                        <button mat-icon-button (click)="show.actualEndDate?getBool( 'actualEndDate'):openWeekPicker( 'actualEndDate')" [disabled]="disable.actualEndDate">
                            <mat-icon>date_range</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.actualEndDate" [fromDate]="fromDate.actualEndDate" [toDate]="toDate.actualEndDate" (weekFormat)="changeTargetDP($event, 'endDate')" *ngIf="show.actualEndDate">
                </app-week-pickerr>
                <!--[maxDate]="weekPickerMaxDate"-->
                <!--uncomment this code after UAT-->
            </div>
        </div>
        <div class="flex-row duration-container" *ngIf="enableDuration || taskModalConfig.isTemplate">
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input type='number' (keydown)="restrictKeysOnType($event, 'NUMBER')" min="1" [max]="maxDuration" matInput placeholder="Duration" formControlName="duration" required>
                    <mat-error align="end" *ngIf="taskForm.get( 'duration').errors">
                        {{durationErrorMessage}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row-item duration-type-container">
                <mat-form-field appearance="outline">
                    <mat-select formControlName="durationType" name="Type" required>
                        <mat-option *ngFor="let type of DurationType.slice(1,2)" value="{{type.value}}">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <!-- <div class="flex-col-item"> -->
            <!-- <div class="flex-row-item"
                *ngIf="!(taskConfig.taskType==t askConstants.TASK_TYPE.TASK_WITHOUT_DELIVERABLE) && (taskConfig.isApprovalTask) && showRevisionReviewRequired">
                <div class="approval-section-holder">

                    <section>
                        <mat-checkbox color="primary" formControlName="revisionReviewRequired"><span>Review Required For
                                Revision</span>
                        </mat-checkbox>
                    </section>
                </div>
            </div> -->
            <!-- <div class="flex-row-item">
                <div>

                    <section>
                        <mat-checkbox color="primary" formControlName="isMilestone"><span>Is Milestone</span>
                        </mat-checkbox>
                    </section>
                </div>
            </div> -->
            <!-- </div> -->
            <!-- <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Allocation</mat-label>
                    <mat-select formControlName="allocation" placeholder="Allocation" [required]="true"
                        name="allocation">
                        <mat-option *ngFor="let allocation of taskModalConfig.taskAssignmentTypes"
                            value="{{allocation.NAME}}">
                            {{allocation.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>
        <div class="flex-row">
            <!-- <mpm-custom-search-field class="flex-row-item"
                *ngIf="taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_ROLE"
                [searchFieldConfig]="taskModalConfig.taskRoleConfig"
                [required]="taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_ROLE">
            </mpm-custom-search-field> -->
            <!-- <mpm-custom-search-field class="flex-row-item"
                *ngIf="!taskConfig.isApprovalTask && (taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_ROLE || taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_USER)"
                [searchFieldConfig]="taskModalConfig.taskOwnerConfig"
                [required]="taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_USER">
            </mpm-custom-search-field> -->
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" placeholder="Status" name="status" required>
                        <mat-option *ngFor="let status of taskStatus" value="{{status[ 'MPM_Status-id'].Id}}">
                            {{status.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <mpm-custom-search-field class="flex-row-item"
                *ngIf="taskConfig.isApprovalTask && (taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_ROLE || taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_USER)"
                [searchFieldConfig]="taskModalConfig.deliverableApprover"
                [required]="taskForm.getRawValue().allocation===t askConstants.ALLOCATION_TYPE_USER">
            </mpm-custom-search-field> -->
            <!-- <mpm-custom-search-field class="flex-row-item"
                *ngIf="!taskConfig.isApprovalTask && this.taskModalConfig.predecessorConfig.filterOptions.length> 0 && taskModalConfig.selectedProject && taskModalConfig.selectedProject.IS_CUSTOM_WORKFLOW === 'false'" [searchFieldConfig]="taskModalConfig.predecessorConfig" [required]="false">
                                    </mpm-custom-search-field> -->

            <!-- <mpm-custom-search-field class=" flex-row-item" *ngIf="taskConfig.isApprovalTask"
                [searchFieldConfig]="taskModalConfig.deliveryPackageConfig" [required]="true">
            </mpm-custom-search-field> -->
        </div>
        <!-- this.taskConfig.isApprovalTask -->
        <!-- <div class="flex-row" *ngIf="this.taskConfig.isApprovalTask">
            <div class="flex-row-item">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Reviewers</mat-label>
                    <mat-chip-list #reviewerList>
                        <span *ngFor="let reviewer of reviewerStatusData">
                            <mat-chip [ngClass]="[reviewer.isCompleted === true ? 'email-chip-completed': 'email-chip']"
                                [removable]="reviewer.isCompleted !== true"
                                (removed)="onRemoveReviewer(reviewer.value)">
                                <span class="email-value" matTooltip="{{reviewer.displayName}}">
                                    {{reviewer.displayName}}
                                </span>
                                <mat-icon matChipRemove *ngIf="reviewer.isCompleted !== true">
                                    cancel</mat-icon>
                            </mat-chip>
                        </span>
                        <input #reviewerInput class="email-chip-input" formControlName="deliverableReviewers"
                            [matChipInputAddOnBlur]="true" [matAutocomplete]="auto" [matChipInputFor]="reviewerList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addReviewer($event)" required="false">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let reviewer of filteredReviewers | async" [value]="reviewer.value">
                            {{ reviewer.displayName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div> -->
        <div class="flex-row">
            <mpm-custom-search-field class="flex-row-item" *ngIf="!taskConfig.isApprovalTask && (taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE || taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER)" [searchFieldConfig]="taskModalConfig.taskOwnerConfig"
                [required]="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER">
            </mpm-custom-search-field>
            <!-- <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" placeholder="Status" name="status" required>
                        <mat-option *ngFor="let status of taskStatus" value="{{status['MPM_Status-id'].Id}}">
                            {{status.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <!-- <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>Priority</mat-label>
                    <mat-select formControlName="priority" placeholder="Priority" name="priority" required>
                        <mat-option *ngFor="let priority of taskModalConfig.taskPriorityList"
                            value="{{priority['MPM_Priority-id'].Id}}">
                            {{priority.DESCRIPTION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
        </div>

        <div class="flex-row" *ngIf="showFields.rmRole">
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>RM Role</mat-label>
                    <input matInput placeholder="RM Role" formControlName="rmRole">
                </mat-form-field>
            </div>
            <div class="flex-row-item max-width">
                <mat-form-field appearance="outline">
                    <mat-label>RM User</mat-label>
                    <input type="text" [(ngModel)]="selectedRMUser" matInput formControlName="rmUser" [matAutocomplete]="auto" placeholder="RM User" (focusout)="onFocusOut($event)" (ngModelChange)="onRMUserChange($event)">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" matAutocompletePosition="below" autoActiveFirstOption="true" (optionSelected)="onRMUserSelection($event)">
                        <mat-option *ngFor="let user of filterUserListData | async" [value]="user">
                            {{user.displayName || user.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="taskForm.get('rmUser')?.hasError('incorrect')">No Matches!</mat-error>
                    <!-- <mat-error *ngFor="let validation of validation_msgs.rmUserAutocompleteControl">
                        <div *ngIf="taskForm.get('rmUser')?.hasError(validation.type)">
                          {{validation.message}}
                        </div>
                    </mat-error> -->
                    <!-- <mat-error *ngIf="userFormControl.hasError('incorrect')">No Matches!</mat-error> -->
                </mat-form-field>
            </div>
            <!--  <mpm-custom-search-field class="flex-row-item"
                *ngIf="!taskConfig.isApprovalTask && (taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_ROLE || taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER)"
                [searchFieldConfig]="taskModalConfig.taskOwnerConfig"
                [required]="taskForm.getRawValue().allocation === taskConstants.ALLOCATION_TYPE_USER">
            </mpm-custom-search-field> -->

        </div>
        <div class="flex-row-item" *ngIf="showFields.taskOwnerRMUser">
            <section>
                <button id="task-save-btn" color='primary' mat-flat-button type="button" (click)="changeTaskOwnerAsRMUser()" [disabled]="disableFields.taskOwnerRMUser">Make RM user = Task Owner</button>
            </section>
        </div>

        <div class="flex-row">
            <div class="flex-row-item" *ngIf="showFields.canStart">
                <section>
                    <mat-checkbox color="primary" formControlName="canStart"><span>Can Start?</span>
                    </mat-checkbox>
                </section>
            </div>

            <div class="flex-row-item" *ngIf="showFields.productionSchedule">
                <section>
                    <mat-checkbox color="primary" formControlName="productionSchedule"><span>Allow production schedule ?
                        <span *ngIf="validationRequiredFields?.productionSchedule" class="error-field">*</span>
                        </span>
                    </mat-checkbox>
                </section>
            </div>
            <div class="flex-row-item" *ngIf="showFields.isRequired">
                <section>
                    <mat-checkbox color="primary" formControlName="isRequired"><span>Is this required?</span>
                    </mat-checkbox>
                </section>
            </div>
            <div class="flex-row-item" *ngIf="showFields.processAuthorityApproval">
                <section>
                    <mat-checkbox color="primary" formControlName="processAuthorityApproval"><span>Process Authority Approval?
                        <span *ngIf="validationRequiredFields?.processAuthorityApproval" class="error-field">*</span>
                        </span>
                    </mat-checkbox>
                </section>
            </div>
            <div class="flex-row-item" *ngIf="showFields.transactionSchemeAnalysisRequired">
                <section>
                    <mat-checkbox color="primary" formControlName="transactionSchemeAnalysisRequired"><span>Transaction Scheme Analysis Required?
                        <span *ngIf="validationRequiredFields?.transactionSchemeAnalysisRequired" class="error-field">*</span>
                        </span>
                    </mat-checkbox>
                </section>
            </div>
            <div class="flex-row-item" *ngIf="showFields.nonProprietaryMaterialCostingRequired">
                <section>
                    <mat-checkbox color="primary" formControlName="nonProprietaryMaterialCostingRequired"><span>New RM costing?
                        <span *ngIf="validationRequiredFields?.nonProprietaryMaterialCostingRequired" class="error-field">*</span>
                        </span>
                    </mat-checkbox>
                </section>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-row-item" *ngIf="showFields.draftClassification">
                <mat-form-field appearance="outline">
                    <mat-label>Draft Classification</mat-label>
                    <input matInput placeholder="Draft Classification" formControlName="draftClassification" />
                    <mat-hint align="end" *ngIf="taskForm.get('draftClassification').errors && taskForm.get('draftClassification').errors.maxlength">
                        {{taskForm.get('draftClassification').errors.maxlength.actualLength}}/{{taskForm.get('draftClassification').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="flex-row-item" *ngIf="showFields.finalClassification">
                <mat-form-field appearance="outline">
                    <mat-label>Final Classification</mat-label>
                    <input matInput placeholder="Final Classification" formControlName="finalClassification" />
                    <mat-hint align="end" *ngIf="taskForm.get('finalClassification').errors && taskForm.get('finalClassification').errors.maxlength">
                        {{taskForm.get('finalClassification').errors.maxlength.actualLength}}/{{taskForm.get('finalClassification').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item" *ngIf="showFields.earlyManufacturingLocation">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Draft Manufacturing Location</mat-label>
                    <input matInput placeholder="Draft Manufacturing Location" formControlName="earlyManufacturingLocation" />
                </mat-form-field>
            </div>
            <div class="flex-row-item" *ngIf="showFields.earlyManufacturingSite">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Early Manufacturing Site</mat-label>
                    <input matInput placeholder="Early Manufacturing Site" formControlName="earlyManufacturingSite" />
                </mat-form-field>
            </div>

        </div>
        <div class="flex-row">
            <div class="flex-row-item" *ngIf="showFields.countryofManufacture">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Country of Manufacture</mat-label>
                    <mat-select formControlName="finalManufacturingLocation" (ngModelChange)="onDraftManufactureLocationChange($event)">
                        <mat-option class="options" *ngFor="let location of draftManufacturingLocations" [value]="location.ItemId">
                            {{location.displayName}}
                        </mat-option>
                    </mat-select>
                    <!--ngModelChange  onSelectionChange  updateRequestRelationsInfo('draftManufacturingLocation','projectClassificationDataForm');-->
                    <!--<mat-error *ngIf="taskForm.get('countryofManufacture').errors && taskForm.get('countryofManufacture').errors.maxlength">
                        Please Select Country of Manufacture
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="flex-row-item" *ngIf="showFields.site">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Site</mat-label>
                    <mat-select formControlName="finalManufacturingSite" (ngModelChange)="onEarlyManufacturingSiteChange($event)">
                        <mat-option class="options" *ngFor="let site of earlyManufacturingSites" [value]="site.ItemId">
                            {{site.displayName}}
                        </mat-option>
                    </mat-select>
                    <!--  (ngModelChange)="updateRequestRelationsInfo('earlyManufacturingSite','projectClassificationDataForm')" <mat-error *ngIf="taskForm.site?.hasError('required')">
                        Please Select Site
                    </mat-error> -->
                </mat-form-field>
            </div>

        </div>
        <div class="flex-row">
            <div class="flex-row-item" *ngIf="showFields.earlyProjectType">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Early Project Type</mat-label>
                    <input matInput placeholder="Early Project Type" formControlName="earlyProjectType" />
                </mat-form-field>
            </div>
            <div class="flex-row-item" *ngIf="showFields.projectType">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Final Project Type</mat-label>
                    <mat-select formControlName="projectType" (ngModelChange)="setProjectClassification($event)">
                        <mat-option class="options" *ngFor="let type of projectTypes" [value]="type.ItemId">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item">
                <div class="radio-buttons radio-btns-width" *ngIf="showFields.newFg">
                    <!-- <mat-label class="radio-row-gap" id="new-fg">New FG(SAP?)
                    </mat-label> -->
                    <mat-label class="radio-row-gap" id="new-fg">New FG(SAP?)
                    </mat-label>
                    <mat-radio-group formControlName="newFg" aria-labelledby="new-fg" (change)="getClassificationChange(true)">
                        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="radio-buttons radio-btns-width" *ngIf="showFields.newRnDFormula">
                    <mat-label class="radio-row-gap" id="new-fg">New R&D Formula
                    </mat-label>
                    <mat-radio-group formControlName="newRnDFormula" aria-labelledby="new-rnd" (change)="disableLeadFormulaField()">
                        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="radio-buttons radio-btns-width" *ngIf="showFields.newHBCFormula">
                    <mat-label class="radio-row-gap" id="new-fg">New HBC Formula
                    </mat-label>
                    <mat-radio-group formControlName="newHBCFormula" aria-labelledby="new-hbc" (change)="getClassificationChange(true)">
                        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-row-item">
                <div class="radio-buttons radio-btns-width" *ngIf="showFields.newPrimaryPackaging">
                    <mat-label class="radio-row-gap" id="new-primary-packaging">New Primary Packaging
                    </mat-label>
                    <mat-radio-group formControlName="newPrimaryPackaging" aria-labelledby="new-primary-packaging" (change)="getClassificationChange(true)">
                        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}</mat-radio-button>
                        <!-- <mat-radio-button value="true" color="primary">Yes</mat-radio-button>
                        <mat-radio-button value="false" color="primary">No</mat-radio-button> -->
                    </mat-radio-group>
                </div>

                <div class="radio-buttons radio-btns-width" *ngIf="showFields.secondaryPackaging">
                    <mat-label class="radio-row-gap" id="secondary-packaging"> 2ndary Packaging
                    </mat-label>
                    <mat-radio-group formControlName="secondaryPackaging" aria-labelledby="secondary-packaging" (change)="getClassificationChange(true)">
                        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="radio-buttons radio-btns-width" *ngIf="showFields.leadFormula">
                    <mat-label class="radio-row-gap" id="leadFormula"> Lead Formula
                    </mat-label>
                    <mat-radio-group formControlName="leadFormula" aria-labelledby="leadFormula" (change)="getClassificationChange(true)">
                        <mat-radio-button color="primary" *ngFor="let option of radioButtonsList" [value]="option.value">{{ option.displayName}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <div class="flex-row" *ngIf="showFields.requiredComplete">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Required Complete</mat-label>
                    <mat-select formControlName="requiredComplete" name="requiredComplete" placeholder="Required Complete" required="validationRequiredFields.requiredComplete">
                        <mat-option *ngFor="let type of requiredComplete" value="{{type.value}}">
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row" *ngIf="showFields.scopingDocumentRequirement">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Scoping Document Requirement</mat-label>
                    <input matInput placeholder="Scoping Document Requirement" formControlName="scopingDocumentRequirement" required="validationRequiredFields.scopingDocumentRequirement" />
                    <!--required="true"-->
                    <mat-hint align="end" *ngIf="taskForm.get('scopingDocumentRequirement').errors && taskForm.get('scopingDocumentRequirement').errors.maxlength">
                        {{taskForm.get('scopingDocumentRequirement').errors.maxlength.actualLength}}/{{taskForm.get('scopingDocumentRequirement').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row" *ngIf="showFields.winshuttleProject">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Winshuttle Project #</mat-label>
                    <input matInput placeholder="Winshuttle Project #" formControlName="winshuttleProject" />
                    <mat-hint align="end" *ngIf="taskForm.get('winshuttleProject').errors && taskForm.get('winshuttleProject').errors.maxlength">
                        {{taskForm.get('winshuttleProject').errors.maxlength.actualLength}}/{{taskForm.get('winshuttleProject').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row" *ngIf="showFields.issuanceType">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Issuance Type</mat-label>
                    <input matInput placeholder="Issuance Type" formControlName="issuanceType" />
                    <mat-hint align="end" *ngIf="taskForm.get('issuanceType').errors && taskForm.get('issuanceType').errors.maxlength">
                        {{taskForm.get('issuanceType').errors.maxlength.actualLength}}/{{taskForm.get('issuanceType').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row" *ngIf="showFields.pallet">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Pallet</mat-label>
                    <input matInput placeholder="Pallet" formControlName="pallet" />
                    <mat-hint align="end" *ngIf="taskForm.get('pallet').errors && taskForm.get('pallet').errors.maxlength">
                        {{taskForm.get('pallet').errors.maxlength.actualLength}}/{{taskForm.get('pallet').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row" *ngIf="showFields.tray">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Tray</mat-label>
                    <input matInput placeholder="Tray" formControlName="tray" />
                    <mat-hint align="end" *ngIf="taskForm.get('tray').errors && taskForm.get('tray').errors.maxlength">
                        {{taskForm.get('tray').errors.maxlength.actualLength}}/{{taskForm.get('tray').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row-item week-select" *ngIf="showFields.BOMSentActual" (click)="getStopPropogation($event,'BOMSentActual')">

            <mat-form-field appearance="outline">
                <mat-label>BOM Sent Actual
                </mat-label>
                <div class="vendor-select">
                    <input class="" matInput formControlName="BOMSentActual" placeholder="ww/yyyy" name="dp" autocomplete="off" />
                    <button mat-icon-button (click)="getBool('BOMSentActual')" [disabled]="disableFields.BOMSentActual">
                            <mat-icon>date_range</mat-icon>
                        </button>
                </div>
            </mat-form-field>
            <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.BOMSentActual" [fromDate]="fromDate.BOMSentActual" *ngIf="show.BOMSentActual" [toDate]="toDate.BOMSentActual" (weekFormat)="changeTargetDP($event,'BOMSentActual')">
            </app-week-pickerr>
        </div>

        <div class="flex-row-item week-select" *ngIf="showFields.noofWeeks">

            <mat-form-field appearance="outline">
                <mat-label>No of Weeks</mat-label>
                <input matInput formControlName="noofWeeks" />
            </mat-form-field>
        </div>
        <div class="flex-row-item week-select" *ngIf="showFields.trialDateConfirmed" (click)="getStopPropogation($event,'trialDateConfirmed')">
            <mat-form-field appearance="outline">
                <mat-label>Trial Week confirmed with bottler</mat-label>
                <div class="vendor-select">
                    <input class="" matInput formControlName="trialDateConfirmed" placeholder="ww/yyyy" name="dp" autocomplete="off" />
                    <button mat-icon-button (click)="getBool('trialDateConfirmed')" [disabled]="disableFields.trialDateConfirmed">
                            <mat-icon>date_range</mat-icon>
                        </button>
                </div>
            </mat-form-field>
            <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.trialDateConfirmed" [fromDate]="fromDate.trialDateConfirmed" [toDate]="toDate.trialDateConfirmed" (weekFormat)="changeTargetDP($event,'trialDateConfirmed')" *ngIf="show.trialDateConfirmed">
            </app-week-pickerr>
        </div>

        <div class="flex-row-item week-select" *ngIf="showFields.finalAgreed1stProdConfirmedWithBottler" (click)="getStopPropogation($event,'finalAgreed1stProdConfirmedWithBottler')">
            <mat-form-field appearance="outline">
                <mat-label>Final Agreed 1st Production Week confirmed with bottler</mat-label>
                <div class="vendor-select">
                    <input class="" matInput formControlName="finalAgreed1stProdConfirmedWithBottler" placeholder="ww/yyyy" name="dp" autocomplete="off" />
                    <button mat-icon-button (click)="getBool('finalAgreed1stProdConfirmedWithBottler')" [disabled]="disableFields.finalAgreed1stProdConfirmedWithBottler">
                            <mat-icon>date_range</mat-icon>
                        </button>
                </div>
            </mat-form-field>
            <app-week-pickerr class="week-picker" [weekYearValue]="weekYear.finalAgreed1stProdConfirmedWithBottler" [fromDate]="fromDate.finalAgreed1stProdConfirmedWithBottler" [toDate]="toDate.finalAgreed1stProdConfirmedWithBottler" (weekFormat)="changeTargetDP($event,'finalAgreed1stProdConfirmedWithBottler')"
                *ngIf="show.finalAgreed1stProdConfirmedWithBottler">
            </app-week-pickerr>
        </div>
        <div class="flex-row" *ngIf="showFields.trialVolume24EQCases">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>Trial Volume (24 EQ cases)</mat-label>
                    <input matInput min="0" (keypress)="numericOnly($event)" placeholder="Trial Volume (24 EQ cases)" formControlName="trialVolume24EQCases" />
                    <mat-hint align="end" *ngIf="taskForm.get('trialVolume24EQCases').errors && taskForm.get('trialVolume24EQCases').errors.maxlength">
                        {{taskForm.get('trialVolume24EQCases').errors.maxlength.actualLength}}/{{taskForm.get('trialVolume24EQCases').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row" *ngIf="showFields.firstProductionVolume24EQCases">
            <div class="flex-row-item">
                <mat-form-field appearance="outline">
                    <mat-label>First Production Volume (24 EQ cases)</mat-label>
                    <input matInput min="0" (keypress)="numericOnly($event)" matInput placeholder="First Production Volume (24 EQ cases)" formControlName="firstProductionVolume24EQCases" />
                    <mat-hint align="end" *ngIf="taskForm.get('firstProductionVolume24EQCases').errors && taskForm.get('firstProductionVolume24EQCases').errors.maxlength">
                        {{taskForm.get('firstProductionVolume24EQCases').errors.maxlength.actualLength}}/{{taskForm.get('firstProductionVolume24EQCases').errors.maxlength.requiredLength}}
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="task-owner-task-count" *ngIf="ownerProjectCount">
            <mat-error *ngIf="!isZeroOwnerProjectCount">{{ownerProjectCountMessage}}</mat-error>
            <mat-label *ngIf="isZeroOwnerProjectCount">{{ownerProjectCountMessage}}</mat-label>
        </div>

        <!-- <div class="flex-row-item week-select">
          <mat-form-field appearance="outline">
              <mat-label>Task Comments</mat-label>
              <div class="vendor-select">
                <textarea [matAutocomplete]="userList" formControlName="comments" (keydown.shift.@)="tagUserForComment($event)" matInput placeholder="Task Comments" ></textarea>
                <mat-autocomplete   #userList="matAutocomplete" matAutocompletePosition="above"
                autoActiveFirstOption="true" (optionSelected)="onOptionSelected($event)"         >
                <mat-option *ngFor="let userData of userListData" [value]="userData">
                    <span>{{userData.displayName}}</span>
                </mat-option>
            </mat-autocomplete>
                  <button style="color: #ff00ff !important;" (click)="openCommentDialog(selectedTask)"  mat-icon-button matTooltip="Comments">

                    <mat-icon>comment</mat-icon>
                  </button>
              </div>
          </mat-form-field>

      </div> -->
        <div class="pl-1 pr-1">
            <div class="">
                <app-single-comments-text #singleCommentcomponent (commentChange)="onCommentChange($event)" [taskDetails]="selectedTask" [userListData]="userListData"> </app-single-comments-text>
            </div>
        </div>

        <div class="flex-col-item">
            <div class="flex-row" id="button-action-sp">
                <!-- <div class="flex-row-item">
                    <mat-slide-toggle class="flex-row-item" color="primary" formControlName="isMilestone"
                        [disabled]="selectedStatusInfo && selectedStatusInfo.STATUS_TYPE !== taskConstants.STATUS_TYPE_INITIAL">
                        Is Milestone
                    </mat-slide-toggle>
                </div> -->
                <div class="flex-row-item">
                    <span class="form-actions">
                        <button type="button" id="cancel-btn" mat-stroked-button
                            (click)="cancelTaskCreation()">Cancel</button>
                        <button id="task-action-btn" *ngIf="!taskModalConfig.isTemplate && taskModalConfig.selectedTask && getFinalStatusCheck(taskModalConfig.selectedTask)" type="button" mat-stroked-button
                            (click)="performTaskAction('Revoke')" [disabled]="disable.taskAction">Revoke</button>
                        <button id="task-action-btn" *ngIf="!taskModalConfig.isTemplate && taskModalConfig.selectedTask && (taskModalConfig.selectedTask.IS_ACTIVE === 'true') && !getFinalStatusCheck(taskModalConfig.selectedTask)" type="button" mat-stroked-button
                            (click)="performTaskAction('Complete')" [disabled]="(disable.taskAction) || (chipChanged === true ? false: (taskForm.invalid))" >Complete</button>
                           <!--  <button id="task-action-btn" type="button" mat-stroked-button
                            (click)="performTaskAction('Complete')">Complete</button> [disabled]="(disable.taskAction || (chipChanged === true) ? false: (taskForm.invalid))"-->
                        <button type="button" id="task-save-btn" color='primary' mat-flat-button
                            (click)="updateTask(SELECTED_SAVE_OPTION)" class="ang-btn"
                            matTooltip="{{SELECTED_SAVE_OPTION.name}}"
                            [disabled]="(chipChanged === true) ? false: (taskForm.pristine || taskForm.invalid)">{{SELECTED_SAVE_OPTION.name}}</button>
                        <span *ngIf="!taskConfig.taskId">
                            <!--!(chipChanged === true)  -->
                            <button type="button" id="task-save-option" mat-flat-button color="primary"
                                [matMenuTriggerFor]="saveOptionsMenu"
                                [disabled]="taskForm.pristine || taskForm.invalid">
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <mat-menu #saveOptionsMenu="matMenu">
                                <span *ngFor="let saveOption of saveOptions">
                                    <button type="button" *ngIf="saveOption.value != SELECTED_SAVE_OPTION.value"
                                        mat-menu-item (click)="updateTask(saveOption)">
                                        <span>{{saveOption.name}}</span>
                    </button>
                    </span>
                    </mat-menu>
                    </span>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
