<table class="deliverable-task-list" mat-table [dataSource]="deliverableTaskDataSource" matSort multiTemplateDataRows cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)">
    <!-- <ng-container matColumnDef="Expand" sticky> -->
    <ng-container matColumnDef="Expand" sticky>
        <th class="exp" mat-header-cell *matHeaderCellDef></th>
        <td class="exp" mat-cell *matCellDef="let row">
            <mat-icon *ngIf="!row.isExpanded" matSuffix color="primary">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="row.isExpanded" matSuffix color="primary">keyboard_arrow_down</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="Select" sticky>
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [disabled]="!myTasksFilter" (change)="$event ? masterToggle($event) : null" [checked]="selection.hasValue() && isAllSelected(true)" [indeterminate]="selection.hasValue() && !isAllSelected(true)">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox [disabled]="!myTasksFilter" color="primary" (click)="$event.stopPropagation()" [(ngModel)]="row.selected" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="{{ column.INDEXER_FIELD_ID }}" *ngFor="let column of displayableMetadataFields ; index as i" [sticky]="i<userPreferenceFreezeCount">
        <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true">
          {{column.DISPLAY_NAME}} </th> -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.SORTABLE === 'true' ? false : true" cdkDrag [style.min-width.px]="column.width">
            <span>{{ column.DISPLAY_NAME }}</span>
            <span class="ui-column-resizer" (click)="$event.stopPropagation()" (mousedown)="onResizeMouseDown($event, column)">
        <mat-icon>more_vert</mat-icon>
        <!-- [style.min-width.px]="column.width" -->
      </span>
        </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{ 'wrap-text-custom': column.DATA_TYPE === 'string'}" [style.max-width.px]="column.width">
            <span>
        <div #divposition [matTooltip]="getProperty(row, column)" *ngIf="
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_TASK_FIELDS.TASK_PRIORITY &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_TASK_FIELDS.TASK_PROGRESS &&
          column.MAPPER_NAME !==
          'NPD_PROJECT_BUSINESS_ID' &&
          column.MAPPER_NAME !==
          'NPD_PROJECT_COM_TECH_OPS_AGREED_DP_WEEK' &&
          column.MAPPER_NAME !==
            MPMFieldConstants.MPM_TASK_FIELDS.TASK_STATUS &&
          !checkDateType(column)&&
          column.MAPPER_NAME !='NPD_TASK_COMMENT_EXIST'
        " class="flex-card">
          <!-- matTooltipClass="custom-tooltip" -->
          <a><span #spanposition >{{
              getProperty(row, column) || "NA"
              }}</span></a>
            </div>

            <div #divposition [matTooltip]="getWeek(column, row)" *ngIf="checkDateType(column)">
                <!-- matTooltipClass="custom-tooltip" -->
                <a><span #spanposition>{{
              getWeek(column, row) || "NA"
              }}</span></a>
            </div>
            <div *ngIf="
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PRIORITY ||
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_TASK_FIELDS.TASK_PRIORITY ||
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PRIORITY
        ">
                <mat-icon matTooltip="{{ getPriority(row, column).tooltip }}" [style.color]="getPriority(row, column).color">
                    {{ getPriority(row, column).icon }}
                </mat-icon>
            </div>
            <div *ngIf="
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_PROGRESS ||
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_TASK_FIELDS.TASK_PROGRESS ||
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_PROGRESS
        ">
                <span matTooltip="{{ getProperty(row, column) || '0' }}%">{{ getProperty(row, column) || "NA" }}%
            <mat-progress-bar color="primary" mode="determinate" value="{{ getProperty(row, column) || '0' }}" class="">
            </mat-progress-bar>
          </span>
            </div>
            <div *ngIf="
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_PROJECT_FEILDS.PROJECT_STATUS ||
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_TASK_FIELDS.TASK_STATUS ||
          column.MAPPER_NAME ===
            MPMFieldConstants.MPM_CAMPAIGN_FEILDS.CAMPAIGN_STATUS
        ">
          <mat-chip-list>
            <mat-chip [ngClass]="changeStatusColor(row,getProperty(row, column))" class="status-chip">{{
              getProperty(row, column) || "NA"
              }}</mat-chip>
          </mat-chip-list>
        </div>

            <div *ngIf="column.MAPPER_NAME === 'NPD_PROJECT_BUSINESS_ID'" (click)="$event.stopPropagation();onRowClick(row)">
                <button class="redirect-cell" mat-button>
            <a><span #spanposition [matTooltip]="getProperty(row, column)">
                {{getProperty(row, column) || "NA"}}
              </span>
            </a>
          </button>
            </div>
            <div *ngIf="column.MAPPER_NAME === 'NPD_PROJECT_COM_TECH_OPS_AGREED_DP_WEEK'" (click)="$event.stopPropagation()">
              <a><span #spanposition  [matTooltip]="getProperty(row, column)" [ngClass]="{'background-color':(getCurrentTimelineCondition(row,column) == 'red'), 'background-color1':(getCurrentTimelineCondition(row,column) == 'green'),'background-color2':(getCurrentTimelineCondition(row,column) == 'amber')}">
                {{getProperty(row, column) || "NA"}}</span
                ></a>
          </div>
            <div *ngIf="column.MAPPER_NAME ==='NPD_TASK_COMMENT_EXIST'">
              <button  [ngClass]="{'color-white':!row?.NPD_TASK_COMMENT_EXIST,'purple-color':row?.NPD_TASK_COMMENT_EXIST }" [disabled]="getFinalStatusCheck(row) || isOnHoldProject(row)" mat-icon-button matTooltip="Comments" (click)="openCommentDialog(row)">
                <mat-icon>comment</mat-icon>
              </button>
            </div>

            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" class="min-width-action">
            <div class="action-container">
                <button mat-icon-button matTooltip="Claim" (click)="claim(row)" [disabled]="enableClaim(row)" [ngClass]="{ 'task-operation-disabled': enableClaim(row) }">
          <mat-icon color="primary" class="claim-icon">thumb_up</mat-icon>
          <!--check_circle-->
        </button>

                <!-- <button
        *ngIf="showRevoke(row)"
        mat-icon-button
        matTooltip="Revoke"
        (click)="revoke(row)"
        [disabled]="enableRevoke(row)"
        [ngClass]="{ 'task-operation-disabled': enableRevoke(row) }"
      >
        <mat-icon color="primary" class="revoke-icon">thumb_down</mat-icon
        ><!--remove_circle-->
                <!---- </button> -->
                <!-- <button [disabled]="getFinalStatusCheck(row) || isOnHoldProject(row)" mat-icon-button matTooltip="Comments" (click)="openCommentDialog(row)">
          <mat-icon>comment</mat-icon>
        </button> -->
                <button [disabled]="getFinalStatusCheck(row) || isOnHoldProject(row)" mat-icon-button matTooltip="Edit Task" (click)="openEditDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td class="task-details" mat-cell *matCellDef="let row" [attr.colspan]="displayColumns?.length">
            <div class="task-element-detail" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
                <div class="deliverables-info" *ngIf="!row.deliverableDetails || row.deliverableDetails.length === 0">
                    <div class="task-heading">No Deliverables are there to work</div>
                </div>
                <div class="deliverables-card-area">
                    <div class="deliverable-list-view">
                        <div class="deliverable-tiles" *ngFor="let deliverableDetail of row.deliverableDetails">
                          <app-npd-deliverable-card [isPMView]="false" [bulkEdit]="row" (deliverableBulkCheckCount)="deliverableBulkEditCheckCount($event)" (selectedDeliverableData)="selectedBulkDeliverableData($event)"
                             [deliverableData]="deliverableDetail.deliverableData" (refreshDeliverable)="refreshDeliverable($event)" (assetDetailsCallBackHandler)="retrieveAssetData($event)" (editDeliverableHandler)="editDeliverable($event)"
                                (crHandler)="openCR($event)" (deliverableDetailsHandler)="deliverableDetails($event)" (versionsHandler)="viewVersions($event)" (shareAssetHandler)="shareAsset($event)" [level]="level" [bulkActions]="bulkActions" [unselectDeliverable]="unselectDeliverable"
                                [taskDueDate]="row" [mapper]="this.MPMFieldConstants.MPM_TASK_FIELDS.TASK_DUE_DATE" [requestId]="row">
                            </app-npd-deliverable-card>
                        </div>
                        <!-- <span *ngIf="assetDetailData && assetDetailData.length >0">
                          <mat-grid-tile *ngFor="let asset of assetDetailData[0]">
                              <app-asset-card [asset]="asset"
                                  (assetDetailsCallBackHandler)="retrieveAssetData($event)"
                                  (shareAssetsCallbackHandler)="shareAsset($event)" [filterType]="filterType"
                                  [IsNotPMView]="IsNotPMView">
                              </app-asset-card>
                          </mat-grid-tile>
                      </span> -->
                        <span *ngIf="row.assetDetailDatas && row.assetDetailDatas.length > 0">
              <div *ngFor="let asset of row.assetDetailDatas[0]">
                <app-asset-card [asset]="asset" (assetDetailsCallBackHandler)="retrieveAssetData($event)"
                  (shareAssetsCallbackHandler)="shareAsset($event)" [filterType]="filterType"
                  [IsNotPMView]="IsNotPMView">
                </app-asset-card>
              </div>
            </span>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
    <tr id="{{ row }}" mat-row *matRowDef="let row; columns: displayColumns" class="task-element-row" (click)="expandTaskRow(row)"></tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="task-details-row"></tr>
</table>

<div *ngIf="
  deliverableTaskDataSource &&
  deliverableTaskDataSource.data &&
  deliverableTaskDataSource.data.length == 0
" class="central-info">
    <button color="accent" disabled mat-flat-button>No tasks available.</button>
</div>
