<mat-dialog-content>
    <div class="search-input">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-icon matPrefix class="cursor-pointer" (click)="search(searchKeyword)">search</mat-icon>
                <input type="text" matInput [(ngModel)]="searchKeyword" name="searchKeyword"
                    (keyup.enter)="search(searchKeyword)">
            </mat-form-field>
        </form>
    </div>

    <div class="saved-searches">
        <span class="heading">Saved Searches</span>
        <mat-chip-list aria-label="Saved Search Selection" class="saved-search-items" *ngIf="savedSearches.length > 0">
            <mat-chip class="cursor-pointer" *ngFor="let savedSearch of savedSearches"
                (click)="getSavedSearchDetail(savedSearch)">
                <span class="searchName">{{savedSearch.NAME}}</span>
                <mat-icon matTooltip="Delete this Search" (click)="deleteSavedSearch(savedSearch)" matChipRemove
                    *ngIf="!savedSearch.public">delete
                </mat-icon>
                <mat-icon matTooltip="Edit this Search" (click)="editSavedSearch(savedSearch)" matChipRemove
                    *ngIf="!savedSearch.public">edit
                </mat-icon>
            </mat-chip>
        </mat-chip-list>
        <p class="no-items" *ngIf="savedSearches.length === 0">No saved searches.</p>
    </div>

    <div class="recent-searches">
        <span class="heading">Recent Searches</span>
        <mat-list role="list" class="recent-search-items" *ngIf="recentSearches.length > 0">
            <mat-list-item role="listitem" *ngFor="let recentSearch of recentSearches">
                <mat-icon mat-list-icon>replay</mat-icon>
                <p mat-line *ngIf="!recentSearch[0].isAdvancedSearch"> <span class="cursor-pointer"
                        (click)="search(recentSearch)" matTooltip="{{recentSearch}}">
                        Keyword: {{recentSearch}}
                    </span>
                </p>
                <p mat-line *ngIf="recentSearch[0] && recentSearch[0].isAdvancedSearch">
                    <span class="cursor-pointer" (click)="search(recentSearch)"
                        matTooltip="{{recentSearch[0].NAME ? recentSearch[0].NAME : 'Advanced Search Criteria'}}">
                        {{recentSearch[0].NAME ? recentSearch[0].NAME : 'Advanced Search Criteria'}} </span>
                    <!-- <mat-icon (click)="editRecentAdvancedSearch(recentSearch)">edit
                    </mat-icon> -->
                </p>
                <mat-icon class="cursor-pointer" *ngIf="recentSearch[0] && recentSearch[0].isAdvancedSearch"
                    (click)="editRecentAdvancedSearch(recentSearch)">edit
                </mat-icon>
            </mat-list-item>
        </mat-list>
        <p class="no-items" *ngIf="recentSearches.length === 0">No recent searches.</p>
    </div>

    <div class="advanced-search-link">
        <button mat-stroked-button type="button" (click)="openAdvancedSearch(false, false)" mat-button>Advanced
            Search</button>
    </div>
</mat-dialog-content>