::ng-deep .mat-dialog-container {
    padding: 12px 24px 0 24px;
}

div.search-input {
    .example-form {
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }
}

div.saved-searches {
    margin: 16px 0;

    .saved-search-items {
        ::ng-deep .mat-chip-list-wrapper {
            margin: 4px 0;
            max-height: 80px;
            overflow: auto;
        }
    }
}

div.recent-searches {
    margin: 16px 0;

    .recent-search-items {
        max-height: 204px;
        overflow: auto;

        mat-list-item {
            mat-icon {
                font-size: 18px;
                height: 18px;
            }
        }
    }
}

div.saved-searches,
div.recent-searches {
    .heading {
        font-size: large;
        margin: 4px 0;
    }

    p.no-items {
        margin: 4px 0;
        text-align: center;
    }
}

div.advanced-search-link {
    button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.cursor-pointer {
    cursor: pointer;
    max-width: 98%;
}

.searchName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ::ng-deep .mat-dialog-container {
    padding: 12px 15px 0;
} */