<div>
    <button class="sort-btn" mat-button matTooltip="Click to see more view options">
      <!--   <span> {{'name'}}
            </span>
        <mat-icon color="primary">arrow_drop_down</mat-icon> -->
    </button>
</div>
<div class="iframe-Container">
    <iframe name="frame-id" #iframe [hidden]='!urlObtained' id="reportIframe" [src]="urlToBeloaded"></iframe>
</div>