<h2 mat-dialog-title>Custom Workflow
    <mat-icon class="close-action" (click)="close()">close</mat-icon>
</h2>

<!-- <mat-dialog-content> -->
<div>
    <div class="field-action">
        <button (click)="addRule()" mat-stroked-button matTooltip="Add Rule" [disabled]="taskData && taskData.length === 0">
            <mat-icon>add</mat-icon>
            Add Rule
        </button>
    </div>
    <div class="field-options">
        <span *ngFor="let rule of ruleListGroup">
            <app-custom-workflow-field [ruleData]="rule" [ruleList]="ruleList" [ruleListGroup]="ruleListGroup" [projectRuleList]="projectRuleList"
                [taskData]="taskData" [isRulesInitiated]="isRulesInitiated" [isCurrentTaskRule]="isCurrentTaskRule"
                (closeCallbackHandler)="close()" (ruleDependencyErrorHandler)="checkRuleDependencies($event)" (removeWorkflowRuleHandler)="removeRule($event)" (ruleGroupHandler)="groupRulesOnSave()"
                (enableInitiateWorkflowHandler)="enableInitiateWorkflow()" >
            </app-custom-workflow-field>
        </span>
    </div>
</div>
<!-- </mat-dialog-content> -->

<mat-dialog-actions align="end" *ngIf="!isTemplate">
    <button mat-stroked-button (click)="close()">
        <span>Cancel</span>
    </button>
    <button color="primary" mat-flat-button class="save-button" [disabled]="!enableInitiate" (click)="triggerWorkflow()">
        <span>Initiate</span>
    </button>
</mat-dialog-actions>