.close-action {
    float: right;
    cursor: pointer;
}

.save-button {
    margin-left: 8px;
}

.field-action {
    margin: 0px 0px 16px 8px;
}

.field-options {
    max-height: 65vh;
    overflow-y: auto;
}