/* You can add global styles to this file, and also import other style files */
.material-icons-outlined {
  // color: var(--brand-color);
  cursor: pointer;
}
.item-disabled {
  color: var(--disabled-color) !important;
  cursor: default !important;
  // pointer-events: none;
}
.brand-color {
  color: var(--brand-color) !important;
}
.color-white{
  color: white !important ;
  }

.d-flex{
  display: flex;
}
.purple-color{
  color: #ff00ff !important;
}
