<h1 mat-dialog-title>Choose User</h1>
<div mat-dialog-content>
    <form #jobOrderInboxUserForm="ngForm">
        <div fxFlexFill fxLayout.lg="column" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
            <div class="mrm-inbox-user-job-inputs" fxFlex="100">
                <mat-form-field appearance="outline">
                    <input placeholder="Please select a user" [disabled]="userSource.length == 0" id="userId" name="userId" required matInput [(ngModel)]="selectedUser" (ngModelChange)="filterUsers()" #userId="ngModel" [matAutocomplete]="auto">
                    <mat-error *ngIf="userId.invalid">Please Select a User</mat-error>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div *ngIf="data.operation === 'Delegate'" class="mrm-inbox-user-job-inputs" fxFlex="100">
                <mat-checkbox id="ownerCheckbox" name="ownerCheckbox" #ownerCheckbox="ngModel" [(ngModel)]="transferOwnership">Transfer Ownership</mat-checkbox>
            </div>
        </div>
    </form>
</div>
<div align="end" mat-dialog-actions>
    <div *ngIf="jobOrderInboxUserForm.invalid">
        <button mat-raised-button color="accent" cdkFocusInitial [disabled]="jobOrderInboxUserForm.invalid" (click)="completeOperation()">{{data.operation}}</button>
    </div>
    <div *ngIf="!jobOrderInboxUserForm.invalid">
        <button mat-raised-button color="primary" cdkFocusInitial [disabled]="jobOrderInboxUserForm.invalid" (click)="completeOperation()">{{data.operation}}</button>
    </div>
    <div style="margin-left: 10px;">
        <button mat-raised-button color="accent" (click)="cancelOperation()">Cancel</button>
    </div>
</div>