<form *ngIf="programmeManagerReporting?.model?.ngIf" [formGroup]="bulkProgrammeManagerReportingForm"
    class="bulk-pm-container">
    <ng-container *ngIf="programmeManagerReporting?.projectType?.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Reporting Project Type" matTooltipPosition="above">
                Reporting Project Type

            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="projectType"
                    (ngModelChange)="updateRequestRelationsInfo('projectTypeItemId','projectType'); onProjectTypeChange($event)"
                    matTooltip="{{getProjectType(programmeManagerReportingForm?.value?.projectType)}}" required>
                    <mat-option class="options" *ngFor="let type of reportingProjectType" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.projectType.hasError('required')">
                    Please Select Reporting Project Type
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting?.projectSubType?.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Project Sub Type" matTooltipPosition="above">
                Project Sub Type
                <!--  <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="projectSubType"
                    (ngModelChange)="updateRequestRelationsInfo('projectSubTypeItemId','projectSubType'); onProjectSubTypeChange($event)"
                    matTooltip="{{getProjectSubType(programmeManagerReportingForm?.value?.projectSubType)}}" required>
                    <mat-option class="options" *ngFor="let type of reportingProjectSubType" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.projectSubType.hasError('required')">
                    Please Select Project Sub Type
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container *ngIf="programmeManagerReporting.projectDetail.ngIf">
        <div class="field-width">
            <span class="text-color" matTooltip="Project Detail" matTooltipPosition="above">
                Project Detail
                <!--  <span class="astric"
                    >*</span> -->
            </span>
            <mat-form-field appearance="outline" floatLabel="never">
                <mat-select formControlName="projectDetail"
                    (ngModelChange)="updateRequestRelationsInfo('projectDetailItemId','projectDetail')"
                    matTooltip="{{getProjectDetail(programmeManagerReportingForm?.value?.projectDetail)}}" required>
                    <mat-option class="options" *ngFor="let type of reportingProjectDetail" [value]="type.ItemId"
                        matTooltip="{{type.displayName}}">
                        {{type.displayName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControls.projectDetail.hasError('required')">
                    Please Select Project Detail
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
</form>