<div class="bulk-edit-modal">
    <div class="bulk-header">
        <span>Select Bulk Edit action</span>
    </div>
    <!-- <div class="field-options">
		<span *ngFor="let row of filterRowList">
			<mpm-advanced-search-field [filterRowData]="row" [advancedSearchConfigData]="advancedSearchConfigData"
				(removeFilterField)="removeFilter($event)" (filterSelected)="filterSelectionChange($event)">
			</mpm-advanced-search-field>
		</span>
		<div class="info" *ngIf="!filterRowList.length">
			<p>Click on Add Filter to start adding filters</p>
		</div>
	</div> -->
    <div class="field-options">
        <span *ngFor="let row of bulkEditFieldsData">
            <app-bulk-edit-project-field [bulkEditFieldsData]="row" [leadMarketRegion]="leadMarketRegion"
                (selectedField)="onFieldSelected($event)" (removeSelectedField)="onRemoveSelectedField($event)"
                (finalBulkEditFieldArray)="onFieldConfirmFinal($event)">
            </app-bulk-edit-project-field>
        </span>
        <div class="info" *ngIf="!bulkEditFieldsData.length">
            <p>Click on Add Field to start adding fields </p>
        </div>
    </div>

    <div class="field-action">
        <button color="primary" mat-flat-button class="add-field-button" matTooltip="Add Field" (click)="addField()">
            <mat-icon>add</mat-icon>
            Add Field
        </button>
        <button mat-flat-button color="primary" class="bulk-action-buttons" matTooltip="Save"
            (click)="onClickSave()">Save</button>
        <button (click)="closeDialog(true)" mat-flat-button color="primary" class="bulk-action-buttons"
            matTooltip="Cancel">Cancel</button>
    </div>


</div>