.bulk-edit-modal {
    // min-width: 40.625rem;
    // max-width: 40.625rem;
    min-width: 50rem;
    max-width: 50rem;

}
::ng-deep .mat-dialog-container {
    padding: 12px 24px 5px 24px;
}
.field-options {
    padding-top: 10px;
    max-height: 40vh;
    overflow-y: auto;
    min-height: 22.375rem;
}
.bulk-header {
    margin-bottom: 1.25rem;
}

.add-field-button{
    margin:15px 10px 15px 0;
}

.bulk-action-buttons{
    float: right;
    margin:15px 10px 15px 0;
}
.info {
    width: 100%;
    text-align: center;
    font-size: small;
}

