.project-header {
    display: flex;
    flex-direction: row
}

.project-card-image {
    flex-grow: 1;
    margin-bottom: 5px;
    margin-left: 5px;

    .action-button {
        justify-content: flex-end;
        align-items: center;
    }
}

.project-percentage {
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
}

mat-card {
    min-width: 270px;
    min-height: 200px;
    cursor: pointer;
}

.card-title-wrapper {
    align-items: center;
}

.card-title {
    display: inline-block;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px;
    font-size: 15px;
    min-width: 20px;
    max-width: 190px;
}

.flex-row-item p {
    font-size: 13px;
    margin: 2px;
}

.project-card {
    padding: 12px;
}

.project-card:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.card-heading {
    font-weight: 590;
}

span.item-title {
    margin-right: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.card-item {
    margin: 4px;
    font-size: 14px;
    align-items: center;
    max-width: 260px;
}

.status-chip {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: normal;
}

.text-warp {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 56%;
}

.select-project {
    padding: 10px;
}