.overview-content {
    padding: 20px;
}

.project-overview-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
    width: 50vw;
}

.form-actions {
    padding: 0 15px 0 15px;
    margin-left: auto;
}

.form-actions button {
    margin-left: 15px;
}

.project-overview-form .mat-form-field {
    width: 100%;
    margin: 0 15px 0 0;
}

mpm-custom-search-field {
    width: 100%;
    margin: 0 15px 0 0;
}

.form-action {
    margin-left: 20px;
    margin-bottom: 20px;
}

::ng-deep .mat-form-field-suffix button {
    position: relative;
    margin: 0px -20px 0px -30px;
}

.mat-radio-button {
    margin-left: 10px;
}

.max-width {
    max-width: 50%;
}