<ng-container *ngIf="isTemplate || isCampaign">
    <!--*ngIf="isTemplate || isCampaign"-->
    <app-project-overview [projectId]="projectId" [isTemplate]="isTemplate" [isCampaign]="isCampaign" [campaignId]="campaignId" (closeCallbackHandler)="afterCloseProject($event)" (saveCallBackHandler)="afterSaveProject($event)" (notificationHandler)="notificationHandler($event)"
        (loadingHandler)="loadingHandler($event)" (restartProjectHandler)="restartProjectHandler()">
    </app-project-overview>
</ng-container>

<ng-container *ngIf="!isTemplate && !isCampaign">
    <npd-app-project-overview [projectId]="projectId" (loadingHandler)="loadingHandler($event)" (notificationHandler)="notificationHandler($event)"></npd-app-project-overview>
</ng-container>