.asset-menu {
    color: black;
}

.version-chip {
    min-height: 18px !important;
    padding: 4px 4px !important;
    margin-top: 14px !important;
}

.mat-checkbox-checked.select-asset {
    display: inline-block;
}

.text-warp {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 56%;
}

.asset-card {
    min-height: 328px;
    padding: 0px;
    padding-bottom: 10px;
    border: 2px solid #908f8f;
    .select-asset {
        position: absolute;
        top: 10px;
        left: 12px;
        display: inline-block;
        z-index: 100;
    }
    .reference-asset {
        float: right;
        position: absolute;
        right: 1opx;
        right: 10px;
        top: 10px;
        // z-index: 100;
    }
    &:hover {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    }
    div.asset-content-area {
        height: 14rem;
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        outline: none;
        .asset-holder {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;
            border: 1px solid #ddd;
            img {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto auto;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                min-width: 190px;
                min-height: 1px;
            }
        }
        .preview-file-icon {
            font-size: 70px;
            margin-left: 80px;
            margin-top: 80px;
        }
    }
    div.card-content {
        .asset-actions {
            .action-icon {
                justify-content: flex-end;
            }
            .red {
                color: red;
            }
            .orange {
                color: orange;
            }
            .green {
                color: green;
            }
            .gray {
                color: gray;
            }
            .status-icon {
                cursor: default;
            }
        }
        .asset-details {
            padding: 10px;
            .asset-name {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 140px;
                white-space: nowrap;
            }
        }
    }
}

.asset-description {
    padding: 0px;
    padding-left: 10px;
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.field-column-name {
    font-weight: 550;
    font-style: "Roboto";
    font-size: 0.9rem;
}

.field-column-value {
    font-size: 0.9rem;
    font-style: "Roboto";
}


/* .reference-asset{
    float: right;
    position: relative;
    top: 10px;
    display: inline-block;
    z-index: 100;
} */