<mat-card class="asset-card" *ngIf="asset && (asset.latest_version || isVersion)">
    <mat-checkbox *ngIf="!isVersion && (!IsNotPMView)" color="primary" class="flex-row-item select-asset" (click)="$event.stopPropagation()" (change)="checkDeliverable(asset)" [(ngModel)]="checked">
        <!-- [disabled]="filterType || IsNotPMView" -->
    </mat-checkbox>
    <mat-icon *ngIf="isReferenceAsset" class="reference-asset" matTooltip="Reference Asset">wallpaper</mat-icon>
    <div class="asset-content-area" *ngIf="asset.rendition_content && (asset.rendition_content.thumbnail_content ? asset.rendition_content.thumbnail_content && asset.rendition_content.thumbnail_content.url : asset.rendition_content.preview_content && asset.rendition_content.preview_content.url)">
        <!-- *ngIf="asset.rendition_content && asset.rendition_content.thumbnail_content && asset.rendition_content.thumbnail_content.url" -->
        <div class="asset-holder">
            <img *ngIf="asset && asset.rendition_content && (asset.rendition_content.thumbnail_content !== undefined)" src="{{otmmBaseUrl+asset.rendition_content.thumbnail_content.url.slice(1)}}" alt="asset" matTooltip="{{asset.name}}">
            <mat-icon class="preview-file-icon" *ngIf="asset && asset.rendition_content && !(asset.rendition_content.thumbnail_content)" matTooltip="{{asset.name}}">
                {{findDocType(asset.name)}}
            </mat-icon>
        </div>
    </div>
    <div class="asset-content-area" *ngIf="!asset.rendition_content">
        <div class="asset-holder">
            <mat-icon class="preview-file-icon" matTooltip="{{asset.name}}">
                {{findDocType(asset.name)}}
            </mat-icon>
        </div>
    </div>
    <div class="card-content">
        <div class="flex-row asset-actions">
            <button class="green status-icon" *ngIf="assetStatus === assetStatusConstants.APPROVED && asset.latest_version" mat-icon-button matTooltip="{{assetStatus}}">
                <mat-icon>check_circle</mat-icon>
            </button>
            <button class="red status-icon" *ngIf="assetStatus === assetStatusConstants.REQUESTED_CHANGES || !asset.latest_version" mat-icon-button matTooltip="{{assetStatus}}">
                <mat-icon>highlight_off</mat-icon>
            </button>
            <button class="orange status-icon" *ngIf="assetStatus === assetStatusConstants.IN_PROGRESS && asset.latest_version" mat-icon-button matTooltip="{{assetStatus}}">
                <mat-icon>fiber_manual_record</mat-icon>
            </button>
            <!-- Need to remove asset status - defined, if not needed-->
            <button class="gray status-icon" *ngIf="assetStatus === assetStatusConstants.DEFINED && asset.latest_version" mat-icon-button matTooltip="{{assetStatus}}">
                <mat-icon>fiber_manual_record</mat-icon>
            </button>
            <!-- open creative review -->
            <!-- <button mat-icon-button matTooltip="Open Creative Review" (click)="openCR()" *ngIf="!isReferenceAsset && !isVersion" [disabled]="projectCompletedStatus || isOnHoldProject">
                <mat-icon>rate_review</mat-icon>
            </button> -->
            <button mat-icon-button matTooltip="Download Asset" (click)="download(asset)" *ngIf="canDownload" [disabled]="filterType || projectCompletedStatus || isOnHoldProject">
                <mat-icon>get_app</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Share Asset" (click)="shareAsset()" [disabled]="filterType || projectCompletedStatus || isOnHoldProject">
                <mat-icon>share</mat-icon>
            </button>
            <button *ngIf="showDeleteIcon"  mat-icon-button matTooltip="Delete Asset" (click)="deleteAsset(asset)">
              <mat-icon>delete</mat-icon>
          </button>
            <!-- <span class="action-icon flex-row-item">
                <button mat-icon-button color="primary" matTooltip="More Actions" [matMenuTriggerFor]="AssetMenu"
                    *ngIf="!isVersion">
                    <mat-icon matSuffix>more_vert</mat-icon>
                </button>
            </span> -->
        </div>
        <div class="flex-row asset-details">
            <div class="flex-row-item" *ngIf="asset.name">
                <mat-icon class="asset-type-icon" matTooltip="{{fileFormat(asset.name)}}">
                    {{findDocType(asset.name)}}
                </mat-icon>
            </div>
            <!-- <div class="flex-row-item">
                <span class="asset-name"
                    matTooltip="Deliverable: {{getProperty(asset, deliverableConstants.DELIVERABLE_NAME_METADATAFIELD_ID) || 'NA'}}"
                    matTooltipPosition="below">{{getProperty(asset, deliverableConstants.DELIVERABLE_NAME_METADATAFIELD_ID) || 'NA'}}</span>
            </div> -->
            <div class="flex-row-item">
                <span class="asset-name" matTooltip="{{asset.name || 'NA' }}" matTooltipPosition="below">{{asset.name || 'NA'}}</span>
            </div>
            <div class="flex-row-item">
                <mat-icon>call_merge</mat-icon>
                <span matTooltip="Version: {{asset.version}}">
                    V{{asset.version}}
                </span>
            </div>
        </div>
        <div class="flex-row-item" *ngFor="let column of assetCardFields" style="display: flex; align-items: center; ">
            <span class="asset-name field-column-value" *ngIf="column.MAPPER_NAME !='DESCRIPTION' && column.DATA_TYPE!='dateTime'" style="padding-left: 10px; margin-bottom: 5px;" matTooltip="{{getColumnValue(column) || 'NA' }}" matTooltipPosition="below"><span class="field-column-name">{{column.DISPLAY_NAME}} : </span>{{getColumnValue(column)}}</span>
            <span class="asset-name field-column-value" *ngIf="column.MAPPER_NAME !='DESCRIPTION' && column.DATA_TYPE==='dateTime'" style="padding-left: 10px; margin-bottom: 5px;" matTooltip="{{getColumnValue(column) | date:'yyyy/MM/dd' || 'NA' }}" matTooltipPosition="below"><span class="field-column-name">{{column.DISPLAY_NAME}} : </span>{{getColumnValue(column) | date:'yyyy/MM/dd'}}</span>
            <span *ngIf="column.MAPPER_NAME==='DESCRIPTION'" class="asset-description field-column-value" matTooltip="{{getColumnValue(column) || 'NA' }}" matTooltipPosition="below"><span class="field-column-name">{{column.DISPLAY_NAME}} : </span>{{getColumnValue(column)}}</span>
            <button *ngIf="column.MAPPER_NAME==='DESCRIPTION'" (click)="onClickEdit()" mat-icon-button [matMenuTriggerFor]="DescriptionEditor">
                <mat-icon matTooltip="Edit Asset Description">edit</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
<mat-menu #AssetMenu="matMenu">
    <!-- <button mat-menu-item (click)="getAssetDetails(asset)">
        <mat-icon>info</mat-icon>
        <span>View Details</span>
    </button> -->
    <button mat-menu-item *ngIf="!isReferenceAsset" (click)="getAssetVersions(asset)">
        <mat-icon>collections</mat-icon>
        <span>View Versions</span>
    </button>
    <button mat-menu-item *ngIf="!isReferenceAsset && ((asset && asset.rendition_content && asset.rendition_content.preview_content !==undefined && asset.rendition_content.preview_content.mime_type !='audio/mpeg')||
       (asset && asset.rendition_content && asset.rendition_content.pdf_preview_content !==undefined && !asset.rendition_content.pdf_preview_content))" (click)="getAssetPreview(asset)">
        <mat-icon>remove_red_eye</mat-icon>
        <span>Preview</span>
    </button>
</mat-menu>

<mat-menu #DescriptionEditor="matMenu">
    <div>
        <mat-form-field class="description-edit-field" appearance="fill">
            <mat-label>Asset Description</mat-label>
            <input matInput type="text" placeholder="Enter Asset Description" (click)="$event.stopPropagation()" [(ngModel)]="assetDescription">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="updateDescription($event)">
                <mat-icon>save</mat-icon>
            </button>
        </mat-form-field>
    </div>
</mat-menu>
