.align-center {
    align-items: center;
}

.padding-left-10 {
    padding-left: 10px;
}

.no-asset-found {
    text-align: center;
    font-weight: bold;
}

.asset-chip {
    padding: 6px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 16px;
    min-height: 24px !important;
}

div.project-grid {
    height: calc(100vh - 220px);
    // height: calc(100vh - 270px);
    overflow: auto;
    padding: 0px 5px 5px 5px;
}

.assets-wrapper {
    padding: 0.5rem;
    position: relative;
    outline: none;
    display: flex;
    flex-flow: column;
    flex: 1 0 0px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: auto;
    .assets {
        display: flex;
        flex-wrap: wrap;
        margin: -0.5rem;
        position: relative;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
    }
    app-asset-card {
        min-width: 230px;
        box-sizing: border-box;
        position: relative;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
    }
}
