<div class="flex-row align-center">
    <div class="flex-row-item padding-left-10" *ngIf="totalAssetsCount > 0 || assetList.length > 0">
        <mat-checkbox *ngIf="!isAssetListView" color="primary" [(ngModel)]="selectAllChecked" (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="isPartialSelected()"> Select all assets in this page
        </mat-checkbox>
        <mat-chip class="asset-chip" *ngIf="selectedDeliverables.selected.length > 0 && !isAssetListView">Selected Assets: {{selectedDeliverables.selected.length}}
        </mat-chip>
    </div>
</div>

<div class="assets-wrapper" *ngIf="!isAssetListView">
    <div class="assets card-view">
        <app-asset-card [showDeleteIcon]="showDeleteIcon" (onAssetDelete)="deleteAsset($event)"  *ngFor="let asset of assetList" [asset]="asset" [assetCardFields]="assetCardFields" [selectedAssetData]="selectedAssetData" [isVersion]="false" [selectAllDeliverables]="selectAllDeliverables" (assetVersionsCallBackHandler)="retrieveAssetVersionsData($event)"
            (assetDetailsCallBackHandler)="retrieveAssetData($event)" (selectedAssetsCallBackHandler)="getSelectedDeliverable(asset)" (unSelectedAssetsCallBackHandler)="getUnSelectedDeliverable(asset)" (shareAssetsCallbackHandler)="shareAsset($event)" (assetPreviewCallBackHandler)="retrieveAssetPreviewData($event)"
            (downloadCallBackHandler)="downloadAsset($event)" (openCreativeReview)="openCR($event)" (downloadHandler)="download($event)"></app-asset-card>
    </div>
</div>
<div class="assets-wrapper list-view" *ngIf="isAssetListView">
    <div class="project-grid">
        <app-asset-list [showDeleteIcon]="showDeleteIcon" (onAssetDelete)="deleteAsset($event)" [assetConfig]="assetConfig" [isAssetListView]="isAssetListView" [isAllSelected]="isAllSelected()" [isPartialSelected]="isPartialSelected()" (selectedAssetsCallBackHandler)="getSelectedDeliverable($event)" (unSelectedAssetsCallBackHandler)="getUnSelectedDeliverable($event)"
            (orderedDisplayableFields)="getOrderedDisplayableFields($event)" [assets]="assets" [taskData]="taskData" [projectData]="projectData" [assetDisplayableFields]="assetDisplayableFields" [selectedAssetData]="selectedAssetData" [isVersion]="false"
            [selectAllDeliverables]="selectAllDeliverables" (assetDetailsCallBackHandler)="retrieveAssetData($event)" (shareAssetsCallbackHandler)="shareAsset($event)" (assetVersionsCallBackHandler)="retrieveAssetVersionsData($event)" (downloadHandler)="download($event)"
            (assetPreviewCallBackHandler)="retrieveAssetPreviewData($event)" (openCreativeReview)="openCR($event)"></app-asset-list>
    </div>
</div>
