<div class="comment-message-container" [ngClass]="{'cards-height': addReplyHeight }" #scrollToBottom (scroll)="onScrollEvent($event)">
    <div class="comment-message-item central-info" *ngIf="pageDetails.totalCount > commentListData.length"><button
            color="primary width-100" mat-flat-button (click)="onloadMoreComments($event)">Load More Comments</button>
    </div>
    <div class="comment-message-item" *ngFor="let commentData of commentListData">
        <npd-comments-message [commentData]="commentData" (replyToComment)="onReplyToComment(commentData)"
            [isReply]="true" (clickingOnReplyMessage)="onClickingOnReplyMessage($event)" [userListData]="userListData">
        </npd-comments-message>
    </div>
    <div class="comment-message-item central-info" *ngIf="commentListData.length === 0"><button color="primary" disabled
            mat-flat-button>No Comments</button></div>
</div>