.comment-message-container {
    min-height: 20vh;
    height: calc(100vh - 410px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 15px;

    .central-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    button.width-100 {
        width: 100%;
    }
}

.cards-height{
    height: calc(100vh - 509px);
}