<ng-container *ngIf="showTechnicalRequestForm">
    <div class="flex-row  main-title-header">
        <div class="flex-form-field">
            <span class="flex-form-field-label">Technical Business Request - </span> 
            <span>#{{technicalRequestResponse.requestId}}</span>
        </div>
        <div *ngIf="requestFieldHandler.other.taskHeader.ngIf" class="flex-form-field">
            <span class="task-header">{{requestFieldHandler.other.taskHeader.value}}</span>
        </div>
        <div *ngIf="requestFieldHandler.technicalRequest.requestedDate.ngIf" class="flex-form-field">
            <span class="flex-form-field-label">Requested Date : </span> 
            <span>{{technicalRequestResponse.requestedDate | date}}</span>
        </div>

        <div class="flex-form-field">
            <span class="flex-form-field-label">Status : </span> 
            <span>{{getStatusDisplayName(technicalRequestResponse.status)}}</span>
        </div>
    </div>
    <div class="flex-row task-operations" *ngIf="showInboxControls">
        <app-task-operations [showInboxControls]="showInboxControls" #taskOperations
            [taskObjectHandler]="taskObjectHandler" (refreshHandler)="refreshTaskConfig($event)"></app-task-operations>
    </div>
    <div class="flex-row project-details">
            <div class="flex-form-field">
                <span class="flex-form-field-label">Project Name : </span>
                <span>{{technicalRequestResponse.projectName}}</span>
                <!--<div class="flex-row">
                     <div class="flex-form-field">
                        <span class="flex-form-field-label">Project Name : 
                        </span>
                    </div>
                    <div class="project-name-form-flex-field">
                        <mat-form-field appearance="fill">
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="edit-project-icon-form-flex-field">
                        <button mat-icon-button (click)="editProjectName()">
                            <mat-icon>create</mat-icon>
                        </button>
                    </div> -->
                    <!--<div class="flex-form-field project-name-div">
                        <span class="flex-form-field-label">Project Name : </span>
                        <span>{{technicalRequestResponse.projectName}}</span>
                        <span *ngIf="showProjectName">{{technicalRequestResponse.projectName}}
                            <mat-icon class="edit-project-icon-form-flex-field" *ngIf="isDraft" matTooltip="Edit Project Name" class="mrm-editjob-icon" (click)="showProjectName = !showProjectName">edit</mat-icon>
                        </span>-->
                        <!--<span *ngIf="!showProjectName">
                        <form class="project-field-form" [formGroup]="requestForm">
                            <mat-form-field  appearance="outline">
                            <input matInput type="text" formControlName="projectName" [(ngModel)]="Name" (blur)="updateProjectName()" required>
                            </mat-form-field>
                        </form>  
                        </span>
                    </div>
                </div>-->
            </div>
            <div class="flex-form-field">
                <span class="flex-form-field-label">Project Requestor : </span>
                <span>{{technicalRequestResponse.requestorName}}</span>
            </div>
            <div class="flex-form-field">
                <span class="flex-form-field-label">Current Stage : </span>
                <span>{{technicalRequestResponse.currentCheckpoint}}</span>
            </div>
            <div class="button-flex-form-field form-actions">
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.preview.ngIf" matTooltip="Preview" (click)="PreviewForm()">
                    <!--[disabled]="(requestForm && requestForm.invalid) || (dynamicMarketScopeForm && dynamicMarketScopeForm.invalid)">-->
                    <mat-icon class="action-icons">exit_to_app</mat-icon>
                    <span class="action-btn-label">Preview</span>
                </button>
                <button class="action-buttons"  mat-flat-button *ngIf="requestFieldHandler.actionButtons.submit.ngIf" 
                    matTooltip="Submit" (click)="onSubmit()">
                     <mat-icon class="action-icons">exit_to_app</mat-icon>
                     <span class="action-btn-label">Submit</span>
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.discard.ngIf" 
                     matTooltip="Discard" (click)="cancelRequestCreation(true)">
                     <mat-icon class="action-icons">delete_outline</mat-icon>
                     <span class="action-btn-label">Discard</span>
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.approve.ngIf" 
                    matTooltip="Approve" (click)="onApprove()">
                   <mat-icon class="action-icons">exit_to_app</mat-icon>
                   <span class="action-btn-label">Approve</span><!--Approved-->
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.deny.ngIf" 
                    matTooltip="Stop" (click)="onRejected()">
                   <mat-icon class="action-icons">delete_outline</mat-icon>
                   <span class="action-btn-label">Stop</span><!--Deny/Stopped-->
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.resubmit.ngIf" 
                     matTooltip="Recycle" (click)="onResubmit()">
                    <mat-icon class="action-icons">exit_to_app</mat-icon>
                    <span class="action-btn-label">Recycle</span><!--Resubmit/Recycled-->
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.complete.ngIf" 
                      matTooltip="Complete" (click)="completeTask()">
                    <mat-icon class="action-icons">exit_to_app</mat-icon>
                    <span class="action-btn-label">Complete</span>
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.convertToProject.ngIf" 
                      matTooltip="Convert To Project" (click)="convertToProject()">
                    <mat-icon class="action-icons">exit_to_app</mat-icon>
                    <span class="action-btn-label">Convert Into A Project</span>
                </button>
                <button class="action-buttons" mat-flat-button *ngIf="requestFieldHandler.actionButtons.backToHome.ngIf" 
                     matTooltip="Go Back" (click)="cancelRequestCreation(false)">
                     <mat-icon class="action-icons">arrow_backward</mat-icon>
                     <span class="action-btn-label">Back</span>
                </button>
            </div>
    </div>
</ng-container>

<div class="request-overview-content" (mouseenter)="storePanelHTML($event)" (mouseleave)="handlePanelLeaveEvent($event)" (click)="getAllBool()">
    <div class="flex-row" *ngIf="showTechnicalRequestForm" >
        <span class="project-core-data-header">Project Core Data</span>
    </div>
    <form class="request-form-change" *ngIf="showTechnicalRequestForm" [formGroup]="requestForm">
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.brand.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand" [disabled]="requestFieldHandler.technicalRequest.brand.disabled" 
                                (ngModelChange)="onBrandChange('brand','requestForm',$event)" required>
                        <mat-option class="options" *ngFor="let brand of brands" value="{{brand.ItemId}}">
                            {{brand.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.brand.hasError('required')">
                        Please Select a Brand
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.platform.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Platform</mat-label>
                    <mat-select formControlName="platform" [disabled]="requestFieldHandler.technicalRequest.platform.disabled" 
                        (ngModelChange)="onPlatformChange('platform','requestForm',$event)" required>
                        <mat-option class="options" *ngFor="let platform of platforms" value="{{platform.ItemId}}"> <!--NPD1-81 changed the value earlier platform.ItemId-->
                            {{platform.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.platform.hasError('required')">
                        Please Select a Platform
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.variant.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Variant</mat-label>
                    <mat-select formControlName="variant" [disabled]="requestFieldHandler.technicalRequest.variant.disabled" 
                        (ngModelChange)="onVariantChange('variant','requestForm',$event)" required>
                        <mat-option class="options" *ngFor="let variant of variants" value="{{variant.ItemId}}">
                            {{variant.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.variant.hasError('required')">
                        Please Select a Variant
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.skuDetails.ngIf">
                <!--<mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>SKU Details</mat-label> 
                    <input type="text" placeholder="SKU Details" [disabled]="requestFieldHandler.technicalRequest.skuDetails.disabled"
                        matInput formControlName="skuDetails" (ngModelChange)="updateRequestInfo('skuDetails')" required>
                    <mat-error *ngIf="requestForm.controls.skuDetails.hasError('required')">
                            Please Fill SKU Details
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.skuDetails.hasError('maxlength')">
                        Exceeding more than 120 characters
                    </mat-error>
                </mat-form-field>-->
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>SKU Details</mat-label>
                    <mat-select formControlName="skuDetails" [disabled]="requestFieldHandler.technicalRequest.skuDetails.disabled" 
                        (ngModelChange)="updateRequestRelationsInfo('skuDetails','requestForm')" required>
                        <mat-option class="options" *ngFor="let skuDetail of skuDetails" value="{{skuDetail.ItemId}}">
                            {{skuDetail.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.skuDetails.hasError('required')">
                        Please Select a SKU
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.consumerUnitSize.ngIf">
                <!--<mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Consumer Unit Size</mat-label>
                    <input type="text" placeholder="Consumer Unit Size" [disabled]="requestFieldHandler.technicalRequest.consumerUnitSize.disabled"
                        matInput formControlName="consumerUnitSize" (ngModelChange)="updateRequestInfo('consumerUnitSize')" required>
                    <mat-error *ngIf="requestForm.controls.consumerUnitSize.hasError('required')">
                            Please Fill Consumer Unit Size
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.consumerUnitSize.hasError('pattern')">
                        Number Only
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.consumerUnitSize.hasError('maxlength')">
                        Exceeding more than 120 characters
                    </mat-error>
                </mat-form-field>-->
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Consumer Unit Size</mat-label>
                    <mat-select formControlName="consumerUnitSize" [disabled]="requestFieldHandler.technicalRequest.consumerUnitSize.disabled" 
                        (ngModelChange)="updateRequestRelationsInfo('consumerUnitSize','requestForm')" required>
                        <mat-option class="options" *ngFor="let consumerUnitSize of consumerUnitSizes" value="{{consumerUnitSize.ItemId}}">
                            {{consumerUnitSize.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.consumerUnitSize.hasError('required')">
                        Please Select a Consumer Unit Size
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.casePackSize.ngIf">
                <!--<mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Case Pack Size</mat-label>
                    <input type="text" placeholder="Case Pack Size" [disabled]="requestFieldHandler.technicalRequest.casePackSize.disabled"
                        matInput formControlName="casePackSize" (ngModelChange)="updateRequestInfo('casePackSize')" required>
                    <mat-error *ngIf="requestForm.controls.casePackSize.hasError('required')">
                            Please Fill Case Pack Size
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.casePackSize.hasError('pattern')">
                        Number Only
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.casePackSize.hasError('maxlength')">
                        Exceeding more than 120 characters
                    </mat-error>
                </mat-form-field>-->
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Case Pack Size</mat-label>
                    <mat-select formControlName="casePackSize" [disabled]="requestFieldHandler.technicalRequest.casePackSize.disabled" 
                        (ngModelChange)="updateRequestRelationsInfo('casePackSize','requestForm')" required>
                        <mat-option class="options" *ngFor="let casePackSize of casePackSizes" value="{{casePackSize.ItemId}}">
                            {{casePackSize.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.casePackSize.hasError('required')">
                        Please Select a Case Pack Size
                    </mat-error>
                </mat-form-field>
            </ng-container>
            
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.primaryPackagingType.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Primary Packaging Type</mat-label>
                    <mat-select formControlName="primaryPackagingType" [disabled]="requestFieldHandler.technicalRequest.primaryPackagingType.disabled" 
                                (ngModelChange)="updateRequestRelationsInfo('primaryPackagingType','requestForm')" required>
                        <mat-option class="options" *ngFor="let type of primaryPackagingTypes" value="{{type.ItemId}}">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.primaryPackagingType.hasError('required')">
                        Please Select a Primary Packaging Type
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.secondaryPackagingType.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Secondary Packaging Type</mat-label>
                    <input type="text" placeholder="Secondary Packaging Type" 
                        matInput formControlName="secondaryPackagingType" (ngModelChange)="updateRequestInfo('secondaryPackagingType','requestForm')" required>
                    <mat-error *ngIf="requestForm.controls.secondaryPackagingType.hasError('required')">
                            Please Fill Secondary Packaging Type
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.secondaryPackagingType.hasError('maxlength')">
                        Exceeding more than 64 characters
                    </mat-error>
                </mat-form-field>
            </ng-container><!-- [disabled]="requestFieldHandler.technicalRequest.secondaryPackagingType.disabled"-->
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.bottler.ngIf">
                <!--<mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Bottler</mat-label>
                    <input type="text" placeholder="Bottler" [disabled]="requestFieldHandler.technicalRequest.bottler.disabled"
                        matInput formControlName="bottler" (ngModelChange)="updateRequestInfo('bottler')" required>
                    <mat-error *ngIf="requestForm.controls.bottler.hasError('required')">
                            Please Select a Bottler
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.bottler.hasError('maxlength')">
                        Exceeding more than 120 characters
                    </mat-error>
                </mat-form-field>-->
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Bottler</mat-label>
                    <mat-select formControlName="bottler" [disabled]="requestFieldHandler.technicalRequest.bottler.disabled" 
                        (ngModelChange)="updateRequestRelationsInfo('bottler','requestForm')" required>
                        <mat-option class="options" *ngFor="let bottler of bottlers" value="{{bottler.ItemId}}">
                            {{bottler.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.bottler.hasError('required')">
                        Please Select a Bottler
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.projectType.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Project Type</mat-label>
                    <mat-select formControlName="projectType" [disabled]="requestFieldHandler.technicalRequest.projectType.disabled"
                        (ngModelChange)="updateRequestRelationsInfo('projectType','requestForm')">
                        <mat-option class="options" *ngFor="let type of projectTypes" value="{{type.ItemId}}">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.productionSite.ngIf">
                <!--<mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Production Site</mat-label>
                    <input type="text" placeholder="Production Site"
                        matInput formControlName="productionSite" (ngModelChange)="updateRequestInfo('productionSite')" [disabled]="requestFieldHandler.technicalRequest.productionSite.disabled">
                    <mat-error *ngIf="requestForm.controls.productionSite.hasError('maxlength')">
                            Exceeding more than 120 characters
                    </mat-error>
                </mat-form-field>-->
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Production Site</mat-label>
                    <mat-select formControlName="productionSite" [disabled]="requestFieldHandler.technicalRequest.productionSite.disabled" 
                        (ngModelChange)="updateRequestRelationsInfo('productionSite','requestForm')">
                        <mat-option class="options" *ngFor="let productionSite of productionSites" value="{{productionSite.ItemId}}">
                            {{productionSite.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.businessUnit.ngIf">
                    <mat-form-field appearance="outline" floatLabel="never">
                        <mat-label>Lead Market Region</mat-label>
                        <input type="text" 
                            (ngModelChange)="updateRequestRelationsInfo('businessUnit','requestForm')"  matInput formControlName="businessUnit" required>
                    </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.commercialCategory.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Commercial Categorisation</mat-label>
                    <mat-select formControlName="commercialCategory" [disabled]="requestFieldHandler.technicalRequest.commercialCategory.disabled" 
                                (ngModelChange)="updateRequestRelationsInfo('commercialCategory','requestForm')" required>
                        <mat-option class="options" *ngFor="let commercialCategory of commercialCategories" value="{{commercialCategory.ItemId}}">
                            {{commercialCategory.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="requestForm.controls.commercialCategory.hasError('required')">
                        Please Select a Commercial Categorisation
                    </mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container class="" *ngIf="requestFieldHandler.technicalRequest.governanceApproach.ngIf">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Governance Approach</mat-label>
                    <mat-select formControlName="governanceApproach" [disabled]="requestFieldHandler.technicalRequest.governanceApproach.disabled" 
                                (ngModelChange)="updateRequestRelationsInfo('governanceApproach','requestForm')">
                        <mat-option class="options" *ngFor="let governanceApproach of governanceApproaches" value="{{governanceApproach.ItemId}}">
                            {{governanceApproach.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <div class="radio-buttons" *ngIf="requestFieldHandler.technicalRequest.svpAligned.ngIf">
                <mat-label>Is SVP Aligned ?</mat-label>
                <mat-radio-group formControlName="svpAligned"  (change)="updateRequestInfo('svpAligned','requestForm')"
                   >
                    <mat-radio-button color="primary" *ngFor="let svpAligned of radioButtonsList" [value]="svpAligned.value" >{{ svpAligned.displayName}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-buttons" *ngIf="requestFieldHandler.technicalRequest.postLaunchAnaylsis.ngIf">
                <mat-label>Post Launch Analysis ?</mat-label>
                <mat-radio-group formControlName="postLaunchAnaylsis" (change)="updateRequestInfo('postLaunchAnaylsis','requestForm')"
                    >
                    <mat-radio-button color="primary" *ngFor="let postLaunchAnaylsis of radioButtonsList" [value]="postLaunchAnaylsis.value" >{{ postLaunchAnaylsis.displayName}}</mat-radio-button>
                </mat-radio-group>
            </div>
    </form>
    <div *ngIf="showTechnicalRequestForm && requestFieldHandler.governanceMilestone.Model.ngIf">
        <app-governance-milestone [governanceMilestoneConfig]="requestFieldHandler.governanceMilestone" [technicalRequestId]="requestId" #governancemilestone></app-governance-milestone>
    </div>
    <div class="market-scope"
        *ngIf="showTechnicalRequestForm && requestFieldHandler.marketScope.Model.ngIf">
    <!-- loc component: content-->
    <div class="market-scope-table-header">
        <div class="flex-col">
            <div class="flex-col-item">
                <div class="flex-row">
                    <div class="flex-row-item">
                        <div class="market-scope-controls">
                            <p class="market-scope-header">Market Scope</p>
                        </div>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-row-item">
                        <div *ngIf="requestFieldHandler.marketScope.market.ngIf"
                            class="market-scope-controls">
                            <mat-form-field class="market-scope-controls-field langugage-select-field"
                                appearance="outline">
                                <mat-label>Select Market</mat-label>
                                <mat-select #marketSelect [(ngModel)]="selectedMultiMarket" multiple
                                    [disabled]="requestFieldHandler.marketScope.market.disabled">
                                    <mat-option #allLangSelected (click)="toggleAllSelection()" [value]="0">Select
                                        All
                                    </mat-option>
                                    <mat-option class="mat-primary" (click)="optionClick()"
                                        *ngFor="let market of marketsCopy" [value]="market">{{market.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-stroked-button color="primary"
                                *ngIf="requestFieldHandler.marketScope.actions.ngIf"
                                matTooltip="Add Market Scope(s)"
                                class="market-scope-controls-button" (click)="bulkCreateMS()"
                                [disabled]="requestFieldHandler.marketScope.market.disabled">
                                <mat-icon>add</mat-icon>Add
                            </button><!--[disabled]="requestFieldHandler.localizationComponent.market.disabled ||
                                (selectedMultiMarket.length === 0 || (selectedMultiMarket.length === 1 && selectedMultiMarket[0] === 0))">-->
                            <button mat-stroked-button color="primary"
                                *ngIf="requestFieldHandler.marketScope.actions.ngIf"
                                matTooltip="Delete Market Scope(s)"
                                class="market-scope-controls-button" (click)="bulkDeleteMS()"
                                [disabled]="requestFieldHandler.marketScope.market.disabled"><!--|| (selection.selected.length < 1)-->
                                <mat-icon>delete_outline</mat-icon>Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="market-scope-table-container week-select">
        <form *ngIf="showMarketScopeForm" class="request-form market-scope-data-grid"
            [formGroup]="dynamicMarketScopeForm">
            <ng-container formArrayName="marketScope">
                <mat-table #marketScopeTable [dataSource]="marketScopeFormArray.controls">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell class="mrm-table-checkbox" *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()" [aria-label]="checkboxLabel()"
                                [disabled]="requestFieldHandler.marketScope.market.disabled">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row;let i = index;">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                                [disabled]="requestFieldHandler.marketScope.market.disabled">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="market">
                        <mat-header-cell *matHeaderCellDef> Market(S) </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                            <mat-label>{{ selectedMarketOption[i].displayName }}</mat-label>
                        </mat-cell>
                    </ng-container> 
                   
                    <ng-container matColumnDef="leadMarket">
                        <mat-header-cell *matHeaderCellDef matTooltip="Lead Market">
                            Lead Market
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                                <mat-radio-button color="primary"
                                [checked]="checkLeadMarket(element,i)" (change)="onLeadMarketClick($event,i,element)"
                                   [disabled]="requestFieldHandler.marketScope.leadMarket.disabled"><!--||element.leadMarket or [i]==true [checked]="(element && element.value && element.value.LeadMarket) || (isNewRequest && i == 0)"-->
                               </mat-radio-button>
                           <!--formControlName="leadMarket" [value]="(element && element.value && element.value.LeadMarket)" -->
                        </mat-cell>
                    </ng-container>
                   
                    <ng-container matColumnDef="targetDP">
                        <mat-header-cell *matHeaderCellDef matTooltip="Target DP 'IN WAREHOUSE' Week / Year:(00/0000)">
                            Target DP 'IN WAREHOUSE' Week / Year:(00/0000)
                            <span class="astric">*</span>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element;let i = index" [formGroup]="element" (click)="$event.stopPropagation()"
                            class="due-date-cell flex-form-field">
                                <div class="targetDP">
                                    <mat-form-field appearance="outline" class="vendor-select">
                                                <input class="form-control" matInput formControlName="targetDP" placeholder="ww/yyyy" name="dp" [(ngModel)]="targetDPDate[i]"
                                                        (ngModelChange)="updateRequestInfo('targetDP','dynamicMarketScopeForm',targetDPDate[i],i)" required/> 
                                                <button mat-icon-button (click)="getBool(i)" [disabled]="requestFieldHandler.marketScope.targetDP.disabled">
                                                <mat-icon>date_range</mat-icon></button>
                                    </mat-form-field>
                                    <mat-error *ngIf="isDateValid(i)">  <!-- *ngIf="isDateValid(i)"-->
                                        Please Select date
                                    </mat-error> 
                                    <mat-error *ngIf="checkDatePattern(i)">  
                                        Enter valid date in MM/YYYY format
                                    </mat-error>
                                </div>
                        <!--<app-week-picker class="week-picker" [ngStyle]="{'top': getPickerStyles(i) }" [weekYearValue]="targetDPDate[i]" [fromDate]="fromDate" [toDate]="toDate" (weekFormat)="changeTargetDP($event,i)" *ngIf="show[i]"></app-week-picker>-->
                            <app-week-picker class="week-picker" [ngStyle]="{'top': getPickerStyles(i) }" [weekYearValue]="targetDPDate[i]" [fromDate]="fromTargetDate[i]" [toDate]="toTargetDate[i]" (weekFormat)="changeTargetDP($event,i)" *ngIf="show[i]"></app-week-picker>
                        
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="market-scope-actions"> Actions </mat-header-cell>
                        <mat-cell class="market-scope-actions" *matCellDef="let element; let i = index;"
                            [formGroup]="element">
                            <button mat-icon-button matTooltip="Delete"
                                class="market-scope-controls-button"
                                (click)="deleteMarketScopeGroup(i)"
                                [disabled]="requestFieldHandler.marketScope.market.disabled">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="msGridColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: msGridColumns;"></mat-row>
                </mat-table>
            </ng-container>
        </form><!-- market-scope data table -->
        <p class="market-scope-info"
            *ngIf="showMarketScopeForm && marketScopeFormArray.controls.length === 0">No Market Scope(s) are added.</p>
        <p class="market-scope-info" *ngIf="!showMarketScopeForm && loadingMarketScope">
            Loading....</p>
        </div>
        <!-- localization component table container-->
    </div>
    <div class="flex-row">
        <form class="request-form" *ngIf="showTechnicalRequestForm" [formGroup]="requestForm">
                <mat-form-field appearance="outline" floatLabel="never">
                    <mat-label>Request Rationale</mat-label>
                    <textarea 
                         matInput formControlName="requestRationale" required (ngModelChange)="updateRequestInfo('requestRationale','requestForm')"></textarea>
                    <mat-error *ngIf="requestForm.controls.requestRationale.hasError('required')">
                        Please Fill Request Rationale
                    </mat-error>
                    <mat-error *ngIf="requestForm.controls.requestRationale.hasError('maxlength')">
                        Exceeding more than 2000 characters
                    </mat-error>
                </mat-form-field>
        </form>
    </div>
    <div class="flex-row" *ngIf="showTechnicalRequestForm && requestFieldHandler.technicalRequest.e2ePM.ngIf">
        <form class="request-form" [formGroup]="requestForm">
            <div class="flex-row">
                <div class="flex-form-field">
                    <mat-form-field appearance="outline" floatLabel="never">
                        <mat-label>E2EPM</mat-label>
                        <mat-select formControlName="e2ePM" [(ngModel)]="selectede2EPM" [disabled]="requestFieldHandler.technicalRequest.e2ePM.disabled" 
                        (ngModelChange)="one2EPMSelection('e2ePM','requestForm')" required>
                        <mat-option class="options" *ngFor="let user of e2ePMUsers" [value]="user">
                                {{user.displayName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="requestForm.controls.e2ePM.hasError('required')">
                            Please Select E2EPM
                        </mat-error>
                    </mat-form-field>
                </div>
                <span class="spacer"></span>
                <span class="spacer"></span>
                <span class="spacer"></span>
                <span class="spacer"></span>
            </div>
        </form>
    </div>
    <div *ngIf="showTechnicalRequestForm && requestFieldHandler.projectClassificationData.Model.ngIf">
        <app-project-classification-data [technicalRequestItemId]="requestItemId"[technicalRequest]="technicalReq" [projectClassificationDataConfig]="requestFieldHandler.projectClassificationData"  #projectClassificationData></app-project-classification-data>
    </div>
</div>


