.flex-form-field {
    mat-form-field {
      width: -webkit-fill-available;
      width: -moz-available; //Added this for FireFox browser NPD1-90
      padding: 0 25px 0 0;
    }
}
.main-title-header {
    background: #289438eb;
    padding: 0 40px 0 40px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.action-buttons {
    background: #bc9f35;
}
.action-icons {
    color: white;
}
.action-btn-label {
    color: white;
    /* font-weight: 400; */
}
.request-status-form-field {
    flex: 0.2 !important;
}
.project-field-form {
  display: inline-block;
}
.project-name-div {
  margin-top :-8px;
}
.project-name-form-flex-field {
    /* margin-top: -30px; */
    flex: 3 !important;
}
.edit-project-icon-form-flex-field {
    margin-top: -10px;
    flex: 1 !important;
}
.edit-project-icon {
     cursor: pointer;
 }
/* .button-flex-form-field {
    flex: 0.8 !important;
} */

.request-overview-content {
    padding: 40px;
    height: calc(100vh - 310px);
    overflow: auto;
    padding-bottom: 0;
}
.form-actions button{
    margin-left: 15px;
}
.request-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
    width: 100%
}
.request-form-change{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 24px;
}
.project-details {
    margin-bottom: 5px;
    padding: 20px 40px 0px 40px;
    justify-content: space-between;
}
.task-operations {
  margin-bottom: 5px;
  padding: 20px 20px 0px 40px;
  justify-content: flex-end;
  //justify-content: space-between;
}
::ng-deep .mat-form-field-required-marker { color: red }
/* /deep/ label span.mat-form-field-required-marker{
    color:red;
 } */
/* .flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.market-scope-data-grid .mat-form-field {
    font-size: 13px;
    //width: 89%;
}
.market-scope-data-grid .mat-cell {
    border-bottom: none !important;
    font-size: 15px;
  }
  
  .market-scope-data-grid .mat-header-cell {
    border-bottom: none !important;
    font-size: 15px;
  }
  
  .market-scope-data-grid .mat-row {
    margin-top: 8px;
  }
  
  .market-scope-data-grid .mat-table {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 34px;
    box-shadow: 0px 0px 3px #b8b8b8;
  }
  
  .market-scope-data-grid .mat-header-cell {
    color: var(--brand-color) !important;
  }
  
  .market-scope-header {
    font-size: 18px;
    //font-weight: 600;
    margin-top: 7px;
  }
  .project-core-data-header {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  .market-scope-controls {
    display: inline-block;
    margin-right: 25px;
    height: 40px;
  }
  
  .market-scope-table-header {
    padding: 10px 0px;
  }
  
  .market-scope-controls-button,
  .market-scope-controls-vendor-field,
  .market-scope-controls-checkboxes {
      margin-right: 15px;
      margin-left: 20px;
  }
  
  .market-scope-controls-field {
    margin-right: 15px;
    font-size: 11px;
  }
  
  .market-scope-delete {
    cursor: pointer;
  }
  
  .market-scope-info {
    text-align: center;
    font-size: 13px;
    margin-bottom: 41px;
  }
  
  .market-scope-header-checkbox {
    margin-right: 4px;
  }

  .mat-header-row,
.mat-row {
  min-height: 70px;
}
.mat-row {
  .mat-cell {
    margin-right: 0%;
    .mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 0px !important;
      }
    }
  }
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, 369);
}

.grid-container {
  display: flex !important;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  //overflow-y: auto;
  //width: 38vw;
  //height: 30vh;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, 369);
}

.grid-container--fit {
  margin-right: 30px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.week-select{
  position: relative;
}

.week-picker{
   position: absolute;
    z-index: 99;
    top: 160px; 
}

::ng-deep .mat-form-field-infix{
  display: flex !important;
  margin-top: -8px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.radio-buttons {
  display: grid;
}
.radiobtn-option {
  margin-right: 15px;
}
.task-header {
  font-weight: 600;
}
//NPD1-83
.targetDP  {
 ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0 !important;
 }
}
.market-scope-actions{
  display: flex;
  justify-content: center;
}
.astric{
  color: #ff0e19;
}
::ng-deep .mat-radio-button {
  color: #d4d4d4;
}
::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: #A9A9A9 !important;
} 
::ng-deep .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
  border-color: #A9A9A9 !important;
} 
::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle, .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
  border-color: #A9A9A9 !important;
}
::ng-deep .mat-select.mat-select-disabled .mat-select-value{
  color: #A9A9A9 !important;
} 
::ng-deep .mat-select.mat-select-disabled .mat-select-arrow{
  color: #A9A9A9 !important;
} 
@media only screen and (max-width: 1300px) {
  .request-form-change{
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 992px) {
  .request-form-change{
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 768px) {
  .request-form-change{
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 576px) {
  .request-form-change{
    grid-template-columns: auto;
  }
}