.container {
    margin-bottom: 28px;
    //height: calc(100vh - 226px);
    height: calc(100vh - 297px);
    overflow: auto;
    padding: 28px 40px 0 40px;//padding: 0 40px 100px 40px;
}

.task-operations {
    margin-bottom: 2px;
    padding: 20px 20px 0px 40px;
    justify-content: flex-end;
}


::ng-deep .mat-form-field {
    min-width: 50px;
  }